.milestone-type-icon {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;

  &--RELEASE,
  &--PLAN,
  &--OTHER {
    background-color: var(--rp-ui-base-bg-200);
  }

  &--SPRINT,
  &--FEATURE {
    background-color: var(--rp-ui-base-bg-000);
  }

  svg {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
  }

  &--PLAN svg {
    width: 14px;
    height: 14px;
  }

  &--toggle {
    position: relative;
    right: 10px;
    bottom: 8px;
  }

  &--toggle#{&}--SPRINT svg,
  &--toggle#{&}--FEATURE svg {
    transform: translateY(-3px);
  }

  &--menu#{&}--SPRINT,
  &--menu#{&}--FEATURE {
    box-shadow: 0 0 0 1px var(--rp-ui-base-bg-200);

    svg {
      transform: translateY(-3px);
    }
  }

  &--menu {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &--menu#{&}--PLAN svg {
    width: 11px;
    height: 11px;
  }
}
