.launch-analysis-modal-list {
  padding: 15px;
  color: $COLOR--charcoal-grey;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  & > * ~ * {
    margin-top: 15px;
  }
}
.launch-analysis-modal-text {
  color: $COLOR--charcoal-grey;
}
