.link {
  color: $COLOR--charcoal-grey;
  font-weight: 600;
  line-height: 17px;
}
.external-user-content {
  margin-top: 20px;
  margin-left: 20px;
}
.copy {
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--windows-blue;
  line-height: 18px;
  top: -15px;
  position: relative;
  margin-left: 135px;
  display: inline-block;
}
