<div class="rp-btn rp-btn-default rp-button-with-icon next-error-button hide" data-js-next-error title="<%= data.text.logs.nextError %>">
    <i class="material-icons">keyboard_arrow_right</i>
    <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.logs.nextError %></span>
    <div class="preloader-wrapper">
        <div class="custom-preloader">
            <div class="custom-preloader-1"></div>
            <div class="custom-preloader-2"></div>
            <div class="custom-preloader-3"></div>
        </div>
    </div>
</div>
