<div class="grid-cell name-cell separate-right">
    <i class="material-icons">person</i>
    <span data-js-user-name></span>
</div>
<div class="grid-cell action-cell separate-right">
    <span data-js-action-name></span>
</div>
<div class="grid-cell time-cell separate-right">
    <span class="moment-time" data-js-moment-time></span>
    <span class="full-time" data-js-full-time></span>
</div>
<div class="grid-cell mobile-action-cell">
    <span data-js-action-name></span>
</div>
<div class="grid-cell difference-cell" data-js-difference></div>