<div class="grid-cell message-grid-cell">
    <div data-js-message></div>
    <i class="rp-icons rp-icons-expand" data-js-toggle-open></i>
</div>
<div class="grid-cell attachment-grid-cell">
    <a download="" data-js-link>
        <img src="" alt="preview" data-js-image>
    </a>
</div>
<div class="grid-cell time-grid-cell">
    <span data-js-time></span>
</div>
<div class="accordion-block">
    <i class="material-icons" data-js-toggle-open>keyboard_arrow_down</i>
    <i class="material-icons little" data-js-toggle-open>keyboard_arrow_up</i>
</div>
<div class="mobile-block">
    <span data-js-time></span>
    <a data-js-link>
        <img src="" alt="preview" data-js-image>
    </a>
</div>
