<div class="control-buttons rp-nav rp-nav-right">

    <div class="rp-nav arrow-buttons">
        <a class="rp-btn rp-btn-default rp-button-with-icon" data-js-button-prev>
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a class="rp-btn rp-btn-default rp-button-with-icon" data-js-button-next>
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
    <div class="rp-nav">
        <div class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.ui.refresh %>" data-js-button-refresh>
            <i class="material-icons">autorenew</i>
            <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.refresh %></span>
            <span id="changeCounter" class="bounce"></span>
        </div>
    </div>
</div>
