<div class="no-result-found" data-js-no-parametres>
    <i class="rp-icons rp-icons-warning"></i>
    <span><%= data.text.logs.notFoundParametres %></span>
</div>
<div class="parametres-container" data-js-item-parametres-container>
    <table>
        <tr>
            <th><%= data.text.dialog.key %></th>
            <%  _.each( data.params, function(item){ %>
            <td><%= item.key %></td>
            <% }) %>
        </tr>
        <tr>
            <th><%= data.text.dialog.value %></th>
            <% _.each( data.params, function(item){ %>
            <td><p><%= item.value %></p></td>
            <% }) %>
        </tr>
    </table>
</div>


