<p class="title-launch"><span>LAUNCH</span> #<span data-js-launch-number></span></p>
<div class="history-item-container" data-js-tooltip-item>
    <div class="active_bg"></div>
    <i class="material-icons many-items" data-js-many-items>visibility_off</i>
    <i class="material-icons not-found-items" data-js-not-found>not_interested</i>
    <span class="issue-type hide" data-js-issue-type></span>
    <i class="material-icons icon-comment" data-js-comment>comment</i>
    <i class="rp-icons rp-icons-ticket icon-ticket" data-js-ticket></i>
</div>
<div class="arrow-bottom"></div>