<% var isDebug = (data.context === 'userdebug') %>
<div class="launch-log-item-info">
    <div class="item-info">
        <div data-js-item-info-issue class="launch-log-item-issue row">
            <div class="item-issue-container" data-js-step-issue></div>
            <div class="hide retries-container" data-js-retries-container>
                <span class="retries-label"><%= data.text.launches.retries %>:</span>
            </div>
            <% if (!isDebug) { %>
                <div class="button-container">
                    <div class="rp-btn rp-btn-default rp-button-with-icon send-issue-data" title="<%= data.text.launches.sendIssue %>" data-js-send-issue>
                        <i class="material-icons">call_made</i>
                        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.sendDefectBtnText %></span>
                    </div>
                    <div class="rp-btn rp-btn-default rp-button-with-icon receive-issue-data" title="<%= data.text.launches.receiveIssue %>" data-js-receive-issue>
                        <i class="material-icons">call_received</i>
                        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.copyDefectBtnText %></span>
                    </div>
                    <div class="rp-btn rp-btn-default rp-button-with-icon" title=" <%= data.text.launches.postBug %>" data-js-post-bug>
                        <i class="material-icons">bug_report</i>
                        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.launches.postBug %></span>
                    </div>

                    <div class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.launches.linkIssue %>" data-js-load-bug>
                        <i class="material-icons">link</i>
                        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.launches.linkIssue %></span>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div data-js-tabs-container></div>
</div>
