<div class="launch-log-info-attachments" data-js-attachments-container>
    <div class="preloader">
        <i class="material-icons loader-animation">refresh</i>
    </div>
    <div class="no-result-found">
        <i class="rp-icons rp-icons-warning"></i>
        <span><%= data.text.logs.notFoundAttachments %></span>
    </div>
    <div class="gallery-container">
        <div class="gallery-main" data-js-main-gallery></div>
        <div class="gallery-main-head" data-js-gallery-main-head>
            <span data-js-main-gallery-current></span>
            <span><%= data.text.ui.smof %></span>
            <span data-js-main-gallery-size></span>
            <i class="material-icons" data-js-destroy-main-gallery>clear</i>
        </div>
        <div class="gallery-preview" data-js-min-gallery></div>
    </div>
    <!--<i class="material-icons close-icon" data-js-close>clear</i>-->
</div>