<p class="title-launch">
    <a data-js-launch-link>
        <span>LAUNCH</span> #<span data-js-launch-number></span>
    </a>
</p>
<div class="history-item-container" data-js-tooltip-item >
    <div class="active_bg"></div>
    <i class="material-icons many-items" data-js-many-items>visibility_off</i>
    <i class="material-icons not-found-items" data-js-not-found>not_interested</i>
    <i class="rp-icons rp-icons-warning2"></i>
    <span class="main-info">
        <span class="issue-type hide" data-js-issue-type></span>
    <span class="growth-duration hide" data-js-growth-block >
        <i class="material-icons time-icon">query_builder</i>
        <span data-js-growth-duration></span>
    </span>
    </span>
    <i class="material-icons item-info hide" data-js-info></i>
</div>
<div class="arrow-bottom"></div>
