.name-wrapper {
  width: 100%;
  display: inline-block;

  &:hover .pencil-icon{
    display: inline-block;
  }
}

.name {
  line-height: 20px;
  word-break: break-all;
  font-size: 14px;

  &.bold {
    font-family: $FONT-SEMIBOLD;
  }

  &.link {
    color: $COLOR--windows-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: $SCREEN_XS_MAX) {
    font-size: 16px;
  }
}

.name-highlight {
  color: $COLOR--fatal;
}

.pencil-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: none;
  vertical-align: top;
  background-image: url(./img/pencil-icon.svg);
  cursor: pointer;

  &:hover {
    background-image: url(./img/pencil-icon-hover.svg);
  }

  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
  }
}

.share-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  fill: $COLOR--gray-60;
}

.name-link {
  text-decoration: none;
}
