/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */


.suit-grid, .step-grid, .log-grid, .project-events-grid {
  .rp-grid-thead {
    .grid-cell {
      .short-size {
        display: none;
      }
      .text-overflow i {
        display: inline;
      }
      .filter-icon-wrapper {
        display: none;
        width: 0;
        margin-left: -3px;
        opacity: 0;
        i {
          position: relative;
          margin-left: -12px;
          color: $COLOR--gray-60;
          &:hover {
            color: $COLOR--topaz
          }
          &:after {
            position: absolute;
            content: '';
            top: -5px;
            bottom: -5px;
            left: -5px;
            right: 0;
          }
        }
      }
      .sort-icon-wrapper {
        display: none;
        width: 0;
        opacity: 0;
        i {
          margin-left: -3px;
          &:first-child {
            display: inline;
          }
          &:last-child {
            display: none;
          }
        }
      }
      &:hover {
        .filter-icon-wrapper, .sort-icon-wrapper {
          opacity: 1;
        }
      }
    }
    @media (max-width: 1450px) {
      .grid-cell {
        .long-size{
          display: none;
        }
        .short-size {
          display: inline;
        }
      }
    }
  }

  .grid-cell {
    &.rp-grid-th {
      cursor: default;
      &[data-filter] {
        .filter-icon-wrapper {
          display: inline-block;
        }
      }
      &[data-sorter] {
        cursor: pointer;
        .sort-icon-wrapper {
          display: inline-block;
          i {
            line-height: 18px;
            vertical-align: top;
          }
        }
      }
      &.sorting-desc, &.sorting-asc {
        .sort-icon-wrapper {
          opacity: 1;
        }
      }
      &.sorting-desc .sort-icon-wrapper i {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: inline;
        }
      }
    }

  }
  @media (max-width: $SCREEN_MAX_WIDTH_LAUNCHES) {
    .rp-table-row {
      background-color: $COLOR--white-default;
      &:hover {
        background-color: $COLOR--white-default;
      }
      .item-edit-icon, .edit-defect, .item-details-icon {
        opacity: 1;
      }
    }
  }
}
.launch-suite-step-items {
  &.load {
    .preloader {
      display: block;
    }
    .pagination-component {
      display: none;
    }
  }
  &.not-found {
    .pagination-component {
      display: none;
    }
    .no-result-found {
      display: block;
    }
  }
  &.generate-demo-data{
    .pagination-component {
      display: none;
    }
    .generate-data{
      display: block;
    }
  }
  .generate-data{
    display: none;
    width: 500px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    @media (max-width: $SCREEN_XS_MAX){
      width: 100%;
    }
    color: $COLOR--gray-47;
    &::before{
      content: '';
      display: inline-block;
      background-image: url(../../img/launch/demo_no_data.svg);
      width: 152px;
      height: 84px;
    }
    .no-data-label{
      margin: 25px 0 5px 0;
      font-size: 16px;
      font-family: OpenSansSemiBold;
    }
    button{
      margin-top: 15px;
      height: auto;
      padding: 13px 13px;
    }
  }
  .item-edit-icon, .item-details-icon {
    vertical-align: top;
    font-size: 18px;
    color: $COLOR--gray-60;
    cursor: pointer;
    display: inline;
    width: 0px;
    opacity: 0;
    line-height: 16px;
    &:hover {
      color: $COLOR--black;
    }
  }
  .item-details-icon:hover{
    cursor: pointer;
    background-image: url('../img/launch/test_param_hover.svg');
    background-repeat: no-repeat;
    background-position: 0 5px;
  }
  .item-details-icon{
    background: url(../img/launch/test_param.svg);
    background-repeat: no-repeat;
    background-position: 0 5px;
  }
  .grid-cell {
    position: relative;
    &.launch-name-cell {
      .btn-group {
        display: block;
      }
      .name-grid-overflow {
        padding-left: 28px;
      }
    }
  }
  .name-grid-cell {
    .btn-group {
      position: absolute;
      display: none;
      top: 4px;
      left: 12px;
    }
    h5 {
      margin: 0;
      font-size: 14px;
      font-family: OpenSansSemiBold;
      color: $COLOR--windows-blue;
      word-wrap: break-word;
      a {
        word-wrap: break-word;
        &.not-link {
          cursor: default;
          color: $COLOR--gray-47;
        }
      }
      .autoanalyze {
        width: auto;
        border-radius: 10px;
        background: $COLOR--orange-red;
        padding: 0 5px 1px 5px;
        color: $COLOR--white-default;
        margin-left: 5px;
        font-size: 10px;
        vertical-align: top;
        line-height: 16px;
        display: none;
        animation: flash 2s infinite alternate;
        &.visible {
          display: inline-block;
        }
      }
    }
    .rp-grid-description {
      margin: 10px 0 0 1px;
    }

    .rp-grid-tags {
      margin-top: 13px;
      font-size: 12px;
      line-height: 18px;
      & > li {
        display: inline;
        margin: 0 17px 2px 2px;
        color: #999999;
        word-break: break-word;
        &.rp-item-is-retries {
          margin: 0 12px 2px 0;
        }
        a {
          color: $COLOR--gray-60;
          cursor: pointer;
          &:hover {
            color: $COLOR--charcoal-grey;
          }
        }
        i {
          vertical-align: top;
          font-size: 18px;
          &.rp-icons-ticket {
            font-size: 12px;
            margin-top: 2px;
          }
        }
      }
      .mobile-tag {
        display: none;
        span {
          color: $COLOR--charcoal-grey;
        }
      }
      .retry-icon {
        display: inline-block;
        width: 18px;
        height: 15px;
        vertical-align: top;
        background: url(../img/launch/retry.svg) center bottom no-repeat;
      }
    }
    @media (max-width: $SCREEN_MAX_WIDTH_LAUNCHES) {
      h5 {
        font-size: 15px;
        padding-right: 40px;
      }
      .rp-grid-description {
        font-size: 14px;
        margin: 7px 0 0 0px;
      }

      .rp-grid-tags {
        font-size: 14px;
        .mobile-tag {
          display: inline-block;
        }
        & > li {
          i {
            font-size: 24px;
            line-height: 12px;
            &.rp-icons-ticket {
              font-size: 16px;
              margin: 0 5px 0 4px;
            }
          }
        }
      }
    }
  }
  .growth-duration{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    border-radius: 100px;
    color: $COLOR--orange-red;
    white-space: nowrap;
    font-size: 9px;
    vertical-align: baseline;
    @media (max-width: $SCREEN_SM_MAX) {
      font-size: 14px;
    }
  }
  .rp-item-duration {
    vertical-align: top;
    .duration-content {
      position: relative;
      display: inline-block;
      padding-left: 18px;
      line-height: 1;
      color: $COLOR--charcoal-grey;
      i {
        position: absolute;
        left: -1px;
        top: 0;
      }
      .material-icons, .rp-icons {
        top: -2px;
        color: $COLOR--gray-60;
        font-size: 16px;
      }
    }
    .duration-error {
      color: $COLOR--orange-red;
      .material-icons, .rp-icons {
        color: $COLOR--orange-red;
      }
      .duration-time {
        text-decoration: underline;
      }
    }
    .rp-icons-warning.rp-icons{
      color: $COLOR--orange-red;
      & + .duration-time {
        &:after{
          content: '-';
          visibility: hidden;
        }
      }
    }
    @media (max-width: $SCREEN_MAX_WIDTH_LAUNCHES) {
      .duration-content {
        padding-left: 28px;
        .material-icons, .rp-icons {
          top: 0;
          font-size: 22px;
        }
      }
    }
  }
  .number-grid-cell {
    color: $COLOR--windows-blue;
    &.total-number {
      a {
        font-family: OpenSansSemiBold;
      }
    }
    a {
      cursor: pointer;
    }
    a.not-link{
      cursor: default;
      color: #333;
    }
  }
  .counter-grid-cell {
    .defect-to-investigate {
      display: inline-block;
      color: $COLOR--white-default;
      font-family: OpenSansSemiBold;
      background: $COLOR--to-investigate;
      padding: 0 10px;
      line-height: 19px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

@media print{
  .launch-body-wrapper{
    .step-grid, .suit-grid{
      & > .rp-grid-thead:first-child{
        display: block !important;
        .grid-cell{
          .long-size{
            display: block;
          }
          .short-size{
            display: none;
          }
        }
      }
    }
    .launch-suite-step-items{
      .name-grid-cell{
        .rp-grid-tags{
          & > li i.rp-icons-ticket {
            line-height: 18px;
            margin: 2px 0 0 0;
          }
          .mobile-tag{
            display: none;
          }
        }
      }
      .rp-item-duration{
        .duration-content {
          padding-left: 18px;
          .material-icons{
            font-size: 16px;
            line-height: 1;
          }
        }
      }
    }
    .suit-grid{
      .rp-table-row.row {
        &.show-accordion {
          .accordion-arrow {
            display: none;
          }
        }
      }
      .grid-cell{
        &.name-grid-cell{
          width: 32%;
          display: block;
          .item-edit-icon{
            display: none;
          }
          .rp-grid-tags > li {
            margin: 0 17px 2px 2px;
          }
        }
        &.time-grid-cell {
          width: 9%;
          display: block;
        }
        &.number-grid-cell, &.counter-grid-cell {
          width: 7%;
          height: 50px;
          text-align: left;
          &:before{
            border: unset;
          }
        }
      }
      .launch-suite-step-items{
        .rp-table-row.row{
          padding-top: 0;
          &.show-accordion {
            .accordion-arrow{
              display: none;
            }
          }
          .statistics-block{
            position: absolute;
            top: 13px;
            .grid-cell{
              &.name-grid-cell{
                width: 32%;
                display: block;
                .rp-grid-tags{
                  & > li i.rp-icons-ticket {
                    font-size: 12px;
                    margin: 2px 0 0 0;
                  }
                  .mobile-tag{
                    display: none;
                  }
                }
              }
              &.time-grid-cell {
                width: 9%;
                display: block;
              }
              &.number-grid-cell, &.counter-grid-cell {
                a{
                  position: static;
                }
                .mobile-title{
                  display: none;
                }
                svg {
                  display: block;
                }
                .total-overflow{
                  position: absolute;
                  right: 10px;
                  padding-left: 46px;
                  min-width: 75px;
                  span{
                    vertical-align: super;
                    font-size: 13px;
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 10px;
                    background: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
