/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.pr-defect-editor {
  .rp-defect-type-dropdown {
    margin-right: 20px;
    float: none;
    display: inline-block;
  }
  .tickets-container {
    display: inline-block;
  }
  .rp-defect-editor-btns {
    padding: 5px 0 2px;
    text-align: right;

    .rp-btn {
      margin-left: 10px;
    }
    .hot-keys {
      color: #999;
      font-size: 12px;
      margin: 0 10px;
    }
  }
}