.launch-log-info-details{
  padding: 10px 15px 0 15px;
  .rp-grid-name .btn-group, .type-grid-cell{
    display: none;
  }
  .rp-grid-name a {
    cursor: default;
    color: $COLOR--black;
    pointer-events: none;
    &:hover {
      text-decoration: none !important;
    }

  }
  .rp-table-row:hover, .rp-table-row{
    background-color: $COLOR--white-four !important;
  }
}