/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
.launch-log-history-line {
  position: relative;
  width: 100%;
  margin-top: 11px;
  overflow: hidden;
  padding-bottom: 10px;
  .history-line-item {
    float: left;
    width: 10%;
    cursor: pointer;
    .title-launch {
      text-align: center;
      font-size: 11px;
      color: $COLOR--gray-60;
      font-family: OpenSansSemibold;
      margin-bottom: 7px;
      padding-left: 10px;
      span:first-child {
        display: none;
      }
    }
    .history-item-container {
      position:relative;
      height: 30px;
      width: 100%;
      text-align: center;
      padding-left: 10px;
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 10px;
      }
      i {
        position: relative;
        font-size: 18px;
        line-height: 30px;
        color: $COLOR--gray-60;
        display: none;
        &.icon-comment {
          margin-top: 1px;
        }
        &.icon-ticket {
          font-size: 17px;
          vertical-align: top;
          margin-top: 1px;
        }
      }
      .issue-type {
        vertical-align: top;
        display: inline-block;
        position: relative;
        margin-top: 6px;
        padding: 0 8px;
        border-radius: 8px;
      }
    }
    &:first-child {
      .history-item-container {
        &:before {
          left: 0;
        }
      }
    }
    .active_bg {
      position: absolute;
      left: 2px;
      right: -10px;
      top: 0;
      bottom: 0;
      overflow: hidden;
      &:before {
        content: "";
        position: absolute;
        display: block;
        border-top: 20px solid transparent !important;
        border-bottom: 20px solid transparent !important;
        border-right: 3px solid transparent !important;
        border-left: 8px solid transparent;
        right: 0;
        top: -5px;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        border-left: 8px solid transparent !important;
        border-right: 3px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        left: 0;
        top: -5px;
      }
    }
    &.active {
      cursor: default;
      .active_bg {
        top: -3px;
        bottom: -3px;
        &:before, &:after {
          top: -2px;
        }
      }
      .title-launch {
        color: $COLOR--charcoal-grey;
        span:first-child {
          display: inline;
        }
      }
      .history-item-container {
        &:before {
          top: -3px;
          bottom: -3px;
        }
        i {
          color: $COLOR--charcoal-grey;
        }
      }
    }
    @mixin logColorSet($colorDisabled, $color) {
      .history-item-container:before {
        background-color: $colorDisabled;
      }
      .active_bg:after, .active_bg:before {
        border-color: $colorDisabled;
      }
      &.active {
        .history-item-container:before {
          background-color: $color;
        }
        .active_bg:after, .active_bg:before {
          border-color: $color;
        }
      }
    }
    &.status-FAILED, &.status-INTERRUPTED {
      @include logColorSet($COLOR--failed-disabled, $COLOR--failed);
    }
    &.status-MANY {
      cursor: default;
      @include logColorSet($COLOR--light-yellow, $COLOR--light-yellow);
      [data-js-many-items] {
        display: inline
      }
    }
    &.status-NOT_FOUND {
      cursor: default;
      @include logColorSet($COLOR--white, $COLOR--white);
      [data-js-not-found] {
        display: inline;
      }
    }
    &.status-SKIPPED {
      @include logColorSet($COLOR--skipped-disabled, $COLOR--skipped);
    }
    &.status-PASSED {
      @include logColorSet($COLOR--passed-disabled, $COLOR--passed);
    }
    &.status-IN_PROGRESS {
      @include logColorSet($COLOR--system-issue-disabled, $COLOR--system-issue);
    }
  }
}