/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

$step-name-cell-width: 45%;
$step-time-cell-width: 11%;
$step-status-cell-width: 9%;
$step-select-cell-width: 2%;
$step-type-cell-width: (100 - $step-name-cell-width - $step-time-cell-width*2 - $step-status-cell-width - $step-select-cell-width);
.step-grid {
  .accordion-arrow {
    display: none;
  }
    .grid-cell {
      &.name-grid-cell {
          padding-left: 20px;
          width: $step-name-cell-width;
          &.rp-grid-th {
              .text-overflow {
                  //padding-left: 25px;
              }
          }
      }

      @media (min-width: $SCREEN_SM_MIN) {
          &.method-type-grid-cell {
              padding-left: 45px;
          }
      }
      &.time-grid-cell {
          width: $step-time-cell-width;
      }
      &.status-grid-cell {
          width: $step-status-cell-width;
      }
      &.type-grid-cell {
          width: $step-type-cell-width;
      }
      &.select-grid-cell {
          width: $step-select-cell-width;
          text-align: center;
          padding: 0;
          user-select: none;
          -webkit-user-select: none;
          .rp-checkbox-wrap span {
              height: 11px;
          }
      }
      &.add-collapse-methods-btn {
          padding-left: 44px;
          .rp-switcher {
              position: absolute;
              left: 7px;
              top: 50%;
              margin-top: -6px;
          }
      }
    }
  .step-status {
    font-family: $OpenSansSemibold;
    word-break: break-all;
    width: 100%;
    display: inline-block;
  }
    .rp-step-parents-line {
        padding: 10px 0;
        background: $COLOR--white-four;

        .parents-line {
            padding: 0 10px;
            font-size: 14px;

            .parents-line-item {
                padding: 0 5px;
                display: inline-block;
              &:after {
                content: '/';
                display: inline-block;
                padding-left: 10px;
              }
              &:last-child:after {
                display: none;
              }
            }
            a {
                color: $COLOR--topaz;
            }
        }
    }
  .retries-block-container {
    position: relative;
    width: 100%;
    float: left;
    padding-left: 11%;
  }
    @media (max-width: $SCREEN_MAX_WIDTH_LAUNCHES) {
        .rp-grid-thead {
            display: none;
        }
      .retries-block-container {
        display: none;
      }
      .rp-table-row.row {
        &.show-accordion {
          .accordion-arrow {
            position: absolute;
            display: block;
            top: -10px;
            right: 5px;
            padding: 10px;
            cursor: pointer;
          }
        }
        &.open {
          .overflow-wrapper {
            padding-bottom: 10px;
            .accordion-block {
              .mobile-open {
                display: none;
              }
            }
          }
        }
        .overflow-wrapper {
          .accordion-block {
            height: 30px;
            .mobile-open {
              position: absolute;
              top: -50px;
              right: 0;
              left: 0;
              bottom: 0;
            }
            i {
              display: none !important;
            }
          }
        }
      }
        .grid-cell {
            &.time-grid-cell, &.status-grid-cell, &.select-grid-cell {
                display: none;
            }
            &.name-grid-cell, &.type-grid-cell {
                width: 100%;
            }
            &.name-grid-cell {
                padding-bottom: 10px;
                .rp-grid-tags > li {
                    width: 100%;
                    margin: 0 0px 15px 0px;
                }
                .mobile-time {
                    display: inline;
                }
            }
        }
    }
}

.method-collapsed {
    position: relative;
    margin: 0 -15px;
}

.method-collapsed-toggle {
    width: 100%;
    padding: 0 15px;
}

@media print{
  .step-grid{
    .item-edit-icon{
      display:  none;
    }
    .grid-cell{
      &.time-grid-cell{
        display: block;
        width: 11%;
      }
      &.status-grid-cell{
        display: block;
      }
      &.name-grid-cell{
        width: 45%;
      }
      &.type-grid-cell{
        width: 24%;
      }
    }
  }
}
