.parameters {
  padding: 5px;
  .parameters-grid {
    display: flex;
    flex-direction: column;
    padding: 0 15px 5px 5px;
    margin: 5px;
    font-size: 12px;
  }
}

.header-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid $COLOR--gray-91;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;

  .parameters-column {
    text-transform: uppercase;
    opacity: 0.9;
  }
}

.parameters-row {
  display: flex;
  padding: 6px 0;
  border-bottom: 1px solid $COLOR--gray-91;
  color: $COLOR--charcoal-grey;
  font-family: $FONT-REGULAR;
}

.parameters-column {
  width: 50%;
  word-break: break-all;
}
