.block-header {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  font-family: $FONT-REGULAR;
  font-size: 24px;
  color: $COLOR--steel-grey;
  text-align: center;
  line-height: 1.4;

  @media (max-width: $SCREEN_XS_MAX) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}
.huge-message {
  font-size: 32px;

  @media (max-width: $SCREEN_XS_MAX) {
    font-size: 24px;
  }
}
