.name-col {
  width: 25%;
  height: 70px;
  vertical-align: middle;
  font-size: 13px;
  font-family: $FONT-SEMIBOLD;
  &:hover {
    .make-admin-label {
      cursor: pointer;
      opacity: 1;
    }
    .admin-label {
      cursor: pointer;
    }
  }
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
  }
}
.name {
  text-transform: capitalize;
  vertical-align: top;
}
.label {
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100px;
  color: $COLOR--white-two;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
  vertical-align: top;
}
.you-label {
  background-color: $COLOR--dark-pastel-green;
}
.admin-label {
  background-color: $COLOR--orange-red;
}
.make-admin-label {
  background-color: $COLOR--gray-60;
  opacity: 0;
}
.avatar-wrapper {
  display:inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}
