.tooltip {
  position: absolute;
  padding-top: 5px;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $COLOR--gray-80;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom: 6px solid $COLOR--white-two;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &.no-arrow {
    &::before,
    &::after {
      display: none;
    }
  }
}
:global {
  .tooltip-fade-enter {
    opacity: 0.01;
  }
  .tooltip-fade-enter.tooltip-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease;
  }
  .tooltip-fade-exit {
    opacity: 1;
  }
  .tooltip-fade-exit.tooltip-fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease;
  }
}
.tooltip-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  word-wrap: break-word;
  white-space: pre-wrap;
}
