<div id="reset-form">
    <div class="login-form-overflow">
        <form  class="block-login-form" autocomplete="off">
            <span class="block-login-title"><%= data.text.login.changePassword %></span>
            <div class="rp-form-group">
                <input type="password" placeholder="<%= data.text.login.newPassword %>" id="new_password" autocomplete="off" class="rp-input-auth">
                <input type="password" autocomplete="off" placeholder="<%= data.text.login.confirmNewPassword %>" id="new_password_repeat" class="confirm rp-input-auth">
                <div class="form-inline p-top-10 clearfix">
                    <label class="text-muted small pull-left">
                        <input type="checkbox" id="showPass" class="rp-input-checkbox" />
                        <span><%= data.text.login.showPassword %></span>
                    </label>
                </div>
                <span class="help-inline"></span>
            </div>
            <div class="form-inline p-top-10 clearfix">
                <input type="button" id="submit_change" value="<%= data.text.login.changePassword %>" class="btn-create btn btn-info pull-right disabled btn-restore ">
                <a href="#login" id="backToLogin" class="text-muted small pull-left m-top-10"><%= data.text.login.backToLogin %></a>
            </div>
        </form>
    </div>
</div>