<div id="restore-form">
    <div class="login-form-overflow">
        <form class="block-login-form" autocomplete="off">
            <span class="block-login-title"><%= data.text.login.restorePassword %></span>
            <div class="form-group">
                <input type="text" size="30" placeholder="<%= data.text.login.emailToBegin %>" id="restore_email"
                       class="rp-input-auth" maxlength="128">
                <span class="help-inline"></span>
            </div>
            <div class="form-inline clearfix">
                <button type="button" id="cancel_restore" class="btn-login-cancel"><%= data.text.ui.cancel %></button>
                <button type="button" id="submit_restore" class="btn-login-change-pwd" disabled="disabled"><%=
                    data.text.login.changePassword %>
                </button>
            </div>
        </form>
    </div>
</div>