<div class="login-content">
    <div class="left-block">
        <div class="logo-label" data-js-logo></div>
        <div class="logo-text">powered by</div>
        <div class="logo-label-praegus" data-js-logo-praegus></div>
        <div class="post-wrapper"></div>
        <div class="separator"></div>
        <div class="socials-block" data-js-social-block>
            <a href="https://www.facebook.com/praegus" class="fb-icon" target="_blank"></a>
            <a href="https://twitter.com/praegus" class="tw-icon" target="_blank"></a>
            <a href="https://www.youtube.com/user/praegus" class="yt-icon" target="_blank"></a>
            <a href="mailto:info@praegus.nl" class="mail-icon"></a>
        </div>
    </div>
    <div class="right-block">
        <div class="subpage-container" data-js-subpage-container></div>
        <div class="service-versions" data-js-service-versions-container></div>
    </div>
</div>
