<div class="login-content">
    <div class="left-block">
        <div class="logo-label" data-js-logo></div>
        <div class="post-wrapper" data-js-twitter-container></div>
        <div class="separator"></div>
        <div class="socials-block" data-js-social-block>
            <a href="https://github.com/reportportal" class="gh-icon" target="_blank"></a>
            <a href="https://www.facebook.com/ReportPortal.io" class="fb-icon" target="_blank"></a>
            <a href="http://twitter.com/ReportPortal_io" class="tw-icon" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ" class="yt-icon" target="_blank"></a>
            <a href="https://vk.com/reportportal_io" class="vk-icon" target="_blank"></a>
            <a href="https://reportportal.slack.com/" class="slk-icon" target="_blank"></a>
        </div>
    </div>
    <div class="right-block">
        <div class="subpage-container" data-js-subpage-container></div>
        <div class="services">
            <span class="current"><%= data.text.login.currentVersion %></span>
            <span class="list" data-js-build-versions></span>
            <!--<div class="update-services">-->
                <!--<i class="rp-icons rp-icons-warning2"></i>-->
                <!--<span><%= data.text.login.newVersions %></span>-->
                <!--<span class="update-link"><%= data.text.login.updateServices %></span>-->
            <!--</div>-->
        </div>
    </div>
</div>
