.empty-widget {
  width: 100%;
  padding: 25px 0 60px 0;
  background-color: $COLOR--white-two;
}

.empty-widget-headline {
  margin-top: 27px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: $FONT-SEMIBOLD;
  color: $COLOR--gray-47;
}

.empty-dashboard {
  width: 140px;
  height: 98px;
  margin: 0 auto;
  background-image: url(./img/no-shared-widgets.svg);
  background-position: center;
  background-repeat: no-repeat;
  &.add-enabled {
    background-image: url(./img/add-first-widget.png);
  }
}

.empty-widget-text {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: center;
  color: $COLOR--gray-47;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.empty-widget-content {
  padding: 15px 0;
  text-align: center;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
