.general-tab {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 15px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    padding: 0;
  }
}

.field-input {
  min-width: 300px;
  width: 300px;
  position: relative;
  @media (max-width: $SCREEN_SM_MAX) {
    min-width: 250px;
    width: 250px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
  }
}

.button-container {
  box-sizing: content-box;
  margin-left: 455px;
  &::after {
    content: '';
    clear: both;
    display: table;
  }
  @media (max-width: $SCREEN_SM_MAX) {
    margin-left: 345px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
.submit-button {
  width: 70px;
  button {
    font-size: 13px;
  }
}
