.form-input {
  position: relative;
  width: 310px;
  flex-shrink: 0;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
  }

  &-checkbox {
    margin-left: 210px;

    @media (max-width: $SCREEN_SM_MAX) {
      margin-left: 150px;
    }

    @media (max-width: $SCREEN_XS_MAX) {
      margin-left: 5px;
    }
  }
}

.form-invalid-message {
  margin: 20px 0 20px 100px;
  color: $COLOR--fatal;
  font-size: 10px;
}

.control-panel {
  position: relative;
  padding: 7px 15px;
  margin: 20px 15px;
  background-color: $COLOR--white-four;

  @media (max-width: $SCREEN_XS_MAX) {
    margin: 20px 0;
  }
}

.control-panel-name {
  color: $COLOR--gray-47;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
}

.control-panel-buttons {
  position: absolute;
  top: 6px;
  right: 15px;
  display: flex;
  justify-content: space-between;
}

.control-panel-button {
  height: 20px;
  width: 20px;
  padding: 0;
  margin-left: 15px;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
}
