<div class="grid-cell name-grid-cell">
    <div class="member-wrap">
        <div class="member-avatar">
            <img data-js-member-avatar src=""/>
        </div>
        <div class="member-info">
            <div class="member-info-wrap">
                <p class="member-name" data-js-member-name></p>
                <p class="member-you" data-js-member-you><%= data.text.ui.you %></p>
                <p class="member-admin" data-js-member-admin><%= data.text.ui.admin %></p>
                <br>
                <p class="member-login" data-js-member-login></p>
            </div>
        </div>
    </div>
</div>
<div class="grid-cell login-grid-cell">
    <div class="member-title-mobile"><%= data.text.admin.lastLogin %>:</div>
    <div class="login-time show-time" data-js-login-time>
        <span class="from-now" data-js-time-from-now></span>
        <span class="exact-time" data-js-time-exact></span>
    </div>
</div>
<div class="grid-cell role-grid-cell">
    <div class="member-select-role" data-js-select-roles>
        <button data-value="" type="button"
                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                data-toggle="dropdown" data-js-button-roles>
            <span class="select-value" data-js-selected-role></span>
            <span class="rp-caret"></span>
        </button>
        <ul class="dropdown-menu" data-js-dropdown-roles>
            <% _.forEach(data.roles, function(val, key){ %>
            <li class="">
                <a href="#" class="project-roles"
                   data-value="<%= key %>">
                    <%= val %>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="member-role-mobile">
            <div class="member-title-mobile"><%= data.text.project.projectRole %>:</div>
            <span data-js-member-role-mobile></span>
        </div>
    </div>
    <div data-js-admin-role class="admin-role">
        <%= data.text.admin.privileges %>
    </div>
</div>
<div class="grid-cell action-grid-cell">
    <div class="members-actions">
        <button data-js-member-unassign class="rp-btn rp-btn-default rp-button-with-icon" href="#"
                title="<%= data.text.members.unAssignTitle %>">
            <i class="rp-icons rp-icons-unassign"></i>
            <span class="hidden-xs rp-btn-val"><%= data.text.members.unAssign %></span>
        </button>
    </div>
</div>