.input-password {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 6px 35px 6px 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  line-height: 13px;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fdffeb inset;
  }
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.disabled {
  background-color: $COLOR--gray-91;
}

.eye-icon {
  position: absolute;
  top: 0;
  right: 5px;
  height: 38px;
  width: 30px;
  background-image: url(./img/pass-hided.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;

  &.opened {
    background-image: url(./img/pass-shown.svg);
  }
}
