/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.modal-add-shared-widget {
  .modal-dialog {
    width: 800px;
  }
  .info-block {
    float: left;
    background: $COLOR--white;
    margin: 20px 0 10px 10px;
    width: 320px;
    height: 600px;
    position: relative;
    .warning-block{
      position: absolute;
      bottom: 10px;
      font-size: 10px;
      color: #f36c4a;
      padding: 0 20px;
      width: 100%;
      height: 30px;
      line-height: 1.4;
      text-align: left;
      display: none;
      &.activate {
        display: table;
      }
      .warning-block-content {
        position: relative;
        width: 100%;
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      i{
        font-size: 13px;
        position: absolute;
        top: 8px;
      }
      p {
        padding-left: 25px;
        position: relative;
        line-height: 16px;
        margin: 0;
      }
    }
    .preview-block {
      position: relative;
      overflow: hidden;
      padding: 0 20px;

      h2 {
        text-align: center;
        font-size: 14px;
        color: $COLOR--charcoal-grey;
        font-family: OpenSansSemibold;
        margin-top: 25px;
      }
      p {
        margin-top: 20px;
        line-height: 21px;
        color: $COLOR--gray-47;
      }
      .widget-preview {
        width: 100%;
        height: 140px;
        margin-top: 25px;
        background-color: $COLOR--white-default;
        background-size: contain;
      }
    }
  }
  .action-block {
    float: left;
    width: 420px;
    position: relative;
    margin: 20px 0 40px 20px;
    h1 {
      @include fontHeader;
      color: $COLOR--gray-47;
      font-size: 17px;
      text-align: center;
      text-transform: uppercase;
      margin: 4px 0 22px 0;
    }
    &.load {
      .preloader {
        display: block;
      }
    }
    .shared-widgets-list-wrapper {
      border-top: 1px solid $COLOR--gray-91;
      .shared-widgets-empty {
        color: $COLOR--gray-47;
        font-size: 17px;
        padding: 25px 0;
        text-align: center;
      }
    }
  }
  .buttons-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
