/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

@import 'common';
@import 'load-bug';
@import 'post-bug';
@import 'confirm';
@import 'filter-edit';
@import 'defect-editor';
@import 'launches-compare';
@import 'launches-merge';
@import 'launch-edit';
@import 'change-password';
@import 'edit-user-info';
@import 'add-user';
@import 'invite-user';
@import 'permissions-map';
@import 'edit-dashboard';
@import 'regenerate-UUID';
@import 'addWidget/main';
@import 'addSharedWidget/main';
@import 'add-project';
@import 'force-update';
@import 'log-attachment-image';
@import 'log-attachment-binary';
