/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
.modal-add-user {
  .modal-body {
    padding: 30px 10px 30px 10px;
    .rp-add-user-form {
      h4 {
        margin: 0 0 20px;
      }
      .rp-form {
        width: 90%;

        .add-user-label {
          width: 32%;
        }
        .add-user-field {
          width: 68%;
          float: left;
          .drop-down-component {
            width: 100%;
          }
        }
        .validate-hint {
          width: 68%;
        }
        .password-field {
          margin-bottom: 0;
        }
        .to-gen-pass {
          width: 68%;
          margin: 4px 0 0 32%;
        }
      }
    }
  }
}
