.pr-defect-editor {
  padding: 30px 20px 10px;
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .rp-defect-type-dropdown.btn {
    background: #fff;
    border: solid 1px #cccccc;
    padding: 5px 26px 5px 5px;

    .caret {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 10px;
      color: #000;
    }
  }
  .open {
    .rp-defect-type-dropdown {
      .caret {
        transform: rotate(180deg);
      }
    }

  }
  .rp-defect-type-label {
    padding-top: 9px;
  }
  .rp-defect-row-first {
    border-bottom: 1px solid #e9e9e9;
    padding: 7px 3px 10px;
    margin-bottom: 7px;
  }
  .rp-defect-type-btn-group {
    float: right;
    width: 100%;
    max-width: 440px;
  }
  .rp-defect-type-dropdown {
    width: 100%;
    float: none;
    text-align: left;
    display: inline-block;
  }
  .rp-defects-menu {
    width: 540px;
    font-size: 12px;
    left: auto;
    right: 0;
    font-size: 13px;
    padding: 8px 10px 10px;
    .divider {
      margin: 8px 0;
      float: left;
      width: 100%;
      box-sizing: content-box;
      display: none;
    }
  }
  .rp-defect-row {
    padding: 3px 4px;
    margin: 0 -15px;

    label {
      position: relative;
      font-weight: normal;
      display: inline-block;
      font-size: 12px;
      word-break: break-all;
      padding: 2px 7px 0 21px;
      min-height: 20px;
      border: 1px solid transparent;
      border-radius: 100px;
      cursor: pointer;
      margin: 0;

      &:hover {
        border-color: #ccc;
      }

      &.selected {
        font-weight: 600;
        cursor: default;
        border-color: #ccc;
      }
      i {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .rp-defect-row-first {
    border-bottom: 1px solid #e9e9e9;
    padding: 7px 3px 10px;
    margin-bottom: 7px;
  }
  .rp-defect-editor-bottom {
    padding: 5px 0 2px;
    text-align: right;
    .replace-comments {
      float: left;
      span {
        font-size: 12px;
      }
    }
    .hot-keys {
      color: #999;
      font-size: 12px;
      margin: 0 10px;
    }
  }
}