/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.modal-invite-user {
  .modal-content-wrapper {
    .modal-body {
      padding: 30px 10px 0 10px;
      .invite-user-form {
        display: block;
        margin-top: 20px;
        width: 100%;

        label {
          & > span:first-child {
            width: 150px;
            padding-right: 30px;
            color: $COLOR--charcoal-grey;
            font-size: 13px;
            text-align: right;
            font-family: $OpenSansRegular;
          }
          .rp-input {
            width: 350px;
          }
          .role-selector {
            width: 350px;
            float: left;
          }
          .validate-hint {
            width: 350px;
            left: 150px;
          }
        }
      }
      .success-form {
        display: none;
        width: 100%;
        margin-top: 20px;

        label:first-child {
          & > span:first-child {
            line-height: 1.28;
            padding-left: 20px;
          }
        }
        label {
          .invite-sent-email {
            line-height: 32px;
            font-family: $OpenSansSemibold;
            font-size: 13px;
            color: $COLOR--charcoal-grey;
          }
          .rp-input {
            background-color: $COLOR--gray-91;
            width: 350px;

            &:hover {
              border-color: $COLOR--gray-80;
            }
          }
          .copy-invite-link {
            margin-top: 35px;
            display: block;
            clear: both;
            margin-left: 145px;
            color: $COLOR--windows-blue;
          }
        }
      }
    }
    .modal-footer {
      .button-ok {
        display: none;
      }
    }

    &.success-invite {
      .modal-body {
        .invite-user-form {
          display: none;
        }
        .success-form {
          display: block;
        }
      }
      .modal-footer {
        .button-cancel {
          display: none;
        }
        .button-invite {
          display: none;
        }
        .button-ok {
          display: inline-block;
        }
      }
    }
  }
}
