/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.modal-launch-edit {
  .modal-content-wrapper {
    .modal-body {
      padding: 30px 10px 15px 10px;
      h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        color: $COLOR--charcoal-grey;
        font-family: 'OpenSansSemibold',sans-serif;
        font-size: 14px;
        margin: 20px 8px;;
      }
      label {
        font-weight: normal;
      }
      .fields {
        margin: 0;
        width: 100%;
        margin-left: 18px;
        padding-top: 2px;

        & > label {
          width: 100%;

          & > span {
            display: block;
            float: left;
            margin-right: 30px;
            min-width: 80px;
            text-align: right;
            line-height: 30px;
          }

          & > textarea,
          & > div.rp-input {
            margin-top: 0;
            width: 350px;
          }
        }

        @media (max-width: 620px) {
          & > label {
            padding-right: 40px;

            & > span {
              float: none;
              text-align: left;
            }

            & > textarea,
            & > div.rp-input {
              width: 100%;
            }
          }
        }
      }

      textarea {
        height: 67px;
        resize: none;
      }
    }
  }
}