.sauce-labs-section {
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid $COLOR--gray-91;
  background-color: $COLOR--white-four;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $COLOR--white-two;
    border-top: 1px solid $COLOR--gray-91;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    flex-direction: column;
  }
}
