.launch-controls {
  display: inline-block;
  font-size: 11px;
  border-radius: 8px;
  width: 28px;
  height: 14px;
  line-height: 14px;
  text-transform: initial;
  text-align: center;
  top: -11px;
  right: 78px;
}
.zoom-container{
  position: relative;
}