.duration-block {
  display: inline;
  margin-right: 20px;

  @media (max-width: $SCREEN_SM_MAX) {
    margin-right: 15px;
  }
}
.error {
  .icon {
    fill: $COLOR--orange-red;
  }
  .duration {
    color: $COLOR--orange-red;
    text-decoration: underline;
  }
}
.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: $COLOR--gray-60;
  vertical-align: middle;

  @media (max-width: $SCREEN_SM_MAX) {
    height: 18px;
    width: 18px;
    vertical-align: top;
  }
}
.in-progress {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin-left: 5px;

  img {
    vertical-align: middle;
  }
}
.duration {
  font-family: $FONT-REGULAR;
  font-size: 12px;
  color: $COLOR--gray-60;
  line-height: 15px;
  margin-left: 5px;

  @media (max-width: $SCREEN_SM_MAX) {
    font-size: 15px;
  }
}


