.no-cases-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-items-message {
  margin-bottom: 20px;
  color: $COLOR--charcoal-grey;
  font-size: 19px;
  font-family: $FONT-REGULAR;
  line-height: 0.9;
  letter-spacing: normal;
}

.notifications-info {
  margin-bottom: 20px;
  color: $COLOR--gray-60;
  font-size: 12px;
}
