<div class="widget-wrapper">
    <div class="info-block">
        <p><%- data.text.launches.launchName %>: <span><%- data.name %></span></p>
        <p><%- data.text.widgets.basedOn %>: <span><%- data.issueType %></span></p>
    </div>
    <div class="most-failed-table">
        <div class="scroll-wrapper" data-js-scroll>
            <div class="most-failed-table-header">
                <div class="col col-name"><%- data.text.widgets.testCase %></div>
                <div class="col col-count">
                    <span class="full"><%- data.text.widgets.issuesInExec %></span>
                    <span class="short"><%- data.text.widgets.issuesInExecShort %></span>
                </div>
                <div class="col col-percents">
                    <span class="full"><%- data.text.widgets.ofIssues %></span>
                    <span class="short"><%- data.text.widgets.ofIssuesShort %></span>
                </div>
                <div class="col col-date"><%- data.text.widgets.lastIssue %></div>
            </div>
            <div class="most-failed-table-body" data-js-items-container></div>
        </div>
    </div>
</div>
