.milestones-table {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 24px auto 0;
  padding: 0 34px;

  &_with-pagination {
    padding-bottom: 90px;
  }

  &__pagination {
    position: fixed;
    width: calc(100vw - 48px);
    bottom: 0;
    z-index: $Z-INDEX-POPUP;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--rp-ui-base-bg-100);
    padding: 5px 34px;
    border-top: 1px solid var(--rp-ui-base-e-100);
    height: 64px;
    box-sizing: border-box;

    @media (max-width: $SCREEN_XS_MAX) {
      width: 100vw;
    }
  }
}
