.integration-form {
  width: 100%;
  max-width: 450px;

  @media (max-width: $SCREEN_XS_MAX) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.integration-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.block-header {
  margin-bottom: 20px;
  color: $COLOR--black-2;
  font-size: 20px;
  font-family: $FONT-SEMIBOLD;
}

.configuration-not-specified-info {
  color: $COLOR--gray-60;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  line-height: 1.54;
}

.controls-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.control-buttons-block {
  display: flex;
}

.button-container {
  height: 30px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  button {
    font-size: 13px;
  }
}
