.filters {
    &-wrapper {
        width: calc(100% - 20px);
        min-height: 18px;
        margin: 1px 0 0;
        padding: 10px 10px;
        background: $COLOR--white;
    }

    &-text {
        color: $COLOR--gray-47;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;

        &.error {
            color: $COLOR--orange-red;
        }
    }
}
