.bar-chart {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 10px;
  border-radius: 100px;
  vertical-align: text-bottom;
  overflow: hidden;
}
.segment {
  display: inline-block;
  height: 100%;
  vertical-align: top;

  &.passed {
    background-color: $COLOR--passed;
  }
  &.failed {
    background-color: $COLOR--failed;
  }
  &.skipped {
    background-color: $COLOR--skipped;
  }
}
