.sauce-labs-settings-form {

}

.controls-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.control-buttons-block {
  display: flex;
}

.button-container {
  height: 30px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  button {
    font-size: 13px;
  }
}
