.pattern-list-header {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: $Z_INDEX-STICKY-TOOLBAR;
  color: $COLOR--gray-47;
  font-size: 12px;
  font-family: $FONT-REGULAR;
  line-height: 27px;
  background-color: $COLOR--white-two;
  padding: 10px 0px 15px 0px;
  box-shadow: 0px 3px 1px -3px $COLOR--gray-91;
  margin-bottom: -1px;
  @media (max-width: $SCREEN_XS_MAX) {
    flex-direction: column;
  }
}

.caption {
  width: 110px;
  padding-right: 15px;
  padding-left: 90px;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  @media (max-width: $SCREEN_SM_MAX) {
    padding-left: 15px;
  }
}

.switcher {
  width: 100px;
  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 15px;
  }
}

.description {
  width: 220px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0px 15px;
}

.create-button {
  flex: 100px 0 1;
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
