.news-block {
  width: 100%;
  height: 545px;
  margin-top: 25px;
  margin-bottom: 20px;

  @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    height: 205px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
