/*--- GENERAL ---*/

.btn,
.form-control,
.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.select2-container-multi .select2-choices {
    border-radius: 0;
    box-shadow: none;
}

.bootstrap-switch {
    height: 30px;
    width: 100%;
    min-width: 60px;
}

.bootstrap-switch .bootstrap-switch-container {
    height: 31px;
}

.select2-container-multi .select2-choices {
    background: transparent;
}

.form-control:focus {
    box-shadow: none;
}

.form_label {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.bootstrap-switch.bootstrap-switch-focused,
.form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-primary {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-default {
    color: #fff;
    background: #999;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-primary {
    background: #a3c644;
    color: #fff;
}

.btn-success, .btn-success:focus {
    border: none;
    color: #fff;
    font-size: 13px;
    background-color: #a3c644;
}
/*
.btn-success:hover {
    background-color: #7f993a;
}
*/
.btn-success:active:focus:hover {
    background-color: #5f722b;
}
.btn-success.disabled, .btn-success:disabled {
    background-color: #bed379;
}

.btn.cancelBtn,
.btn.cancelBtn:hover,
.btn.btn-default.btn-cancel,
.modal-content .btn.btn-default.cancel,
.modal-content .btn.btn-default.btn-cancel,
.modal-content .modal-footer .btn.btn-default,
.btn-controls .btn.btn-default {
    background: #999;
    color: #fff;
}

.btn.cancelBtn {
    border: none;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.open > .dropdown-toggle.btn-success,
.modal-content .btn.btn-primary:hover {
    background-color: #a3c644;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: transparent;
}

.btn-success:hover {
    background-color: #7f993a;
}

.btn-default.btn-gray:hover,
.btn-default.btn-gray:focus,
.btn-default.btn-gray:active,
.btn-default.btn-gray.active {
    background-color: #959595;
}

.btn-default.btn-orange:hover,
.btn-default.btn-orange:focus,
.btn-default.btn-orange:active,
.btn-default.btn-orange.active {
    background-color: #e6a13f;
}

.btn-controls .btn-default {
    border: none;
}

.dropdown-menu,
.label,
.badge,
.my_button,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.daterangepicker .calendar-date,
.daterangepicker .ranges li,
.daterangepicker .ranges .input-mini,
.daterangepicker td,
.daterangepicker th,
.daterangepicker td.start-date,
.daterangepicker td.end-date {
    border-radius: 0;
}

.criteria-btn .filters-criteria {
    margin-top: -11px;
    margin-left: 12px;
}

.my_button {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.rp-margin-reset-log .rp-table-thead:after,
.rp-margin-reset .rp-table-thead:after {
    display: none;
}

.tags .text-muted {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 12px;
}

.notfound-body {
    background-color: #ffffff;
}

/*--- END GENERAL ---*/





/*--- WIDGET EDITOR ---*/
#widgetEditor .modal-body {
    padding: 0;
}

#widgetEditor .modal-body .nav-tabs[role="tablist"] {
    border: none;
}

#widgetEditor .nav-tabs[role="tablist"] li {
    position: relative;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

#widgetEditor .nav-tabs[role="tablist"] li:first-child {
    border-left: none;
}

#widgetEditor .nav-tabs[role="tablist"] li.active {
    border-bottom-color: #fff;
    background-color: transparent;
}

#widgetEditor .nav-tabs[role="tablist"] li.active:before {

}

#widgetEditor .nav-tabs[role="tablist"] li a {
    position: relative;
    padding-left: 45px;
    text-align: left;
    white-space: nowrap;
}

#widgetEditor .nav-tabs[role="tablist"] li.validated a {
    color: #aaca57;
}
/*
#widgetEditor .nav-tabs[role="tablist"] li a .fa {
    position: absolute;
    top: 7px;
    left: 20px;
    margin-right: 10px;
    display: none;
    font-size: 28px;
    color: #aaca57;
}
*/
/*#widgetEditor .nav-tabs[role="tablist"] li.validated a .fa {
    display: inline-block;
}*/

#widgetEditor .nav-tabs[role="tablist"] ~ .tab-content {
    padding: 0;
}

#widgetEditor .nav-tabs[role="tablist"] ~ .tab-content .tab-content .tab-pane {
    padding: 0 10px;
}

#widgetEditor .nav-tabs[role="tablist"] ~ .tab-content .tab-content #OwnFilters.tab-pane,
#widgetEditor .nav-tabs[role="tablist"] ~ .tab-content .tab-content #SharedFilters.tab-pane {
    padding: 0 20px;
}

#widgetEditor #widgetTemplates .widget_type .widget_type_wrapper,
#widgetEditor #SharedWidgets .widget_shared_wrapper {
    position: relative;
    border: 1px dashed #b7b7b7;
}

#widgetEditor #widgetTemplates .widget_type .widget_type_wrapper:after,
#widgetEditor #SharedWidgets .widget_shared_wrapper:after {
    content: "";
    display: block;
    clear: both;
}

#widgetEditor #widgetTemplates .widget_type.active,
#widgetEditor #SharedWidgets .shared_widget_block.active {
    background: transparent;
}

#widgetEditor #widgetTemplates .widget_type.active .widget_type_wrapper,
#widgetEditor #SharedWidgets .shared_widget_block.active .widget_shared_wrapper {
    border-color: #a9ca50;
    background-color: #fcfdfa;
}

#widgetEditor #widgetTemplates .widget_type .widget_type_wrapper .material-icons,
#widgetEditor #SharedWidgets .widget_shared_wrapper .material-icons {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    color: #bebebe;
}

#widgetEditor #widgetTemplates .widget_type .widget_type_wrapper .check_circle,
#widgetEditor #SharedWidgets .widget_shared_wrapper .check_circle,
#widgetEditor #widgetTemplates .widget_type.active .widget_type_wrapper .radio_button_unchecked,
#widgetEditor #SharedWidgets .shared_widget_block.active .widget_shared_wrapper .radio_button_unchecked {
    display: none;
}

#widgetEditor #widgetTemplates .widget_type.active .widget_type_wrapper .check_circle,
#widgetEditor #SharedWidgets .shared_widget_block.active .widget_shared_wrapper .check_circle {
    display: inline-block;
    color: #a3c644;
}

#widgetEditor #SharedWidgets .shared_widget_block {
    padding: 10px;
}

#widgetEditor .shared_widget_owner {
    padding-left: 10px;
}

#widgetEditor #templateConfig {
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

#widgetEditor #templateConfig > div:first-child {
    padding-top: 20px;
}

#widgetEditor #templateConfig > div:last-child,
#widgetEditor #templateConfig #templateOptions {
    padding-bottom: 20px !important;
}

#widgetEditor #templateConfig #templateOptions .criteria-holder-dropdown {
    width: auto;
}
#widgetEditor #templateConfig #templateOptions .criteria-holder-dropdown .checkbox .radio-label {
    white-space: nowrap;
}

#widgetEditor #templateConfig .name-label,
.control-label.custom-padding,
#widgetEditor .form-horizontal .control-label {
    text-align: left;
    color: #666;
}

.control-label.custom-padding.float-left {
    float: left;
    text-align: right;
}

#widgetEditor #templateConfig .btn-group {
    background: transparent;
}

.btn.btn-default.btn-cancel,
.modal-content .btn.btn-default {
    border: none;
}

.modal-content .btn.btn-default.dropdown-toggle,
.modal-content .btn-group .btn.btn-justified {
    border: 1px solid #ddd;
}

.modal-content .btn-group .btn.btn-default {
    box-shadow: none;
}

.min-max-holder .input-group-addon {
    border-radius: 0;
}

.modal-body #widgetPreview {
    padding: 0;
}

.modal-body #widgetPreview,
.modal-body #widgetPreview .widget-content {
    border-top: none;
}

.modal-body #widgetPreview .widget-content {
    margin-bottom: 0;
    border-bottom: none;
}

.modal-body .form-group {
    margin-left: 0;
}

#createDashboard .form-group:first-child {
    padding-left: 5px;
    padding-right: 5px;
}

#createDashboard .form-group:first-child {
    margin-left: 0;
}

.modal-body #createDashboard .form-group .btn {
    height: 33px;
    margin: 0 0 0 8px;
    font-size: 14px;
}

#OwnDashboards .content-holder,
#SharedDashboards .content-holder {
    padding: 10px;
}

#dashboardSelect {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#widgetEditor .nav-tabs[role="tablist"] ~ .tab-content .rp-table-thead {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #eee;
}

.rp-margin-reset {
    border-top: none;
}

.rp-margin-reset .rp-table-thead {
    font-size: 14px;
    font-weight: bold;
    color: #464547;
}

.rp-margin-reset .rp-table-thead:after {
    content: "";
    display: block;
    clear: both;
}

.rp-margin-reset-log .rp-table-thead:after,
.rp-margin-reset .rp-table-thead:after,
.rp-margin-reset-log .rp-table-thead:after,
.rp-margin-reset .rp-table-thead:after {
    border: none;
    box-shadow: none;
}

.rp-margin-reset .rp-table-thead .rp-table-th {
    font-family: "OpenSansSemibold", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-left: 15px;
}

.rp-table-row {
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.widget_type.active,
.filter-row.active,
.rp-margin-reset > .row.active:nth-child(2n),
.rp-table-row.active:hover {
    border-color: #a9ca50;
    background-color: #fcfdfa;
}

.filter-row > *:first-child {
    position: relative;
    padding-left: 40px;
}

.filter-row.active + .filter-row {
    border-top-color: #a9ca50;
}

.filter-row.active:last-child {
    border-bottom: 1px solid #a9ca50;
}

.rp-margin-reset-log > .row:nth-child(2n) {
    background-color: #f9f9f9;
}

#widgetFilters .filter-name {
    font-size: 14px;
    font-weight: bold;
    color: #1a9cb0;
}

#widgetFilters .filter-adv .text-muted,
#widgetFilters .filter-row .rp-info {
    color: #666;
}

#widgetFilters .filter-adv .text-muted {
    font-size: 12px;
}

#widgetFilters .filter-row .rp-info {
    font-size: 14px;
}

#widgetFilters .filter-row .material-icons {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: #bebebe;
}

#widgetFilters .filter-row .check_circle {
    display: none;
}

#widgetFilters .filter-row.active .check_circle {
    display: inline-block;
    color: #a3c644;
}

#widgetData #dashboardSelect {
    clear: both;
    float: none;
}

#OwnDashboards a,
#SharedDashboards a {
    border: 1px solid transparent;
    background-color: transparent;
    word-wrap: break-word;
}

#OwnDashboards a:hover,
#SharedDashboards a:hover,
#OwnDashboards a.active,
#SharedDashboards a.active,
#OwnDashboards a:focus,
#SharedDashboards a:focus {
    border-color: #a9ca50;
    background-color: #fcfdfa;
    color: #464547;
}
/*--- END WIDGET EDITOR ---*/


/*--- ADMIN PROJECT USERS ---*/
#projectUsers.form-horizontal .form-group {
    margin-left: 0;
}

.general_tabs > .nav-tabs {
    left: 0;
    width: 100%;
    border: none;
    background-color: #999;
}

.general_tabs > .nav-tabs > li {
    margin: 0;
    padding: 7px 15px 8px;
    border: none;
    border-left: 1px solid #b1b1b1;
    border-radius: 0;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.general_tabs > .nav-tabs > li:first-child,
.general_tabs > .nav-tabs > li.active,
.general_tabs > .nav-tabs > li.active + li {
    border-left: none;
}

.general_tabs > .nav-tabs > li.active:first-child::after {
    display: none;
}

.general_tabs > .nav-tabs > li > a {
    margin: 0;
    border-radius: 0;
}

.general_tabs > .nav-tabs > li:hover > a,
.general_tabs > .nav-tabs > li > a:active,
.general_tabs > .nav-tabs > li > a:focus,
.general_tabs > .nav > li.disabled > a,
.general_tabs > .nav > li.disabled > a:hover,
.general_tabs > .nav > li.disabled > a:focus {
    background: #999;
    color: #fff;
}

.general_tabs > .nav-tabs > li > a,
.general_tabs > .nav-tabs > li:hover > a,
.general_tabs > .nav-tabs > li.active > a,
.general_tabs > .nav-tabs > li.active:hover > a {
    border: none;
}

.general_tabs > .nav-tabs > li.active:hover > a {
    background: #fff;
}

.general_tabs > .nav-tabs > li > a:active {
    color: #fff;
}

.general_tabs > .nav-tabs > li.active:hover > a,
.general_tabs > .nav-tabs > li.active > a:active,
.general_tabs > .nav-tabs > li.active > a:focus {
    background: #fff;
    color: #464547;
}

#projectUsers .nav-tabs {
    margin: 0 -10px 25px -10px;
}

/*--- END ADMIN PROJECT USERS ---*/

/*--- POST BUG FORM ---*/
#dynamicContent .form-group .custom-padding,
#dynamicContent .control-label.custom-padding,
.modal-body #staticContent .form-group > *:not(button),
.modal-body #staticContent .control-label.custom-padding {
    padding-left: 15px;
}

.modal-body #staticContent h4 {
    padding-left: 30px;
}

#credentialsSoft.col-sm-12 {
    padding-top: 15px;
    padding-bottom: 0;
}

/*--- END POST BUG FORM ---*/

/*--- LOGIN ---*/
.login-box {
    left: -45px;
}

.login-box h1 {
    font-family: "OpenSansRegular", sans-serif;
    font-weight: normal;
}

/*--- END LOGIN ---*/


/*--- LAUNCHES ---*/
.history-items .label {
    border-radius: 0;
    font-weight: normal;
}

.history-inputs-row > ul > li > .label {
    padding-top: 0.5em;
}

.info_section {
    padding-left: 5px;
}

#headerBar > .rp-nav-right li.history-shown a {
    border-color: #a3c644;
    background: #a3c644;
    color: #fff;
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 1), 0 6px 0 0 rgba(84, 185, 141, 1);
}

#cancel-history,
.hm-panel-buttons,
.hm-panel-buttons .btn {
    margin: 0;
}

.hm-panel-buttons {
    padding: 0;
}

.merge-form {
    padding: 10px 15px 0;
}

#form-merge-launches .select2-container-multi .select2-choices,
#editLaunchModal .select2-container-multi .select2-choices,
.select2-container-multi .select2-choices .select2-search-choice,
.select2-container-multi .select2-choices .select2-search-choice.common-tag {
    border-radius: 0;
}

.select2-container-multi .select2-choices {
    max-height: 100%;
}

.dropdown-like.input-group-sm > .input-group-btn > .btn {
    border-radius: 0;
}

.input-group-addon {
    background-color: #fff;
}

.filter-wrapper {
    margin-right: 35px;
    padding-right: 0;
    border-right: 0;
}

.input-group-sm .token,
.tokenfield.input-sm .token {
    border-radius: 0;
}

#mergeGrid .rp-margin-reset .rp-table-thead .rp-table-th,
#compareGrid .rp-margin-reset .rp-table-thead .rp-table-th {
    padding-left: 0;
}

/*--- END LAUNCHES ---*/



/*--- FIXED HEADERS ---*/
#headerBar.affix,
.rp-margin-reset .rp-table-thead.fixed_table_header.affix {
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

#headerBar.affix {
    top: 0;
}

.rp-margin-reset .rp-table-thead.fixed_table_header.affix-top {
    top: 0 !important;
}

/*--- END FIXED HEADERS ---*/

/*--- FILTERS ACTIONS ---*/

#dynamic-content .filter-actions ul.rp-icons-style li:first-child {
    margin-left: -30px;
}

#dynamicFields input[type="checkbox"]:focus {
    outline: none;
}

#dynamicFields [disabled].form-control[type="checkbox"] {
    background-color: transparent;
}

/*--- END FILTERS ACTIONS ---*/

@media (max-width: 991px) {
    .rp-members-list .view_projects_wrapper:before,
    .rp-members-list .view_projects_wrapper:after {
        display: none;
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 90px;
    }
}

#accordion {
    clear: both;
}

/* FORMS ELEMENTS */

.form-control,
.btn.dropdown-toggle,
.select2-container-multi .select2-choices {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    font-size: 13px;
    color: #999999;
}
.btn.dropdown-toggle {
    background-color: #cccccc;
    font-size: 13px;
    color: #464547;
}
.criteria-btn .btn.dropdown-toggle {
    background-color: #ffffff;
}
.select2-container-multi .select2-choices {
    min-height: 30px !important;
}
.form-control:hover,
.btn.dropdown-toggle:hover,
.select2-container-multi .select2-choices:hover {
    border: solid 1px #777777;
}
.form-control:focus,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle.active,
.btn.dropdown-toggle:active,
.open > .btn.dropdown-toggle.focus,
.open > .btn.dropdown-toggle:focus,
.open > .btn.dropdown-toggle,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active:hover .select2-choices,
.select2-container-multi.select2-dropdown-open .select2-choices,
.select2-drop-active {
    color: #464547;
    box-shadow: 0 0 2px 0 rgba(25, 155, 176, 0.7);
    border: solid 1px #1a9cb0;
    background: #fff;
}
.select2-drop-active {
    border-radius: 0;
    border-top: none;
    box-shadow: none;
}
.form-control.disabled, .form-control:disabled {
    background-color: #e9e9e9;
    color: #464547;
    border: solid 1px #cccccc;
}
.form-control.invalid {
    background-color: rgba(243, 108, 74, 0.2);
    box-shadow: 0 0 2px 0 rgba(255, 49, 33, 0.7);
    border: solid 1px #ff3222;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #d8f3f7;
}
.has-error .form-control, .has-error .form-control:focus {
    color: #393939;
    box-shadow: 0 0 2px 0 rgba(255, 49, 33, 0.7);
    border: solid 1px #ff3222;
}

.btn-add {
    font-size: 13px;
    color: #1a9cb0;
    background-color: #ffffff;
    border: solid 1px #1a9cb0;
}
.btn-add:hover {
    color: #fff;
    border: solid 1px transparent;
    background-color: #39c2d7;
}
.btn-add:active:hover {
    color: #fff;
    background-color: #1a9cb0;
    border: solid 1px transparent;
}
.btn-add.disabled, .btn-add:disabled {
    background-color: #f5f5f5;
    border: solid 1px #e9e9e9;
    color: #999999;
}

/* --------------------------- */
