/*-------------------------*/
/* REMINDER FOR USE MIXINS */

// @mixin rpBtnStyle($txtColor, $bgColor, $brColor, $boxShadow);
// @mixin setFontStyle($fontSize, $lineHeight, $color, $textTransform);

/*-------------------*/
/* CONSTANTS FOR USE */

// $COLOR--white-default: #ffffff;
//       $COLOR--gray-80: #cccccc;
//       $COLOR--gray-47: #777777;
//       $COLOR--gray-91: #e9e9e9;
//             $COLOR---: #464547;
//             $COLOR---: #393939;

/*---------------*/
/* WITH DROPDOWN */

.rp-btn {
    &.rp-btn-with-dropdown {
        @include rpBtnStyle(
            #464547,
            $COLOR--white-default,
            $COLOR--gray-80,
            none
        );
        padding: 0px 25px 0px 11px;
        width: 100%;
        text-align: left;
        word-break: break-word;
        word-wrap: break-word;
        white-space: nowrap;

        &:hover {
            @include rpBtnStyle(
                #464547,
                $COLOR--white-default,
                $COLOR--gray-47,
                none
            );
        }

        &:disabled,
        &[disabled="disabled"],
        &[disabled],
        &.disabled {
            @include rpBtnStyle(
                #464547,
                $COLOR--gray-91,
                $COLOR--gray-80,
                none
            );
            cursor: no-drop;
        }

        span {
            &.select-value {
                position: relative;
                display: inline-block;
                font-family: $OpenSansRegular;
                @include setFontStyle(13px, 28px, #393939, false);
                margin: 0;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &.caret,
            &.rp-caret {
                position: absolute;
                right: 12px;
                top: 14px;
                color: #464547;
            }
        }
    }
}
