.field-title {
  width: 140px;
  min-width: 162px;
  padding-right: 30px;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
    margin-bottom: 8px;
    padding: 0;
    text-align: left;
  }
}

.field-wrapper {
  width: 280px;
  padding: 0;
  margin: 0;
  @media (max-width: $SCREEN_XS_MAX) {
    max-width: 100%;
    margin-bottom: 8px;
  }
}

.text-area-container {
  align-items: flex-start;
}

.text-area-label {
  min-width: 162px;
  padding-right: 30px;
  padding-top: 5px;
}
