/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.markdown-editor .CodeMirror {
  .CodeMirror-lines {
    padding: 0;
  }
}
.markdown-viewer, .markdown-editor .CodeMirror .CodeMirror-code, .markdown-editor .editor-preview {
  font-family: $FontMonacoMonospace;
  color: $COLOR--charcoal-grey;
  font-size: 12px;
  .cm-header-1, h1 {
    font-size: 18px;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: normal;
  }
  .cm-header-2, h2 {
    font-size: 16px;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: normal;
  }
  .cm-header-3, h3 {
    font-size: 14px;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: normal;
  }
  .cm-header {
    display: inline-block;
  }

}
.markdown-viewer, .markdown-editor .editor-preview {
  word-wrap: break-word;
  word-break: normal;
  pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    background: #eee;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    padding: 10px;
  }
  img {
    max-width: 100%;
  }
}
.markdown-viewer {
  overflow: hidden;
}
