.permission-map {
  width: 850px;
  margin-left: -425px;
  transition: margin-top 450ms ease-in, opacity 450ms ease-in;
  @media (max-width: $SCREEN-MD_MAX) {
    width: 800px;
    margin-left: -400px;
  }
  @media (max-width: $SCREEN-SM_MAX) {
    width: 750px;
    margin-left: -375px;
  }
  @media (max-width: $SCREEN-XS_MAX) {
    width: 100%;
    margin-left: 0;
    right: 0;
    left: 0;
  }
}
