.date-field {
  :global {
    .react-datepicker-wrapper,
    .react-datepicker__input-container {
      width: 100%;
    }
  }
}

.date-input {
  height: 30px;
  width: 100%;
  line-height: 25px;
  box-sizing: border-box;
  border: 1px solid $COLOR--gray-80;
  padding: 0 5px;
  outline: none;
  box-shadow: none;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  cursor: pointer;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  /* stylelint-disable */
  &[disabled] {
    background-color: $COLOR--gray-91;
  }
  /* stylelint-enable */

  &:hover {
    border-color: $COLOR--gray-47;
  }
  &:focus {
    background-color: inherit;
    border-color: $COLOR--topaz;
    box-shadow: 0 0 2px 0 rgba($COLOR--topaz, 0.7);
  }

  @media (max-width: $SCREEN_XS_MAX) {
    background-color: $COLOR--gray-91;
  }
}
