<div class="widget-wrapper">
    <div class="info-block"><%- data.text.launches.launchName %>: <span><%- data.lastLaunch[0].name %></span></div>
        <div class="items-table">
            <div class="scroll-wrapper" data-js-scroll-table>
                <div class="table-header">
                     <div class="col col-name"><%- data.text.widgets.testCase %></div>
                     <div class="col col-status"><%- data.text.widgets.status %></div>
                     <div class="col col-duration"><%- data.text.widgets.duration %></div>
                     <div class="col col-start"><%- data.text.widgets.startTime %></div>
                </div>
                <div class="table-body" data-js-items-container>

                </div>
        </div>
    </div>
</div>
