.name {
  color: $COLOR--charcoal-grey;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.name-row {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $FONT-SEMIBOLD;
  font-size: 14px;
}

.id {
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }
}

.location {
  display: flex;
  justify-content: space-between;
  white-space: pre-line;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }
  padding-right: 10px;
}

.tags {
  padding-left: 30px;
}

.tag {
  padding-left: 8px;
  padding-right: 5px;
}
.copy {
  flex-grow: 0;
  flex-shrink: 0;
  float: right;
  height: 16px;
  width: 16px;
  padding: 0;  
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  stroke: $COLOR--gray-60;
  &:hover {
    stroke: $COLOR--black-2;
  }
}

.label {    
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 1.2;
  color: $COLOR--charcoal-grey;
  padding-bottom: 10px;
}
