.breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: $COLOR--charcoal-grey;
  word-break: break-word;
  line-height: 18px;

  .list-view-icon {
    display: inline-block;
    padding-right: 5px;
    width: 20px;
    height: 20px;
  }
}
