.breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: $COLOR--charcoal-grey;
  min-width: 15px;
  line-height: 18px;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }

  .list-view-icon {
    display: inline-block;
    padding-right: 5px;
    width: 20px;
    height: 20px;
    margin-top: 1px;
  }
}
