.breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: $COLOR--charcoal-grey;

  .list-view-icon {
    display: inline-block;
    padding-right: 5px;
    width: 20px;
    height: 20px;
  }
}

.breadcrumb:nth-child(even) {
  display: block;
  word-wrap: break-word;
  width: 27.5%;
}

@media screen and (max-width: 425px) {
  .breadcrumb:nth-child(even) {
    width: 18.5%;
  }
}
