## IDE
*/**/.idea/
.idea/
*.ipr
*.iml
*.iws
*.log
.vscode
.devcontainer
.scannerwork
.cursor

## Compiled
build/
*/**/build/
*/**/sl_instrumented/
.gradle/

## Coverage
coverage

## Binaries
bin/

## Vendor
vendor/*/
!vendor/vendor.json

## Data
data/

## Release dir
release/
