build/
*/**/build/
*/**/sl_instrumented/
.gradle/

*/**/.idea/
.idea/
*.ipr
*.iml
*.iws
*.log
.vscode

coverage

## Binaries
bin/

##Vendor
vendor/*/
!vendor/vendor.json

## Data
data/

##Release dir
release/
