.header-cell {
  position: sticky;
  top: 0;
  z-index: $Z_INDEX-GRID_HEADER;
  display: table-cell;
  color: $COLOR--gray-47;
  background-color: $COLOR--white;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  vertical-align: middle;

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    padding-right: 15px;
  }

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  .title-short {
    display: none;
  }

  @media(max-width: $SCREEN_XL_MAX) {
    .title-full {
      display: none;
    }
    .title-short {
      display: inline;
    }
  }

  .title-container {
    position: relative;
    display: inline-block;
  }

  .arrow {
    display: none;
    position: absolute;
    width: 7px;
    top: -2px;

    svg {
      fill: $COLOR--gray-47;
      transform: translateX(3px);
    }
  }

  &.sortable {
    &.sorting-asc {
      .arrow {
        svg {
          transform: translateX(3px) rotate(180deg);
        }
      }
    }
    .title-container {
      &:hover {
        cursor: pointer;

        .arrow {
          display: inline-block;
        }
      }
    }
  }

  &.sorting-active {
    .arrow {
      display: inline-block;
    }
  }

  .filter {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    left: -15px;

    svg {
      fill: rgba($COLOR--gray-47, .5);
    }

    &:hover {
      svg {
        fill: $COLOR--topaz;
      }
    }
  }

  &.with-filter:hover {
    .filter {
      display: block;
    }
  }
}
