.ldap-auth-config {
  width: 100%;
  max-width: 850px;
  .title-block {
    position: relative;
    width: calc(100% - 65px);
    height: 30px;
    margin-left: 65px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: $COLOR--white-four;
    font-family: $OpenSansSemibold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    color: $COLOR--charcoal-grey;

    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }

    .beta-badge {
      top: 3px;
      left: 43px;
    }
  }
  .rp-form {
    .switcher-field {
      .beta-badge {
        top: 3px;
        left: 120px;
        @media (min-width: $SCREEN_SM_MIN) {
          display: none;
        }
      }
      .ldap-auth-state-mobile {
        display: block;
        width: 100%;
        height: 30px;
        clear: both;
        border: solid 1px $COLOR--gray-80;
        background-color: $COLOR--gray-91;
        padding: 5px 0 0 9px;

        @media (min-width: $SCREEN_SM_MIN) {
          display: none;
        }
      }
    }
    .config-fields {
      .rp-field {
        .dropdown-container {
          width: 55%;
          float: left;

          @media (max-width: $SCREEN_XS_MAX) {
            width: 100%;
          }
        }
        &.ldap-url-field {
          .ldap {
            position: absolute;
            background-color: $COLOR--gray-91;
            width: 90px;
            height: 28px;
            left: 271px;
            top: 1px;
            border-right: 1px solid $COLOR--gray-80;
            text-align: center;
            line-height: 28px;
            button.rp-btn{
              border: none;
              height:28px;
              min-height: 28px;
              background-color: #e9e9e9;
            }
            @media (max-width: $SCREEN_XS_MAX) {
              width: auto;
              top: 19px;
              left: 1px;
              border: none;
              .rp-btn.rp-btn-with-dropdown{
                padding: 0px 0px 0px 11px;
                .rp-caret{
                  display: none;
                }
              }
            }
          }
          .rp-input {
            padding-left: 100px;

            @media (max-width: $SCREEN_XS_MAX) {
              padding-left: 57px;
            }
          }
        }
      }
    }
  }
}
