.launch-controls {
  top: -4px;
  right: 105px;
}
.zoom-container{
  position: relative;
}
.attr-header,
.component-header {
  padding: 10px 10px;
  background: $COLOR--white;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
