.launch-controls {
  top: -4px;
  right: 105px;
}
.zoom-container{
  position: relative;
}
.attr-header {
  padding: 10px 10px;
  background: $COLOR--white;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.add-level {
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--topaz;
  cursor: pointer;
}
.attr-selector {
  display: inline-block;
  width: calc(100% - 25px);
}
.remove-icon {
  width: 10px;
  display: inline-block;
  margin-left: 15px;
  line-height: 30px;
  cursor: pointer;
  vertical-align: top;
}
