.switcher-label {
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  color: $COLOR--gray-47;
  text-transform: uppercase;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }
}
.separator {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 0;
  border-right: 1px solid $COLOR--gray-91;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }
}
.mobile-label {
  margin-right: 10px;
  display: none;
  text-transform: uppercase;
  vertical-align: top;
  line-height: 20px;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  color: $COLOR--gray-47;

  @media (max-width: $SCREEN_SM_MAX) {
    display: inline-block;
  }
}
.switcher-wrapper {
  max-width: 60px;
  height: 20px;
  display: inline-block;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 20px;
  }
}
