.test-parameters {
  width: 100%;
}

.row {
  box-sizing: border-box;
  border-bottom: 1px solid $COLOR--gray-91;
  height: 25px;
}

.header-cell {
  color: $COLOR--gray-47;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  height: 17px;
  text-transform: uppercase;
  vertical-align: middle;
}

.cell {
  color: $COLOR--charcoal-grey;
  font-size: 12px;
  line-height: 1.67;
  vertical-align: middle;
}
