<div class="dashboard-content">
    <div class="name-wrapper">
        <p data-js-name></p>
        <div class="icons-block">
            <i class="material-icons close-icon" data-js-remove>close</i>
            <i class="material-icons" data-js-edit>settings</i>
        </div>
    </div>
    <div class="description-wrapper">
        <p data-js-description></p>
    </div>
    <div class="icons-wrapper">
        <div data-js-shared-container>
            <i class="material-icons" data-js-share-icon>share</i>
            <i class="material-icons" data-js-global-icon>public</i>
            <span data-js-icon-description></span>
        </div>
    </div>
</div>
