$COLOR--gray: #ebeef0;
$COLOR--white: #ffffff;
$COLOR--white-two: #e9e9e9;
$COLOR--silver: #bdc7cc;
$COLOR--silver-two: #e5e9eb;

$COLOR--steel-grey: #6f898d;
$COLOR--charcoal-grey: #464547;
$COLOR--warm-grey: #999999;
$COLOR--gunmetal: #516366;
$COLOR--pale-grey-two: #eef1f2;
$COLOR--pale-grey-three: #ebeef0;

$COLOR--tealish: #39c2d7;
$COLOR--light-teal: #97dee8;
