.last-launch {
  height: 180px;
  padding-top: 10px;
  display: flex;
  justify-content: center;

  & > div:not(.no-data-wrapper) {
    display: flex;
    margin-top: -100px;
    height: 300px;
    max-width: 400px;
    width: 100%;
  }
}

.no-data-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
}
