.project-activity {
  height: 100%;
  overflow: hidden;
  .widget-wrapper {
    height: 100%;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .row-content {
    display: flex;
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px dotted $COLOR--gray-60;
    font-size: 13px;
    line-height: 20px;
    color: $COLOR--black-2;
  }

  .avatar {
    box-sizing: border-box;
    width: 40px;
    height: 50px;
    padding: 2px;
    border: 1px solid $COLOR--gray-80;
    background-color: $COLOR--white-two;
  }

  .activity-wrapper {
    margin-left: 15px;
  }

  .time {
    display: block;
    color: $COLOR--gray-47;
    font-size: 13px;
  }
  .day-title {
    font: 13px/13px $FONT-SEMIBOLD, sans-serif;
    color: $COLOR--gray-60;
    padding: 10px 0 0;
    margin: 10px 0;
  }
}
