.plugins-wrapper {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.plugins-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 830px;
}

.plugins-content {
  width: 100%;
}
