.connection-section {
  width: 100%;
  max-width: 375px;
  margin-right: 10px;

  @media (max-width: $SCREEN_XS_MAX) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.block-header {
  margin-bottom: 20px;
  color: $COLOR--black-2;
  font-size: 20px;
  font-family: $FONT-SEMIBOLD;
}

.connection-status-block {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  background-color: $COLOR--white-four;
  font-size: 13px;
  font-family: $FONT-SEMIBOLD;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
  }
}

.connection-status {
  display: inline-flex;
  align-items: center;
  color: $COLOR--passed;
}

.failed-connection-message {
  margin-top: 10px;
  margin-left: 25px;
  color: $COLOR--brownish-grey;
  font-size: 12px;
  line-height: 1.5;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }
}

.status-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;

  svg {
    fill: $COLOR--passed;
  }
}

.connection-failed {
  background-color: $COLOR--light-red;

  .connection-status {
    color: $COLOR--orange-red;
  }

  .status-icon {
    transform: rotate(180deg);

    svg {
      fill: $COLOR--orange-red;
    }
  }
}

.auth-info-block {
  margin-top: 5px;
}

.connection-block-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  padding: 0;
  border: none;
  background: none;
  color: $COLOR--topaz;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  cursor: pointer;

  &:hover {
    color: $COLOR--tealish;
    svg {
      fill: $COLOR--tealish;
    }
  }

  &:focus {
    outline: none;
  }

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.button-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;

  svg {
    fill: $COLOR--topaz;
  }
}
