/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.post-news-component {
  position: absolute;
  width: 100%;
  bottom: 0;

  .caption {
    width: 100%;
    height: 24px;
    padding-left: 25px;
    margin-bottom: 20px;
    line-height: 24px;
    font-family: $OpenSansRegular, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #6f898d;
    background-image: url('../img/login/socials/twitter-gray.png');
    background-repeat: no-repeat;
    background-position: 45px 50%;
  }
}
