.name-col {
  width: 30%;
  padding: 15px;
  box-sizing: border-box;

  &:hover {
    .pencil-icon {
      display: inline-block;
    }
  }
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 25px 15px 15px 15px;
  }
}
.options-col {
  width: 30%;
  padding: 15px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.owner-col {
  width: 13%;
  padding: 15px;
  line-height: 20px;
  box-sizing: border-box;
  word-break: break-all;
  font-size: 13px;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 8px;
    text-align: left;
  }
}
.owner-label {
  vertical-align: unset;
}
.mobile-label {
  margin-right: 10px;
  display: none;
  text-transform: uppercase;
  vertical-align: top;
  line-height: 20px;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  color: $COLOR--gray-47;

  @media (max-width: $SCREEN_SM_MAX) {
    display: inline-block;
  }
}
.shared-col {
  width: 8%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 8px;
    text-align: left;
  }
}
.delete-col {
  width: 8%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: $SCREEN_SM_MAX) {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px 0;
    text-align: left;
  }
}
.display-col {
  width: 11%;
  height: 20px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: left;
  }
}
