<form class="rp-form">
    <label class="form-group">
        <span>Filter name</span>
        <input class="rp-input" placeholder="Enter Filter Name" type="text" data-js-name-input>
        <span class="validate-hint"></span>
    </label>
    <label>
        <span>Description</span>
        <textarea class="rp-input" placeholder="Enter Filter Description" data-js-description></textarea>
    </label>
    <label class="share-label modal-field form-group">
        <span><%= data.text.filter.share %></span>
        <label class="rp-switcher-big">
            <span class="turn-on"><%= data.text.ui.on %></span>
            <span class="turn-off"><%= data.text.ui.off %></span>
            <input type="checkbox" data-js-is-shared>
            <div class="slider"></div>
        </label>
    </label>
</form>
