.attributes-block {
  display: inline;
}
.attributes-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  margin-right: 5px;
  background-image: url(common/img/attributes-icon.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 18px;
    height: 18px;
    vertical-align: top;
  }
}
.attribute {
  display: inline-block;
  font-family: $FONT-REGULAR;
  font-size: 12px;
  color: $COLOR--gray-60;
  text-decoration: none;
  margin-right: 3px;
  word-break: break-all;
  word-wrap: break-word;

  &:hover {
    color: $COLOR--charcoal-grey;
  }

  &.cursor {
    cursor: pointer;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    font-size: 14px;
  }
}
