.mobile-header{
  height: 60px;
  background: $COLOR--charcoal-grey;
  width: 100%;
  display: none;
  @media(max-width: $SCREEN_XS_MAX) {
    display: block;
  }
}
.button-menu-open{
  position: relative;
  width: 50px;
  height: 60px;
  padding: 20px 10px 20px 10px;
  background: $COLOR--charcoal-grey;
  border: none;
  outline: none;
}
.menu-icon-part{
  width: 100%;
  height: 3px;
  background: $COLOR--white-two;
  margin-bottom: 5px;
  display: block;
}
.mobile-logo{
  background-image: url('./img/logo_small.svg');
  width: 150px;
  height: 60px;
  left: 50%;
  position: absolute;
  margin-left: -65px;
  background-position: center;
  background-repeat: no-repeat;
}
.open{
  @media(max-width: $SCREEN_XS_MAX) {
     .mobile-header{
      transform: translate(200px, 0);
      transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
    .sidebar{
      left:0;
      transform: translate(0, 0);
      transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
.sidebar{
  width: 90px;
  left:0;
  position: absolute;
  box-shadow: none;
  top: 0;
  bottom: 0;
  background: $COLOR--charcoal-grey;
  color: $COLOR--gray-80;
  z-index: 100;
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  &::before{
    content: url('./img/rp_logo.png');
    display: block;
    height:44px;
    padding-top: 16px;
    text-align: center;
    @media(max-width: $SCREEN_XS_MAX) {
      content: '';
    }
  }
  @media(max-width: $SCREEN_SM_MAX) {
    width: 60px;
  }
  @media(max-width: $SCREEN_XS_MAX) {
    width: 200px;
    left: -200px;
   }
}
.bottom-section{
  position: absolute;
  bottom: 0;
  display: none;
  @media(max-width: $SCREEN_XS_MAX) {
    display: block;
  }
}
