.cell {
  position: relative;
  display: table-cell;
  padding: 15px;
  vertical-align: top;
  color: $COLOR--charcoal-grey;
  font-size: 13px;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 0;
    &:empty {
      display: none;
    }
  }
}
.with-button {
  i {
    cursor: pointer;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    height: auto;
    padding: 10px;
    display: none;
  }
}
.delete {
  width: 6.5%;
  i {
    display: block;
  }
  padding: 15px 0;
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
  }
}
.icon-holder {
  border-left: 1px solid $COLOR--gray-91;
  min-height: 20px;
}
