@mixin font-config($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin message-headers($color) {
  color: $color;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.system-message-container {
  min-height: 104px;
  height: auto;
  width: 100%;
  background: $COLOR--bg-000;
  border-radius: 8px;
  font-family: $FONT-ROBOTO-REGULAR;
  box-shadow: 0px 1px 3px rgba(55, 67, 98, 0.1);
  display: flex;
  flex-direction: column;
  align-items: space-between;

  img {
    height: 8px;
  }

  .text-container {
    padding: 12px 16px 16px;

    .message-header-info {
      @include message-headers($COLOR--e-400);
    }

    .message-header-warning {
      @include message-headers($COLOR--warning-message);
    }

    .message-header-error {
      @include message-headers($COLOR---system-error-message);
    }

    h2 {
      margin-bottom: 4px;
      text-indent: 1px;
      @include font-config(700, 13px, 16px, $COLOR--almost-black);
    }

    p {
      @include font-config(400, 11px, 16px, $COLOR--e-400);
    }
  }
}
