/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.launches-table-panel {
  position: relative;
  height: 100%;

  &.launches-table-mobile {
    .si-sort {
      padding-left: 27px;
    }
    .col-xs-1.investigated {
      margin-left: -14px;
    }

    .rp-table-thead {
      font-size: 12px;
    }
    .rp-table-row .statistics-block {
      position: relative;
      float: left;
      height: 100%;
      margin-bottom: 20px;
    }

    .hidden-xs {
      display: none !important;
    }

    .launch-suite-defects {
      display: none;
    }

    .col-xs-11.col-sm-3 {
      width: 91.66666667%;
    }

    .filter-tb-td {
      padding: 0 0 0 4px;
      text-align: left;
    }
    .ftp-cols {
      padding: 0 15px;
    }

    .col-xs-6 {
      width: 50%;
    }

    .rp-info.rp-colors {
      margin: 0 0 8px;
    }

    .name-wrapper {
      padding: 0;
    }

    .col-xs-4.col-sm-2 {
      width: 33.33333333%;
    }

    .col-xs-12 {
      width: 100%;
    }
    .visible-xs-inline,
    .visible-xs {
      display: inline !important;
    }
    .hidden-xs-inline,
    .hidden-xs {
      display: none !important;
    }
    .rp-info.rp-colors:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 12px;
      height: 100%;
    }
    .rp-mobile-padding {
      padding: 0 15px !important;

    }
    .rp-info.rp-colors {
      padding-bottom: 1%;
      padding-top: 1%;
      text-align: center;
    }
    .rp-info.total:before {
      background-color: #489beb;
    }
    .rp-info.passed:before {
      background-color: #87b87f;
    }
    .rp-info.pb:before {
      background-color: #e93416;
    }
    .rp-info.failed:before {
      background-color: #f16a50;
    }
    .rp-info.ab:before {
      background-color: #f5d752;
    }
    .rp-info.skipped:before {
      background-color: #bdc7cc;
    }
    .rp-info.si:before {
      background-color: #2273cd;
    }
    .rp-info.ti:before {
      background-color: #FFB752;
    }
    .to_investigate-table-cell {
      width: 100%;
      position: relative;
      text-align: left;
      margin-top: -13px;
      margin-left: -6px;
    }
    .cases-view.TO_INVESTIGATE {
      display: inline-block;
    }
  }

  .rp-grid-thead {
    background: $COLOR--white;
    border-bottom: solid 1px $COLOR--gray-91;
    border-top: solid 1px $COLOR--gray-91;
    .rp-grid-th {
      height: 50px;
      text-transform: uppercase;
      font-size: 12px;
      color: $COLOR--gray-47;
      padding: 0;
      position: relative;
      .rp-grid-th-name {
        font-family: $OpenSansSemibold;
        @extend %VERTICAL_CENTER;
      }
    }
  }

  .rp-table-row {
    padding: 0;

    .statistics-block {
      position: absolute;
      top: 13px;
      right: 0;
      width: 100%;
      height: 0;
      @media (max-width: 887px) {
        position: relative;
        float: left;
        height: 100%;
        margin-bottom: 20px;
      }

      .empty-coll {
        min-height: 1px;
      }
    }
    .overflow-wrapper {
      position: relative;
      padding: 13px 0;
      //max-height: 200px;
      overflow: hidden;
      @extend %CLEAR_FIX;
      .accordion-arrow {
        position: absolute;
        display: block;
        top: -10px;
        right: 5px;
        padding: 10px;
        cursor: pointer;
        display: none;
      }
    }
    &.open {
      .overflow-wrapper {
        max-height: 100%;
        padding-bottom: 27px;
      }
      .accordion-block {
        box-shadow: none !important;
        i {
          display: none;
        }
        i.little {
          display: inline-block;
        }
      }
    }

    .accordion-block {
      transition: background-color .2s ease 0s, box-shadow .2s ease 0s;
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      text-align: center;
      font-size: 19px;
      box-shadow: 0 0px 20px 15px white;
      i {
        position: relative;
        color: $COLOR--gray-60;
        padding: 0 75px 8px 55px;
        width: 20px;
        display: inline-block;
        cursor: pointer;
        &:before, &:after {
          position: absolute;
          content: '';
          top: 7px;
          width: 50px;
          border-top: 2px dotted $COLOR--gray-60;
        }
        &:before {
          left: 0px;
        }
        &:after {
          right: 0px;
        }
        &:hover {
          color: $COLOR--charcoal-grey;
          &:after, &:before {
            border-color: $COLOR--charcoal-grey;
          }
        }
        &.little {
          display: none;
        }
      }
    }
    &.show-accordion {
      .accordion-block {
        display: block;
      }
    }
    &:hover {
      background: $COLOR--tealish-light;
      .accordion-block {
        background: $COLOR--tealish-light;
        box-shadow: 0 0 20px 15px $COLOR--tealish-light;
      }
    }

    .rp-grid-description {
      margin: 4px 0 0 1px;
    }
    .rp-grid-name {
      padding: 0;
      margin: 0 0 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $OpenSansSemibold;
      line-height: 1.4;
      a {
        text-decoration: none;
        color: $COLOR--windows-blue;
      }
    }
    .rp-grid-tags {
      margin-top: 6px;
      font-size: 12px;
      line-height: 18px;
      & > li {
        display: inline-block;
        margin: 0 17px 2px 2px;
        color: #999999;
        a {
          color: $COLOR--gray-60;
          cursor: pointer;
          &:hover {
            color: $COLOR--charcoal-grey;
          }
        }
        i {
          vertical-align: top;
          font-size: 18px;
          &.rp-icons-ticket {
            font-size: 12px;
            margin-top: 2px;
          }
        }
      }
    }
    .rp-ti-badge {
      display: inline-block;
      color: $COLOR--white-default;
      font-family: $OpenSansSemibold;
      padding: 0 10px;
      line-height: 19px;
      border-radius: 10px;
      cursor: pointer;
    }
    .launch-suite-defects {
      .defects-tooltip {
        left: auto;
        right: 0;
        display: none;
      }
      &:hover {
        .defects-tooltip {
          display: block;
        }
      }

    }
  }
  .ftp-cols {
    padding: 0 15px 0 0;
    .hoverFullTime,
    .filter-tb-td {
      padding-top: 2px;
    }
  }
  .mobile-disabling-cover {
    @extend %MOBILE_DISABLING_COVER;
  }
}
