/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.launches-table-panel {
  position: relative;
  margin: -15px;
    .rp-grid-thead {
        background: $COLOR--white;
        border-bottom: solid 1px $COLOR--gray-91;
        border-top: solid 1px $COLOR--gray-91;
        .rp-grid-th {
            height: 50px;
            text-transform: uppercase;
            font-size: 12px;
            color: $COLOR--gray-47;
            padding: 0;
            position: relative;
            .rp-grid-th-name {
              font-family: $OpenSansSemibold;
              @extend %VERTICAL_CENTER;
            }
        }
    }
    .rp-grid-description {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        font-size: 13px;
        margin: 4px 0 0 1px;
    }
    .rp-grid-name {
        padding: 0;
        margin: 0 0 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $OpenSansSemibold;
        line-height: 1.4;
        a {
            text-decoration: none;
            color: $COLOR--windows-blue;
        }
    }
    .rp-grid-tags {
        margin-top: 6px;
        font-size: 12px;
        line-height: 18px;
        & > li {
            float: left;
            display: inline-block;
            margin: 0 17px 2px 2px;
            color: #999999;
            a {
                color: $COLOR--gray-60;
                cursor: pointer;
                &:hover {
                    color: $COLOR--charcoal-grey;
                }
            }
            i {
                vertical-align: top;
                font-size: 18px;
                &.rp-icons-ticket {
                    font-size: 12px;
                    margin-top: 2px;
                }
            }
        }
    }
    .rp-ti-badge {
        display: inline-block;
        color: $COLOR--white-default;
        font-family: $OpenSansSemibold;
        padding: 0 10px;
        line-height: 19px;
        border-radius: 10px;
        cursor: pointer;
    }
    .launch-suite-defects {
        .defects-tooltip {
            left: auto;
            right: 0;
            display: none;
        }
        &:hover {
            .defects-tooltip {
                display: block;
            }
        }

    }
    .ftp-cols {
        padding: 0 15px 0 0;
        .hoverFullTime,
        .filter-tb-td {
            padding-top: 2px;
        }
    }
  .mobile-disabling-cover {
    @extend %MOBILE_DISABLING_COVER;
  }
}
