.investigated-trend-chart {
  .widget-wrapper {
    svg {
      .c3-xgrid-focus {
        display: none;
      }
      .c3-grid {
        line {
          stroke: $COLOR--gray-80;
          stroke-dasharray: none;
        }
      }
      .c3-axis {
        .c3-axis-y-label {
          font-family: $OpenSansRegular;
          fill: $COLOR--charcoal-grey;
          font-size: 12px;
        }
        .tick {
          font-family: $OpenSansRegular;
          fill: $COLOR--charcoal-grey;
        }
        &.c3-axis-y {
          .domain {
            display: none;
          }
          .tick {
            line {
              stroke: $COLOR--gray-80;
            }
          }
        }
        &.c3-axis-x {
          .domain {
            stroke: $COLOR--gray-80;
          }
          .tick {
            line {
              display: none;
            }
          }
        }
      }
    }
    .c3-tooltip-container {
      max-width: 215px;
      background-color: $COLOR--white-default;
      padding: 5px 10px 5px 10px;
      border: solid 1px $COLOR--gray-80;
      border-radius: 2px;
      font-size: 13px;
      white-space: nowrap;
      font-family: $OpenSansRegular;

      .launch-name {
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: $OpenSansSemibold;
      }
      .launch-start-time {
        width: 100%;
      }
      .item-wrapper {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        .color-mark {
          width: 12px;
          height: 12px;
          display: inline-block;
          top: 1px;
          border-radius: 100%;
          position: relative;
        }
        .item-name {
          display: inline-block;
          position: relative;
          top: 3px;
          max-width: 110px;
          height: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 14px;
        }
        .item-cases {
          display: inline-block;
          position: relative;
          height: 13px;

          span {
            &:first-child {
              font-family: $OpenSansSemibold;
            }
          }
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-top: 6px solid $COLOR--white-default;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -7px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $COLOR--gray-80;
      }
    }

    .legend {
      position: absolute;
      padding: 20px 20px 0 20px;
      overflow: hidden;
      top: 0;
      width: 100%;
      height: 85px;
      text-align: right;

      span {
        display: inline-block;
        position: relative;
        padding-left: 17px;
        margin-right: 15px;
        margin-bottom: 10px;
        height: 15px;
        max-width: 150px;
        overflow: hidden;
        font-family: $OpenSansRegular;
        font-size: 11px;
        color: $COLOR--charcoal-grey;
        line-height: 15px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: left;
        cursor: pointer;

        .color-mark {
          position: absolute;
          top: 2px;
          left: 0;
          width: 12px;
          height: 12px;
          float: left;
          border-radius: 100%;

          &:before {
            display: none;
            content: '';
            background-color: $COLOR--white-default;
            width: 8px;
            height: 8px;
            position: absolute;
            left: 2px;
            top: 2px;
            border-radius: 100%;
          }
          &.unchecked:before {
            display: block;
          }
        }
      }
      .legend-gradient {
        display: none;
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-right: 10px;
        margin-left: 10px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $COLOR--white-default);

        .legend-border {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid $COLOR--gray-91;

        }
      }
      ._scrollbar_vertical + .legend-gradient {
        display: block;
      }
    }
  }

  &.timeline-mode {
    .widget-wrapper {
      .c3-tooltip-container {
        .launch-name {
          display: none;
        }
        .launch-start-time {
          font-family: $OpenSansSemibold;
        }
      }
    }
  }
}
