.project-info-chart {
  width: 100%;
  height: 300px;
  padding-top: 10px;

  svg {
    .c3-grid {
      line {
        stroke: $COLOR--gray-80;
        stroke-dasharray: none;
      }
    }
    .c3-axis {
      .c3-axis-x-label {
        font-family: $OpenSansRegular;
        fill: $COLOR--charcoal-grey;
        font-size: 12px;
      }
      .tick {
        font-family: $OpenSansRegular;
        fill: $COLOR--charcoal-grey;
      }
      &.c3-axis-y {
        .domain {
          display: none;
        }
        .tick {
          line {
            stroke: $COLOR--gray-80;
          }
        }
      }
      &.c3-axis-x {
        .domain {
          stroke: $COLOR--gray-80;
        }
        .tick {
          line {
            display: none;
          }
        }
      }
    }
  }
  .c3-tooltip-container {
    max-width: 215px;
    background-color: $COLOR--white-default;
    padding: 5px 10px 5px 10px;
    border: solid 1px $COLOR--gray-80;
    border-radius: 2px;
    font-size: 13px;
    white-space: nowrap;
    font-family: $OpenSansRegular;

    .period {
      font-family: $OpenSansSemibold;
    }
    .count-block {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .count {
        font-family: $OpenSansSemibold;
      }
      .measure {
      }
    }
    .rate-block {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .color-mark {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
        border-radius: 100%;
        top: 1px;
        margin-right: 3px;
      }
      .rate-name {
      }
      .percentage {
        font-family: $OpenSansSemibold;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-top: 6px solid $COLOR--white-default;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -7px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $COLOR--gray-80;
    }
  }

  &.percentage-of-defects {
    svg {
      .c3-chart {
        .c3-chart-line {
          .c3-lines {
            display: none;
          }
          .c3-areas {
            .c3-area {
              pointer-events: all !important;
              opacity: 1 !important;
              cursor: pointer;

              &:hover {
                opacity: 0.8 !important;
              }
            }
          }
          .c3-circles {
            pointer-events: all !important;
          }
        }
        .c3-event-rects {
          pointer-events: none;
        }
      }
    }
  }
}
