/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */


.rp-projects-list-header {
    padding: 20px 5px;
    margin: 0 -15px;
    border-bottom: 1px solid $COLOR--gray-91;

    .projects-list-search {
        margin: 0;
        position: relative;
    }
    .sort-projects-list {
        .sort-label {
            max-width: none;
            font-weight: normal;
            padding: 0 16px 0 30px;
            margin: 0;
        }
        .rp-btn.rp-btn-default-revers {
            min-width: 120px;
            border: 1px solid $COLOR--gray-80;
            box-shadow: none;
            color: $COLOR--charcoal-grey;
            background: $COLOR--white-default;
            &.active {
                background: $COLOR--gray-91;
                border: 1px solid $COLOR--gray-91;
            }
        }
    }
    .projects-view-switcher {
        padding: 0;

        .projects-view {
            width: 34px;
            height: 24px;
            font-size: 24px;
            line-height: 24px;
            min-width: 24px;
            min-height: 24px;
            padding: 1px;
            margin: 0;
            box-shadow: none;
            opacity: 0.5;
            box-sizing: content-box;

            &.active {
                opacity: 1;
            }

            &.projects-view-table {
                margin-left: -1px;
            }
        }
    }
}
.rp-projects-list-body {
    padding: 0 20px;
    .tab-content {
        margin: 0 -7px;
    }
    .projects-list-loader {
        text-align: center;
        padding-bottom: 20px;
    }
    .projects-table-view {
        padding: 0;
        margin: 0 7px;
        .rp-table-thead {
            background: $COLOR--white;
            .rp-table-th {
                text-transform: uppercase;
                padding: 16px 0;
                color: $COLOR--gray-47;
                font-weight: 600;
                font-size: 12px;
            }
        }

        .project-row {
            position: relative;
            padding: 8px 0;
            border-bottom: 1px solid $COLOR--gray-91;
            border-left: 1px solid $COLOR--gray-91;

            .no-padding {
                padding: 0;
            }
            .project_name {
                font: normal 15px $OswaldRegular;
                text-transform: uppercase;
                color: $COLOR--topaz;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                .name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block;
                    max-width: 100%;
                    position: relative;
                    &.name-label {
                        padding-right: 40px;
                        .label {
                            position: absolute;
                            top: 1px;
                            right: 0;
                        }
                    }
                }
            }
            .project-info {
                padding-top: 10px;
                strong {
                    font-weight: 600;
                }
                font-size: 13px;
            }
            .project-link {
                padding: 6px 0 0;

                color: $COLOR--gray-60;

                &.remove-project {
                    display: inline-block;
                    padding: 10px 0 0;
                }
                &.go-to-project {
                    display: inline-block;
                    i {
                        font-size: 22px;
                    }
                }
                &.assign-to-project {
                    display: none;
                    i {
                        font-size: 20px;
                    }
                }
                i {
                    width: 20px;
                    height: 20px;
                    font-size: 18px;
                    line-height: 20px;

                    &.rp-icons-all-users {
                        font-size: 13px;
                    }
                }
            }
            .projects-table-view-actions {
                padding: 4px 8px;
                border-left: 1px solid $COLOR--gray-91;
                border-right: 1px solid $COLOR--gray-91;


                .projects-table-view-list-item {
                    padding: 0;
                    text-align: center;

                    &.no-assigned .project-link.go-to-project {
                        display: none;
                    }
                    &.no-assigned .project-link.assign-to-project {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .project-item {
        margin-bottom: 14px;

        &[class*='col-']{
            padding: 0 7px;
        }
        .project-wrapper {
            background: $COLOR--white;
            border: 1px solid $COLOR--gray-91;

            .remove-project {
                position:absolute;
                right: 10px;
                top: 10px;
                width: 22px;
                height: 22px;
                font-size: 22px;
                line-height: 22px;
                display: none;
                z-index: 5;
                cursor: pointer;
                i {color: #656565;}
            }
            &:hover .remove-project {
                display: inline-block;
            }

            .project_name {
                margin: 0;
                padding: 12px 22px 12px 12px;
                font: normal 15px $OswaldRegular;
                text-transform: uppercase;
                color: $COLOR--topaz;
                border-bottom: 1px solid $COLOR--gray-91;
                .name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block;
                    max-width: 100%;
                    position: relative;
                    &.name-label {
                        padding-right: 40px;
                        .label {
                            position: absolute;
                            top: 1px;
                            right: 0;
                        }
                    }
                }
            }
            .project_info_wrapper {
                margin: 0;
                background: $COLOR--white-four;
                border-bottom: 1px solid $COLOR--gray-91;
                padding: 10px 0;

                .heartbeat_block {
                    .health_icon {
                        padding-top: 10px;

                        i.rp-icons-heartbeat {
                            font-size: 3.5vw;
                            opacity: 1;
                            color: $COLOR--gray-91;
                        }
                    }
                }
                .project_info_block {
                    font-family: $OpenSansRegular;
                }
                .project_info {
                    padding: 0;
                    margin: 3px 0;
                    font-size: 12px;
                    color: #666;
                    .bold {
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
            }
            .project-link_wrapper {
                background-color: #f1f1f1;
                margin: 0;

                &.no-assigned .project-link.go-to-project {
                    display: none;
                }
                &.no-assigned .project-link.assign-to-project {
                    display: inline-block;
                }

                .project-link {
                    font: normal 15px $OpenSansRegular;
                    text-align: center;
                    color: $COLOR--gray-60;
                    padding: 8px 10px;
                    &.go-to-project {
                        display: inline-block;

                        i {
                            font-size: 22px;
                        }
                    }
                    &.assign-to-project {
                        display: none;
                        i {
                        font-size: 20px;
                        }
                    }
                    i {
                        display: inline-block;
                        margin: 0 auto;
                        width: 20px;
                        height: 20px;
                        font-size: 18px;
                        line-height: 20px;

                        &.rp-icons-all-users {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .rp-projects-list-body {
        .project_info_wrapper .heartbeat_block {
            width: 100%;
            border-right: none;
        }

        .project-wrapper .project-link_wrapper {
            padding: 10px 0;
        }
        .projects-table-view .project-item {
            width: 100%;
            margin: -1px 0 0;
        }

        .projects-table-view .project-item .remove-project {
            top: 13px;
            display: block;
        }

        .projects-table-view .project-item .project_name {
            width: 100%;
            margin: 0;
            padding: 11px 15px;
            border-bottom: none;
        }

        .projects-table-view .project-item .project_info_wrapper {
            width: 100%;
            border-bottom: none;
        }

        .projects-table-view .project-item .project_info_wrapper .heartbeat_block {
            width: 100%;
            padding-top: 11px;
            padding-bottom: 10px;
            border: none;
        }

        .projects-table-view .project-item .project_info_wrapper .health_icon {
            display: none;
        }

        .projects-table-view .project-item .project_info_wrapper .health_index {
            width: 100%;
        }

        .projects-table-view .project-item .project_info_wrapper .project_info_block {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .projects-table-view .project-item .project_info_wrapper .project_info_block:after,
        .projects-table-view .project-item .project-link_wrapper:after {
            content: "";
            display: block;
            clear: both;
        }

        .projects-table-view .project-item .project_info_wrapper .project_info {
            float: left;
            width: 33.3%;
        }

        .projects-table-view .project-item .project-link_wrapper {
            width: 100%;
            padding: 0 15px !important;
            background-color: transparent;
        }
        .projects-table-view .projects-table-view-actions {
            border: none;
        }
        .projects-table-view .project-item .project-link_wrapper .project-link {
            float: left;
            display: block;
            width: 33.3%;
            padding: 5px 0 10px;
            text-align: left;
        }
    }
}

