.widget-wizard {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  transition: opacity 300ms ease-in;
}
:global {
  .modal-backdrop-animation-enter {
    opacity: 0;
  }
  .modal-backdrop-animation-enter-active {
    opacity: 0.3;
  }
  .modal-backdrop-animation-exit {
    opacity: 0.3;
  }
  .modal-backdrop-animation-exit-active {
    opacity: 0;
  }
}
.modal-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  min-height: 685px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: $COLOR--white-two;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: margin-top 300ms ease-in, opacity 300ms ease-in;
}
:global {
  .modal-window-animation-enter {
    opacity: 0;
    margin-top: -100px;
  }
  .modal-window-animation-enter-active {
    opacity: 1;
    margin-top: 10px;
  }
  .modal-window-animation-exit {
    opacity: 1;
    margin-top: 10px;
  }
  .modal-window-animation-exit-active {
    opacity: 0;
    margin-top: -100px;
  }
}
