/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.invitation-fail {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 $COLOR--skipped;
  background-image: url('../../img/registration/invitation-fail.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;

  @media (max-width: 1010px) {
    left: 0px;
    width: 320px;
    background-image: url('../../img/registration/invitation-fail-mobile.png');
  }
}
