.integration-breadcrumbs {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.separator {
  width: 14px;
  height: 14px;
  fill: $COLOR--charcoal-grey;
  flex-shrink: 0;
}
