.row-wrapper {
  position: relative;
  border-left: 4px solid $COLOR--orange-red;
  &.with-accordion {
    padding-bottom: 20px;
  }
}
.row {
  position: relative;
  background-color: $COLOR--light-red;
  padding: 10px;
  font-family: $FONT-MENLO;
  font-size: 11px;
  color: $COLOR--charcoal-grey;
  line-height: 17px;
  font-weight: 400;
  word-break: break-all;
  overflow: hidden;
}
.accordion-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
}
.accordion-block {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: $COLOR--light-red;
  box-shadow: 0 -15px 20px 0px $COLOR--light-red;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;

  &.expanded {
    box-shadow: none;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    bottom: 120px;
  }
}
.accordion-toggler {
  width: 130px;
  height: 7px;
  margin: 0 auto;
  background-image: url(common/img/accordion-toggle.svg);
  cursor: pointer;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }

  &:hover {
    background-image: url(common/img/accordion-toggle-hover.svg);
  }

  &.rotated {
    transform: rotate(180deg);
  }
}
.accordion-wrapper-mobile {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;

  @media (max-width: $SCREEN_SM_MAX) {
    display: block;
  }
}
.accordion-toggler-mobile {
  width: 20px;
  height: 20px;
  background-image: url(common/img/accordion-toggle-mobile.svg);
  position: absolute;
  top: 20px;
  right: 10px;
  transition: transform 500ms ease;

  &.rotated {
    transform: scaleY(-1);
  }
}
