.projects-col {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-type-col {
  &:first-letter {
    text-transform: capitalize;
  }
}

.projects-grid {
  @media (max-width: $SCREEN_SM_MAX) {
    table-layout: fixed;
  }
}

.projects-grid-row {
  >:first-child {
    width: 1%;
  }
  >:last-child {
    padding-top: 22px;
  }
  @media (max-width: $SCREEN_SM_MAX) {
    display: table-row;
    >:nth-child(3),
    >:nth-child(4) {
      display: none;
    }
  }
}

.projects-header {
  >:first-child {
    width: 1%;
  }
  @media (max-width: $SCREEN_SM_MAX) {
    display: table-row;

    >:nth-child(3),
    >:nth-child(4) {
      display: none;
    }

    >:nth-child(5),
    >:nth-child(6){
      width: 15%;
    }

    >:nth-child(7) {
      width: 25%;
    }
  }
}
