.modal-header {
  position: relative;
  font-family: $FONT-CONDBOLD;
  font-size: 15px;
  color: $COLOR--topaz;
  line-height: 25px;
  text-transform: uppercase;
}
.modal-title {
  display: inline-block;
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  vertical-align: middle;
}
.close-modal-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: transform 200ms ease-in-out;
  cursor: pointer;

  svg {
    fill: $COLOR--gray-60;
  }
  &:hover {
    transform: scale(1.2);

    svg {
      fill: $COLOR--gray-47;
    }
  }
}
.separator {
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  left: -10px;
  padding: 0 10px;
  margin-top: 15px;
  background-color: $COLOR--gray-91;
}
