.demo-data-form {
  .generate-button {
    display: block;
    width: 155px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
    box-sizing: border-box;
    @media (max-width: $SCREEN_XS_MAX) {
      margin: 0 auto;
    }
  }
}

.generate-button-title {
  width: 129px;
  height: 18px;
  font-size: 13px;
}

.postfix-input {
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.preloader-block {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.preloader-icon {
  margin-right: 20px;
}

.preloader-info {
  color: $COLOR--charcoal-grey;
  font-size: 13px;
  line-height: 1.85;
}
