<button class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
        data-toggle="dropdown">
    <span class="select-value" data-js-value></span>
    <span class="rp-caret"></span>
</button>
<ul class="dropdown-menu rp-width-100">
    <% _.each(data.values, function(option, index) { %>
    <li class="filter">
        <a class="checkbox value-selector <%= option.subOption ? 'sub-option' : ''%>">
            <label class="rp-checkbox-wrap" <%= (option.value == 'All') ? 'data-js-toggle-all' : '' %>>
                <% if (option.value != 'All') { %>
                <input class="rp-input-checkbox"
                       data-value="<%- option.value %>"
                       data-name="<%- option.name %>"
                <%= (option.subType) ? 'data-subtype="'+option.subType+'"' : '' %>
                <%= (option.mainType) ? 'data-maintype="'+option.mainType+'"' : '' %>
                type="checkbox" />
                <% } %>
                <span class="text-ellipsis"><%= option.name %></span>
            </label>
        </a>
    </li>
    <% }) %>
</ul>
