.panel-content {
  font-size: 12px;
  color: $COLOR--gray-47;
  margin: 0 15px;

  @media (max-width: $SCREEN_MD_MAX) {
    display: none;
  }
}

.user {
  font-family: $FONT-SEMIBOLD;
}

.action {
}
