.log-message-block {
  overflow: hidden;
  color: $COLOR--charcoal-grey;
  font-size: 12px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  word-break: break-all;
  .log-message {
    display: inline;
    padding-bottom: 5px;
    line-height: 18px;
  }
}

.time {
  position: relative;
  padding-right: 15px;
  font-size: 13px;
}
