/*
 * This file is part of Report Portal.
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
/* custom */

ul {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
a {
    /*transition: all 0.2s ease 0s;*/
}

a:hover {
	color: inherit;
	text-decoration: none;
}

input[type=text]:focus {
	outline: none;
}

input {
	border: 0;
}

.to_upper {text-transform: uppercase;}
/* end custom */

.wrapper {
	padding-left:100px;
	min-height:100%;
	background: #414243;
}
.color {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: #e4e5e6;
}
.content {
	overflow: hidden;
	height: 100% !important;
	height: auto !important;
	background: #e4e5e6;
    font-family: 'OpenSansRegular', sans-serif;
}

@media ( max-width:767px){

	.sprite{
		margin-right: 10px;
	}
	.user-id{
		padding: 10px 20px !important;
	}
	.title{
		/* float: none; */
        padding-right: 5px;
	}
	.wrapper {
		padding-left: 0 !important;
	}
}

.dashboard:hover i,
.dashboard:focus i,
.dashboard.active i {
    background-position: -5px -50px;
}

.launches:hover i,
.launches:focus i,
.launches.active i {
    background-position: -5px -320px;
}

.favorites:hover i,
.favorites:focus i,
.favorites.active i {
    background-position: -5px -230px;
}

.debug:hover i,
.debug:focus i,
.debug.active i {
    background-position: -5px -140px;
}

.custom-padding {
	padding-right: 5px;
}

.sprite-dashboards_d {
	width: 35px;
	height: 35px;
	background-position: -5px -5px;
}

.sprite-launches_d {
	width: 35px;
	height: 35px;

	background-position: -5px -275px;
}

.sprite-filters_d {
	width: 35px;
	height: 35px;
	background-position: -5px -185px;
}

.sprite-debug_d {
	width: 35px;
	height: 35px;
	background-position: -5px -275px;
	background-position: -5px -95px;
}

.user-id {
	margin-left: -15px;
	padding: 9px 15px 15px 15px;
}
@media (min-width:768px) {
	.user-id {
		padding: 8px 15px 15px 0;
	}
}

.avatar {
	float: left;
	margin: 0 10px 0 0;
	border-radius: 50px;
}

.title {
	position: relative;
	float: left;
	padding-top: 9px;
	font-weight: 300;
	line-height: 1.2;
}


.status {
	position: absolute;
	top: -5px;
	font-size: 10px;
}
@media ( max-width:767px){

	.user-id{
		margin-left: 0;
		padding: 10px 0;
	}
	.title{
		float: none;
	}
    #navbar-header-collapse .navbar-nav-custom-mobile-position{
        margin: 0;
        text-align: right;
    }
    #navbar-header-collapse .dropdown-menu{
        padding-right: 10px;
        text-align: right;
    }
}
.slide-button,
.dropdown-position{
	float: left;
	padding-top: 5px;
}
.slide-button{
	margin-right: 20px;
}
.navbar-fontSize{
	font-size: 12px;
}
.nav-position{
	float: right;
	font-size: 12px;
}
.logo-mobile{
	float: right;
	margin: 7px 15px 0 0;
	font-weight: bold;
	font-size: 20px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.navbar-custom-bg{
	background-color: #e4e5e6;
}

.button-position{
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 9px 10px;
}
.uppercase{
	text-transform: uppercase;
}

/* mystyle */

/* style for horizontal menu */

@media screen and (max-width: 992px) {
	.vertical_nav>li {
		width: 100%;
		box-shadow: none !important;
		text-align: center;
	}
	.my_navbar-right {
		box-shadow: inset 1px 0 0 #4d4e50, inset 2px 0 0 #717274;
	}
}
@media (max-width:1199px) {

		.my_navbar-right {
			margin-right: -15px;
		}

		.my_navbar-right i {
		margin: 0 !important;
	}

}

a {
	color: inherit;
}
.arrow {
	padding: 0 !important;
}
/* .right-border{
	border-right: 1px solid #FFFFFF; */
/* }
.left-border{
	border-left: 1px solid #FFFFFF; */
.vertical_nav a>i {
	margin: 0 10px 0 0;
}
.navbar-collapse {
	padding:0;
}
.horizontal_navbar {
	border:none;
	border-radius: 4px 4px 0 0;
	background: #67686b; /* Old browsers */
	background: -moz-linear-gradient(top,  #67686b 0%, #414345 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67686b), color-stop(100%,#414345)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #67686b 0%,#414345 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67686b 0%,#414345 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67686b 0%,#414345 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67686b 0%,#414345 100%); /* W3C */
	color: #ffffff;
	margin-bottom: 0;
}
.vertical_nav>li>a
{
	color: #ffffff !important;
}
.vertical_nav>li  {
	display: inline-block !important;
}
.vertical_nav>li>a {
	display:inline-block;
}
.my_navbar-right {
	float: right;
}
.my_navbar-right.vertical_nav>li {
	float: right !important;
	box-shadow: inset 1px 0 0 #4d4e50, inset 2px 0 0 #717274;
}

/* content row */
.actions {
	padding:0;
}
.progress {
	margin: 5px 0;
	width: 100px;
	height:10px;
}

.panel-title-custom{
    font-size: 12px;
}
.filter_buttons i {
	margin-right: 10px;
}
.button_wrapper {
	float: right;
}
.left_align_label {
	float: left;
}

@media screen and (max-width:768px) {
	.filter_buttons {
		padding-top:25px;
	}
	.filter_buttons button {
		border-radius: 4px !important;
	}
	.filter_buttons i {
		margin: 0;
		text-align: center;
	}
}

input+label {
	margin: 0 0 0 7px;
}
.control-label {
	font-weight: normal;
}
.content_wrap {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 10px 10px 0 10px ;
	border:1px solid #979797;
	border-radius:0 0 6px 6px;
	background: #ffffff;
}

/* log */
.gallery {
	margin: 0 10px;
}

@media (max-width:992px) {
	.history>div {
		margin-bottom: 10px;
	}
	.filter_buttons i {
		margin: 0 !important;

	}
	.filter_buttons button {
		margin: 0 !important;
		width:60px;
	}
}
.color_bar {
	margin-bottom:5px;
}
.steps {
    width:100%;
}
.steps>li {
    float: left;
    width:25%;
}
.step_red {
    margin-right: 2px;
    padding: 5px 0;
    background-color: #d15b47;
}
.step_green {
    margin-right: 2px;
    padding: 5px 0;
    background-color: #69a55f;
}
.steps li:last-child>div {
    margin: 0;
}
.bar_notes {
	margin: 0 0 30px 0;
}
.bar_notes>li {
	float: left;
	margin-right:  10px;
}
.note {
    display:inline-block;
    padding: 0 5px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}
.investigate {
	display:inline-block;
    background: #e6a13f;
}
.message_time_range label{
	float: left;
	font-size: 12px;
}
.table_priview {
	float: right;
}
.table_priview.thumbnail > img{
	width: 100%;
}
.my_button_group {
	float: left;
}
.my_button_group li {
	float: left;
	margin-right: 10px;
}
.log_level{
	float: left;
	margin-right: 10px;
	font-size:12px;
	line-height: 30px;
}
.my_button {
    margin-bottom: 10px;
    width:80px;
    height:30px;
    border:1px solid #acafaf;
    border-top: 1px solid #d4d4d6;
    border-bottom: 1px solid #999c9d;
    border-radius:2px;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #fdfdfd 0%, #ebeced 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#fdfdfd), color-stop(100%,#ebeced)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#fdfdfd 0%,#ebeced 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#fdfdfd 0%,#ebeced 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#fdfdfd 0%,#ebeced 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#fdfdfd 0%,#ebeced 100%); /* W3C */
    text-align: center;
}
.message_time_table {
	font-size: 12px;
}
.message_time_table .row:nth-child(even) {
	background: #fafafa;
}
.message_time_table .row>div {
	position: relative;
	padding: 20px;
}

.message_time_table_header {
	border-top:1px solid #d7d7d7;
	border-botom:1px solid #d7d7d7;
	position: relative;
	z-index: 1;
	box-shadow: 0 3px 7px -2px #d7d7d7;
}
.message_time_table_header>div {
	height: 65px;
}
.time_header {
	border-left:1px solid #d7d7d7;
}
.ten_px {
	font-size:10px;
}
.marker {
	position: absolute;
	top:20px;
	bottom:20px;
	left:10px;
	width:3px;
}
.marker_red {
	background-color: #d15b47;
}

/* end log */

/* style for settings */


.settings_title, .register_title {
	text-align: right;
	padding: 20px 30px 20px 0;
	font-size: 18px;
	margin: 0;
	border:none;
}
.register_title {
    text-align: left;
    padding: 20px 30px;
}

@media screen and (max-width: 767px) {
	.settings_title {
		text-align: left;
		margin-left: -15px;
	}
}
.settings_footer {
	padding: 10px 20px;
	background: #eeeeee;
}

/* style for method */

.col-sm-12.control-label {
	text-align: left;
}
/* style for dashboard */

.widget_title {
	font-size:20px;
	margin: 0;
	padding: 20px 0;
	border:none;
}
.control-label {
	font-weight: normal;
}
input+label {
	margin: 0 0 0 7px;
}
input[type=checkbox]+label {
	white-space: nowrap;
}
.field {
	border:1px solid #bfc1c2;
	border-top:1px solid #d4d4d6;
	border-bottom: 1px solid #aaadae;
	border-radius: 3px;
	outline: none;
	padding: 5px;
}
.chart_time_icon {
	float: left;
	width:29px;
	margin: 0 10px;
	font-size:11px;
	text-align: center;
}
.select {
	-webkit-appearance: none;
	background: url("../img/select_dropdown.png") no-repeat right center;
}
.overtime_period_select {
	width: 100%;
}
.widget_footer {
	padding: 10px 20px;
	background: #eeeeee;
}

/*---------------  Table --------------------- */

/*GLOBAL for switchery*/
span.switchery{
    margin-right: 10px;
}
span.switchery small{
    margin-top: -1px;
}

#filter-panel .input-group,
#filter-panel .input-group {
  margin-bottom: 0;
  padding-bottom: 5px;
}

#filter-panel .well {
    padding: 19px 0;
    min-height: 99px;
}

#more-criteria-block {
 margin-left: 0;
 padding-top: 0;
}

#filter-panel input.filter,
#filter-panel button {
  overflow: hidden;
  max-width :250px;
}

#filter-actions {
    margin: 0 10px 2px 0;
    list-style:none;
}
#filter-form .filter-rows {
    margin-bottom: 3px;
}

#b-save-filter{
    display: none;
    margin: 0;
}
#filter-form {
    margin: 0;
}
#b-save-filter li {
    position: relative;
    padding-right: 0;
}

form .glyphicon.glyphicon-remove {
    cursor: pointer;
}

.b-save-link {
    position: absolute;
    top: 1px;
    right: 10px;
}
.b-save-link .glyphicon.glyphicon-link {
    margin: 8px 15px;
    cursor: pointer;
}

#defect-panel .well-sm {
    padding: 6px;
}
#defect-panel input.input-sm{
    padding-right: 3px;
    width: 99%;
}
#defect-panel form {
    margin: 0;
}
#defect-panel .input-wrapper{
    position: relative;
}
.badge-padding {
    padding: 6px 16px 6px 8px;
}
.defect-cell .badge-padding {
    padding: 0;
}
.defect-ticket {
    float: left;
    padding: 6px 6px 6px 8px;
}
td.defect-cell {
  padding:0;
}
.input-wrapper {
    padding: 6px 0 0;
}
td.defect-cell .input-wrapper{
    position: relative;
    width: 100%;
}

.input-wrapper .inline-input{
    min-height: 30px;
    max-height: 320px;
    resize: vertical;
}
.input-wrapper textarea {
    padding: 4px 8px;
}

div.inline-editor{
  /* padding: 3px 0; */
}

div.inline-read{
  overflow: hidden;
  /* padding: 8px; */
  cursor: pointer;
}
div.inline-read .glyphicon-edit {
    top: 8px;
    right: 8px;
}
.defect-cell .inline-read .glyphicon-edit {
    top: 0;
    right: 0;
}
.defect-comment{
    word-wrap: break-word;
}
.defect-cell .form-control {
    font-size: 12px;
}
.defect-cell .inline-read .defect-ticket {
    padding: 0 0 0 8px;
}
.all_launches td > input[type="radio"],
.all_launches td > input[type="checkbox"],
.all_launches th > input[type="radio"],
.all_launches th > input[type="checkbox"] {
    margin: 0;
}
.all_launches table {
    border-bottom: 1px solid #DDDDDD;
}

td.defect-cell .defect-comment{
    display: inline-flex;
    overflow: hidden;
    padding: 0 3px;
    max-width: 300px;
    max-height: 220px;
}

td.defect-cell a#defect-comment-more-link{
    display: none;
}

div.inline-read:hover i{
    opacity: 1;
}
div.inline-read i{
    opacity: 0.5;
}

div.inline-editor a.issue-selector {
  padding: 3px 9px;
  cursor: pointer;
}

div.inline-editor ul {
  min-width: 80px;
}

div.inline-editor input {
  margin-bottom:0;
}
div.inline-editor span.defect-comment{
    padding-left: 20px;
}

div.inline-editor.has-error button.btn {
    border-color: #a94442;
}

th.sortable, a.stacktrace, div.sortable{
    cursor: pointer;
}

.name-minimized-width{
    max-width: 360px;
    word-wrap: break-word;
}

.name-minimized-width pre, .history-item pre {
    margin: 0;
    padding: 5.5px;
    max-height: 200px;
    border: medium none;
    background-color: inherit;
    white-space: pre-wrap;
    font-size: 0.9em;
}
.history-item pre.shifted {
    margin-left: 0;
    padding: 0;
}

.hoverFullTime{
    position: relative;
    width: 81px;
    height: 34px;
}
.hoverFullTime div.time-full{
    position: absolute;
    top: 0;
    right: 0;
    word-wrap: normal;
}

.hoverFullTime .timeHover{
    cursor: pointer;
}

#grid table th span.dropup span.caret{
    margin-left: 2px;
}

#grid h5{
    font-size: 13px;
}

#div-stacktrace {
    max-height:600px;
}

.selected-defect {
    font-weight: bolder;
}

.table tbody tr.danger.selected-defect > td,
.table tbody tr.selected-defect > td {
    background-color: #f8b926;
}
.table tbody tr.danger.selected-forhistory > td,
.table tbody tr.selected-defect.selected-forhistory > td,
.table tbody tr.selected-forhistory > td {
    background-color: #DFF0D8;
}

span.greater-lesser{
    border-right: 0 none;
    text-decoration:underline;
    cursor: pointer;
}

#filter-panel input.statistics-number{
    width: 45px;
}

#filter-panel span.timerange{
    vertical-align: baseline;
    cursor: pointer;
}

div#logs td {
    margin: 0;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 11px;
}

div#logs table {
    border-spacing: 0 0; /* Расстояние между ячейками */
}

#favTab {
    margin: 0 0 20px;
}
#favTab > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.favs .media-list {
    margin: 0 0 10px;
}

.media-list li.danger {
    background-color: #f2dede;
}

/*
.media-list li.success {
    background-color: #dff0d8;
}
.media-list li.warning  {
    background-color: #fcf8e3;
}
.media-list li.info {
    background-color: #d9edf7;
}
.media-list li.debug {
    background-color: #F5F5F5;
}
.media-list li.success {
    border-left: 7px solid #d0e9c6 !important;
}
.media-list li.danger {
    border-left: 7px solid #ebcccc !important;
}
.media-list li.warning  {
    border-left: 7px solid #faf2cc !important;
}
.media-list li.info {
    border-left: 7px solid #c4e3f3 !important;
}
.media-list li.debug {
    border-left: 7px solid #F0F0F0 !important;
}
.media-list li.trace {
    border-left: 7px solid #F5F5F5 !important;
}
*/

.media-list li.success {
    border-left: 4px solid #5CB85C !important;
}
.media-list li.danger {
    border-left: 4px solid #F56561 !important;
}
.media-list li.warning  {
    border-left: 4px solid #F0AD4E !important;
}
.media-list li.info {
    border-left: 4px solid #428BCA !important;
}
.media-list li.debug {
    border-left: 4px solid #F0F0F0 !important;
}
.media-list li.trace,
#logs .panel .panel-heading {
    border-left: 4px solid #D4D4D4 !important;
}

.media-list-hover li.success:hover{
    background-color: #d0e9c6;
}
.media-list-hover li.danger:hover{
    background-color: #ebcccc;
}
.media-list-hover li.warning:hover{
    background-color: #faf2cc;
}
.media-list-hover li.info:hover {
    background-color: #c4e3f3;
}
.media-list-hover li.debug:hover {
    background-color: #F5F5F5;
}
.media-list-hover li:hover {
    background-color: #F5F5f5;
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -ms-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}
.media-list-hover li i{
    opacity: 0.3;
}

.media-list-hover li:hover i{
    opacity: 1;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -ms-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}

#logs .media{
    margin-top: 0;
    padding: 4px 5px;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #DDDDDD;
    word-wrap: break-word;
}
#logs ul.media-list{
    margin-left: 0;
    font-family: monospace; /* TODO */
}

#logs .panel .panel-body{
    padding: 0;
}

#logs .noSort span.caret{
    display: none;
}

#logs a.thumbnail{
    overflow: hidden;
    max-width: 90px;
}

#logs a.thumbnail img{
    width: 80px;
    height: 60px;
    background: url("../img/ajax-loader.gif") no-repeat center;
}

#logs a.thumbnail div{
    width: 80px;
    height: 60px;
}

#logs a.thumbnail.active{
    border-color: #0088CC;
}

.favs div.actions a{
    margin-right: 20px;
}

.favs li.media {
    overflow: visible;
    margin-top: 0;
    padding: 7px 0;
}
.favs li.media small.text-muted {
    display: block;
    font-weight: normal;
}
.favs li.media small.text-muted span {
    white-space: nowrap;
}

.bin-data-xml{
    background: url('../img/bin-data-type.png') no-repeat 0 0;
}
.bin-data-json{
    background: url('../img/bin-data-type.png') no-repeat -80px 0;
}
.bin-data-txt{
    background: url('../img/bin-data-type.png') no-repeat -160px 0;
}
.bin-data-pdf{
    background: url('../img/bin-data-type.png') no-repeat -240px 0;
}
.bin-data-zip{
    background: url('../img/bin-data-type.png') no-repeat -320px 0;
}

 .bin-data-default{
    background: white;
}

#gallery{
    max-width: 950px;
}


#gallery-block ul.breadcrumb{
    margin-left: 0;
    cursor:pointer;
}

#gallery .carousel-indicators .active {
    background-color: #AAAAAA;
    opacity: 1;
}

#gallery .carousel-indicators li {
    border-color: #000000;
}
#gallery .carousel-indicators {
    bottom: -30px;
}
#myCarousel .item a > img {
    margin: 0 auto;
}

#myCarousel .item {
    min-height: 300px;
}

#myCarousel .item a:hover{
    text-decoration: none;
}

#myCarousel a pre code {
    overflow: hidden;
    max-height: 500px;
}

#myCarousel div.item div.bin-data-default {
    position: relative;
    top: 60px;
    height: 140px;
    text-align: center;
}
#myCarousel div.item div.bin-data-pdf,
#myCarousel div.item div.bin-data-zip {
    position: relative;
    top: 0;
    left: 45%;
    width: 80px;
    height: 60px;
    text-align: center;
}
#myCarousel .carousel-caption {
    overflow: auto;
    padding: 20px 10px;
    min-height: 80px;
    max-height: 40%;
    background: none repeat scroll 0 0 #4499CC;
    text-shadow: 0 1px 1px #365458;
    opacity: 0;
    cursor: pointer;
}

#myCarousel:hover .carousel-caption {
    opacity: 1;
}

span.deleteicon {
    position: relative;
    top: 0;
    display: block;
}
span.deleteicon span {
    position: absolute;
    top: 9px;
    right: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/delete-icon.png') no-repeat 0 0;
    cursor: pointer;
}
span.deleteicon input {
    padding-right: 16px;
}

.widget{
    border: 1px solid #DDDDDD;
    border-spacing: 0;
    border-collapse: collapse;
}

.dashboard-menu {
    margin: 0;
}
.dashboard-menu > li {
    position: relative;
    overflow: hidden;
}
.dashboard-menu > li > a.dashboard-item {
    margin-top: 0;
    padding: 7px 12px;
}
.dashboard-item .label-default {
    margin: 0 2px 0 -2px;
}
.dashboard-name {
    display: inline-block;
    padding-right: 28px;
    word-break: break-all;
}
.dashboard-name.false {
    padding-right: 8px;
}
.dashboard-buttons {
    position: absolute;
    top: 7px;
    right: 2px;
    display: none;
}
.dashboard-menu li:hover .dashboard-buttons {
    display: block;
}
.dashboard-menu li.edit-dashboard:hover .dashboard-buttons {
    display: none;
}
.dashboard-menu li .dashboard-buttons > button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background: none;
    text-indent: 300px;
    white-space: nowrap;
}

.dashboard-buttons > button > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -7px 0 0 -7px;
    text-align: center;
    text-indent: 0;
}
.dashboard-menu li.active .dashboard-buttons > button > span {
    color: #fff;
}

.edit-dashboard {
    background: none;
}
.add-dashboar-form input,
.edit-favname-form input {
    margin: 0;
    padding: 7px 10px;
    height: 31px;
    border-radius: 4px 4px 0 4px;
    font-size: 12px;
}
.add-dashboar-form {
    position: relative;
    margin: 0 0 36px;
}

.btn-add-dashboard {
    position: relative;
    margin: 0 0 16px;
}
.btn-add-dashboard .fortooltip {
    position: absolute;
    top: -1px;
    left: -1px;
    box-sizing: content-box;
    padding: 1px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.btn-add-dashboard .fortooltip .ttip {
    position: absolute;
    top: 100%;
    left: -15px;
    display: none;
    margin: 6px 0 0;
    padding: 4px 8px 6px;
    border-radius: 3px;
    background: #000;
    color: #fff;
    text-align: left;
}
.btn-add-dashboard .fortooltip:hover .ttip {
    z-index: 1;
    display: block;
}
.b-add-dashboard {
    position:relative;
}

#btn-hideform {
    margin-left: 8px;
    cursor: pointer;
}

.widget-_wrap {
    position: relative;
    margin: 0 0 16px;
    min-height: 100px;
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.widget-item .widget-content h4.drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 10px 16px;
    min-height: 30px;
    width: 100%;
    word-break: break-all;
    cursor: move;
}
.widget-content h4.title {
    color:#333333;
    text-align: center;
    font-size:18px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.widget-content .form-horizontal h4.drag-handle,
.widget-content  .widget-select-shared h4.drag-handle {
    position:relative;
}
.widget-content  h4.drag-handle span.badge {
    position: absolute;
    margin-top: 1px;
}


.widget-content  .widget-select-shared h4 {
    padding-left: 15px;
    cursor:default;
}

.wizard .widget-content{
    margin-bottom: 0;
}

.widget-content .loading-widget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.7);
    z-index: 3;
}

.widget-content .loading-widget i {
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg);           }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.widget-select-shared ul.list-group {
    margin: 7px 0 7px 30px;
}
.widget-select-shared span.label{
    margin-right: 3px;
}

input[type="text"].ferror, input[type="password"].ferror {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.ferror-message {
    color: #B94A48;
}

.absolute-buttons:hover.widget-buttons {
    opacity: 1;
}
.absolute-buttons.widget-buttons {
    top: 1px;
    right: 15px;
    z-index: 2;
    border-radius: 0 6px;
    opacity: 0.3;
}

.widget-buttons .aui-button {
    padding: 0 4px;
    height: 24px;
}

.login-box {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 304px;
    border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 white;
    text-align: center;
}

.login-box h1{
    font-weight: 900;
    font-size: 37px;
    font-family: 'FontMontserratRegular',sans-serif;
}

.login-box input.text.top {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.login-box input.text.bottom {
    margin-bottom: 20px;
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
}
.login-box input.text {
    padding: 0 10px;
    width: 264px;
    border-radius: 0 0 0 0;
    background-color: #F1F1F1;
    text-align: center;
    font-size: 16px;
}
.login-box .alert {
    position: relative;
    width: 264px;
}
.login-box .alert .close {
    position: absolute;
    top: 1px;
    right: 5px;
}
.type-login {
    float: left;
    margin: -3px 0 0 1px;
    width: 200px;
    background: #f1f1f1;
}


.btn.btn-create{
    padding-right: 20px;
    padding-left: 20px;
}

.absolute-buttons{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 3px;
    outline: medium none;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: #CCCCCC #CCCCCC; /*-moz-use-text-color #CCCCCC #CCCCCC*/
    border-right: 1px solid #CCCCCC;
    border-radius: 0 0 3px 3px;
    border-image: none;
    background-color: #F0F0F0;
    box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.absolute-buttons button.disabled, .dashboard-buttons button.disabled {
    opacity: 0.65;
}

.absolute-buttons.save-options {
    top: 100%;
    right: 0;
}

.save-options .aui-button, .save-options .aui-button.cancel {
    padding: 0 4px;
    height: 24px;
}

.aui-button, a.aui-button, .aui-button:visited {
    display: inline-block;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 4px 10px;
    height: 2.14286em;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    background: -moz-linear-gradient(center top , #FFFFFF 0, #F2F2F2 100%) repeat scroll 0 0 transparent;
    color: #333333;
    vertical-align: baseline;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    white-space: nowrap;
    font-weight: normal;
    font-variant: normal;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.42857;
    cursor: pointer;
}

.absolute-buttons:hover i {
    opacity: 1;
}
.absolute-buttons i {
     opacity: 0.5;
}

.ico-loading, .loading-indicator {
    display: inline-block;
    margin: 0 6px 0 0;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 14px;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    -moz-animation:    nprogress-spinner 400ms linear infinite;
    -ms-animation:     nprogress-spinner 400ms linear infinite;
    -o-animation:      nprogress-spinner 400ms linear infinite;
    animation:         nprogress-spinner 400ms linear infinite;
}
.ico-loading {
    position: absolute;
    top: 6px;
    left: 100%;
    margin: 0 0 0 6px;
}
.tags-hint .loading-indicator {
     position: relative;
     top: 0;
     left: 0;
 }

 .wizard {
     padding-bottom: 16px;
 }

 .wizard .widget-criteria > li > a {
     padding-right: 0;
 }
 .wizard .dropdown-menu > li > a > label {
     margin-bottom: 0;
     padding: 2px 0 2px 20px;
     font-weight: normal;
 }

 .edit_user input[readonly="readonly"] {
     cursor: text;
 }

 .no-filter-error {
     position: absolute;
     top: 50%;
     left: 0;
     margin: -0.5em 0 0;
     width: 100%;
     color: #60606A;
     text-align: center;
     font-weight: bold;
     font-size: 12px;
 }

 div.wizard .error button.dropdown-toggle {
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     background-color: #DA4F49;
     background-image: -moz-linear-gradient(to bottom, #EE5F5B, #BD362F);
     background-image: -o-linear-gradient(to bottom, #EE5F5B, #BD362F);
     background-image: -ms-inear-gradient(to bottom, #EE5F5B, #BD362F);
     background-image: -webkit-linear-gradient(to bottom, #EE5F5B, #BD362F);
     background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
     background-repeat: repeat-x;
     color: #FFFFFF;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 }

 div.wizard .error ul.dropdown-menu label {
     color: #333;
 }

div.shifted{
 padding-left: 20px;
}

pre.shifted{
    margin-bottom: 3px;
    margin-left: 12px;
}

.flash-container{
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
}
.flash-alert {
    padding: 10px;
    background: none repeat scroll 0 0 #BD362F;
    text-shadow: 0 1px 1px #7A1000;
}

.flash-notice{
    padding: 10px;
    background: none repeat scroll 0 0 #4499CC;
    text-shadow: 0 1px 1px #365458;
}

.flash-success{
    padding: 10px;
    background: none repeat scroll 0 0 #31A031;
    text-shadow: 0 1px 1px #005800;
}

.navbar-brand{
    font-family: 'FontMontserratRegular', sans-serif;
}

 .navbar .navbar-brand.project-header {
     font-size: 10px;
 }
 .project-header h3 {

 }
 #main-nav-menu > li.active > a {
     cursor: default;
 }

h3.page-title{
    color: #474D57;
    font-size: 20px;
    line-height: 2.0;
}
h3.page-title small{
    font-size: 13px;
}

a.logout{
    text-decoration: none;
}

a.logout i{
    opacity: 0.5;
}
a.logout:hover i{
    opacity: 0.8;
}

.well-list {
    margin: 0;
    list-style: none outside none;
}
ul, ol {
/* margin: 0 0 9px 25px; */
    padding: 0;
}

.well-list li.team_member_row{
    position:relative;
    padding: 10px;
    min-height: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.well-list li:first-child {
    border: none;
}

.team_member_row div.avatar {
    margin: 0 20px 0 0;
    min-width: 38px;
    height: 50px;
    background: url("../img/nophoto.jpg") no-repeat scroll 0 center / contain  rgba(0, 0, 0, 0);
}

.team_member_row div.avatar div{
    min-width: 38px;
    max-width: 40px;
    height: 50px;
    background-color: transparent;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

.well-list li.default_project {
    background-color: #ebf6ff;
}

.carousel-caption .arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    float: right;
    margin: -11px 0 0;
    padding: 0 5px;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
}

#project-list fieldset legend {
    margin: 0 0 10px;
    border: none;
    font-size: 15px;
}
#project-list fieldset legend > small {
    color: #999;
    font-size: 12px;
}
#project-list .forse-update-label {
    margin: -6px 12px 0 0;
    font-weight: normal;
}
#project-list a.project:focus:not(.active){
    background-color: #FFFFFF;
}
#project-list a.project:hover:not(.active){
    background-color: #F5F5F5;
}

.bs-buttons-column{
    padding-top: 2px;
    padding-left: 0;
}
.bs-buttons-column .generate-report{
    margin-right: 12px;
}

.bs-column{
    padding-left: 0;
}
.bs-column ul.breadcrumb{
    margin-left: 15px;
}

.border-right-bold{
   /* border-right: 2px solid #DDDDDD !important; */
}

img.tooltipIdea{
    margin-left: 10px;
    cursor: pointer;
}

.filter-name-row {
    position: relative;
    margin-right: 5px;
}
.filter-name {
    /* margin-left: 15px; */
}
.filter-adv {
    /* margin-left: 15px; */
}
.edit-favname-form {
    position: relative;
    width: 220px;
}

.notfound-body {
    margin: 0 auto;
    padding: 2px;
    width: 60%;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.notfound-content {
    min-height: 250px;
    border-radius: 4px;
    background: #DCEAF4;
    text-align: center;
}
.notfound-content h2, .notfound-content h3, .notfound-content h4 {
    margin: 0;
    padding: 16px 0;
}
.notfound-content p {
    color: #777777;
    font-weight: bold;
}

a:focus, button.btn:focus, input.btn:focus, a.btn:focus {
    outline: none;
}

.badge{
    padding: 3px 8px 4px 7px;
}
/*! return back badges*/
/*To Investigate */
.badge-warning {  background-color: #FFB752;}
.badge-warning[href] {  background-color: #c67605;}

/*Product Bug*/
.badge-important {  background-color: #E93416;}
.badge-important[href] {  background-color: #953b39;}

/* passed */
.badge-success {   background-color: #468847;}
.badge-success[href] {  background-color: #356635; }

/*Automation Bug*/
.badge-issue {   background-color: #f5d752; color: inherit;}
.badge-issue[href] {  background-color: #6F6199; }

/*System Issue */
.badge-info {  background-color: #2273cd; }
.badge-info[href] {  background-color: #2d6987;}

.badge-inverse {  background-color: #333333;}
.badge-inverse[href] {  background-color: #1a1a1a;}
/* .btn .badge {  text-shadow: 0 1px 0 #555555; */
/*! /// return back dropdown-submenu*/

.btn {
    font-size: inherit;
}

.radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0px;
    /*cursor: pointer;*/
}
.dropdown-menu {
    font-size: inherit;
}
.rp-header-nav > li > .dropdown-menu {
    /*border-radius: 4px;*/
}

.postooltip img.tooltipIdea,
.b-update-uudi img.tooltipIdea {
    float: right;
    margin: -24px -24px 0 8px;
}
.b-update-uudi {
    margin: 20px 0 0;
    text-align: right;
}
.b-update-uudi img.tooltipIdea {
    margin-top: 6px;
}


.pad-formhelp {
    padding-top: 7px;
}

#settings-menu {
    padding: 10px 0 5px;
}
#settings-menu a.shifted{
    padding-left: 30px;
}
#settings-menu span.glyphicon,
.glyphicon.glyphicon-plus {
    margin-right: 5px;
}
#settings-menu > li > a,
#settings-menu > li > span {
    padding: 4px 20px;
}

.history-toggler ul.dropdown-menu{
    padding: 0;
    min-width: 0;
}

.history-toggler .dropdown-menu > li > a {
    padding: 5px 5px;
}

.history-toggler span.glyphicon{
    opacity: 0.7;
}

.launch-mode-switch {
    cursor: pointer;
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
}

.team .page-title a.btn{
    margin-left: 10px;
}

.team-table .well-list li.team_member_row p {
    margin: 0;
    padding-top: 1px;
    color: #222222;
}

.team-table .team_member_role,
.team-table .team_member_delete {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}
.team-table .team_member_role span.btn{
    cursor: auto;
}
.team-table .team_member_role .btn-group{
    padding: 0;
}

.team_member_role ul.dropdown-menu > li > a{
    text-align: left;
}

.team-table .team_member_delete{
    padding: 0 0 0 40px;
}
.team h3.page-title {
    margin: 0 0 6px;
}
.team #jira-form .panel-body  {
    padding: 10px 30px;
}
/*.edit-project label .fa {
    position: relative;
    top: -6px;
    font-size: 9px;
}*/
#jira-form {
    margin-bottom: 0;
}
.team p a {
    cursor: pointer;
}

#b-project-menu{
    padding-top: 10px;
}

#project-menulist {
    padding-top: 3px;
}
#project-menulist > li > a {
    padding: 7px 12px;
}

.history-items .label {
    font-size: 100%;
}
#cancel-history {
    margin: 0 25px 0 12px;
}
div.history-toggler > button.open-history {
    border-color: #DBDBDB;
    background-color: #E0E0E0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

#history-show-button .dropdown-menu {
    right: auto;
}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

#filterInputs .filter-hint {
    position: absolute;
    top: 100%;
    right: auto;
    left: 0;
    z-index: 100;
    display: none;
    padding: 10px 11px;
    width: 190px;
    font-size: 12px;
}

.issue-modal {
    float: none;
    margin: 20px auto;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.issue-modal .panel-info {
    margin: 0;
    padding: 0;
}
.issue-modal .pull-right .btn {
    margin-left: 8px;
}

.btn-group-fix-font{
    font-size:12px;
}

span.label.you {
    position: absolute;
    top: 7%;
    left: 1%;
    z-index: 20;
}

span.label.admin {
    position: absolute;
    top: 7%;
    left: 5%;
    z-index: 20;
}

.issue-tracker-link {
    position: relative;
    padding: 0 23px 0 0;
    background: #aaaaaa;
}
.issue-tracker-link.loaded,
.issue-tracker-link.parentLoaded{
    background: #f5f5f5;
}

.issue-tracker-link.open,
.issue-tracker-link.reopen,
.issue-tracker-link.new,
.issue-tracker-link.active{
    background: #D34A4A;
}
.issue-tracker-link.closed,
.issue-tracker-link.resolved,
.issue-tracker-link.done{
	background: #448C43;
	border-color: ;
}
.issue-tracker-link.closed > div,
.issue-tracker-link.resolved > div{
    text-decoration: line-through !important;

}

/*.issue-tracker-link.error i.fa{
    display: inline-block;
}*/

.issue-tracker-link .loading-indicator {
    position: absolute;
    top: 0;
    right: 0;
}

.hiden-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
}
.hiden-layer div {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    opacity: 0.4;
}

.history-cont {
    overflow: hidden;
}
.progress-comment {
    display: block;
    line-height: 1.1em;
}
.comment-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 16px;
}

.progress-bar-warning .comment-fade {
    background: -moz-linear-gradient(top, rgba(240, 173, 78, 0) 0%, rgba(240, 173, 78, 1) 100%);
    background: -ms-linear-gradient(top, rgba(240, 173, 78, 0) 0%, rgba(240, 173, 78, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(240, 173, 78, 0) 0%, rgba(240, 78, 212, 1) 100%);
    background: -o-linear-gradient(top, rgba(240, 173, 78, 0) 0%, rgba(240, 173, 78, 1) 100%);
    background: linear-gradient(top, rgba(240, 173, 78, 0) 0%, rgba(240, 173, 78, 1) 100%);
}
.progress-bar-danger .comment-fade {
    background: -moz-linear-gradient(top, rgba(245, 101, 97, 0) 0%, rgba(245, 101, 97, 1) 100%);
    background: -ms-linear-gradient(top, rgba(245, 101, 97, 0) 0%, rgba(245, 101, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(245, 101, 97, 0) 0%, rgba(245, 101, 97, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 101, 97, 0) 0%, rgba(245, 101, 97, 1) 100%);
    background: linear-gradient(top, rgba(245, 101, 97, 0) 0%, rgba(245, 101, 97, 1) 100%);
}
.progress-bar-skip .comment-fade {
    background: -moz-linear-gradient(top, rgba(212, 212, 212, 0) 0%, rgba(212, 212, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgba(212, 212, 212, 0) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(212, 212, 212, 0) 0%, rgba(212, 212, 212, 1) 100%);
    background: -o-linear-gradient(top, rgba(212, 212, 212, 0) 0%, rgba(212, 212, 212, 1) 100%);
    background: linear-gradient(top, rgba(212, 212, 212, 0) 0%, rgba(212, 212, 212, 1) 100%);
}


/* TAKEN from Bootstrap Bases START*/
@-webkit-keyframes progress-bar-stripes-large {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}
@keyframes progress-bar-stripes-large {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -60px 0;
    }
}
.progress-bar.active,
.progress-striped.progress-bar-inprogress,
.progress-striped.in-progress,
.progress-striped.rp-inprogress{
    -webkit-animation: 2s linear 0s reverse none infinite progress-bar-stripes-large;
    animation: 2s linear 0s reverse none infinite progress-bar-stripes-large;
}
.progress-striped {
    background-image: -webkit-linear-gradient(1355deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 60px 60px;
}
/* END */


@keyframes auto-analyze-blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes auto-analyze-blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes auto-analyze-blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

span.label.autoanalyze {
    -moz-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
    -ms-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
	-webkit-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
	animation: 2s linear 0s reverse none infinite auto-analyze-blink;
}

.ticketform-label {
    padding-top: 6px;
    text-align: right;
}
.submitticket-loader,
#dialogShellLoader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    opacity: 0.6;
}
.submitticket-loader i,
#dialogShellLoader i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: -24px 0 0 -24px;
    color: #29d;
    font-size: 40px;
}

.widget-content h4 .badge {
    margin: 0 0 6px;
    max-width: 20%;
    text-align: left;
    white-space: normal;
    word-break: normal;
}

.badge .shared-text {display: none;margin-left: 5px;}
.badge .shared-text .label-success {top: -0.5px; position: relative;}

.history-message {
    position: relative;
    display: none;
    margin: 10px 0 0;
}
.history-message i:hover{
    color: #555555;
    cursor: pointer;
    -webkit-transition: color 0.2s ease 0s;
    -moz-transition: color 0.2s ease 0s;
    -ms-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
}

.tab-pane p:first-child{
    margin-bottom: 20px;
}

.shared-hr {
    position: relative;
    text-align: center;
}
.shared-hr hr {
    position: absolute;
    top: 50%;
    margin-top: 1px;
    width: 100%;
}
.shared-hr h5 {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    background: #fff;
}

.shared-loader {
    padding: 0 0 24px;
    text-align: center;
}
.shared-loader i {
    color: #29d;
    font-size: 40px;
}

.shared-widget {
    word-break: break-all;
}

a.disabled-link, a.disabled-link:hover {
    color: #B8B8B8;
    cursor: default;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    cursor: default;
}
#user_uuid{
    cursor: auto;
}

@-moz-keyframes blink {
    0% {
        background: none repeat scroll 0 0 rgba(66, 139, 202, 0.5);
    }
    50% {
        background: none repeat scroll 0 0 rgba(66, 139, 202, 0);
    }
    100% {
        background: none repeat scroll 0 0 rgba(66, 139, 202, 0.5);
    }
}
.blink {
    animation: 1.5s linear 0s normal none infinite blink;
}

.activity-well .panel-group {
    margin: 0;
}
.panel-activity {
    position: relative;
    padding: 1px;
}
.panel-activity .panel-heading {
    padding: 10px;
}
.panel-activity .panel-heading + .panel-collapse .panel-body {
    padding: 0 15px;
    border: none;
}
.panel-activity .panel-heading + .panel-collapse .panel-body li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.user-reff {
    position: relative;
    display: inline-block;
    margin: 0 5px 0 0;
    padding-left: 20px;
}
.user-reff i.material-icons {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    width: 16px;
    height: 16px;
}
.user-reff i.you {
    color:#5CB85C;
}

.activity-iconpd {
    margin: 3px 0;
}
/*
.activity-iconpd i {
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    font-size: 15px;
    line-height: 14px;
}
*/
.panel-activity span.activity-list {
    position: absolute;
    right: 7px;
    font-size: 12px;
    opacity: 0.3;
}


.panel-activity .panel-heading:hover {
    background-color: #eaeaea;
}
.panel-activity .panel-heading:hover span.activity-list {
    opacity: 1;
}

.activity-str {
    position: relative;
    margin: 3px 0;
}

.actyvity-val {
    overflow: hidden;
}
.activity-str i.material-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.45em 0 0;
}

.defect-well .inline-editor {
    margin: 0 0 40px;
}
.defect-well .inline-read {
    margin: 0 0 8px;
}

.modal-content {
    /* overflow: hidden; */
}

a#add-favorites.disabled {
    color: #939393;
    text-decoration: none;
}

.statistics-panel {
/* padding: 0 0 12px; */
}
.statistics-panel h2 {
    margin: 0;
    font-weight: bold;
}

.statistics-panel .statictic-block{ padding-left: 6px;
    border-left: 16px solid #489BEB;
}
.statistics-panel .statictic-block p { padding-left: 4px; }
.statistics-panel .statictic-block.total{    border-left-color: #489BEB;}
.statistics-panel .statictic-block.passed{    border-left-color: #87b87f;}
.statistics-panel .statictic-block.failed{    border-left-color: #F16a50;}
.statistics-panel .statictic-block.skipped{    border-left-color: #BDC7CC;}
.statistics-panel .statictic-block.pb{    border-left-color: #E93416;}
.statistics-panel .statictic-block.ab{    border-left-color: #f5d752;}
.statistics-panel .statictic-block.si{    border-left-color: #2273cd;}
.statistics-panel .statictic-block.ti{    border-left-color: #FFB752;}
.statistics-panel .statictic-block.investigated{    border-left-color: #87b87f;}


.rp-header-nav #logout{
    font-size: 12px;
}

.rp-header-nav li.active a.rp-desktop{
    font-weight: bold;
}
.wrapper .rp-navbar-header {
    border: medium none;
    /*margin-bottom: 10px;*/
}

.widget-item .panel-heading .badge{
    margin-left: 5px;
    margin-top: 1px;
    position: absolute;
}

#navbar-header-collapse > hr{
    margin-bottom: 5px;
    margin-top: 10px;
}
.rp-header-nav ul.dropdown-menu a.list-group-item{
    border-radius: 3px;
    margin: 2px;
}
.rp-header-nav ul.dropdown-menu a.list-group-item.active{
    background: linear-gradient(to bottom, #67686b 0%, #414345 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none;
    color: #ffffff;
}

.rp-table-row {
    position: relative;
    padding: 8px 0;
}

.to_investigate-table-cell{
    top: 10px;
    right: 10px;
    position: absolute;
}
.to_investigate-table-cell span.rp-desktop{  background-color: orange; top: -2px; position: absolute;}
.to_investigate-table-cell .rp-mobile{right: 0; position: absolute;}
.to_investigate-table-cell .cases-view,
.to_investigate-table-cell span.cases-view,
.to_investigate-table-cell span.badge{padding-left: 0;padding-right: 0}
.to_investigate-table-cell a.cases-view span.badge{padding: 3px 7px;}

/* log page */
/* image gallery */
.rp-panel-styles {
    margin-bottom: 20px;
    padding: 5px 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fafafa;
    font-weight: 300;
    font-size: 12px;
    box-shadow: none;
}
.rp-panel-styles .panel-heading {
    padding: 2px 15px;
}
.rp-panel-styles .panel-heading .panel-title {
    font-size: 12px;
    font-weight: 300;
}
.rp-panel-styles .rp-panel-collapse {
    margin-top: 5px;
    border-top: 1px solid #dddddd;
}
.rp-margin-bottom {
    margin-bottom: 20px;
}
.rp-bounding-box {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 992px) {
    .rp-bounding-box {
        width: 640px;
    }
}
.carousel-custom-settings {
    opacity: 0.7;
    color: #454545;
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 5%;
    text-decoration: underline;
    max-height: 88px;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
    text-shadow: none;
    border-bottom: 5px solid #e7e7e7;
}
.carousel-control.custom-left-position {
    font-size: 40px;
    color: #FFFFFF;
}
.carousel-control.custom-right-position {
    font-size: 40px;
    color: #FFFFFF;
}
@media screen and (min-width: 992px) {
    .carousel-control.custom-left-position {
        font-size: 80px;
        left: -15%;
        color: #454545;
        background-image: none;
    }
    .carousel-control.custom-right-position {
        font-size: 80px;
        left: 100%;
        color: #454545;
        background-image: none;
    }
}
.carousel-control.custom-left-position i {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -43px;
    left: 25%;
}
.carousel-control.custom-right-position i {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -43px;
    right: 25%;
}
.navigation-wrap {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (min-width: 992px) {
    .navigation-wrap {
        width: 786px;
    }
}
@media screen and (min-width: 1200px) {
    .navigation-wrap {
        width: 1002px;
    }
}
.navigation-content {
    overflow: hidden;
}
@media screen and (min-width: 992px) {
    .navigation-content {
        width: 756px;
    }
}
@media screen and (min-width: 1200px) {
    .navigation-content {
        width: 972px;
    }
}
.navigation-items {
    position: relative;
    top: 0;
    width: 2000px;
}
.navigation-item {
    float: left;
    padding: 0 10px;
}
@media screen and (min-width: 992px) {
    .carousel-control.nav-left-position {
        font-size: 28px;
        left: 0;
        color: #454545;
        background-image: none;
        width: auto;
        cursor: pointer;
    }
    .carousel-control.nav-right-position {
        font-size: 28px;
        right: 0;
        color: #454545;
        background-image: none;
        width: auto;
        cursor: pointer;
    }
    .carousel-control.nav-left-position i,
    .carousel-control.nav-right-position i {
        vertical-align: bottom;
    }
}
.selected img {
    opacity: 0.5;
}
/* end image gallery */

.select2-container.gadget-type { width: 100%;}
.select2-container.gadget-type .select2-choice {border-top-left-radius: 0;border-bottom-left-radius: 0;}

::-ms-clear { display: none; }
