/*
 * This file is part of Report Portal.
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
    .nopadding {
        padding: 0 !important;
    }

    .navbar-right {
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    #widgetEditor .nav.nav-tabs[role="tablist"] li a {
        padding-left: 50px;
        min-height: 64px;
    }

    #widgetEditor .modal-footer {
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    #widgetEditor .nav.nav-tabs[role="tablist"] li a {
        padding-left: 50px;
        min-height: 86px;
    }

    #widgetEditor .modal-footer {
        padding-right: 40px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
    .wrap-title {
        white-space: nowrap;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1370px;
    }
}

.btn-100 {
    display: block;
    width: 100%;
}

#errorBlock, .login-loader, .soft-hidden {
    display: none;
    clear: both;
}

.form-horizontal .control-label.custom-label {
    display: block;
    text-align: left;
}

mark {
    color: #a94442;
    background: none;
    padding: 0;
}

.dropdown-menu > li >a.sub-option {
    padding-left: 30px;
}
.affix {
    z-index: 10;
}

.to-power {
    font-size: 10px;
    position: relative;
    top: -5px;
}

.one-line {
    white-space: nowrap;
}

.ellipse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.block-link {
    display: block;
}

ol li {
    list-style: decimal;
    margin-left: 10px;
}

.project_details:hover {
    text-decoration: underline;
}

.select2-result-label,
.select2-search-choice div {
    max-width: 100%;
    word-break: break-word;
}

#contentHeader .project-details-header {
    width: 75%;
    text-align: left;
    word-break: break-all;
}
.project-details-header .list-item {
    width: 100%;
}

#dynamicContent #generalSettings .col-sm-12 {
    padding-bottom: 0;
}

.disabled-option {
    opacity: 0.5;
    cursor: default;
}
.disabled-option:hover {
    background-color: #FFF;
}

.exact-match .select2-result-label:after,
.exact-match .select2-result-label::after {
    position: absolute;
    display: inline-block;
    color: #d3d3d3;
    content: "New";
    right: 5px;
}
.hideNew .exact-match .select2-result-label:after,
.hideNew .exact-match .select2-result-label::after {
    display: none;
}
.select2-result-label,
.select2-search-choice div {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.user-projects .rp-mobile.list-group-item{
    white-space: normal;
    word-break: break-all;
}

.alert-warning.custom-position {
    margin-left: 15px;
    margin-right: 15px;
}

#modeOptions .radio-label{
    float: left;
    margin-left: 40px;
}

#modeOptions .selectable{
    margin-left: 20px;
    left: 0;
}

.project-item-info {
    position: relative;
}
.general-info {
    padding: 8px 15px 0;
}
.general-info .loader i {
    top: 70%;
}

.footer-copy {
    padding-right: 2px;
}

.the-only .checkbox,
.the-only label,
.the-only .rp-input-checkbox:not(:checked) + span {
    cursor: default;
}
.project-item-info .widget-content .widget-body {
    padding: 10px;
    overflow: visible;
    min-height: 100px;
}

.modal-content .btn-group .btn.btn-justified.active {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.modal-content .btn-group .btn.btn-justified:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.project-widget {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.no-margin {
    margin-bottom: 0;
}
.align-label {
    margin-left: 15px;
}
.align-label.pull-right {
    margin-right: 15px;
}

#total-bugs-percentage {
    padding: 10px;
}

.bootstrap-switch {
    z-index: 0;
}

.action-link {
    z-index: 10;
    cursor: pointer;
}

.rp-icons-style .action-link i {
    position: relative;
    font-size: 18px;
    line-height: 18px;
}

.name.custom-width {
    display: inline-block;
    min-width: 50px;
}

.nvd3 .nv-axis {
    pointer-events: visiblePainted;
    cursor: default;
}
.nv-discreteBarWithAxes .nv-y.nv-axis .nv-zeroLine {
    display: none;
}

.d3tooltip {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    z-index: 10000;
    font-family: "OpenSansRegular", sans-serif;
    min-width: 150px;
    max-width: 100%;
    font-size: 13px;
    text-align: left;
}

.rotated-90 {
    transform: rotate(90deg);
}

.rotated-180 {
    transform: rotate(180deg);
}

.rotated-270 {
    transform: rotate(270deg);
}

.rotate-image {
    position: absolute;
    left: 10px;
    top: 7px;
}

.rotate-image i.material-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
}

/* fullscreen*/

.fullscreen #contentHeader,
.fullscreen #pageSidebar,
.fullscreen .header,
.fullscreen #pageFooter,
.fullscreen .uv-icon {
    display: none !important;
}

.fullscreen .wrapper,
.fullscreen .main-content {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.fullscreen .color {
    background: #fff;
}

.fullscreen .container {
    width: 100%;
}

.fullscreen #mainContainer {
    padding-bottom: 0;
}

.fullscreen #dynamic-content {
    padding-top: 15px;
}

.fullscreen-close {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
}

.fullscreen .fullscreen-close {
    display: block;
}

.fullscreen-container {
    height: auto !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.btn.btn-salad-bg {
    background-color: #cdea7e;
    color: #799b1c;
}

/* messages block */

.flash-container {
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    opacity: 0.8;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2000;
    font-size: 14px;
}

.flash-alert {
    background: none repeat scroll 0 0 #BD362F;
    padding: 10px;
    text-shadow: 0 1px 1px #7A1000;
}

.flash-notice {
    background: none repeat scroll 0 0 #4499CC;
    padding: 10px;
    text-shadow: 0 1px 1px #365458;
}

.flash-success {
    background: none repeat scroll 0 0 #31A031;
    padding: 10px;
    text-shadow: 0 1px 1px #005800;
}

/* content */

#pagingHolder {
    clear: both;
}

#pagingHolder .pagination {
    margin-bottom: 0;
}

#pagingHolder .col-md-2 {
    margin-top: 10px;
}

a.itemsPerPage {
    font-size: 1.1em;
}

@media screen and (min-width: 992px) {
    .rp-margin-left {
        margin-left: 30px !important;
    }
}

/* colors */
/* end colors */
.rp-blue-link {
    color: #428bca;
    text-decoration: underline !important;
}

.rp-blue-link:hover,
.rp-blue-link:focus,
.rp-blue-link:active {
    color: #2a6496;
    text-decoration: none !important;
}

.suit-grid .navigateable.rp-blue-link-undrl,
.rp-blue-link-undrl {
    color: #428bca;
    text-decoration: none !important;
}
.suit-grid .navigateable.rp-blue-link-undrl {
    white-space: pre-wrap;
}
.activity-item-summary .rp-blue-link-undrl,
.navigateable.rp-blue-link-undrl,
.cases-view.rp-blue-link-undrl {
    white-space: normal;
}

.rp-blue-link-undrl:hover,
.rp-blue-link-undrl:focus,
.rp-blue-link-undrl:active {
    color: #2a6496;
    text-decoration: underline !important;
}

.rp-blue-link-undrl.disabled, .rp-blue-link-undrl.disabled:hover {
    color: #aaa;
    text-decoration: none !important;
    cursor: default;
}

.badge .rp-blue-link-undrl {
    color: #fff;
}

.note,
.rp-orange,
.rp-gray,
.rp-red {
    display: inline-block;
    padding: 0 5px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

#gridWrapper #add-collapse-method {
    position: relative;
    padding-left: 16px;
}

.collapse-method-btn {
    position: absolute;
    left: -13px;
    top: 18px;
    width: 24px;
    height: 15px;
}

.method-collapsed {
    position: relative;
    margin: 0 -15px;
}
.method-collapsed-toggle {
    width: 100%;
    padding: 0 15px;
}
.method-collapsed-show {
    height: auto;
    overflow: visible;
}
.method-collapsed-hide .method-collapsed-toggle {
    height: 2px;
    overflow: hidden;
}

.rp-orange,
.btn-default.btn-orange,
.btn-default.btn-orange:hover {
    background-color: #e6a13f;
}

.rp-gray,
.btn-default.btn-gray,
.btn-default.btn-gray:hover {
    background-color: #959595;
    color: #fff;
}

.rp-red {
    background-color: #d78684;
}

/* media */

.rp-padding-right {
    padding-right: 5px;
}

.rp-button-left {
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 9px 10px;
}

.rp-button-right {
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 9px 10px;
}

.rp-navbar-right li {
    display: inline-block;
}

.rp-navbar-right li:last-child {
    float: right;
}

@media screen and (min-width: 992px) {
    .rp-margin-left {
        margin-left: 30px !important;
    }
}

@media screen and (max-width: 767px) {
    .btn-group > .btn.btn-align {
        float: none;
        display: block;
    }
    #changePass,
    #infoEditor,
    #staticInfo {
        margin-top: 110px;
    }
    #editInfo {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #changePassword {
        position: absolute;
        top: 50px;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
    .rp-dropdown-position {
        position: absolute;
        right: 0;
        color: #565656;
        width: 280px;
        z-index: 1000;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
    }

    .rp-dropdown-position h4 {
        padding: 0 10px;
    }

    .rp-dropdown-position .nav li {
        display: inline-block;
    }

    .rp-mobile-position {
        display: block;
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }

    .rp-mobile-position li {
        padding: 0 5px;
        float: left;
        text-align: center;
    }

    .rp-mobile-position li a {
        padding: 5px !important;
    }
}

.user-id {
    position: relative;
    color: #565656;
}

.user-id:hover,
.user-id:focus {
    color: #414345;
}

.user-id img {
    position: relative;
    margin-top: -9px;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 1px;
    background: #fff;
}

.nav > li > a.user-id > img {
    max-width: 26px;
}

.user-id .status {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.arrow {
    border-radius: 0 !important;
    padding: 0 7px !important;
}

.rp-right-bg {
    border-right: 1px solid;
}

.rp-left-bg {
    border-left: 1px solid;
}

.rp-padding-reset {
    padding: 0;
}

@media screen and (max-width: 767px) {
    .rp-padding-reset {
        padding: 15px;
        background-color: #ffffff;
    }
    
    .menu-xs {
        float: left;
    }

    #settings,
    #members {
        display: inline-block;
        padding-top: 10px;
    }
}

.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
}

.defects-tooltip.tooltip {
    padding: 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #cccccc;
    opacity: 1;
}
.defects-tooltip .tooltip-inner {
    padding: 0;
    max-width: none;
    background: #fff;
    color: #464547;
    text-align: left;
    border-radius: 0;
    font-family: "OpenSansSemibold", sans-serif;
}
.defects-tip-content {
    width: 260px;
    padding: 8px 10px;
    color: #777777;
}
.stats-tip-content {
    padding: 4px 15px 12px;
    width: 150px;
    font-size: 13px;
}
.stats-tip-content span {
    color: #777777;
}
.stats-tip-content strong {
    white-space: nowrap;
    font-weight: 600;
    color: #464547;
}
.defects-tip-duration {
    width: 430px;
    color: #999999;
    padding: 12px 15px;
}
.defects-tip-list {
    margin: 4px 0 0;
    padding: 10px 0 0;
    border-top: solid 1px #e9e9e9;
}
.defects-tip-list.defects-tip-no-defects {
    border: none;
    padding: 0;
}
.stats-tip-list {
    margin: 0;
    padding: 10px 0 0;
}
.defects-tip-list > li,
.stats-tip-list > li {
    float: none;
    margin: 0;
    padding: 4px 0 4px 5px;
}
.defects-tip-title {
    font-size: 13px;
    color: #777777;
    margin: 0;
    padding: 8px 0 10px 5px;
    font-family: "OpenSansSemibold", sans-serif;
}
.defects-tip-title div[class*="col-"],
.defects-tip-list > li div[class*="col-"],
.stats-tip-list > li div[class*="col-"]{
    padding: 0;
}
.defects-tip-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    margin: 0 2px 0 0;
    position: relative;
    top: 1px;
}
.duration,
.info-section-total,
.info-section-passed {
    display: inline-block;
    padding: 3px 0;
    height: 18px;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 13px;
    line-height: 13px;
}
.duration abbr {
    text-decoration: underline;
    color: #1a9cb0;
}

.filter-rows {
    display: inline-block;
    float: left;
}

.criteria-btn {
    padding: 30px 10px 13px 12px;
    float: left;
}

.criteria-btn .filters-criteria {
    margin-top: -14px;
    margin-left: 10px;
}

.filter-wrapper {
    border-right: 1px solid #d7d7d7;
    margin-bottom: 14px;
    margin-right: 5px;
    margin-top: 7px;
    padding-right: 7px;
    display: inline-block;
    float: left;
    height: 60px;
    width: 216px;
    min-width: 150px;
    position: relative;
}

.filter-wrapper i {
    color: #9e9e9e;
    font-size: 12px;
}

.filter-wrapper.fluid-filter {
    width: auto;
    height: auto;
    min-height: 60px;
}

.filter-wrapper.fluid-filter .form-group {
    margin: 0;
}

.filter-wrapper .input-group-btn .value {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    overflow: hidden;
    width: 90%;
    float: left;
}

#statusFilterSelector {
    width: 210px;
}

.remove-filter {
    cursor: pointer;
}


.tokenfield.input-sm, .input-group-sm .tokenfield {
    padding: 0;
}

.tokenfield.input-sm .twitter-typeahead .tt-query,
.tokenfield.input-sm .twitter-typeahead .tt-hint {
    background: #fff !important;
    border: none;
    box-shadow: none;
    height: 100%;
    margin: 0;
    line-height: normal;
    width: auto !important;
}

.filter-rows .form-group {
    min-width: 170px;
    position: relative;
}

.input-group.input-group-sm, .dropdown-like .btn-default {
    width: 100%;
}

.fluid-filter .input-group.input-group-sm, .dropdown-like .btn-default,
.tokenfield.input-sm .twitter-typeahead .tt-query {
    min-width: 206px !important;
}

.fluid-filter .input-group-btn {
    width: auto;
}

.fluid-filter .form-group {
    display: inline-block;
}

.dropdown-like.input-group-sm > .input-group-btn > .btn {
    border-radius: 4px;
}

.input-group-sm .token, .tokenfield.input-sm .token {
    margin: 5px 0 auto 5px;
}

.status-item {
    font-size: 12px;
}

.rp-margin-reset-log {
    margin: 0 -15px;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
}

.rp-table-row.danger,
.rp-margin-reset > .rp-table-row.danger:nth-child(2n){
    background-color: #f5eaea;
}

.rp-table-row:hover,
.rp-table-row.danger:hover
.rp-margin-reset > .rp-table-row:hover,
.rp-margin-reset > .rp-table-row:nth-child(2n):hover,
.rp-table-row:nth-child(2n):hover,
.rp-margin-reset-log > .row:nth-child(2n):hover {
    background-color: #e9e9e9;
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -ms-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}

.rp-table-row {
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -ms-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}

.reset-transition.rp-table-row {
    transition: none;
}

.rp-table-row.ERROR {
    background-color: #f2dede !important;
}

.log-list {
    font-size: 12px;
}

.log-list span.pre-view {
    white-space: pre-wrap;
}

#TestItemsNav {
    position: absolute;
    top: 9px;
    right: 9px;
}
.log-testitems-nav {
    position: relative;
    padding: 0 15px;
}
.log-testitems-nav .pager {
    margin: 0;
}
.log-testitems-nav .pager li > a, .log-testitems-nav .pager li > span {
    border-radius: 0;
    padding: 2px 12px 4px;
    font-weight: normal;
    font-size: 18px;
}
.log-testitems-nav .pager li > a.disabled,
.log-testitems-nav .pager li > span.disabled,
.log-testitems-nav .pager li > a.disabled:hover,
.log-testitems-nav .pager li > span.disabled:hover {
    cursor: default;
    color: #ddd;
    background: #fff;
}
.log-testitems-nav.fixed {
    position: fixed;
    right: 23px;
    bottom: 40px;
}

.media-list li.success {
    border-left: 4px solid #5CB85C !important;
}

.ERROR {
    border-left: 4px solid #F56561 !important;
}

.WARN {
    border-left: 4px solid #F0AD4E !important;
}

.INFO {
    border-left: 4px solid #428BCA !important;
}

.DEBUG {
    border-left: 4px solid #F0F0F0 !important;
}

.TRACE,
#logs .panel .panel-heading {
    border-left: 4px solid #D4D4D4 !important;
}

.media-list-hover li.success:hover {
    background-color: #d0e9c6;
}

.ERROR:hover {
    background-color: #ebcccc !important;
}

.WARN:hover {
    background-color: #faf2cc !important;
}

.INFO:hover {
    background-color: #c4e3f3 !important;
}

.DEBUG:hover {
    background-color: #F5F5F5 !important;
}

.right-5 {
    margin-right: 5px;
}

#infoWrapper,
#infoWrapper .panel-title {
    font-size: 12px;
}

#logGallery {
    padding-top: 20px;
}

#logGallery img.img-responsive {
    margin: 0 auto;
}

pre.log-preview {
    background: none;
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: normal;
}

.line-icon {
    position: relative;
}

.tickets-amount {
    font-size: 8px;
    position: absolute;
    right: 0;
    top: -5px;
}

.nicely-scrollable {
    display: block;
    height: 300px;
}

.editor-row .nicely-scrollable {
    display: inline-block;
    height: auto;
}

.row-like {
    margin-left: -15px;
    margin-right: -15px;
}

#infoWrapper .panel-heading {
    padding: 2px 10px;
}

.navigation-item {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}

#infoWrapper .carousel-indicators li {
    width: auto;
    height: auto;
    display: inline-block;
}

#infoWrapper .item {
    min-height: 200px;
}

#infoWrapper .carousel-caption {
    cursor: pointer;
}

#infoWrapper .carousel-caption p {
    margin: 5px 0;
}

.navigation-items {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

#infoWrapper .navigation-content {
    height: 60px;
    overflow: hidden;
    position: relative;
}

#templateOptions .check-all,
#templateOptions .name-label {
    font-family: "OpenSansSemibold", sans-serif;
    font-weight: normal;
}
#templateOptions .name-label {
    margin-bottom: 4px;
}
#templateOptions .select2-container-multi,
.text-wrapper {
    word-break: break-all;
    display: inline-block;
}

.user-name.text-wrapper {
    display: block;
}

.user-name {
    padding-left: 50px;
    font-size: 13px;
    line-height: 15px;
}

.text-wrapper .keyboard_arrow_down {
    display: none;
}

.text-wrapper .collapsed .keyboard_arrow_down {
    display: inline-block;
}

.text-wrapper .collapsed .keyboard_arrow_up {
    display: none;
}

.btn.btn-collapse {
    margin-top: 5px;
    opacity: 0.5;
    padding: 2px;
}

.nomargin {
    margin: 0 !important;
}

.badge.TO_INVESTIGATE {
    background-color: #ffb752;
}

.badge.PRODUCT_BUG {
    background-color: #e93416;
}

.badge.AUTOMATION_BUG {
    background-color: #f5d752;
    color: #222222;
}

.badge.SYSTEM_ISSUE {
    background-color: #2273cd;
}

.rp-table-row.selected .defect-type,
.rp-table-row.selected .inline-editor {
    font-weight: normal;
}

.absolute-buttons.in-process {
    top: 100%;
    left: 0;
}

.rp-table-row.parents-line {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-bottom: -5px;
    margin-top: -4px;
    padding: 0;
}

.parents-line a {
    padding: 10px;
    display: inline-block;
}

.label.match-issue {
    padding: 3px 12px;
    color: #666;
    font-size: 90%;
}

.match-issue.disabled {
    color: #989898;
    cursor: default;
}

.match-issue.label.autoanalyze {
    color: #ffffff;
    top: auto;
}

.replace-comments {
    /*margin-left: 30px;*/
}

.multiple-spaces {
    white-space: pre !important;
}

/*------*/
/* TODO */

.separator {
    padding: 10px 0;
    border-top: solid 1px #bdc7cc;
    width: 66%;
    margin-left: 13%;
}

/*------*/

.will-delete .has-error .control-label {
    color: #666;
}
.will-delete .has-error .error-block {
    /*display: none !important;*/
}
.collapsed-tags {
    padding: 0;
    text-align: center;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}
.will-delete .has-error .select2-container-multi .select2-choices {
    border-color: #ccc;
    color: #333;
}

/* media end */

/* modal dialog */

.modal-header.panel-heading {
    background-color: #d9edf7;
    font-size: 16px;
    color: #31708f;
}

#trackerContent .form-group {
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
}

#contentModal output {
    padding-top: 0;
}

/* modal dialog end */

/* tables */

.rp-margin-reset {
    margin: 0 -15px;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
}

.rp-margin-reset > .row,
.rp-margin-reset-log > .row {
    /*min-height: 37px;*/
}

.rp-margin-reset-log > .row:nth-child(2n),
.rp-margin-reset > .rp-table-row:nth-child(2n) {
    background-color: #fafafa;
}

.rp-margin-reset .rp-table-thead {
    /*min-height: 47px;*/
    position: relative;
    font-weight: bold;
}

.rp-margin-reset {
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
}

.rp-margin-reset-log .rp-table-thead:after,
.rp-margin-reset .rp-table-thead:after {
    border-top: 1px solid #dddddd;
    box-shadow: 0 2px 2px 0 rgba(190, 190, 190, 0.3) inset;
    content: "";
    height: 3px;
    width: 100%;
}

.rp-margin-reset-log .rp-table-thead .rp-table-th,
.rp-margin-reset .rp-table-thead .rp-table-th {
    padding: 14px 0 13px 0;
}

.rp-table-hover > div.row:hover {
    /*background-color: #f5f5f5;*/
    transition: background-color 0.2s ease 0s;
}

#gridWrapper .item-type {
    padding-left: 10px;
    padding-right: 10px;
}

#gridWrapper .rp-margin-reset-log > div.rp-table-row > .text-wrapper,
#gridWrapper .rp-margin-reset > div.rp-table-row > .text-wrapper {
    font-family: monospace; /* TODO 3 */
    overflow: hidden;
}

.rp-border-first-child > div:first-child {
    border-right: 1px solid #dddddd;
}

.rp-border-last-child > div > div:last-child {
    border-left: 1px solid #dddddd;
}


@media screen and (max-width: 767px) {
    .rp-margin-reset {
        border: none;
    }

    .rp-icons-style li a {
        padding: 5px 10px;
    }
}

.rp-reseted, .rp-pass, .rp-fail, .pr-skip, .rp-warning, .rp-empty, .rp-inprogress {
    margin: 0;
    text-align: center;
    box-sizing: content-box;
    padding: 4px;
}
.rp-pass {
    background: #b4d2af;
}
.rp-fail {
    background: #e8ada3;
}

.rp-reseted {
    background: #e0e0e0;
}

.rp-empty {
    background: #f5f5f5;
}

.rp-warning {
    background: #fcf8e3;
}
.rp-inprogress {
    background-color: rgba(160, 180, 200, 0.5);

}

.rp-info.show-time {
    font-size: 13px;
    line-height: 15px;
}

.rp-info {
/*margin: 0 -15px;*/
/*padding: 8px 0;*/
/*word-break: break-all;*/
}

@media screen and (min-width: 992px) {
    .rp-info-padding {
        padding: 22px 0 0 0;
    }
}

.rp-table-title {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 0 8px 0;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    word-break: break-all;
}

.rp-icons-style {
    font-size: 12px;
}

.rp-icons-style li {
    display: inline-block;
}

.rp-icons-style li a {
    color: #414345;
    background-color: inherit !important;
    cursor: pointer;
}

.rp-icons-style li a:hover,
.rp-icons-style li a:focus {
    color: #777777;
}

.rp-icons-style li a:active {
    color: #2a6496;
}

.rp-icons-style li.active a {
    color: #427caf;
}

.rp-user-access {
    padding-bottom: 10px;
}

.rp-user-access h3 {
    font-weight: 100;
    font-size: 20px;
}

.rp-user-access p a {
    text-decoration: underline !important;
}

.rp-member-wrap {
    padding: 7px 0;
}

.rp-member-wrap .rp-member-img {
    margin-right: 10px;
    margin-left: 15px;
    min-height: 50px;
}

.rp-member-wrap .rp-member-body {
    padding-top: 3px;
}

.rp-member-wrap .rp-member-body p {
    margin: 0 0 3px 0;
}

.member-name-holder {
    white-space: nowrap;
}

.name-wrapper {
    word-wrap: break-word;
    position: relative;
    padding-left: 20px;
}
.filter-table-panel .name-wrapper {
    padding: 0;
}
.filter-table-panel .description-wrapper {
    margin-left: 0;
}
.name-wrapper .btn-group {
    position: absolute;
    left: 0;
    top: -1px;
}

.name-wrapper .dropdown-menu {
    font-size: 13px;
}

.show-time {
    /*padding-left: 25px;*/
}
.custom-sort-padding {
    padding-left: 5px;
}
.show-time .exact-time {
    display: none;
}

.show-time:hover .exact-time {
    display: inline;
}
.show-time .from-now {
    padding-bottom: 1.2em;
}
.show-time:hover .from-now {
    display: none;
}

.exact-driven .show-time .exact-time {
    display: inline;
}

.exact-driven .show-time .from-now {
    display: none;
}

.exact-driven .show-time:hover .exact-time {
    display: none;
}

.exact-driven .show-time:hover .from-now {
    display: inline;
}

.description-wrapper {
    background-color: inherit;
    border: medium none;
    font-size: 0.9em;
    margin-left: 10px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    white-space: pre-wrap;
}
.description-wrapper.nicescroll-it{
    max-height: none;
}

.name-cell .description-wrapper {
    padding-left: 10px;
}

.filters-criteria input {
    margin-right: 5px;
}

.filters-criteria label {
    display: block;
}

.value-selector input[type="radio"],
.value-selector input[type="checkbox"] {
    margin-top: 2px;
}

#addFilters {
    display: inline-block;
    clear: both;
    margin-top: 10px;
    color: #428bca;
    position: relative;
}

#addFilters.disabled {
    color: #888;
}

#b-save-filter {
    bottom: 0;
    display: none;
    height: 30px;
    position: absolute;
    right: 10px;
}

#b-save-filter .absolute-buttons.save-options {
    bottom: -60px;
    top: auto;
}

.input-filter {
    margin-top: 9px;
    position: relative;
    width: 100%;
}

.input-filter.form-group {
    margin-bottom: 0;
}

.input-filter .form-control {
    padding-right: 25px;
}

.message-filter-wrapper.input-filter {
    width: auto;
}

.col-sm-10 .message-filter-wrapper.message-filter-wrapper.input-filter {
    width: 300px;
}

button.ERROR {
    background: #ebcccc;
}

button.INFO {
    background: #c4e3f3;
}

button.WARN {
    background: #faf2cc;
}

button.Screenshot {
    background: #baecb4;
    border-left: 4px solid #479D4F;
    width: 100px;
}

.action-info i {
    margin: 10px;
    cursor: help;
}

/* end tables */

/* footer */

/* colors */
.danger {
    background-color: #f5eaea;
}

/* avatar */

.avatar.img-thumbnail {
    /*max-width: 120px;*/
    border-radius: 4px;
}

.thumbnail > img {
    min-width: 60px;
}

.avatar.hidden-xs {
    max-width: 32px;
    max-height: 32px;
}

/* launches table*/
.margin-col {
    margin-left: -8px;
}

.last-col {
    margin-left: -32px;
}

.extra-space {
    margin: 0 4px;
}

@media only screen and (max-width: 992px) {
    .rp-margin-reset .rp-table-thead {
        font-size: 12px;
    }
}

/* dashboards */

#dashboard:hover i, #dashboard:focus i, #dashboard.active i {
    background-position: -5px -50px;
}

#launches:hover i, #launches:focus i, #launches.active i {
    background-position: -5px -320px;
}

#filters:hover i, #filters:focus i, #filters.active i {
    background-position: -5px -230px;
}

#userdebug:hover i, #userdebug:focus i, #userdebug.active i {
    background-position: -5px -140px;
}


.dashboard-title {
    text-align: left;
    width: auto;
}

.dashboard-title .open a {
    color: #333;
}

.b-dashboars-list {
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    max-width: 1150px;
    border: 1px solid #858687;
    background: #fff;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 99;
    overflow: hidden;
}

.dashboards-container {
    padding: 20px;
}

.dashboards-container h4:first-child {
    margin-top: 0;
}

.b-dashboars-list .row {
    margin-bottom: 16px;
}

.b-dashboars-list .borderWidget > .columnWidget {
    width: 20%;
}

.b-dashboars-list .columnWidget > ul,
.b-shareddash-list .columnWidget > ul {
    margin: 0 8px;
}

.b-dashboars-list .columnWidget > ul > li a,
.b-shareddash-list .columnWidget > ul > li a {
    margin: 0;
}
.b-dashboars-list .columnWidget > ul > li a.disabled {
    cursor: default;
}
.b-dashboars-list .columnWidget > ul > li a.disabled:hover,
.b-dashboars-list .columnWidget > ul > li a.disabled:active,
.b-dashboars-list .columnWidget > ul > li a.disabled:focus {
    border-color: transparent;
    text-decoration: none;
}

.b-dashboars-list .columnWidget > ul > li {
    padding-bottom: 4px;
}

.b-shareddash-list .columnWidget > ul > li {
    padding-bottom: 12px;
}

.b-dashboars-list .columnWidget > ul > li.active a,
.b-dashboars-list .columnWidget > ul > li.active a:hover {
    background: #d7d7d7;
    cursor: default;
    color: #909090;
}

.borderWidget .title {
    float: none;
    padding-top: 0
}

.b-dashboars-list .borderWidget .title {
    float: none;
    border-bottom: 1px solid #333;
    padding: 10px 10px 2px 0;
    margin-bottom: 8px;
    text-decoration: none;
}

.b-shareddash-list .borderWidget .title {
    padding: 12px 10px;
}

.b-shareddash-list {
}

.add-dash-button {
    padding: 0 0 12px;
}

.add-dash-button.pull-left {
    padding: 8px 15px;
    color: #333;
}

.rp-dashboard-overflow .rp-dashboard-content {
    padding: 0;
    overflow-y: auto !important;
}

.borderWidget .widget_type {
    padding: 10px;
}

.shared-dashboards-list .remove {
    float: right;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: -1px 0 0 6px;
    cursor: pointer;
}

.shared-dashboards-list .remove:hover {
    background: #eeeeee;
}

/*.dashboard-edits li a,*/
.rp-nav-right li.pr-launch-btn a {
    padding: 16px 10px;
}

/* -------------------------- */

/* widgets */

#addNewWidget {
    font-size: 24px;
    font-weight: 500;
    padding: 11px 12px;
}

#addNewWidget.disabled {
    pointer-events: auto;
}

.widgets-list {
    padding: 0;
    z-index: 10;
    margin: 30px -7px 0;
}

.widgets-list .grid-stack-item-content {
    left: 7px;
    right: 7px;
}

.widgets-list .grid-stack-item-content .panel-heading {
    height: 54px;
    padding: 8px 15px 10px;
    position: relative;
}

.widgets-list .panel-heading .rp-top-links {
    padding-top: 8px;
}

.grid-stack-placeholder > .placeholder-content {
    border-color: #4d4c4c;
    background: #f5f5f5;
}

.grid-stack-item-content > .ui-resizable-handle {
    color: #4d4c4c;
}

.widget-item {
}

.widget-item .ui-resizable-handle {
    right: 20px;
    background: none;
}

.drag-handle {
    cursor: move;
}
.average-percent {
    font-size: 12px;
    text-align: center;
    min-height: 20px;
}

.statistics-panel {
    padding: 12px 0 12px 2%;
}
.statistics-panel-cols {
    padding: 0;
}

.statistics-panel .statictic-block {
    margin: 12px 0;
    min-height: 70px;
}
.statistics-panel div[class*="col-"] {
    min-width: 120px;
}

.statistics-panel .statictic-block p {
    margin: 0;
}

.no-widgets {
    padding: 0;
}

.no-dashboards {
    padding: 15px 0 0;
}

.widget-content .alert {
    margin: 15px;
}

.widget-content .container-fluid > .alert {
    margin: 15px 0;
}

.widget-item .widget-content,
.grid-stack-item .widget-content {
    position: absolute;
    overflow: visible !important;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    z-index: auto !important;
}

.widget-content .panel-body, .compare-content .panel-body {
    border-top: 54px solid transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    overflow: visible;
}
.widgets-list .widget-content > .baron__root{
    position: absolute;
}
.widgets-list .widget-content > .baron__root > .baron__track {
    top: 56px;
}

.compare-content .panel-body {
    border-top: 24px solid transparent;
}

.widget-body {
    position: relative;
}

.widget-content .widget-body .panel-body {
    border: none;
    position: relative;
    overflow: visible;
}

.widget-content .widget-body {
    max-height: 600px;
    overflow-y: auto;
}
/*.widget-content{*/
    /*height: 300px;*/
/*}*/
.widget-content .widget-chart {
    /*height: 300px;*/
    height: 100%;
    overflow: visible;
}

.widget-cel-name {
    padding-left: 15px;
}

.widget-cel-center {
    text-align: center;
}

.widget-cel-th {
    padding: 0 15px;
}

.cases-uniq-launches .rp-margin-reset {
    margin: 0;
    border-bottom: none;
}

.cases-uniq-launches .rp-margin-reset .rp-table-thead {
    min-height: inherit;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.cases-uniq-launches .rp-margin-reset > .row.rp-table-footer {
    border-top: 2px solid #ddd;
    border-bottom: none;
    padding: 8px 0;
    background: none;
    font-weight: bold;
    font-size: 14px;
}

.cases-name {
    overflow: hidden;
}

.widget-content .rp-margin-reset .rp-table-thead .rp-table-th {
    padding-left: 0;
}

.widget-content .hoverFullTime {
    width: auto;
}

.widget-content .hoverFullTime div.time-full {
    left: 0;
}

.widget-content .nicescroll-rails > div {
    right: 1px;
}

.panel.rb-panel-btn {
    margin: 16px 0 0;
}

.nvtooltip h3 {
    font-size: 13px;
    font-weight: bold;
}

.b-sharedwidget-list {
    overflow-y: auto;
    max-height: 260px;
}

.widget-project {
    display: inline-block;
    margin: 0 0 0 8px;
}

.drag-handle .rp-top-links li {
    float: left;
}

.uniq-bugs-panel .rp-margin-reset, .filter-table-panel .rp-margin-reset {
    margin: 0;
    border: none;
}
.filter-table-panel .ftp-cols {
    padding: 0 15px 0 0;
}

.combo-pie-widget, .combo-pie-part {
    position: relative;
    height: 100%;
}

.combo-pie-widget > .row,
.combo-pie-widget > .row > div[class*="col-"] {
    height: 100%;
    padding: 0;
}

.nvd3.nv-pie .nv-pie-title {
    font-size: 1.2em;
    fill: #333;
}

.nvd3.nv-pie path {
    stroke-width: 0;
}

.over-name {
    margin: 0 8px 0 0;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.nv-area.hover, .nv-bar.hover {
    cursor: pointer;
}

.most-failed-launch {
    border-bottom: 1px solid #dbdbdb;
}

.most-failed-launch .rp-table-th {
    font-weight: normal;
}

.most-failed-launch .rp-table-th a {
    margin-left: 50px;
}

.widget-type-name {
    font-size: 13px;
}
.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0.75;
}
.bug-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* fix for widget preview */
#previewContent svg .nvd3.nv-stackedarea path.nv-area,
#previewContent svg .nvd3.nv-stackedarea path.nv-area.hover,
#previewContent svg .nvd3 .nv-multibar .nv-groups rect,
#previewContent svg .nvd3 .nv-multibar .nv-groups rect.hover,
#previewContent svg .nvd3 .nv-multibarHorizontal .nv-groups rect,
#previewContent svg .nvd3 .nv-multibarHorizontal .nv-groups rect.hover,
#previewContent svg .nvd3 .nv-discretebar .nv-groups rect,
#previewContent svg .nvd3 .nv-discretebar .nv-groups rect.hover,
#previewContent svg .nvd3.nv-pie path,
#previewContent svg .nvd3.nv-pie .hover path {
    cursor: default;
    fill-opacity: 0.7;
}

#previewContent svg .nv-legend-text,
#previewContent svg .nv-legend-symbol {
    cursor: default;
}
.nv-stackedarea .nv-point {
    cursor: pointer;
}

/* -------------------------------- */

/* widget wizard */

.wizard .form-group {
    overflow: visible;
}

.shared-widgets-list {
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
}

.widget-filter {
    position: relative;
}

.form-group.wizard-buttons {
    margin-bottom: 0;
}

/* -------------------------------- */

/* combobox */

.filter-control, .select2-container {
    width: 100%;
}

.select2-container.input-sm {
    padding: 0;
}

#widgetEditor .select2-container {
    width: 200px;
}

.select2-container .select2-choice {
    background-image: none;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    min-height: 30px;
    margin-right: -1px;
}

.select2-container.select2-drop-above .select2-choice {
    border-radius: 0;
}

.select2-container .select2-choice .select2-chosen {
    box-shadow: none;
    padding: 2px 5px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 30px;
}

.has-error .select2-container .select2-choice {
    border-color: #a94442;
}

.select2-container .select2-choice .select2-arrow {
    width: 30px;
    border: none;
    background: none;
}

.select2-container .select2-choice .select2-arrow b {
    background: none;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-top: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-radius: 0;
}

.has-error .select2-container .select2-choice .select2-arrow {
    border-color: #a94442;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 2px 1px;
}

.select2-dropdown-open .select2-choice {
    background: none;
}

.select2-container-multi .select2-choices {
    padding-right: 10px;
    border-color: #ccc;
    border-radius: 0 4px 4px 0;
    position: initial;
}

#projectProperties .select2-container-multi .select2-choices {
    border-radius: 4px;
    padding: 0 6px;
}

.has-error .select2-container-multi .select2-choices {
    border-color: #a94442;
    color: #a94442;
}

.select2-dropdown-open .select2-choice {
    background: none;
    border-radius: 0 4px 0 0;
}

.select2-container.gadget-type {
    width: 100%;
}

.select2-container.gadget-type .select2-choice {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#form-merge-launches .select2-container-multi .select2-choices,
#editLaunchModal .select2-container-multi .select2-choices {
    border-radius: 4px;
}

#form-merge-launches .select2-dropdown-open .select2-choice,
#editLaunchModal .select2-dropdown-open .select2-choice {
    background: none;
    border-radius: 4px 4px 0 0;
}

.history-items .remove-item {
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

/* ------------------------- */

/* loader */

.loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    opacity: 0.6;
    z-index: 3;
}

.loader i {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
    font-size: 40px;
    color: #29d;
}

.login-loader {
    position: relative;
    height: 44px;
    margin: -8px 0 0;
}
.loading-widget.loader {
    left: 10px;
    right: 10px;
    width: auto;
}

/*#resetForm, #restoreForm {display: none;}*/

#forgotPass:hover,
#backToLogin {
    text-decoration: underline;
    cursor: pointer;
}

#resetForm .bottom {
    margin: 0;
}

#resetForm .text-muted {
    font-weight: normal;
}

#resetForm h3,
#restoreForm h3 {
    font-size: 14px;
    margin-top: 0;
}

#showPass {
    margin: 0 5px 0 0;
    float: left;
}

/* ---------------------- */

/* fix for modal */
.modal-backdrop.fade.in {
    opacity: 0.8;
}

/* ------------------- */

/* fix content for visible dashboars list*/
.content {
    overflow: visible;
}

/* ---------------------- */

#pageFooter .breadcrumbs {
    padding: 0 40px 0 0;
}

#pageFooter .breadcrumbs > li > a:before {
    content: " | ";
}

#pageFooter .breadcrumbs > li:first-child > a:before {
    content: "";
}

/*  filter tabs on launches*/

.filter-option-input .select2-container {
    height: auto;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 4px 5px 4px 5px;
}

/* table rows for launches*/

span.label.autoanalyze {
    margin-right: 6px;
    position: relative;
    top: -10px;

}
#headerBar span.label.autoanalyze {
    padding: 0 5px;
    margin-left: 5px;
    top: auto;
    margin-right: 0;
}

.disabled.start-analyze {
    color: #999;
    cursor: not-allowed;
}

#gridWrapper span.label.autoanalyze,
#mergeGrid span.label.autoanalyze,
#compareGrid span.label.autoanalyze {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

.tags .tag {
    margin-right: 2px;
    margin-top: 2px;
}
.tags .text-muted {
    position: relative;
    display: inline-block;
    word-break: break-all;
    margin-right: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tags .text-muted a.tag,
.tags .text-muted span.to-history {
    padding-left: 20px;
}
.tags .text-muted > i.material-icons {
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    font-size: 15px;
    line-height: 14px;
}

.rp-info.rp-colors.total.notfound-launches {
    position: relative;
    padding: 8px 0;
}

.to_investigate-table-cell {
    top: 10px;
    right: 10px;
    position: absolute;
}
@media screen and (max-width: 1199px) {
    .wrap-title {
        white-space: normal;
    }
}
.to_investigate-table-cell span.rp-desktop {
    background-color: orange;
    top: -2px;
    position: absolute;
}

.to_investigate-table-cell .rp-mobile {
    right: 0;
    position: absolute;
}

.rp-padding-bottom {
    padding-bottom: 10px;
}

.tag:hover {
    text-decoration: underline;
    color: #2a6496;
}
.to-history.tag:hover {
    text-decoration: none;
    color: #777;
}

pre.shifted {
    background-color: inherit;
    border: medium none;
    font-size: 0.9em;
    /*max-height: 200px;*/
    white-space: pre-wrap;
}

h5.shifted,
pre.shifted{
    margin-left: 24px;
}

@media screen and (max-width: 767px) {
    .pr-grid-defect-stats {
        display: none;
    }
    .rp-mobile-padding {
        padding-bottom: 15px;
    }

    .rp-info.rp-mobile-size {
        font-size: 14px;
    }

    #topHeader .admin_header {
        padding-top: 10px;
        margin-left: 55px;
    }

    .rp-info.rp-colors {
        font-size: 18px;
        text-align: center;
    }

    .rp-info.rp-colors.total {
        font-size: 18px;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .rp-info.rp-colors p {
        font-size: 12px;
    }

    .to_investigate-table-cell .rp-ti-badge {
        border-radius: 0;
        height: auto;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 4px 2px;
    }
    .to_investigate-table-cell .rp-ti-badge p {
        white-space: nowrap;
        margin: 0;
    }

    .rp-info.rp-colors:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 5%;
        width: 12px;
        height: 89%;
    }

    .rp-info.total:before {
        background-color: #489beb;
    }

    .rp-info.passed:before {
        background-color: #87b87f;
    }

    .rp-info.failed:before {
        background-color: #f16a50;
    }

    .rp-info.skipped:before {
        background-color: #bdc7cc;
    }

    .rp-info.pb:before {
        background-color: #e93416;
    }

    .rp-info.ab:before {
        background-color: #f5d752;
    }

    .rp-info.si:before {
        background-color: #2273cd;
    }

    .rp-info.ti:before {
        background-color: orange;
    }
}

/* ------------------------------- */

/* project settings */

#edit-project-form .btn-group {
    display: block;
}

#edit-project-form .btn-group .dropdown-toggle,
#edit-project-form .btn-group ul.dropdown-menu {
    width: 100%;
    text-align: left;
    float: none;
}

#edit-project-form .dropdown-toggle .caret {
    position: absolute;
    right: 12px;
    top: 12px;
}

#edit-project-form .dropdown-toggle .select-value {
    display: block;
    overflow: hidden;
    margin-right: 24px;
}

#jiraConfig .input[type="radio"],
#jiraConfig input[type="checkbox"] {
    height: auto;
    margin-top: 9px;
}

.settings_title.settings_page {
    padding-bottom: 0;
}

#saveBts {
    display: none;
}

#btsBlock {
    position: relative;
}

#dimWrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.show-dim #dimWrapper {
    display: block;
}

#tbsChangeWarning {
    display: none;
}

#instanceHead .close-add {
    display: none;
}

#instanceHead .activated .close-add {
    display: inline-block;
}

.close-add-action {
    position: relative;
    top: -3px;
    margin-left: 5px;
    cursor: pointer;
}

#instanceHead .activated .add-new {
    display: none;
}

/* ---------------------------- */

/* history && compare && merge */

.history-panel {
    /*min-height: 80px;*/
    /*padding: 19px;*/
    padding: 15px;
    background-color: #ffffff;
    /*z-index: 10;*/
    margin-top: 15px;
    margin-top: 0px;
}

.history-panel.affix {
    border-bottom: 1px solid #dddddd;
    margin-top: 0px;
}
.pr-launch-btn {
    margin: 0;
    cursor: pointer;
}

.pr-launch-btn a.disabled {
    cursor: default;
    opacity: 0.6;
}

.nav-pills > li.pr-launch-btn {
    margin: 0 0 -15px;
    padding-bottom: 5px;
}

.history-shown {
    /*background: linear-gradient(to bottom, #414345 0%, #67686b 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

.in-progress {
    background-color: rgba(160, 180, 200, 0.5);
}

#compareGrid div.rp-table-row.selected-forhistory,
#mergeGrid div.rp-table-row.selected-forhistory {
    background-color: #DFF0D8 !important;
}

#mergeGrid .row.disabled {
    color: #999;
    opacity: 0.6;
}

.compare-content {
    padding: 18px 0;
    position: relative;
}

.merge-form {
    padding: 0 18px;
}

.select2-container-multi .select2-choices .select2-search-choice.common-tag {
    background: #ebf1f6;
    background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
    background: -webkit-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    background: -o-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    background: -ms-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf1f6", endColorstr="#d5ebfb", GradientType=0);
}

.hm-panel-buttons {
    padding: 0 16px 0 0;
}

.hm-panel-buttons .btn {
    margin: 0 4px;
}

.tags-select {
    display: block;
}

.tags-select.select2-dropdown-open .select2-choices {
    border-radius: 4px 4px 0 0;
}

.tags-select .select2-choices {
    border-radius: 4px;
    padding: 3px 8px 2px;
}

/* ------------------------- */

/* user config conainer */

.config-container {
    height: 300px;
    position: relative;
}

#user-config {
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.config-pills {
    background-image: linear-gradient(#555555, #444444);
    border: 1px solid #444;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    list-style: none outside none;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
}

.config-pills > li > a {
    border-radius: 4px 4px 0 0;
    color: #ccc;
    display: inline-block;
    float: left;
    font-size: 14px;
    padding: 3px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.config-pills > li > a:hover {
    color: #fff;
    text-decoration: none;
    background: inherit;
}

.config-pills > li.active > a {
    background: #3b3b3b;
    background-image: linear-gradient(#222222, #444444);
    border-radius: 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
}

/* ---------------------------- */

/* for old tooltip */
.tooltip-custom {
    background: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    width: 157px;
    position: absolute;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    z-index: 100;
}
.tooltip-inner {
    word-wrap: break-word;
}
.tooltip-custom:after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 50%;
    margin-left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5.5px 0 5.5px;
    border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
}

/* ----------------- */

/*  not found  */
.notfound-body {
    margin: 30px auto 20px auto;
}

/*  end not found  */

/* Edit Launch Modal*/

.edit-launch-name,
.edit-launch-number {
    font-weight: bold;
}

/* ----------------------  */

.user-projects {
    max-height: 282px;
    overflow: auto;
}

/* jira config */

.red-text {
    color: #b94a48;
}

.col-sm-12.p-bottom-15, #submitPropertiesBlock {
    padding-bottom: 15px;
}

#dynamicContent .col-sm-12.no-label {
    padding-bottom: 18px;
}

.to-100-width .dropdown-menu,
.to-100-width .select2-container,
.to-80-width .dropdown-menu {
    width: 100%;
}


.to-100-width .dropdown-menu.to-fixed-height {
    max-height: 300px;
    overflow-y: scroll;
}

.input-group.to-100-width,
.btn-group.to-100-width,
.to-100-width .btn,
.to-80-width .btn,
#authorizationType {
    width: 100%;
    text-align: left;
    position: relative;
    display: inline-block;
}

#authorizationType .caret,
.to-100-width .caret,
.to-80-width .caret {
    position: absolute;
    right: 12px;
    top: 14px;
}

.btn-controls .btn {
    margin-left: 10px;
}

#cancelBtsProperties,
#resetFieldsWarning,
#cancelFields,
#fieldsWrapper,
#externalError,
#requiredFields,
#credentialsWrong {
    display: none;
}

#externalError .alert {
    margin-bottom: 0;
}

#credentialsLink {
    position: relative;
}

#credentialsLink:after {
    content: "-";
    position: absolute;
    right: -15px;
    font-size: 24px;
}

#credentialsLink.collapsed:after {
    content: "+";
}

#staticContent {
    padding-bottom: 15px;
}

#collapseCredentials .has-error,
#staticContent .panel-group {
    margin-bottom: 0;
}


/* add, invite Member */

.to-gen-pass {
    padding: 6px 0 0 6px;
}
/*
.help-inline label {
    font-weight: normal;
    padding-top: 8px;
    margin: 0 4px 0 0;
}
*/
#sendInvite,
#addUserButton,
#viewEmail,
#register {
    margin-left: 12px;
}

#inviteEmail {
    font-size: 14px;
}

#registerUser {
    padding: 0 15px;
}

#registerUser .help-block {
    display: inline-block;
    padding-top: 8px;
    margin: 0 40px 0 15px;
    color: #333;
}

#dynamicContent #registerUser .form-group {
    margin: 0 -15px 15px;
}
.generate_password-row {
    margin: -12px 0 10px;
    line-height: 1em;
}
#success-message {
    margin: 0 0 20px;
    padding: 10px 15px;
}

.admin-privileges {
    padding: 6px 0 0 6px;
}
/*
.error-bottom {
    padding-bottom: 0 !important;
}

.error-bottom .help-inline {
    padding-left: 6px;
}*/

.show-password {
    margin-top: -12px;
}

/* ---------------  ------------------ */

#dynamicFields .form-control[readonly],
#dynamicContent .form-control[readonly] {
    background-color: white;
    cursor: default;
}

#dynamicFields textarea.form-control,
#dynamicContent textarea.form-control {
    max-width: 100%;
}

.form-control.default-selector {
    width: auto;
    box-shadow: none;
}

.error-block {
    /*padding: 6px 0 0;*/
}

.menu-option {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    transition: all 0.2s ease 0s;
}

.menu-option:hover {
    background-color: #f5f5f5;
    color: #262626;
}

.menu-option.disabled {
    background-color: transparent;
    color: #aaa;
    cursor: default;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus,
.disabled .menu-option {
    color: #aaa;
    cursor: auto !important;
}

.dropdown-menu.item-options > .disabled > a,
.dropdown-menu.item-options > .disabled > a:hover,
.dropdown-menu.item-options > .disabled > a:focus,
.disabled .menu-option {
    cursor: not-allowed !important;
}

.confirm-line {
    padding-top: 7px;
    display: block;
}

.confirm-top {
    padding: 8px 24px;
    font-size: 14px;
}

.rp-table-row:last-of-type .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: -22px;
}

#gridWrapper .dropdown-menu.item-options {
    bottom: auto;
    top: 100%;
    margin-bottom: 0;
}

#fieldsLoader {
    display: none;
    position: relative;
    height: 65px;
}

.dropdown-menu > li > a {
    cursor: pointer;
}
.dropdown-menu > li > a.option-selector {
    word-wrap: break-word;
    white-space: normal;
}

.select-value.dynamic-fields {
    display: block;
    white-space: nowrap;
    margin-right: 25px;
    overflow: hidden;
}

/* post bug dialog */
#trackerContent {
    padding-bottom: 15px;
}

#trackerContent .project-name {
    white-space: normal;
    word-wrap: break-word;
}

#rowHolder .remove-block {
    display: none;
}

#rowHolder.multi .remove-block {
    display: inline;
    cursor: pointer;
}

#rowHolder .fa {
    font-size: 18px;
    margin-top: 8px;
}

.issue-row .custom-label {
    text-align: left;
}
