/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.rp-server-settings {

  .nav-tabs-custom {
    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }
  .nav-tabs-mobile {
    display: none;
    margin: 15px 0 15px 0;

    @media (max-width: $SCREEN_XS_MAX) {
      display: block;
    }

    .drop-down-component {
      width: 100%;

      .dropdown-toggle {
        position: relative;
        padding-right: 0;

        .select-value {
          color: $COLOR--charcoal-grey;
          font-family: $OpenSansSemibold, sans-serif;

          &:after {
            display: block;
            position: absolute;
            width: 12px;
            height: 8px;
            content: '';
            top: 10px;
            right: 12px;
            background-image: url(../../img/icons/arrow_down.svg);
          }
        }
        .rp-caret {
          display: none;
        }
      }

      .dropdown-menu {
        width: 100%;
      }

      &.open {
        .dropdown-toggle {
          .select-value {
            &:after {
              background-image: url(../../img/icons/arrow_up.svg);
            }
          }
        }
      }
    }
  }

  .rp-auth-server-settings {
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;

    .rp-form {
      .rp-field {
        .github-auth-state-mobile {
          display: none;
          width: 100%;
          height: 30px;
          clear: both;
          border: solid 1px $COLOR--gray-80;
          background-color: $COLOR--gray-91;
          padding: 5px 0 0 9px;
        }
      }
    }

    .mobile-disabling-cover {
      @extend %MOBILE_DISABLING_COVER;
    }
    .auth-settings-line {
      border-bottom: 1px solid $COLOR--skipped;
      margin: 30px 15px;
    }
    .add-new-org-form {
      .delete-item {
        display: none;
      }
      &.addNewOrg {
        .delete-item {
          display: block;
        }
        /*.rp-field {
            & > span {
                &.required {
                    &:after {
                        display: none;
                    }
                }
            }
        }*/
      }
    }
  }

  .rp-email-server-settings {
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;

    .rp-form {
      .rp-field {
        .email-server-state-mobile {
          display: none;
          width: 100%;
          height: 30px;
          clear: both;
          border: solid 1px $COLOR--gray-80;
          background-color: $COLOR--gray-91;
          padding: 5px 0 0 9px;
        }
      }
    }

    .mobile-disabling-cover {
      @extend %MOBILE_DISABLING_COVER;
    }

    .tls-enabled {
      position: relative;
      top: -4px;
      .rp-checkbox-wrap {
        margin-left: 30px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .email-server-error {
      margin-left: 45%;
      .test-connection-alert {
        font-size: 12px;
        line-height: 1.5;
        .connection-error-title {
          color: $COLOR--failed;
          font-size: 13px;
          font-weight: 600;
        }
      }

    }
  }

  .rp-statistics-server-settings {
    position: relative;

    .rp-form {
      margin: 0 auto 20px auto;

      .image-holder {
        width: 320px;
        margin: 30px auto 20px auto;

        img {
          width: 100%;
        }
      }

      .statistics-info {
        width: 560px;
        margin-left: 16px;
      }

      .statistics-list {
        margin: 0 0 20px 15px;

        .statistics-list-toggler {
          position: relative;
          font-family: $OpenSansSemibold, sans-serif;
          font-size: 12px;
          color: $COLOR--gray-47;
          text-transform: uppercase;
          cursor: pointer;

          i {
            position: absolute;
            font-size: 19px;
          }

          .arrow-down {
            display: none;
          }
          .arrow-right {
            display: inline-block;
          }

          &.list-shown {
            .arrow-down {
              display: inline-block;
            }
            .arrow-right {
              display: none;
            }
          }
        }

        ul {
          display: none;
          margin-top: 5px;

          .list-message {
            margin-right: 20px;
          }

          .statistics-point {
            position: relative;
            padding-left: 25px;
            line-height: 22px;
            margin-left: 12px;

            &:before {
              position: absolute;
              font-size: 15px;
              line-height: 22px;
              color: $COLOR--windows-blue;
              content: '\2022';
              left: 8px;
            }
          }
        }

        &.list-shown {
          .statistics-list-toggler {
            .arrow-down {
              display: inline-block;
            }
            .arrow-right {
              display: none;
            }
          }
          ul {
            display: block;
          }
        }
      }

      .rp-checkbox-wrap {
        margin-left: 16px;
        margin-bottom: 20px;
      }

      .rp-btn-submit {
        display: block;
        margin: 0 auto;
      }
    }
    .mobile-disabling-cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  .rp-form {
    width: 600px;

    .rp-field {
      position: relative;
      margin-right: 40px;
      & > span {
        &:first-child {
          width: 45%;

        }
        &.required {
          position: relative;
          &:after {
            content: '*';
            position: absolute;
            right: 10px;
            top: -4px;
            color: red;
          }
        }
        & + input, & + textarea {
          width: 55%;
        }
        & + .rp-field-item {
          float: left;
          width: 55%;
          .drop-down-component {
            width: 100%;
          }
        }
      }
      .validate-hint {
        width: 55%;
      }
      .delete-item {
        position: absolute;
        left: 100%;
        margin-left: 15px;
        top: -2px;
      }
      .rp-btn-submit {
        float: right;
      }
    }
  }
  @media (max-width: $SCREEN_XS_MAX) {
    .rp-email-server-settings, .rp-auth-server-settings {
      .email-server-error,
      .email-server-btn {
        display: none;
      }
      .rp-form {
        width: 100%;
        .rp-field {
          & > span {
            &:first-child {
              width: 100%;
              text-align: left;
            }
            &.required {
              position: relative;
              &:after {
                display: none;
              }
            }
            & + input, & + textarea {
              width: 100%;
              pointer-events: none;
              tab-index: -1;
              background-color: $COLOR--gray-91;
            }
            & + .rp-field-item {
              width: 100%;
            }
          }
          .github-auth-state-mobile {
            display: block;
          }
          .email-server-state-mobile {
            display: block;
          }
          .rp-switcher-big {
            display: none;
          }
          .delete-item {
            display: none;
          }
          .rp-btn {
            pointer-events: none;
            tab-index: -1;
            background-color: $COLOR--gray-91;
          }
          .rp-btn-submit {
            display: none;
          }
          .validate-hint {
            width: 100%;
          }
        }

        .add-new-org-form, .add-new-org-btn {
          display: none;
        }
      }
    }

    .rp-statistics-server-settings {
      .rp-form {
        width: 100%;

        .image-holder {
          width: 290px;
          margin-bottom: 8px;
        }

        .statistics-info {
          width: 100%;
          margin-left: 0;
        }

        .rp-checkbox-wrap {
          margin-left: 0;

          span:before {
            background-color: $COLOR--reseted !important;
            border-color: $COLOR--gray-91 !important;
          }
          span:after {
            color: $COLOR--gray-60 !important;
          }
        }

        .statistics-list {
          margin-left: 0;

          .statistics-list-toggler {
            font-family: $OpenSansSemibold;
            text-transform: uppercase;
            color: $COLOR--gray-47;

            &:after {
              content: ':';
              font-size: 16px;
              line-height: 16px;
            }
            i {
              display: none !important;
            }
          }
          ul {
            display: block;
            margin-top: 10px;

            .list-message {
              margin-bottom: 10px;
            }

            .statistics-point {
              margin-left: 0;
              padding-left: 12px;

              &:before {
                left: 0;
              }
            }
          }
        }

        .rp-btn-submit {
          display: none;
        }
      }
      .mobile-disabling-cover {
        display: block;
      }
    }
  }
}

@media print{
  .rp-projects-list-header{
    display: none;
  }
  .rp-projects-list-body{
    .print{
      margin: 0 -30px 0 -30px;
      border-bottom: solid 2px #e9e9e9;
      p{
        margin: 25px 15px 15px 25px;
      }
    }
  }
}
