.member-name-column {
  display: flex;
  align-items: center;
  gap: 16px;
}

.admin-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: $COLOR--tag-value-text;
  color: $COLOR--white-two;
  font-family: $FONT-ROBOTO-BOLD;
  font-size: 11px;
  line-height: 16px;
  margin-right: 16px;
}

.date {
  font-family: inherit;
  color: inherit;
  min-height: auto;
}

.menu-icon {
  svg {
    margin-bottom: 3px;
  }
}