.test-cases-growth-trend-chart {
  padding-top: 5px;

  :global {

    svg {
      .c3-xgrid-focus {
        display: block;
      }

      .c3-grid line {
        stroke: $COLOR--gray-80;
      }
    }

    .c3-chart-texts {
      .c3-texts {
        .c3-text {
          fill: $COLOR--charcoal-grey !important;
          font-family: $FONT-REGULAR;
          font-size: 10px;
        }
      }
    }
  }
}
