.settings-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  @media (min-width: $SCREEN_MD_MAX) {
    width: 1040px;
    max-width: 1040px;
    margin: 0 auto;
  }
}

.mobile-disabling-cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: $SCREEN_XS_MAX) {
    display: block;
  }
}
