<div class="grid-cell name-grid-cell">
    <div class="name-grid-overflow">
        <h5 class="rp-grid-name">
            <a href="" data-js-name-link><span data-js-name></span><span data-js-launch-number></span></a>&nbsp;&nbsp;<i class="item-edit-icon material-icons" data-js-item-edit>edit</i>
        </h5>
        <ul class="rp-grid-tags">
            <li class="rp-item-duration" >
                <span data-js-item-status></span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-js-time-from-now></span></span>
            </li>
            <li title="Owner" class="rp-launch-owner owner" data-js-owner-block>
                <i class="material-icons">person</i>
                <a data-js-owner-name></a>
            </li>
            <li class="rp-launch-tags" data-js-tags-container>
                <i class="rp-icons rp-icons-ticket"></i>
                <span data-js-tags></span>
            </li>
            <li data-js-step-block>
                <span>@</span><span data-js-method-type></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-js-status></span>
            </li>
        </ul>
        <div class="rp-grid-description" data-js-description></div>
    </div>
</div>
