<div class="defects-tooltip">
    <div class="defect-title">
        <span class="defect-name">
             <span class="defect-color" style="background: <%- data.total.color %>"></span>
             <%- data.total.name %>
        </span>
        <span class="defect-value"><%= data.total.value %></span>
    </div>
    <% if(data.subDefects.length){ %>
    <ul>
        <% _.each(data.subDefects, function(defect){ %>
        <li>
            <span class="defect-name">
                <span class="defect-color" style="background: <%- defect.color %>"></span>
                <%- defect.name %>
            </span>
            <span class="defect-value"><%= defect.value %></span>
        </li>
        <% }); %>
    </ul>
    <% } %>
</div>