.manual-launches-empty-state {
  padding-top: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirect-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: fit-content;
}
