.no-item-message {
  padding: 25px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning-icon {
  display: inline-block;
  min-width: 21px;
  min-height: 21px;
  fill: $COLOR--gray-47;
}
.message {
  padding-left: 8px;
  color: $COLOR--gray-47;
  font-family: $FONT-REGULAR;
  font-size: 17px;
  text-align: center;
}
