<div class="form-horizontal email-settings rp-auth-server-settings" id="auth-settings">
    <div class="rp-form-group clearfix hide">
        <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col" for="enableGuestAccount">
            <%= data.text.admin.enableGuestAccount %>
        </label>
        <div class="col-md-4 col-sm-9 col-xs-12 rp-custom-col">
            <label class="rp-switcher-big">
                <span class="turn-on"><%= data.text.ui.on %></span>
                <span class="turn-off"><%= data.text.ui.off %></span>
                <input id="enableGuestAccount" type="checkbox" data-js-guest-enable>
                <div class="slider"></div>
            </label>
        </div>
        <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
    </div>
    <div class="auth-settings-line hide"></div>
    <div class="rp-form-group clearfix">
        <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col" for="gitHubAuthEnabled">
            <%= data.text.admin.activateGitHubAuth %>
        </label>
        <div class="col-md-4 col-sm-9 col-xs-12 rp-custom-col">
            <label class="rp-switcher-big">
                <span class="turn-on"><%= data.text.ui.on %></span>
                <span class="turn-off"><%= data.text.ui.off %></span>
                <input id="gitHubAuthEnabled" type="checkbox" data-js-github-enable>
                <div class="slider"></div>
            </label>
        </div>
        <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
    </div>
    <div data-js-github-config>
        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col obligatory-field"
                   for="clientId">
                <%= data.text.admin.gitHubClientId %>
            </label>
            <div class="col-md-4 col-sm-9 col-xs-12 rp-custom-col">
                <input type="text" class="rp-input-default rp-width-100 form-control" id="clientId" data-js-client-id>
                <div class="error-bottom">
                    <div class="help-inline"></div>
                </div>
            </div>
            <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
        </div>
        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col obligatory-field"
                   for="clientSecret">
                <%= data.text.admin.gitHubClientSecret %>
            </label>
            <div class="col-md-4 col-sm-9 col-xs-12 rp-custom-col">
                <input type="text" class="rp-input-default rp-width-100 form-control" id="clientSecret"
                       data-js-client-secret>
                <div class="error-bottom">
                    <div class="help-inline"></div>
                </div>
            </div>
            <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
        </div>
        <div data-js-onganizations></div>
        <div class="rp-form-group clearfix hide" data-js-add-org-form>
            <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col obligatory-field" for="newOrg">
                <%= data.text.admin.gitHubOrgName %>
            </label>
            <div class="col-md-4 col-sm-9 col-xs-12 rp-custom-col">
                <input type="text" class="rp-input-default rp-width-100 form-control" id="newOrg" data-js-new-org>
                <div class="error-bottom">
                    <div class="help-inline"></div>
                </div>
            </div>
            <div class="col-md-5 rp-custom-col hidden-xs hidden-sm">
                <a href="#" class="delete-item" data-js-remove-add-new-org>
                    <i class="rp-icons rp-icons-cancel"></i>
                </a>
            </div>
        </div>
        <div class="rp-form-group clearfix" data-js-add-org>
            <label class="col-md-3 col-sm-3 col-xs-12 rp-control-label rp-custom-col"></label>
            <div class="col-md-3 col-sm-9 rp-custom-col">
                <button type="button" class="rp-btn rp-btn-default rp-button-with-icon" data-js-add-org-btn>
                    <i class="material-icons">add</i>
                    <span class="rp-btn-val"><%= data.text.admin.addGitHubOrg %></span>
                </button>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs rp-custom-col"></div>
        </div>
    </div>
    <div class="rp-form-group clearfix">
        <div class="col-md-3 hidden-sm hidden-xs rp-custom-col"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 rp-custom-col button-panel clearfix">
            <button type="submit" class="rp-btn rp-btn-submit float-right" data-js-submit-auth-settings>
                <%= data.text.ui.submit %>
            </button>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs rp-custom-col"></div>
    </div>
</div>