<ul class="nav-tabs-custom" role="tablist">
    <li class="<%= data.tab === 'email' ? 'active' : '' %>">
        <a href="#" class="tab" data-js-tab-action="email">
            <%= data.text.admin.emailSettings %>
        </a>
    </li>
    <li class="<%= data.tab === 'auth' ? 'active' : '' %>">
        <a href="#" class="tab" data-js-tab-action="auth">
            <%= data.text.admin.authSettings %>
        </a>
    </li>
    <li class="<%= data.tab === 'statistics' ? 'active' : '' %>">
        <a href="#" class="tab" data-js-tab-action="statistics">
            <%= data.text.admin.statisticsSettings %>
        </a>
    </li>
</ul>
<div data-js-nav-tabs-mobile class="nav-tabs-mobile"></div>
<div data-js-tab-content class="tab-content"></div>
