<div class="rp-auth-server-settings">
    <form class="rp-form">
        <div class="rp-field">
            <span><%= data.text.admin.activateGitHubAuth %></span>
            <div class="github-auth-state-mobile" data-js-github-enable-mobile></div>
            <label class="rp-switcher-big">
                <span class="turn-on">ON</span>
                <span class="turn-off">OFF</span>
                <input type="checkbox" data-js-github-enable>
                <div class="slider"></div>
            </label>
        </div>
        <div data-js-github-config>
            <label class="rp-field">
                <span class="required"><%= data.text.admin.gitHubClientId %></span>
                <input type="text" class="rp-input" data-js-client-id>
                <span class="validate-hint"></span>
            </label>
            <label class="rp-field">
                <span class="required"><%= data.text.admin.gitHubClientSecret %></span>
                <input type="text" class="rp-input" data-js-client-secret>
                <span class="validate-hint"></span>
            </label>
            <div data-js-onganizations></div>
            <div data-js-add-org-form class="add-new-org-form hide">
                <label class="rp-field" data-js-add-org-row>
                    <span><%= data.text.admin.gitHubOrgName %></span>
                    <input type="text" class="rp-input" data-js-new-org>
                    <span class="validate-hint"></span>
                    <a href="delete-organization" class="delete-item" data-js-remove-add-new-org>
                        <i class="rp-icons rp-icons-cancel"></i>
                    </a>
                </label>
            </div>
            <div class="add-new-org-btn">
                <label class="rp-field">
                    <span></span>
                    <button type="button" class="rp-btn rp-btn-default rp-button-with-icon" data-js-add-org-btn>
                        <i class="material-icons">add</i>
                        <span class="rp-btn-val"><%= data.text.admin.addGitHubOrg %></span>
                    </button>
                </label>
            </div>
        </div>
        <div class="rp-field">
            <button type="button" class="rp-btn rp-btn-submit" data-js-submit-auth-settings>
                <%= data.text.ui.submit %>
            </button>
        </div>
    </form>
    <div class="mobile-disabling-cover"></div>
</div>