<form class="rp-form">
    <div class="image-holder"><img src="img/managment-board/serverSettingsStatistics.png" alt=""></div>
    <p class="statistics-info"><%= data.text.admin.statisticsMessage %></p>
    <div class="statistics-list">
        <span class="statistics-list-toggler" statistics-list-toggler><%= data.text.admin.statisticsListToogler %>
            <i class="material-icons arrow-down">keyboard_arrow_down</i>
            <i class="material-icons arrow-right">keyboard_arrow_right</i>
        </span>
        <ul>
            <div class="list-message"><%= data.text.admin.statisticsListMessage %></div>
            <li class="statistics-point"><%= data.text.admin.statisticsPoint1 %></li>
            <li class="statistics-point"><%= data.text.admin.statisticsPoint2 %></li>
        </ul>
    </div>
    <label class="rp-checkbox-wrap">
        <input class="rp-input-checkbox" type="checkbox" data-js-switcher>
        <span><%= data.text.admin.sendStatisticsSwitcher %></span>
    </label>
    <button class="rp-btn rp-btn-submit" type="button" data-js-submit>
        <%= data.text.ui.submit %>
    </button>
</form>
<div class="mobile-disabling-cover"></div>
