.personal-info {
  display: flex;
  width: 100%;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.member-avatar {
  width: 40px;
  height: 50px;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-top: 7px;
  }
}
.member-info {
  font-size: 13px;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-top: 7px;
  }
}
.member-name-wrap {
  white-space: nowrap;
}
.member-name,
.member-login {
  max-width: 250px;
  color: $COLOR--charcoal-grey;
  line-height: 1.42857143;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.member-name {
  display: inline-block;
}
.member-login {
  margin-top: 5px;
  font-family: $FONT-SEMIBOLD;
}
.member-you,
.member-admin {
  position: relative;
  top: -6px;
  padding: 0 6px 2px;
  border-radius: 100px;
  font-size: 10px;
  color: $COLOR--white-two;
  line-height: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: lowercase;
  letter-spacing: 0.6px;
}
.member-you {
  left: 4px;
  margin-right: 4px;
  background: $COLOR--dark-pastel-green;
}
.member-admin {
  left: 3px;
  background: $COLOR--orange-red;
}
.hide {
  display: none;
}
