<div class="row rp-table-row <%= (data.isCollapsedMethod ? 'collapse-method' : '') %>" data-js-status-class>
    <div class="grid-cell time-grid-cell">
        <span class="text-muted" data-js-method-type></span>
    </div>
    <div class="grid-cell name-grid-cell">
        <h5 class="rp-grid-name">
            <a class="navigateable rp-blue-link-undrl break-link" href="" data-js-name></a>&nbsp;&nbsp;<i class="item-edit-icon material-icons" data-js-item-edit>edit</i>
        </h5>
        <pre class="rp-grid-description nicescroll-it" data-js-description></pre>
        <div class="rp-grid-tags tags">
            <div class="rp-item-duration" data-js-item-status></div>
            <% if(data.tags && data.tags.length) { %>
            <span class="rp-launch-tags">
                <i class="material-icons">local_offer</i>
                <% _.each(data.sortTags, function (tag) { %>
                <a class="text-muted tag" data-tag="<%- tag %>" href="#"><%- tag.replaceTabs() %></a>
                <% }); %>
            </span>
            <% } %>
        </div>
    </div>
    <div class="grid-cell status-grid-cell" data-js-status></div>
    <div class="grid-cell time-grid-cell">
        <div data-js-time-format class="pr-grid-show-time">
            <span class="hidden-sm hidden-md hidden-lg"><b><%= data.text.launches.prefixStartTime %></b></span>
            <span class="from-now" data-js-time-from-now></span>
            <span class="exact-time" data-js-time-exact></span>
        </div>
    </div>
    <!--<div class="grid-cell status-grid-cell" data-js-item-status></div>-->
    <% if(!data.noIssue){ %>
    <div class="grid-cell type-grid-cell" data-js-step-issue></div>
    <div class="grid-cell select-grid-cell" data-js-select-cell>
        <div class="table-wrapper">
            <div class="middle-wrapper">
                <label class="rp-checkbox-wrap">
                    <input class="rp-input-checkbox" type="checkbox" data-js-select-item>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <% } %>
</div>
