<div class="row rp-table-row" data-js-item-row>
    <div class="grid-cell name-grid-cell name-cell">
        <span class="label label-danger autoanalyze" data-js-analize-label><%= data.text.ui.analyze %></span>
        <h5 class="rp-grid-name">
            <% if(data.type == '') { %>
            <div class="btn-group" data-js-launch-edit>
                <a class="item-menu" data-js-launch-menu data-toggle="dropdown" href="#">
                    <i class="rp-svg-icon svg-icon-menu-size-14"></i>
                </a>
            </div>
            <% } %>
            <a class="navigateable rp-blue-link-undrl" href="" data-js-name></a>
            <span data-js-launch-number></span>&nbsp;&nbsp;<i class="item-edit-icon material-icons" data-js-item-edit>edit</i>
        </h5>
        <pre class="rp-grid-description nicescroll-it" data-js-description></pre>
        <div class="rp-grid-tags tags">
            <div class="rp-item-duration" data-js-item-status></div>
                <span title="Owner" class="rp-launch-owner owner" data-js-owner-block>
                    <i class="material-icons">person</i>
                    <a class="text-muted tag" href="#" data-js-owner-name></a>
                </span>
                <br class="visible-xs-block">
                <span class="rp-launch-tags" data-js-tags-container>
                    <i class="material-icons">local_offer</i>
                    <span data-js-tags></span>
                </span>
        </div>
    </div>
    <div class="grid-cell time-grid-cell rp-grid-th">
        <div data-js-time-format class="pr-grid-show-time">
            <span class="hidden-sm hidden-md hidden-lg"><b><%= data.text.launches.prefixStartTime %></b></span>
            <span class="from-now" data-js-time-from-now></span>
            <span class="exact-time" data-js-time-exact></span>
        </div>
    </div>
    <!--<div class="grid-cell counter-grid-cell rp-grid-th" data-js-item-status></div>-->
    <div class="grid-cell number-grid-cell" data-js-statistics-total></div>
    <div class="grid-cell number-grid-cell" data-js-statistics-passed></div>
    <div class="grid-cell number-grid-cell" data-js-statistics-failed></div>
    <div class="grid-cell number-grid-cell" data-js-statistics-skipped></div>
    <div class="grid-cell counter-grid-cell" data-js-statistics-product_bug></div>
    <div class="grid-cell counter-grid-cell" data-js-statistics-automation_bug></div>
    <div class="grid-cell counter-grid-cell" data-js-statistics-system_issue></div>
    <div class="grid-cell counter-grid-cell" data-js-statistics-to_investigate></div>
    <div class="grid-cell select-grid-cell">
        <div class="table-wrapper">
            <div class="middle-wrapper">
                <label class="rp-checkbox-wrap">
                    <input class="rp-input-checkbox" type="checkbox" data-js-select-item>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</div>