<div class="filter-block">
    <div class="filter-entities clearfix" data-js-filter-entities>

    </div>
    <div class="filter-settings clearfix">
        <div class="right-items">
            <a class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.ui.discard %>" data-js-discard-filter>
                <i class="rp-icons rp-icons-discard"></i>
                <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.discard %></span>
            </a>
            <a class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.ui.clone %>" data-js-clone-filter>
                <i class="material-icons">library_add</i>
                <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.clone %></span>
            </a>
            <a class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.ui.edit %>" data-js-edit-filter>
                <i class="material-icons">edit</i>
                <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.edit %></span>
            </a>
            <a class="rp-btn rp-btn-default rp-button-with-icon" title="<%= data.text.ui.save %>" data-js-save-filter>
                <i class="material-icons">bookmark_border</i>
                <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.save %></span>
            </a>
        </div>
        <div class="right-items">
            <div class="sorting-wrapper">
                <span><%- data.text.ui.sortBy %>:</span>&nbsp;&nbsp;<span data-js-filter-sorting></span>
            </div>
        </div>
        <div class="left-items">
            <div class="description" data-js-filter-shared-descr><i class="material-icons" title="<%= data.text.filters.sharedDescription %>">share</i><span><%= data.text.filters.sharedDescription %></span></div>
            <div class="description" data-js-filter-not-save-descr><span class="obligatory-field"></span><span><%= data.text.filters.notSaveDescription %></span></div>
            <div class="description" data-js-filter-not-my-descr><i class="material-icons" title="<%= data.text.filters.globalDescription %>">public</i><span><%= data.text.filters.globalDescription %></span></div>
        </div>
    </div>
</div>
