<div data-js-issue-type class="defect-type">
    <input data-js-issue-checkbox class="select-test" type="checkbox" />
    <div class="rp-defect-type-edit">
        <span class="pr-defect-type-badge" data-js-issue-title>
            <i data-js-issue-color></i>
            <span data-js-issue-name></span>
        </span>
        <i class="material-icons edit-defect">edit</i>
    </div>
    <div data-js-issue-tickets class="tickets-container"></div>
    <% if(data.needMatchIssue) { %>
        <span data-js="" class="match-issue label <%= data.canMatchIssue ? '' : 'disabled' %> <%= data.launchInProcess ? 'label-danger autoanalyze' : '' %>"
          title="<%= data.canMatchIssue ? '' : data.text.launches.nothingToMatch %>">
                <i class="rp-icons rp-icons-magic margin-right-5"></i>
                <%= data.text.launches.matchTitle %>
        </span>
    <% } %>
    <div class="defect-desc nicescroll-it" data-js-issue-comment></div>
</div>