<div class="filter-block">
    <div class="filter-entities clearfix" data-js-filter-entities>

    </div>
    <div class="filter-settings">
        <div class="left-items">
            <div class="rp-btn rp-btn-default rp-button-with-icon" title="Add Widget">
                <i class="material-icons">add_circle</i>
                <span class="rp-btn-val hidden-sm hidden-xs">Add Widget</span>
            </div>
        </div>
        <div class="right-items">
            <div class="rp-btn rp-btn-default rp-button-with-icon" title="Discard" data-js-discard-filter>
                <i class="rp-icons rp-icons-discard"></i>
                <span class="rp-btn-val hidden-sm hidden-xs">Discard</span>
            </div>
            <div class="rp-btn rp-btn-default rp-button-with-icon" title="Clone" data-js-clone-filter>
                <i class="material-icons">library_add</i>
                <span class="rp-btn-val hidden-sm hidden-xs">Clone</span>
            </div>
            <div class="rp-btn rp-btn-default rp-button-with-icon" title="Edit" data-js-edit-filter>
                <i class="material-icons">edit</i>
                <span class="rp-btn-val hidden-sm hidden-xs">Edit</span>
            </div>
            <div class="rp-btn rp-btn-default rp-button-with-icon" title="Save" data-js-save-filter>
                <i class="material-icons">bookmark_border</i>
                <span class="rp-btn-val hidden-sm hidden-xs">Save</span>
            </div>
        </div>
        <div class="right-items">
            <div class="description" data-js-filter-shared-descr><i class="material-icons" title="Filter is shared">share</i><span>Filter is shared</span></div>
            <div class="description" data-js-filter-not-save-descr><span class="obligatory-field"></span><span>Filter does not saved</span></div>
            <div class="description" data-js-filter-not-my-descr><i class="material-icons" title="Filter is shared by other user">public</i><span>Filter is shared by other user</span></div>
        </div>
    </div>
</div>