<div class="overflow-wrapper">
    <div class="grid-cell time-grid-cell method-type-grid-cell">
        <span class="text-muted" data-js-method-type></span>
    </div>
    <div class="grid-cell name-grid-cell">
        <div class="name-grid-overflow">
            <i class="accordion-arrow rp-icons rp-icons-expand" data-js-toggle-open></i>
            <h5 class="rp-grid-name">
                <a href="" data-js-name-link><span data-js-name></span><span data-js-launch-number></span></a>&nbsp;&nbsp;<i class="item-details-icon material-icons" data-js-item-details>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;<i class="item-edit-icon material-icons" data-js-item-edit>edit</i>
            </h5>
            <ul class="rp-grid-tags">
                <li class="rp-item-duration" >
                    <span data-js-item-status></span>
                    <span class="mobile-tag">&nbsp;&nbsp;|&nbsp;&nbsp;<span data-js-time-from-now></span></span>
                    <span data-js-growth-duration class="growth-duration hide"></span>
                </li>
                <li title="<%= data.text.launches.owner%>" class="rp-launch-owner owner" data-js-owner-block>
                    <i class="material-icons">person</i>
                    <a data-js-owner-name></a>
                </li>
                <li class="rp-launch-tags" data-js-tags-container>
                    <i class="rp-icons rp-icons-ticket"></i>
                    <span data-js-tags></span>
                </li>
                <li class="mobile-tag">
                    <span>@</span><span data-js-method-type></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-js-status></span>
                </li>
                <li data-js-retries-container></li>
            </ul>
            <div class="rp-grid-description" data-js-description></div>
        </div>
    </div>
    <div class="grid-cell status-grid-cell"><span class="step-status" data-js-status></span></div>
    <div class="grid-cell time-grid-cell" data-js-start-time-container>
    </div>
    <!--<div class="grid-cell status-grid-cell" data-js-item-status></div>-->
    <% if(!data.noIssue){ %>
    <div class="grid-cell type-grid-cell" data-js-step-issue></div>
    <div class="grid-cell select-grid-cell" data-js-select-cell>
        <div class="table-wrapper">
            <div class="middle-wrapper">
                <label class="rp-checkbox-wrap" data-js-select-label>
                    <input class="rp-input-checkbox" type="checkbox" data-js-select-item>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <% } %>
    <div class="retries-block-container" data-js-retries-block-container></div>
    <div class="accordion-block">
        <div class="mobile-open" data-js-toggle-open></div>
        <i class="material-icons" data-js-toggle-open>keyboard_arrow_down</i>
        <i class="material-icons little" data-js-toggle-open>keyboard_arrow_up</i>
    </div>
</div>
