<% _.each(data.tickets, function(ticket) { %>
    <a href="<%= ticket.url %>"
       data-js-issue-ticket
       target="_blank"
       class="badge external-ticket issue-tracker-link"
       data-ticket-id="<%= ticket.ticketId %>"
       data-system-id="<%= ticket.systemId %>"
       data-toggle="tooltip" title="<span class='loading-indicator'></span>">
        <span>
            #<%= ticket.ticketId %>
        </span>
        <i data-js-issue-remove-ticket class="material-icons">clear</i>
    </a>
<% }); %>