<% var isDebug = (data.context === 'userdebug'); %>
<div class="control-buttons rp-nav rp-nav-right">
    <div class="rp-btn mobile-hide rp-btn-default rp-button-with-icon disabled" data-js-milti-delete title="<%= data.text.launches.actionTitle %>">
        <i class="rp-icons rp-icons-delete"></i>
        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.delete %></span>
    </div>
    <% if (!isDebug) { %>
        <div class="rp-btn rp-btn-default rp-button-with-icon hide" data-js-history title="<%= data.text.launches.historyView %>">
            <i class="material-icons">history</i>
            <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.launches.historyView %></span>
        </div>
    <% } %>
    <div class="rp-btn rp-btn-default rp-button-with-icon" data-js-refresh title="<%= data.text.ui.refresh %>">
        <i class="material-icons">autorenew</i>
        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.refresh %></span>
        <span data-js-refresh-counter class="counter"></span>
    </div>
</div>

<div class="info-wrapper clearfix" data-js-info-line></div>

<div class="refine-wrapper filter-entities clearfix">
    <span class="refine-label hidden-xs">REFINE:</span>
    <div data-js-refine-entities></div>
</div>