<div class="launches-header-bar clearfix" data-js-header-bar>
    <div class="multiple-selected-container" data-js-multiple-selected></div>
    <div class="crumbs-container" data-js-crumbs></div>
    <div data-js-controls-container></div>
</div>
<div class="preloader" data-js-preloader-launch-body>
    <i class="material-icons loader-animation">refresh</i>
</div>
<div class="no-result-found" data-js-launch-not-found>
    <i class="rp-icons rp-icons-warning"></i>
    <span><%= data.text.launches.noLaunchFound %></span>
    <p><%- data.text.failMessages.gridData %></p>
</div>
<div class="no-result-found" data-js-item-not-found>
    <i class="rp-icons rp-icons-warning"></i>
    <span><%= data.text.launches.noItemFound %></span>
    <p><%- data.text.failMessages.gridData %></p>
</div>
<div class="launch-body-wrapper" data-js-info-container></div>