<span class="fail-load-container">
    <i class="rp-icons rp-icons-warning"></i>
    <span class="ellipse" ><%- data.text.launches.errorItem %></span>
    <i class="arrow material-icons">keyboard_arrow_right</i>
</span>
<span class="success-load-container">
    <i title="List view" class="material-icons" data-js-list-view-icon>format_indent_increase</i>
    <a class="ellipse" data-js-link></a>
    <span class="link-as-element ellipse" data-js-name></span>
    <span class="autoanalyze" data-js-auto-analize><%= data.text.ui.autoAnalyzeShort %></span>
    <i class="arrow material-icons">keyboard_arrow_right</i>
</span>
