<div class="launches-header-block clearfix">
    <div class="filters-overflow-mobile">
        <div class="rp-btn rp-btn-with-dropdown dropdown-toggle" data-toggle="dropdown">
            <div class="select-value" data-js-active-filter></div>
            <span class="rp-caret"></span>
        </div>
        <div class="dropdown-menu rp-width-100" data-js-filter-list-mobile>
        </div>
        <div class="mobile-filter-add rp-btn rp-btn-default rp-button-with-icon" data-js-add-filter>
            <i class="rp-icons rp-icons-add-filter"></i>
        </div>
    </div>
    <div class="filter-overflow" data-js-filters-overflow>
        <div class="all-launches-overflow">
            <a class="filter-item" data-js-all-link><span class="filter-name">All Launches</span></a>
        </div>
        <div class="new-filter-button rp-btn rp-btn-default rp-button-with-icon not-small" data-js-add-filter>
            <i class="rp-icons rp-icons-add-filter"></i>
            <span class="rp-btn-val">Add Filter</span>
        </div>
        <div class="filters-list" data-js-filter-list></div>
    </div>
    <div class="filter-panel-overflow" data-js-filter-panel></div>
</div>