<ul class="rp-nav rp-nav-left launch-breadcrumbs" data-js-crumbs-container>
    <i class="load-crumbs material-icons loader-animation">refresh</i>
    <li class="breadcrumbs-mode-container" data-js-switch-mode>
        <i class="rp-icons rp-icons-square-plus breadcrumb-plus"></i>
        <i class="rp-icons rp-icons-square-minus breadcrumb-minus"></i>
    </li>
    <li class="bredcrambs-lost-path" data-js-lost-path>
        <span><%- data.text.launches.bredcrumbsLostLaunch %></span>
        <a data-js-restore-lost-path><%- data.text.launches.bredcrumbsLostLaunchRestore %></a>
    </li>
</ul>