<div class="launches-header-block clearfix">
    <div class="filters-overflow-mobile">
        <div class="rp-btn rp-btn-with-dropdown dropdown-toggle" data-toggle="dropdown">
            <div class="select-value" data-js-active-filter></div>
            <span class="rp-caret"></span>
        </div>
        <div class="dropdown-menu rp-width-100" data-js-filter-list-mobile></div>
        <div class="launches-mode-dropdown" data-js-launches-mode-dropdown></div>
        <div class="mobile-filter-add rp-btn rp-btn-default rp-button-with-icon" data-js-add-filter>
            <i class="rp-icons rp-icons-add-filter"></i>
        </div>
    </div>
    <div class="filter-overflow" data-js-filters-overflow>
        <div class="launch-selector" data-js-launch-selector>
            <div class="drop-down-button">
                <a class="rp-btn" type="button"  data-js-select-value data-js-link-all></a>
                <button class=" rp-btn rp-button-dropdown" data-toggle="dropdown" data-js-dropdown>
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <ul class="dropdown-menu" data-js-dropdown-menu>
                    <% _.forEach(data.links, function(link){ %>
                    <li data-js-select-launch-option>
                        <a data-value="<%= link.value %>"><%= link.name %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="separator"></div>
        <div class="new-filter-button rp-btn rp-btn-default rp-button-with-icon not-small" data-js-add-filter>
            <i class="rp-icons rp-icons-add-filter"></i>
            <span class="rp-btn-val">Add Filter</span>
        </div>
        <div class="filters-list" data-js-filter-list></div>
    </div>
    <div class="filter-panel-switcher" data-js-filter-entity-switcher>
        <span class="open-panel"><%- data.text.filters.showCriteria %><i class="material-icons">keyboard_arrow_down</i></span>
        <span><%- data.text.filters.hideCriteria %><i class="material-icons">keyboard_arrow_up</i></span>
    </div>
    <div class="filter-panel-overflow" data-js-filter-panel></div>
</div>
