<% var type = data.type %>
<% var total = data.statistics %>
<% if(type !== 'to_investigate'){ %>
    <% if(total > 0){ %>
    <div class="pr-grid-defect-stats" data-defect-type="<%= type %>" data-js-defect-type-id>
        <a href="" data-js-cases-url class="pr-grid-defect-link">
            <svg></svg>
            <span class="pr-grid-defect-total" data-js-defect-border-color data-js-defects-total></span>
        </a>
    </div>
    <span class="visible-xs cases-view ">
            <a href="" data-js-cases-url class="rp-blue-link-undrl" data-js-defects-total></a>
        </span>
    <% } else { %>
    <span class="text-muted visible-xs-inline" data-js-defects-total></span>
    <span class="invisible hidden-xs" data-js-defects-total></span>
    <% } %>
    <p class="visible-xs cell-name"><%= data.text.launchesHeaders[type] %></p>
<% } else { %>
    <% if(total > 0){ %>
        <a href="" data-js-cases-url class="rp-ti-badge" data-js-defect-background-color>
            <span data-js-defects-total></span>
            <span class="visible-xs cell-name"><%= data.text.launchesHeaders[type]%></span>
        </a>
    <% } else { %>
        <span class="rp-ti-badge visible-xs">
            <span data-js-defects-total></span>
            <span class="visible-xs cell-name"><%= data.text.launchesHeaders[type] %></span>
        </span>
        <span class="invisible hidden-xs" data-js-defects-total></span>
    <% } %>
<% } %>