<div class="launch-suite-defect-hover">
    <div class="defect-title">
        <<% if(!data.noLink){ %>a href="<%- data.total.url %>"<% } else { %>span<% } %> class="defect-row" data-js-defect-total>
           <span class="defect-name">
             <span class="defect-color" style="background: <%- data.total.color %>"></span>
                <%= !data.noSubDefects ? data.text.infoLine.total : '' %> <%- data.total.name %>
            </span>
            <span class="defect-value"><%= data.total.value %></span>
        </<% if(!data.noLink){ %>a<% } else { %>span<% } %>>
    </div>
    <% if(data.subDefects.length && !data.noSubDefects){ %>
    <ul>
        <% _.each(data.subDefects, function(defect){ %>
        <li>
            <<% if(!data.noLink){ %>a href="<%- defect.url %>"<% } else { %>span<% } %> class="defect-row">
                <span class="defect-name">
                    <span class="defect-color" style="background: <%- defect.color %>"></span>
                    <%- defect.name %>
                </span>
                <span class="defect-value"><%= defect.value %></span>
            </<% if(!data.noLink){ %>a<% } else { %>span<% } %>>
        </li>
        <% }); %>
    </ul>
    <% } %>
</div>
