<span class="visible-xs-inline"><b><%= data.text.launches.prefixDuration %></b></span>
<% if(data.isProgress) { %>
    <% if(data.isStartAndEndTime) { %>
    <div title="<%= data.text.launches.inProcessAndEndedDuration %>">
        <i class="rp-icons rp-icons-warning"></i>
    </div>
    <% } else { %>
    <div title="<%= data.text.launches.inProcess %>">
        <img alt="<%= data.text.launches.inProcess %>" src="img/time-in-progress.gif"/>
        <span id="approximate-<%= data.id %>" class="text-muted" style="font-size: 12px;"></span>
    </div>
    <% } %>
<% } else { %>
    <% if(data.isSkipped) { %>
    <span title="<%= data.text.launches.skippedDuration %><%= data.durationTime %>"><%= data.durationTime %></span>
    <% } else if(data.isStartNoEndTime) { %>
    <span title="<%= data.text.launches.notInProcessNotEndedDuration %>"><i class="rp-icons rp-icons-warning"></i> </span>
    <% } else { %>
    <span title="<%= data.text.launches.prefixDuration %><%= data.durationTime %><%= data.text.launches.finishTime %><%= data.formatEndTime %>">
                                        <% if(data.isStopped) { %>
                                            <abbr title="Run STOPPED after: <%= data.durationTime %>. Stopped at: <%= data.formatEndTime %>"
                                                  class="text-danger">
                                                <strong><%= data.durationTime %></strong>
                                            </abbr>
                                        <% } else if(data.isInterrupted) { %>
                                            <abbr title="Run INTERRUPTED after: <%= data.durationTime %>. Stopped at: <%= data.formatEndTime %>"
                                                  class="text-danger">
                                                <strong><%= data.durationTime %></strong>
                                            </abbr>
                                        <% } else { %>
                                            <%= data.durationTime %>
                                        <% } %>
                                    </span>
    <% } %>
<% } %>