<div class="history-col-content history-warning-col" data-tooltip-type="warning"
     data-tooltip-content="<%= data.text.launches.severalItems %>">
    <i class="material-icons">visibility_off</i>
</div>
<div class="history-col-content history-empty-col">
    <i class="material-icons">not_interested</i><br>
    <%= data.text.launches.noItemInLaunch %>
</div>
<div class="history-col-content empty-item-col">
    <i class="rp-icons rp-icons-warning2"></i><br>
    <%= data.text.launches.emptyItem %>
</div>
<div class="history-col-content history-statistics" data-js-history-statistics></div>
<div class="history-col-content history-statistics" data-js-history-issue></div>