<div class="rp-history-grid">
    <div class="history-grid-names" style="width: <%= data.nameWidth %>%">
        <div class="history-grid-table" data-js-history-names>
            <div class="history-grid-thead">
                <div class="history-col">
                    <div class="history-grid-th">
                        <span class="history-grid-th-name"><%= data.text.launchesHeaders.name %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-grid-items" style="width: <%= (100 - data.nameWidth) %>%">
        <div class="history-grid-table" data-js-history-items-cells>
            <div class="history-grid-thead">
                <% _.forEach(data.launches, function(launch){ %>
                <div class="history-col <% if(launch.launchStatus == 'IN_PROGRESS'){ %>in-progress<% } %>">
                    <div class="history-grid-th">
                                <span class="history-grid-th-name">
                                    <%= data.text.launches.launchHash %><%= launch.launchNumber %>
                                </span>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <div data-js-history-scroll>

        </div>
    </div>
</div>
