.tooltip-wrapper {
  padding: 10px;
  max-width: 300px;
  background-color: $COLOR--white-two;
  border: 1px solid $COLOR--gray-80;
  border-radius: 2px;
  font-size: 12px;
  &:before {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $COLOR--gray-80;
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    margin-left: -5px;
    border-top: 6px solid $COLOR--white-two;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}
