.uuid-block {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.header-label {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.body-wrapper {
  position: relative;
  padding: 15px;

  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 0;
    padding-right: 0;
  }
}
.field-wrapper {
  position: relative;
  height: 30px;
}

.label {
  float: left;
  margin-right: 10px;
  display: block;
  line-height: 30px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
.field {
  position: relative;
  height: 100%;
  margin: 0 130px 0 45px;
  display: block;
  box-sizing: border-box;

  @media (max-width: $SCREEN_XS_MAX) {
    margin: 0;

    input {
      background-color: $COLOR--gray-91;
    }
  }

  &:hover {
    border-color: $COLOR--gray-47;
  }
}
.regenerate-btn {
  float: right;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
.tip {
  margin-top: 10px;
  line-height: 1.43;
  font-family: $FONT-REGULAR;
  font-size: 12px;
  color: $COLOR--gray-60;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
