.group-header-row {
  display: table-row-group;
}

.group-header-content {
  border-bottom: 1px solid $COLOR--gray-91;
  color: $COLOR--gray-47;
  font: 14px/20px $FONT-REGULAR;
  padding-left: 10px;
  transition: background-color 0.2s ease 0s;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
.link {
  color: $COLOR--topaz;
  text-decoration: none;
}

.separator {
  padding: 0 10px;
}
