.wizard-controls-section {
  width: 420px;
}
.controls-wrapper {
  box-sizing: border-box;
  padding-bottom: 40px;
}
.buttons-block {
  position: absolute;
  bottom: 0;
  right: 0;
}
.button {
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  vertical-align: top;

  button {
    font-size: 13px;
  }
}
