.shared-icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;

  &:not(.disabled):hover {
    svg {
      fill: $COLOR--charcoal-grey;
    }
  }
  &.disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
    }
  }
}
.mobile-label {
  margin-right: 10px;
  display: none;
  text-transform: uppercase;
  vertical-align: top;
  line-height: 20px;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  color: $COLOR--gray-47;

  @media (max-width: $SCREEN_SM_MAX) {
    display: inline-block;
  }
}
