.shared-icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
  display: inline-block;
  background-image: url(./img/checkmark-icon.svg);
  cursor: pointer;

  &:hover {
    background-image: url(./img/checkmark-icon-hover.svg);
  }
  &.disabled {
    background-image: url(./img/checkmark-icon-disabled.svg);
    opacity: 0.5;
    cursor: default;
    &:hover {
      background-image: url(./img/checkmark-icon-disabled.svg);
    }
  }
}
.mobile-label {
  margin-right: 10px;
  display: none;
  text-transform: uppercase;
  vertical-align: top;
  line-height: 20px;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  color: $COLOR--gray-47;

  @media (max-width: $SCREEN_SM_MAX) {
    display: inline-block;
  }
}
