.logAttachments {
  width: 630px;
  &.hideMainArea :global .carousel-slider {
    display: none;
  }

  div.preview {
    line-height: 365px;
  }
  img.preview {
    vertical-align: middle;
  }

  :global {
    .carousel-slider {
      height: 365px;
    }
    .slider-wrapper,
    ul.slider {
      height: 100%;
    }
    li.slide {
      background-color: initial;
      height: 100%;
      & img {
        cursor: pointer;
        width: 150px;
      }
      div {
        height: 100%;
      }
    }

    li.thumb,
    li.thumb:hover {
      margin: 0px 10px;
      border: 1px solid transparent;
      cursor: pointer;
    }
    li.thumb.selected {
      border: 1px solid #bdc7cc;
    }
  }
}
