.header {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $COLOR--black-2;

  @media (max-width: $SCREEN_XS_MAX) {
    background-color: $COLOR--charcoal-grey;
  }
}
.mobile-header-block {
  position: relative;
  display: none;
  width: 100%;
  height: 60px;
  background-color: $COLOR--black-2;

  @media (max-width: $SCREEN_XS_MAX) {
    display: block;
  }
}
.hamburger {
  width: 50px;
  height: 60px;
  padding: 20px 10px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  .hamburger-part {
    width: 100%;
    height: 3px;
    background: $COLOR--white-two;
    margin-bottom: 5px;
    transition: transform 500ms ease-in-out;
  }

  &.opened {
    .hamburger-part {
      &:first-child {
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(-50px);
      }
      &:last-child {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
.rp-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 145px;
  height: 25px;
  transform: translate(-50%, -50%);
  background-image: url(./img/rp-mobile-logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.projects-block {
  display: inline-block;
  height: 100%;
  max-width: 350px;
  min-width: 150px;
  margin-right: 30px;
  margin-left: 20px;
  vertical-align: top;

  @media (max-width: $SCREEN_XS_MAX) {
    height: 50px;
    margin: 0;
    width: 100%;
    max-width: none;
  }
}
.separator {
  display: inline-block;
  position: relative;
  top: 15px;
  height: 30px;
  width: 1px;
  background-color: $COLOR--gray-80;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
.nav-btns-block {
  display: inline-block;

  @media (max-width: $SCREEN_XS_MAX) {
    position: absolute;
    right: 0;
    height: 50px;
  }
}

.nav-btn {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  vertical-align: top;
  transition: transform 200ms ease-in-out;

  @media (max-width: $SCREEN_XS_MAX) {
    margin: 0;
    height: 50px;
    width: 50px;
  }
  
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.members-btn {
  background-image: url(./img/members-icon.svg);
  margin: 0 30px;
  background-size: 20px;

  @media (max-width: $SCREEN_XS_MAX) {
    margin: 0;
    background-size: 30px;
  }

  &.active {
    transform: rotateY(0.5turn);
    background-image: url(./img/members-icon-active.svg);
  }
}
.settings-btn {
  background-image: url(./img/gear-icon.svg);
  background-size: 17px;

  @media (max-width: $SCREEN_XS_MAX) {
    background-size: 25px;
  }

  &.active {
    transform: rotate(90deg);
    background-image: url(./img/gear-icon-active.svg);
  }
}

.user-block {
  position: absolute;
  display: block;
  min-width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  color: $COLOR--white-two;
  font-family: $FONT-CONDBOLD;
  cursor: pointer;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
.user-wrapper {
  position: absolute;
  top: 50%;
  right: 80px;
  max-width: 200px;
  box-sizing: border-box;
  transform: translateY(-50%);
  text-align: right;
}
.admin-beige {
  display: inline-block;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100px;
  background-color: $COLOR--orange-red;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  text-overflow: ellipsis;
}
.username {
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
.avatar-wrapper {
  position: absolute;
  right: 40px;
  top: 15px;
  width: 27px;
  height: 30px;
  overflow: hidden;
  background-color: transparent;
}
.avatar{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
}
.menu-icon {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  background-image: url(./img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center center;

  &.flipped {
    transform: rotate(180deg);
  }
}
.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  min-width: 140px;
  margin-top: 3px;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  box-sizing: border-box;
  box-shadow: 0 6px 12px $COLOR--gray-80;
  z-index: 1;

  &.opened {
    display: block;
  }
}
.menu-item {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $COLOR--white-two;
  font-family: $FONT-CONDBOLD;
  font-size: 14px;
  color: $COLOR--charcoal-grey;
  line-height: 45px;
  box-sizing: border-box;
  text-decoration: none;

  &:hover:not(.active) {
    background-color: $COLOR--tealish-hover;
  }
  &.active {
    background-color: $COLOR--gray-91;
    cursor: default;
  }
  &:last-child {
    border-top: 1px solid $COLOR--gray-80;
  }
}
