.form-group-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: $SCREEN_XS_MAX) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.form-group-column {
  padding: 0 15px;
  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
    margin-bottom: 8px;
    padding: 0;
  }
}

.index-actions-title-wrapper {
  margin-bottom: 20px;
  width: 100%;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-bottom: 8px;
  }
}

.index-actions-title {
  padding: 0 15px;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
  color: $COLOR--gray-47;
  @media (max-width: $SCREEN_XS_MAX) {
    padding: 0;
  }
}

.index-action-description {
  max-width: 710px;
  padding: 0 15px;
  box-sizing: content-box;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: $COLOR--charcoal-grey;
  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
    margin-bottom: 8px;
    padding: 0;
  }
}

.index-action-caption {
  display: inline-block;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  margin: 0;
  min-width: 110px;
}
