.add-issue-id-title {
  margin: 0;
  padding: 10px;
  color: $COLOR--gray-47;
  background-color: $COLOR--white-four;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
}

.link-issue-form-wrapper {
  padding: 17px 9px 0 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.multiple-systems-title {
  display: inline;
  min-width: 140px;
  padding-right: 10px;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  text-align: right;
  @media (max-width: $SCREEN_XS_MAX) {
    text-align: left;
  }
}

.field-wrapper {
  display: inline-block;
  width: 350px;
  padding: 0;
  margin-left: 20px;
  margin-right: 25px;
  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
    margin: 0;
  }
}

.link-issue-title {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}
