.history-grid-record-name {
  margin: 7px 0;
  padding-left: 15px;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
  line-height: 1.1;
  color: $COLOR--windows-blue;
  cursor: pointer;
  & span {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 2px 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
