.item-name {
  overflow: hidden;
  color: $COLOR--charcoal-grey;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
  text-overflow: ellipsis;
}

.label {
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 1.2;
  color: $COLOR--charcoal-grey;
  padding-bottom: 10px;
}

.code-ref {
  display: flex;
  justify-content: flex-start;
  white-space: pre-line;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }
  padding-right: 10px;
}

.copy {
  flex-grow: 0;
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  margin-left: 10px;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  stroke: $COLOR--gray-60;
  &:hover {
    stroke: $COLOR--black-2;
  }
}
