<div id="registretionForm" class="form-horizontal">
    <form id="registerUser" name="registerUser">
        <div class="rp-form-group clearfix">
            <div class="rp-custom-col">
                <h4 class="common-title">
                    <%= data.text.members.completeToRegister %>
                </h4>
            </div>
        </div>        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col obligatory-field" for="username">
                <%= data.text.forms.login %>
            </label>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
                <input id="username" name="username" type="text" value="" class="rp-input rp-width-100" autocomplete="off" />
                <div class="help-inline"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
                <span class="rp-help-block"><%= data.text.forms.symbolsForLogin %></span>
            </div>
        </div>        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col  obligatory-field" for="fullName">
                <%= data.text.forms.fullName %>
            </label>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
                <input id="fullName" name="fullName" type="text" value="" class="rp-input  rp-width-100" />
                <div class="help-inline"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
                <span class="rp-help-block"><%= data.text.forms.symbolsForName %></span>
            </div>
        </div>        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col  obligatory-field" for="email">
                <%= data.text.forms.email %>
            </label>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
                <input id="email" name="email" type="text" value="<%= data.email %>" class="rp-input rp-width-100" />
                <div class="help-inline"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col"></div>
        </div>        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col obligatory-field" for="password">
                <%= data.text.forms.password %>
            </label>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
                <input id="password" name="password" value="" type="password" class="rp-input rp-width-100" autocomplete="off" />
                <div class="help-inline"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
                <span class="rp-help-block"><%= data.text.forms.symbolsForPass %></span>
            </div>
        </div>        <div class="rp-form-group clearfix">
            <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col obligatory-field" for="confirmPassword">
                <%= data.text.forms.confirmPassword %>
            </label>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
                <input id="confirmPassword" name="confirmPassword" value="" type="password" class="rp-input rp-width-100" autocomplete="off" />
                <div class="help-inline"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col"></div>
        </div>        <div class="rp-form-group show-password clearfix">
            <div class="col-md-3 col-sm-4 hidden-xs rp-custom-col"></div>
            <div class="col-md-9 col-sm-8 col-xs-12 rp-custom-col">
                <label>
                    <input name="showPassword" id="showPassword" type="checkbox" class="rp-input-checkbox">
                    <span><%= data.text.forms.showPassword %></span>
                </label>
            </div>
        </div>        <div class="rp-form-group rp-wrap-button clearfix">
            <div class="col-md-3 col-sm-4 hidden-xs rp-custom-col"></div>
            <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col clearfix">
                <button type="submit" class="rp-btn rp-btn-submit float-right" id="register">
                    <%= data.text.ui.register %>
                </button>
                <button type="reset" class="rp-btn rp-btn-cancel pull-right" id="cancelForm">
                    <%= data.text.ui.cancel %>
                </button>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs rp-custom-col"></div>
        </div>
    </form>
</div>