<a href="#<%= data.projectUrl %>" class="logo">
    <i class="sprite sprite-logo"></i>
    <!-- <span>< % = data.text.topMenu.reportPortal % ></span> -->
</a>
<nav>
    <ul class="main-menu">
        <% if(false){ %>
        <li>
            <a href="#<%- data.projectUrl %>" id="info">
                <i class="rp-icons rp-icons-statusbar fsize-18"></i>
                <span><%= data.text.topMenu.status %></span>
            </a>
        </li>
        <% } %>
        <li>
            <a href="#<%- data.projectUrl %>/dashboard" id="dashboard">
                <i class="rp-icons rp-icons-dashboard fsize-18"></i>
                <span><%= data.text.topMenu.dashboard %></span>
            </a>
        </li>
        <li>
            <%
                var launchesUrl = data.lastActive
                    ? data.lastActive
                    : '#' + data.projectUrl + '/launches/all';
            %>
            <a href="<%- launchesUrl %>" id="launches">
                <i class="rp-icons rp-icons-launches fsize-23"></i>
                <span><%= data.text.topMenu.launches %></span>
            </a>
        </li>
        <li>
            <a href="#<%- data.projectUrl %>/filters" id="filters">
                <i class="rp-icons rp-icons-filter fsize-20"></i>
                <span><%= data.text.topMenu.filters %></span>
            </a>
        </li>
        <% if (data.canDebug) { %>
            <li>
                <a href="#<%- data.projectUrl %>/userdebug/all?filter.eq.mode=DEBUG" id="userdebug">
                    <i class="rp-icons rp-icons-eye fsize-17"></i>
                    <span><%= data.text.topMenu.debug %></span>
                </a>
            </li>
        <% } %>
    </ul>
</nav>
<a id="back-top" class="hidden-xs" title="<%= data.text.ui.backToTop %>" style="display: none;">
    <nobr>
        <span id="btt-span"><%= data.text.ui.backToTop %></span>
    </nobr>
</a>
