.sort {
  display: flex;
  align-items: center;
}

.filter-sort {
  margin: 10px 0 0;
}

.filter-sort-text {
  font-size: 14px;
}

.launches-sort {
  position: relative;
}

.launches-sort-text {
  font-size: 13px;
}
