<div class="events-page-wrapper">
    <div class="events-refine-container">
        <span class="refine-label hidden-xs"><%= data.text.filters.refine %></span>
        <div data-js-refine-entities></div>
    </div>
    <div class="rp-btn rp-btn-default rp-button-with-icon refresh-btn" title="<%= data.text.ui.refresh %>" data-js-refresh>
        <i class="material-icons">autorenew</i>
        <span class="rp-btn-val hidden-sm hidden-xs"><%= data.text.ui.refresh %></span>
    </div>
    <div class="events-table-container" data-js-events-table-container></div>
</div>

