<div class="grid-cell time-grid-cell" data-js-time-format>
    <span class="from-now" data-js-time-from-now></span>
    <span class="time-exact" data-js-time-exact></span>
</div>
<div class="grid-cell user-grid-cell">
    <span class="user" data-js-user></span>
</div>
<div class="grid-cell action-grid-cell">
    <span class="action" data-js-action></span>
</div>
<div class="grid-cell object-type-grid-cell">
    <span class="object-type" data-js-object-type></span>
</div>
<div class="grid-cell object-name-grid-cell">
    <span class="object-name" data-js-object-name></span>
</div>
<div class="grid-cell old-val-grid-cell" data-js-old-val></div>
<div class="grid-cell new-val-grid-cell" data-js-new-val></div>
