.switcher-wrapper {
  @media (max-width: $SCREEN_XS_MAX) {
    height: 30px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.no-label {
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.aa-strategy-option-selector {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 225px;
  min-width: 240px;
  padding-right: 0;
  margin-right: 15px;
  box-sizing: border-box;
  @media (max-width: $SCREEN_XS_MAX) {
    flex-direction: column;
    width: auto;
    margin-bottom: 0;
  }
}

.radio-container {
  align-items: flex-start;
  margin-bottom: 15px;
}

.radio-description {
  display: inline-block;
  padding: 0 15px 0 0;
}

.form-break-line {
  width: 1010px;
  margin-bottom: 30px;
  border: 1px solid $COLOR--gray-91;
  @media (max-width: $SCREEN_MD_MAX) {
    width: 100%;
    box-sizing: border-box;
  }
}

.radio-children {
  word-break: normal;
}
