.dropdown {
  position: relative;
  display: inline-block;
  height: 25px;

  &.opened {
    .select-list {
      display: block;
    }
  }
}

.select-block {
  position: relative;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0 25px 0 10px;
  background-color: $COLOR--white-two;
  box-sizing: border-box;

  &:hover {
    border-color: $COLOR--gray-47;
  }

  &.error.touched {
    border-color: $COLOR--orange-red;
    box-shadow: 0 0 2px 0 rgba($COLOR--orange-red, 0.7);
  }

  &.disabled {
    background-color: $COLOR--gray-91;
    cursor: default;
    &:hover {
      border-color: $COLOR--gray-80;
    }
  }
}
.value {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $COLOR--topaz;
}
.arrow {
  position: absolute;
  display: inline-flex;
  right: 12px;
  height: 30px;
  width: 9px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  fill: $COLOR--topaz;

  &.asc {
    transform: rotateZ(180deg);
  }

  svg {
    display: inline-block;
    width: 9px;
  }
}
.select-list {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  display: none;
  min-height: 10px;
  border: 1px solid $COLOR--gray-80;
  padding: 5px 0;
  background-color: $COLOR--white-two;
  box-sizing: border-box;
  box-shadow: 0 6px 12px $COLOR--gray-80;
  z-index: 1;
  cursor: pointer;
}
.select-all-block {
  width: 100%;
  height: 37px;
  background-color: $COLOR--white-two;
  box-sizing: border-box;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: $COLOR--gray-91;
    margin: 3px 10px;
    box-sizing: border-box;
  }
}
.select-all {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 30px;
  box-sizing: border-box;

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
.select-item {
  width: 100%;
  height: 30px;
  background-color: $COLOR--white-two;

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
.mobile-disabled {
  @media (max-width: $SCREEN_XS_MAX) {
    background-color: $COLOR--gray-91;
  }
}
