/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

/*--- ADMINISTRATE ---*/

.admin_header_controls a:focus {
    color: #fff;
}

.sort_projects_dropdown {
    margin-top: 7px;
}

.sort_projects_dropdown .radio label {
    padding-left: 0;
}

#users-button .pr-launch-btn > a {
    display: block;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    line-height: 30px;
    box-shadow: none;
    font-size: 14px;
    color: #666;
    text-shadow: none;
}

#users-button .pr-launch-btn {
    box-shadow: none;
    margin-left: 6px;
}

.admin_form {
    padding-top: 17px;
    padding-bottom: 19px;
}

.admin_form .form_label {
    margin: 0;
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.input-filter .form-control {
    height: 30px;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
}

.input-filter .form-control:focus {
    box-shadow: none;
}

.input-filter .form-control-feedback {
    color: #999;
}

.table_view .project-item {
    width: 100%;
    margin: -1px 0 0;
}

#activeProjectsList.table_view .project-wrapper,
.pr-collapsed-projects .table_view .project-wrapper {
    margin: 0;
}

.table_view .project-item .remove-project {
    top: 13px;
}

.table_view .project-item .project_name {
    width: 15%;
    margin: 0;
    padding: 11px 15px;
    border-bottom: none;
}

.table_view .project-item .project_info_wrapper {
    width: 45%;
    border-bottom: none;
}

.table_view .project-item .project_info_wrapper .heartbeat_block {
    width: 20%;
    padding-top: 11px;
    padding-bottom: 10px;
    border: none;
}

.health_icon {
    i {
        position: relative;
        font-size: 5vw;
        width: auto;
        height: auto;
        opacity: 0.3;
    }
}

.table_view .project-item .project_info_wrapper .health_icon {
    display: none;
}

.table_view .project-item .project_info_wrapper .health_index {
    width: 100%;
}

.table_view .project-item .project_info_wrapper .project_info_block {
    width: 80%;
    padding-top: 11px;
    padding-bottom: 10px;
}

.table_view .project-item .project_info_wrapper .project_info {
    width: 33.33%;
}

.table_view .project-item .project-link_wrapper {
    width: 35%;
    background-color: transparent;
}

.table_view .project-item .project-link_wrapper .project-link {
    padding-top: 13px;
    padding-bottom: 10px;
}

/*--- END ADMINISTRATE ---*/

#coverLoader {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    left: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
#coverLoader i {position: relative;top: 50%;margin-top: -50%;}

#contentBody {min-height: 120px;}
#contentBody #popupLoader {display: block;height:auto;}

#popupLoader.admin-section i {top:0px;}

.no-assigned .go-to-project {display: none;}
.no-assigned .assign-to-project {display: inline-block;}

.dimmed {
    opacity: 0.65;
}
.dimmed .project_info_wrapper{opacity: 0.5;}

.custom-label {padding: 7px 0 0;text-align: right;font-weight: normal;}

#inviteMemberForm .form-group,
#addMemberForm .form-group,
#projectSettings .form-group {
    margin-bottom: 15px;
}

/* USERS  */
.all-users .rp-member-wrap .rp-member-body {
    padding-top: 0;
}
.users-list {
    position: relative;
}
.users-list #popupLoader.admin-section i {
    top:15px;
}

.label-hover {
    display: none;
}

.rp-table-row:hover .label-hover {
    display: inline;
}


.projects-table-view {
    padding-left: 20px;
    padding-right: 20px;
}

/* ---------------------------------- */



@media (max-width: 768px) {
    .header {
        /*padding: 0 10px;*/
    }

    .login-box {
        left: auto;
    }

    .project_info_wrapper .heartbeat_block {
        width: 100%;
        border-right: none;
    }

    .project-wrapper .project-link_wrapper {
        padding: 10px 0 !important;
    }

    .rp-navbar-header .rp-padding-reset {
        padding: 0 15px;
    }

    #navbar-header-collapse .rp-header-nav.rp-navbar-right .dropdown-menu > li {
        margin: 0 0 5px;
        float: none;
        border: 1px solid #ddd;
    }

    #projectProperties,
    #jiraConfig {
        padding-left: 10px;
        padding-right: 10px;
    }

    #dynamicFields + .fields-controls {
        padding-right: 25px;
    }

    /*--- ADMIN PAGE TABLE VIEW ---*/
    .table_view .project-item {
        width: 100%;
        margin: -1px 0 0;
    }

    #activeProjectsList.table_view .project-wrapper,
    .pr-collapsed-projects .table_view .project-wrapper {
        margin: 0;
    }

    .table_view .project-item .remove-project {
        top: 13px;
        display: block;
    }

    .table_view .project-item .project_name {
        width: 100%;
        margin: 0;
        padding: 11px 15px;
        border-bottom: none;
    }

    .table_view .project-item .project_info_wrapper {
        width: 100%;
        border-bottom: none;
    }

    .table_view .project-item .project_info_wrapper .heartbeat_block {
        width: 100%;
        padding-top: 11px;
        padding-bottom: 10px;
        border: none;
    }

    .table_view .project-item .project_info_wrapper .health_icon {
        display: none;
    }

    .table_view .project-item .project_info_wrapper .health_index {
        width: 100%;
    }

    .table_view .project-item .project_info_wrapper .project_info_block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .table_view .project-item .project_info_wrapper .project_info_block:after,
    .table_view .project-item .project-link_wrapper:after {
        content: "";
        display: block;
        clear: both;
    }

    .table_view .project-item .project_info_wrapper .project_info {
        float: left;
        width: 33.3%;
    }

    .table_view .project-item .project-link_wrapper {
        width: 100%;
        padding: 0 15px !important;
        background-color: transparent;
    }

    .table_view .project-item .project-link_wrapper .project-link {
        float: left;
        display: block;
        width: 33.3%;
        padding: 5px 0 10px;
        text-align: left;
    }

    /*--- END ADMIN PAGE TABLE VIEW ---*/
}
