/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
/*------------------------------*/
/* STYLE FOR INVITE MEMBERS PAGE */

%INVITE_MEMBER_FORM {
    #inviteMemberForm {
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 15px;

        .rp-form-group {
            &:last-child {
               margin-bottom: 20px;
            }
            .select2-container {
                .select2-choice {
                    background-image: none;
                    border-color: #ccc;
                    border-radius: 0;
                    box-shadow: none;
                    height: auto;
                    min-height: 30px;
                    margin-right: -1px;

                    .select2-chosen {
                        width: 220px;
                        margin-right: 30px;
                        box-shadow: none;
                        padding: 2px 5px;
                    }

                    .select2-arrow {
                        width: 30px;
                        border: none;
                        background: 0 0;

                        b {
                            background: 0 0;
                            display: inline-block;
                            width: 0;
                            height: 0;
                            margin-left: 10px;
                            margin-top: 2px;
                            vertical-align: middle;
                            border-top: 4px solid;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                            background-position: 2px 1px;
                        }
                    }
                }
            }
        }

        h4 {
            &.common-title {
                padding-left: 15px;
            }
        }

        label {
            &.obligatory-field {
                &:after {
                    position: absolute;
                    margin-left: 2px;
                }
            }
        }

        .rp-invite-email {
            @include rpLinksSetting(13px, 30px, 0, 0);
            @include rpLinksStyle(#464547, none);
            font-family: $OpenSansSemibold;
        }
    }

    #inviteMember {
        #inviteMemberForm {
            padding-top: 0;
        }
    }
}

/*----------------*/
/* INCLUDE STYLES */

/* FOR USUAL USERS */
#dynamic-content {
    @extend %INVITE_MEMBER_FORM;
}

/* FOR ADMINISTRATORS USERS */
#dynamicContent {
    @extend %INVITE_MEMBER_FORM;
}

/*-----------------------------------*/
/* STYLES OF DYNAMIC WIDTH OF SCREEN */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {

}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {

}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {

}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {

}
