/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*--- MEMBERS ---*/
#membersList .all-users {
    padding: 0;
}

.rp-margin-reset {
    border-top: none;
}

#membersList .rp-table-thead {
    border-bottom: 1px solid #ddd;
}

.rp-member-wrap {
    padding: 7px 0;
}

.rp-member-wrap .rp-member-img {
    margin-right: 10px;
    margin-left: 15px;
    min-height: 50px;
}

.table_permissions {
    font-size: 14px;
    color: #666;
}

.table_permissions th:first-child,
.table_permissions td:first-child {
    padding-left: 18px;
}

.table_permissions th:last-child,
.table_permissions td:last-child {
    padding-right: 18px;
}

.table_permissions.table-condensed > thead > tr > th {
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    background: #f5f5f5;
    text-transform: uppercase;
    font-size: 12px;
    color: #777;
}
.table_permissions.table-condensed > tbody > tr > td:first-child {
    text-align: right;
    width: 34%;
    padding-right: 15px;
}

/*--- END MEMBERS ---*/


/*--- ADMIN ALL USERS ---*/
.all-users .rp-margin-reset .rp-table-thead .rp-table-th {
    padding-left: 0;
}

.all-users .rp-margin-reset .view_projects_wrapper .rp-table-thead .rp-table-th {
    padding-left: 15px;
}

/* .popover.user_projects_popover {
    max-width: 100%;
    display: block;
    border-radius: 0;
}

.rp-margin-reset .popover.user_projects_popover .rp-table-thead {
    min-height: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.popover.user_projects_popover .user_projects_list_name,
.popover.user_projects_popover .delete_user_project {
    line-height: 30px;
}

.popover.user_projects_popover .delete_user_project,
.popover.user_projects_popover .add_user_project {
    text-align: center;
    color: #666;
} */

.rp-members-list .view_projects_wrapper {
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
}

.rp-members-list .view_projects_wrapper:before,
.rp-members-list .view_projects_wrapper:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 44%;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.rp-members-list .view_projects_wrapper:before {
    border-bottom: 10px solid #ddd;
}

.rp-members-list .view_projects_wrapper:after {
    margin-top: 1px;
    border-bottom: 10px solid #fff;
}

.view_projects_wrapper .rp-table-row {
    border-top: none;
}

.view_projects_wrapper .view_project_name {
    padding-top: 5px;
}

/*--- START ADMIN ALL USERS ADD USER FORM ---*/
#addMemberForm .btn-success {
    min-width: 58px;
}
 
/*--- END ADMIN ALL USERS ADD USER FORM ---*/
/*--- END ADMIN ALL USERS ---*/


.rp-members-list {
    .view_projects_wrapper {
        .select2-container {
            .select2-choice {
                background-image: none;
                border-color: #ccc;
                border-radius: 0;
                box-shadow: none;
                height: auto;
                min-height: 30px;
                margin-right: -1px;

                .select2-chosen {
                    margin-right: 30px;
                    box-shadow: none;
                    padding: 2px 5px;
                }

                .select2-arrow {
                    width: 30px;
                    border: none;
                    background: 0 0;

                    b {
                        background: 0 0;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 10px;
                        margin-top: 2px;
                        vertical-align: middle;
                        border-top: 4px solid;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        background-position: 2px 1px;
                    }
                }
            }
        }
    }
}

/* members */

#membersList {
    position: relative;
    display: block;
    min-height: 200px;
}

.rp-member-avatar {
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    max-width: 40px;
    min-width: 38px;
}

.rp-member-body .label {
    position: relative;
    text-transform: lowercase;
    top: -4px;
}
ss
.user-name.text-wrapper {
    display: block;
}
.user-name {
    padding-left: 50px;
    font-size: 13px;
    line-height: 15px;
}

.members-pre-loader {
    height: 100px;
    position: relative;
}

/* TODO */
// .member-manager .fa-lock {
//     color: #808080;
//     cursor: help;
// }

span.rp-role {
    cursor: default;
}


#membersList #popupLoader {
    display: block;
    top: 45%;
}

.members-confirm {
    padding: 16px 12px;
}

.members-confirm .control-label {
    font-weight: bold;
}

.rp-info.show-time {
    font-size: 13px;
    line-height: 15px;

    &:hover .from-now {
    display: none;
    }

    &:hover .exact-time {
        display: inline;
    }

    .from-now {
        padding-bottom: 1.2em;
    }
    .exact-time {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .rp-info-padding {
        padding: 22px 0 0;
    }
}
