/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
#contentBody.projects_list_wpapper {
    padding-left: 10px;
    padding-right: 10px;
}

.projects_list_wpapper .rp-margin-reset .rp-table-thead {
    background-color: #f5f5f5;
    border-top: solid 1px #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.projects_list_wpapper .rp-margin-reset .rp-table-thead .form-group {
    margin-bottom: 0;
}
.projects_list_wpapper .general_tabs .nav-tabs {
    margin: 0 -10px;
    width: auto;
}

/*------------------------------*/
/* STYLE FOR ASSIGNED MEMBERS PAGE */

%ASSIGN_MEMBER {
    #assignMember {
        .all-users {
            padding-top: 0;

            #membersList {
                .action-info {
                    i {
                        font-size: 18px;
                        line-height: 18px;
                        width: 18px;
                        height: 18px;
                        margin: 7px;
                        cursor: help;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    &.panel-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*----------------*/
/* INCLUDE STYLES */

/* FOR USUAL USERS */
#dynamic-content {
    @extend %ASSIGN_MEMBER;
}

/* FOR ADMINISTRATORS USERS */
#dynamicContent {
    @extend %ASSIGN_MEMBER;
}

/*-----------------------------------*/
/* STYLES OF DYNAMIC WIDTH OF SCREEN */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {

}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {

}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {

}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {

}
