/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*------------*/
/* PAGINATION */

.pagingtoolbar {
    padding-top: 15px;
}

.pagination {
    border-radius: 0;

    & > li {
        & > a,
        & > span {
            height: 31px;
            min-width: 31px;
            font-family: $OpenSansRegular;
            font-size: 14px;
            color: #666;
        }
    }

    & > li > a,
    & > li > span,
    & > li > a:hover,
    & > li > span:hover,
    & > li > a:focus,
    & > li > span:focus
    & > .disabled > span,
    & > .disabled > span:hover,
    & > .disabled > span:focus,
    & > .disabled > a,
    & > .disabled > a:hover,
    & > .disabled > a:focus,
    & > .active > a,
    & > .active > span,
    & > .active > a:hover,
    & > .active > span:hover,
    & > .active > a:focus,
    & > .active > span:focus {
        border-color: #ccc;
    }

    & > .disabled {
        & > span,
        & > span:hover,
        & > span:focus,
        & > a,
        & > a:hover,
        & > a:focus {
            background-color: #eee;
            color: #ccc;
        }
    }

    & > .active {
        & > a,
        & > span,
        & > a:hover,
        & > span:hover,
        & > a:focus,
        & > span:focus {
            background-color: #eee;
        }
    }

    & > .active > a,
    & > .active > span,
    & > .active > a:hover,
    & > .active > span:hover,
    & > .active > a:focus,
    & > .active > span:focus,
    & > li > a:hover,
    & > li > span:hover,
    & > li > a:focus,
    & > li > span:focus {
        color: #666;
    }

    &.pagination-sm {
        & > li:first-child {
            & > a,
            & > span {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &.pagination-sm {
        & > li:last-child {
            & > a,
            & > span {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
