.fullscreen {
    #main_content {
        .wrapper {
            padding-left: 0;
            padding-right: 0;
            position: relative;

            .color {
                background: $COLOR--white-default;
            }

            .content {
                .main-content {
                    padding-left: 0;
                    padding-right: 0;
                    position: relative;

                    .container {
                        width: 100%;

                        #mainContainer {
                            padding-bottom: 0;

                            #dynamic-content {
                                padding-top: 15px;
                            }

                            .fullscreen-close {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    #contentHeader,
    #pageSidebar,
    .header,
    #pageFooter,
    .uv-icon {
        display: none !important;
    }
}

.fullscreen-close {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
}

.fullscreen-container {
    height: auto !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.btn.btn-salad-bg {
    background-color: #cdea7e;
    color: #799b1c;
}
