/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.baron.baron__root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & > *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .baron_scroller {
    &:focus {
      outline: none;
    }
  }
  .baron__track {
    display: none;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
    .baron__free {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .baron__bar {
      position: absolute;
      z-index: 1;
      border-radius: 3px;
      background: #333;
      pointer-events: auto;
      border: 1px solid #636363;
      &.baron__bar-vertical {
        right: 0;
        width: 8px;
      }
      &.baron__bar-horizontal {
        height: 8px;
        bottom: 0;
      }
    }
    &.baron__track-vertical {
      width: 8px;
      top: 0;
      bottom: 0;
      right: 0;
    }
    &.baron__track-horizontal {
      height: 8px;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      transition-delay: 0s;
      opacity: .8;
    }
  }
  &._scrollbar_vertical {
    & > .baron__track-vertical {
      display: block;
    }
  }
  &._scrollbar_horizontal {
    padding-bottom: 10px;
    & > .baron__track-horizontal {
      display: block;
    }
  }
  &:hover > .baron__track {
    transition-delay: 0s;
    opacity: .2;
  }
  &._scrolling:hover > .baron__track {
    transition-delay: 0s;
    opacity: .8;
  }
}
.no-zero-scroll {
  .baron.baron__root {
    & > *:first-child {
      right: -17px;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 16px;
      }
    }
  }
}


/*-------------------------------------*/


.select2-drop-active .baron.baron__root .select2-results {
  min-height: 34px !important;
}

.select2-results {
  padding: 0;
}

.select2-drop > .baron__root {
  margin: 0;
}

.select2-results .select2-no-results {
  font-size: 12px;
  padding: 5px;
}

