/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
/* DECLARATION VARIABLES */

/*-------------------------------------*/

%editorButton {
    color: #fff;
    border: none;
    font-size: 13px;
}

div.inline-editor {
    .container-fluid {
        margin: 0;
        padding: 0;
    }
    .rp-defect-type-dropdown.btn {
        background: #fff;
        border: solid 1px #cccccc;
        padding: 5px 26px 5px 5px;

        .caret {
            position: absolute;
            top: 50%;
            margin-top: -1px;
            right: 10px;
            color: #000;
        }
    }
    .open {
        .rp-defect-type-dropdown {
            .caret {
                transform: rotate(180deg);
            }
        }

    }
    .btn-primary {
        @extend %editorButton;

    }
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background: #a3c644;
    }
    .btn-default {
        @extend %editorButton;
    }
    .btn-default,
    .btn-default:hover,
    .btn-default:active,
    .btn-default:focus {
        background: #999;
    }
}

.editor-row {
    padding-top: 10px;
    border-top: 1px solid #999;
}

.rp-defects-menu {
    width: 770px;
    font-size: 13px;
    padding: 8px 10px 10px;

    .divider {
        margin: 8px 0;
        float: left;
        width: 100%;
        box-sizing: content-box;
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .rp-defects-menu {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .rp-defects-menu {
        width: 280px;
    }
}

.rp-defect-row {
    padding: 3px 5px;
    margin: 0 -15px;

    label {
        position: relative;
        font-weight: normal;
        display: inline-block;
        word-break: break-all;
        padding: 0 10px 0 24px;
        min-height: 20px;
        border: 1px solid transparent;
        border-radius: $borderRadius100;
        cursor: pointer;
        margin: 0;

        &:hover {
            border-color: #ccc;
        }

        &.selected {
            font-weight: 600;
            cursor: default;
            border-color: #ccc;
        }
        i {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: $borderRadius100;
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.rp-defect-row-first {
    border-bottom: 1px solid #e9e9e9;
    padding: 7px 3px 10px;
    margin-bottom: 7px;
}

%buttonIcon {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 20px;
}

.rp-defect-post-issues {
    position: absolute;
    top: 6px;
    right: 12px;

    .pr-load-bug-btn {
        padding-left: 32px;
        margin-left: 8px;
        i {
            @extend %buttonIcon;
        }

    }
    .pr-post-bug-btn {
        padding-left: 32px;
        i {
            @extend %buttonIcon;
        }

    }
}

.tickets-container {
    .badge {
        background: #f5f5f5;
        color: #777;
        border: 1px solid #ccc;
        font-size: 12px;
        font-weight: normal;
        &:focus,
        &:hover {
            color: #777;
        }
    }
}

.issue-tracker-link {
    position: relative;
    padding: 0 23px 0 0;
    background: #aaaaaa;

    &.closed > div,
    &.resolved > div{
        text-decoration: line-through !important;
    }

    &.loaded,
    &.parentLoaded {
        background: #f5f5f5;
    }
    &.closed,
    &.resolved,
    &.done {
        background: #448C43;
        border-color: #1d6d1d;
        color: #fff;
        &:focus,
        &:hover {
            color: #fff;
        }
    }
    &.open,
    &.reopen,
    &.new,
    &.active {
        background: #D34A4A;
        border-color: #D34A4A;;
        color: #fff;
        &:focus,
        &:hover {
            color: #fff;
        }
    }
}

.rp-defect-multiple-edit {
    .replace-comments {
        font-size: 12px;
        color: #464547;
        display: inline-block;
        padding-left: 20px;
        margin: 0;
        position: relative;

        input {
            position: absolute;
            left: 0;
            top: -2px;
        }
    }
    .rp-defect-editor-counter {
        margin: 0 30px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        color: #777;
    }
}

.rp-defect-type-edit {
    display: inline-block;
    padding-right: 22px;
    position: relative;

    .edit-defect {
        color: #999999;
        position: absolute;
        right: 0;
        top: 0;
        i {
            font-size: 18px;
        }
    }
}

.defect-type {
    position: relative;
    padding-right: 20px;
    cursor: pointer;

    .select-test {
        position: absolute;
        top: 0;
        right: 0;
    }
    &:hover {
        .edit-defect {
            color: #464547;
        }
    }
}
.disabled .defect-type {
    cursor: default;
}

.defect-type i,
.tickets-container i {
    font-size: 14px;
}

.defect-desc {
    padding: 10px 5px;
    font-size: 12px;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;

    &.nicescroll-it {
        max-height: none;
    }
}

#defectWell .defect-desc {
    overflow: hidden;

    ol li {
        list-style-type: decimal;
    }
}

.issue-selector {
    padding: 2px 5px;
    cursor: pointer;
}

.inline-editor {
    .tickets-container {
        display: inline-block;
        margin: 3px 0 0 10px;

        i {
            margin: 0;
        }
        .badge.external-ticket {
            display: inline-block;
            margin: 5px 0 0 5px;
        }

        .external-ticket {
            display: inline-block;
            max-width: 100%;
            margin: 5px 0 0 5px;
            padding: 2px 4px 0;
            text-align: left;
            white-space: nowrap;
            word-wrap: break-word;
            & > div {
                margin-left: 16px;
                display: inline-block;
                overflow: hidden;
                max-width: 120px;
                word-wrap: break-word;
            }

            & > i {
                position: absolute;
                top: 1px;
                left: 3px;
            }
        }
    }
}

.defect-desc h1,
.history-col .tooltip h1,
#historyWell .tooltip h1,
#activityWell .actyvity-val h1 {
    margin: 0;
    font-size: 20px;
}

.defect-desc h2,
.history-col .tooltip h2,
#historyWell .tooltip h2,
#activityWell .actyvity-val h2 {
    margin: 0;
    font-size: 18px;
}

.defect-desc h3,
.history-col .tooltip h3,
#historyWell .tooltip h3,
#activityWell .actyvity-val h3 {
    margin: 0;
    font-size: 16px;
}

.defect-desc h4,
.history-col .tooltip h4,
#historyWell .tooltip h4,
#activityWell .actyvity-val h4 {
    margin: 0;
    font-size: 14px;
}

.defect-desc h5,
.history-col .tooltip h5,
#historyWell .tooltip h5,
#activityWell .actyvity-val h5 {
    margin: 0;
    font-size: 12px;
}

.defect-desc h6,
.history-col .tooltip h6,
#historyWell .tooltip h6,
#activityWell .actyvity-val h6 {
    margin: 0;
    font-size: 10px;
}

.defect-desc,
#activityWell .actyvity-val {
    ul, ol {
        margin: 0 0 9px 2em;
    }

    ol > li {
        list-style: decimal;
    }
}

.defect-desc ul li,
#activityWell .actyvity-val ul li {
    list-style: inside;
    margin-left: 10px;
}

.defect-desc a,
#activityWell .actyvity-val a {
    text-decoration: underline !important;
}

.text-editor {
    margin-top: 5px;
}