/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*--- USER PROFILE ---*/

#dynamic-content {
    .pr-user-profile {
        padding: 15px 0 0;
        background: none !important;

        .media,
        .media-body {
            overflow: inherit;
        }

        .media {
            margin-bottom: 20px;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            .media_wrapper {
                background-color: $COLOR--booger;

                .media_image {
                    margin: 20px 0;
                    text-align: center;

                    #avatarWrapper {
                        display: inline-block;
                        max-width: 120px;
                        min-width: 120px;
                        position: relative;

                        &:hover {
                            .remove-image {
                                display: inline-block;
                            }
                        }

                        .remove-image {
                            display: none;
                            position: absolute;
                            right: -10px;
                            top: -10px;
                            z-index: 10;
                            cursor: pointer;

                            .remove-image-wrap {
                                position: relative;
                                background: $COLOR--white-default;
                                border-radius: 100%;
                                width: 20px;
                                height: 20px;

                                .mi-close {
                                    position: absolute;
                                    top: 1px;
                                    left: 0;
                                    right: 0;
                                    font-size: 18px;
                                    line-height: 18px;
                                    width: 20px;
                                    height: 20px;
                                    text-align: center;
                                }
                            }
                        }
                        .avatar.img-thumbnail {
                            float: none;
                            margin: 0 auto;
                            padding: 7px;
                            border: none;
                            border-radius: 0;
                            background-color: #c1e169;
                        }
                    }

                    #fileUploadForm {
                        .btn-file {
                            position: relative;
                            overflow: hidden;

                            input[type=file] {
                                position: absolute;
                                top: 0;
                                right: 0;
                                min-width: 100%;
                                min-height: 100%;
                                font-size: 100px;
                                text-align: right;
                                filter: alpha(opacity=0);
                                opacity: 0;
                                outline: none;
                                background: white;
                                cursor: inherit;
                                display: block;
                            }
                        }

                        #submitPhoto {
                            display: none;
                        }
                    }

                    #wrongImageMessage {
                        display: none;

                        &.shown {
                            display: inline-block !important;
                        }
                    }
                }

                .page-title {
                    margin-bottom: 15px;
                    margin-top: 0;
                    font-family: $OswaldRegular;
                    font-size: 22px;
                    color: $COLOR--white-default;
                    line-height: 2;

                    .profile_name,
                    .profile_mail {
                        display: block;
                        margin: 0;
                    }

                    .profile_name {
                        text-transform: uppercase;
                    }

                    small {
                        font-size: 16px;
                        color: $COLOR--white-default;
                    }
                }

                .profile_form {
                    padding-left: 0;
                    padding-right: 0;

                    .control-label {
                        font-family: $OswaldRegular;
                        font-size: 14px;
                        font-weight: 400;
                        color: $COLOR--white-default;
                        line-height: 41px;
                    }

                    #keyHolder {
                        text-align: right;

                        .form-control {
                            border: none;
                            height: 41px;
                            width: 100%;
                            //width: auto;
                            display: inline-block;
                        }

                        .help-block {
                            text-align: left;
                            color: $COLOR--gunmetal;
                        }

                        .b-update-uudi {
                            margin: 0;

                            .btn {
                                height: 41px;
                                width: 41px;
                                padding: 1px 0 0;
                                border: 0;
                                background-color: #cdea7e;

                                // .b-update-uudi .btn .fa {
                                //     font-size: 16px;
                                //     color: #799b1c;
                                // }
                            }
                        }

                        .btn-default:hover {
                            background-color: #cdea7e;
                        }

                        .material-icons {
                            &.mi-autorenew {
                                font-size: 24px;
                                line-height: 24px;
                                color: #799b1c;
                                margin-top: 2px;
                                width: 24px;
                                text-align: center;
                            }
                        }

                        .tooltip {
                            min-width: 200px;
                        }
                    }
                }
            }
        }

        .profile_project_list {
            #project-list {
                .project_list_header {
                    margin: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: 1px solid $COLOR--gray-80;
                    border-bottom: none;
                    background-color: $COLOR--white;
                    font-size: 14px;

                    .project_roles {
                        font-family: $OswaldRegular;
                        color: $COLOR--greyish-brown;
                        text-transform: uppercase;
                    }
                }

                .list-group {
                    .list-group-item {
                        padding: 10px 0;
                        border-color: #ccc;
                        border-top-color: #dbdbdb;
                        border-bottom-color: #dbdbdb;
                        font-family: "OpenSansSemibold", sans-serif;
                        cursor: pointer;

                        &:nth-child(even) {
                            background-color: $COLOR--white-four;
                        }

                        &:nth-child(odd) {
                            background-color: $COLOR--white-default;
                        }

                        &.active {
                            border-color: #aaca57;
                        }

                        &:after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        &:first-child,
                        &:last-child {
                            border-radius: 0;
                        }

                        .list-group-item-heading {
                            margin-bottom: 0;
                            font-family: "OpenSansSemibold", sans-serif;
                            color: $COLOR--topaz;
                            .break-link {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: inline-block;
                                max-width: 100%;
                            }
                        }

                        .list-group-item-text {
                            font-family: "OpenSansRegular", sans-serif;
                            color: $COLOR--gunmetal;
                        }
                    }
                }
            }
        }

        .code_editor {
            .config-pills {
                position: relative;
                padding: 1px 15px 0;
                margin: 0;
                border: none;
                border-radius: 0;
                box-shadow: none;
                background: $COLOR--gray-60;
                z-index: 1;

                li {
                    a {
                        display: inline-block;
                        float: left;
                        padding: 8px 20px;
                        border-radius: 4px 4px 0 0;
                        font-family: $OswaldRegular;
                        font-size: 14px;
                        color: $COLOR--white-default;
                        text-transform: uppercase;
                        text-shadow: none;
                        text-decoration: none;

                        &:hover {
                            color: $COLOR--white-default;
                            text-decoration: none;
                            background: inherit;
                        }
                    }

                    &.active {
                        a {
                            background: $COLOR--white-default;
                            border-radius: 0;
                            box-shadow: none;
                            color: $COLOR--gray-60;
                        }
                    }
                }
            }

            .config-container {
                height: 300px;
                position: relative;

                #user-config {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 100%;
                    border-radius: 0;
                    border: 1px solid $COLOR--gray-80;
                    border-top: none;
                    background: $COLOR--white-default;
                    padding: 14px 18px;
                    color: $COLOR--gray-60;
                    overflow: auto;

                    p{
                        margin-bottom: 0;
                    }

                    h1{
                        font-size: 15px;
                        margin-bottom: 0;
                        margin-top: 15px;
                    }

                    .comment {
                        padding-left: 45px;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .options {
                        padding-left: 21px;
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }

            .ace-idle-fingers {
                border: 1px solid $COLOR--gray-80;
                border-top: none;
                background: $COLOR--white-default;
            }

            .ace_text-layer .ace_line_group {
                .ace_line,
                .ace_line .ace_comment,
                .ace_line .ace_variable,
                .ace_line .ace_keyword {
                    color: $COLOR--gray-60;
                }

                .ace_string {
                    color: $COLOR--booger;
                }
            }
        }
    }
}

/*--- END USER PROFILE ---*/

/* ---------------------------- */

.media-body .btn-default:hover {
    background-color: #eeeeee;
}

@media (min-width: 992px) and (max-width: 1240px) {
    .pr-user-profile .col-md-6 {
        width: 100%;
    }
}
