.footer {
    position: relative;
    margin-top: -25px;
    padding: 0 20px 0 120px;
    font-size: 11px;
}
.copyright {
    padding: 0 12px;
}
.footer-copy {
    padding-right: 2px;
}
.breadcrumbs {
    display:inline-block;
    float: right;
    //padding: 5px 0;
    padding: 0 40px 0 0;
    margin: 0;
}
.breadcrumbs>li {
    float: left;
    padding: 0 1px;
    list-style: none;
}
.breadcrumbs>li>a {
    text-decoration: none;
    color: inherit;
}
.breadcrumbs>li>a:before {
    content: " | ";
    padding: 0 5px;
    text-decoration: none !important;
    display: inline-block;
}
.breadcrumbs>li:first-child>a:before{
    content: "";
}

@media (max-width:768px) {
    .footer {
    padding: 0 15px !important;
    }
}
@media (max-width:550px) {
    .breadcrumbs {
        float: left !important;
    }
}
.actions_section {
    padding-bottom:20px;
}
.negative_margin_left {
    margin-left:-15px;
}
.custom_toggle {
    margin-right:0;
}
