/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
/* DECLARATION VARIABLES */

$linkColor: #1a9cb0;
$toInvestigateColor: #fff;
$borderRadius100: 100px;

/*-----------------------*/

%centerBlock {
    left: 50%;
    transform: translateX(-50%);
}

%defectPieSize {
    width: 48px;
    height: 48px;
}

%caret {
    content: '';
    position: absolute;
    right: 0;
    top: 7px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
}

@mixin setCaretColorType($color, $type) {
    @if $type == 'hover' {
        border-width: 0 4px 4px 4px;
        border-color: transparent transparent $color transparent;
    }
    @if $type == 'default' {
        border-width: 4px 4px 0 4px;
        border-color: $color transparent transparent transparent;
    }
}

/* GRID */

.rp-suit-grid {
    padding: 0;
}

.rp-grid-thead {
    background: #f5f5f5;
    border-bottom: solid 1px #e9e9e9;
}

.rp-grid-th {
    height: 50px;
    text-transform: uppercase;
    font-family: $OpenSansSemibold;
    font-size: 12px;
    color: #777777;
    padding: 0;
    position: relative;
}

.rp-grid-th-name {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rp-grid-name {
    position: relative;
    font-family: $OpenSansSemibold;
    font-size: 14px;
    line-height: 14px;
    word-wrap: break-word;
    padding-left: 24px;
    margin: 0px 0 5px 0;

    .btn-group {
        position: absolute;
        // left: -2px;
        // top: 2px;
        left: 0px;
        top: 0px;
    }
    .rp-svg-icon,
    .svg-icon-menu-size-14 {
        margin: 2px 0 0 1px;
    }
}

.rp-grid-description {
    padding: 0 0 0 24px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    background: none;
    border: none;
}

.rp-grid-description.nicescroll-it {
    max-height: none;
}

.rp-grid-tags {
    text-align: right;
    margin: 0px 0 0 24px;
    .rp-launch-tags, .rp-launch-owner {
        display: inline-block;
        padding: 0 0 0 20px;
        position: relative;
        color: #777;
        i.material-icons {
            position: absolute;
            top: 4px;
            left: 0;
            width: 14px;
            height: 14px;
            font-size: 15px;
            line-height: 14px;
        }
        a.tag {
            padding-left: 0;
        }
    }
    .rp-launch-owner {
        margin-right: 10px;
        i.material-icons {
            font-size: 18px;
        }
    }
}

.pr-select-all-issues {
    width: 100%;
}

%rp-defect-badge {
    display: inline-block;
    padding: 0 10px;
    border-radius: $borderRadius100;
    color: $linkColor;
    background-color: #ffffff;
    border: solid 1px #ccc;
    font-family: $OpenSansSemibold;
    min-height: 20px;
    line-height: 18px;
}

.rp-ti-badge {
    @extend %rp-defect-badge;
    color: $toInvestigateColor;
    margin: 1px 0 0;
}

.rp-ti-badge:hover {
    color: $toInvestigateColor;
}

.pr-grid-defect-stats {
    display: block;
    position: relative;
    @extend %defectPieSize;

    .pr-grid-defect-total {
        @extend %rp-defect-badge;
        position: absolute;
        top: -1px;
        left: 50%;
    }

    .pr-grid-defect-link {
        display: block;
        @extend %defectPieSize;
    }

    svg {
        @extend %defectPieSize;
    }

    .defects-tooltip {
        display: none;
        top: 44px;
        @extend %centerBlock
    }
}

.pr-grid-defect-stats:hover {
    .defects-tooltip {
        display: block;
    }
}

#mergeGrid,
#compareGrid {
    .pr-grid-defect-stats:hover {
        .defects-tooltip {
            display: none;
        }
    }
}

.pr-defect-type-badge {
    @extend %rp-defect-badge;
    color: #464547;
    position: relative;
    padding-left: 24px;
    word-break: break-all;

    i {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0;
        content: '';
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: $borderRadius100;
    }
}

.notfound-launches {
    padding: 12px 0;
}

#gridWrapper {
    .dropdown-menu {
        &.item-options {
            font-size: 13px;
            font-family: $OpenSansRegular;
        }
    }

    .suit-grid {
        .rp-table-row {
            padding: 13px 0;
        }
    }
}

#mergeGrid {
    .rp-table-row {
        padding: 13px 0;
    }
}

#compareGrid {
    .rp-table-row {
        padding: 13px 0;
    }
}


.filter-table-panel {
    .rp-grid-description,
    .rp-grid-name {
        padding: 0;
    }
    .rp-grid-tags {
        margin-left: 0;
    }
}

.info_section {
    li {
        position: relative;
    }
    li .defects-tooltip {
        display: none;
        top: 99%;
        left: 0;
    }
    li:hover .defects-tooltip {
        display: block;
    }
}

/* --------------------------- */

/* LAUNCH INFO PANEL */
.info_section {
    font-family: $OpenSansSemibold;
    font-weight: 300; // TODO
    border-bottom: 1px solid #e9e9e9;
    font-size: 12px;
    color: #464547;
    margin: 0 -15px;
    padding: 0;

    li {
        float: left;
        margin: 0 10px;
        padding: 5px 0;
        list-style: none;
    }

    .progress-bar {
        box-shadow: none;
    }

    .issues {
        padding: 0 10px;
        border-radius: 100px;
        border: 1px solid #ccc;
        background: #fff;
        color: #1a9cb0;
        font-family: $OpenSansSemibold;
        height: 20px;
        position: relative;
        top: -1px;
        right: -1px;
    }
}

.info-section-issue {
    display: inline-block;
    position: relative;
    height: 20px;
    font-size: 13px;
    border-radius: 100px;
    border: 1px solid #ccc;
    background: #f5f5f5;

    span {
        display: inline-block;
    }
}

.issue-type {
    text-transform: uppercase;
    position: relative;
    padding: 0 2px 0 24px;
    height: 18px;
    top: -1px;
    font-family: $OpenSansSemibold;

    i {
        position: absolute;
        left: 6px;
        top: 3px;
        width: 12px;
        height: 12px;
        border-radius: $borderRadius100;
    }
}

/* ---------------------------- */

#mainContainer {
    .rp-main-panel {
        #contentHeader {
            #headerBar {
                ul {
                    &.dashboard-edits {
                        li {
                            margin: 0 5px 0 0;

                            a {
                                padding: 7px 10px;
                                border: 1px solid #ccc;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* NAVIGATION BUTTONS */

#testItemsNav {
    display: inline-block;
    width: 67px;
    position: relative;

    a {
        float: left;
        font-size: 18px;
        width: 50%;
        padding: 3px;
        top: 0;
        text-align: center;
        cursor: pointer;

        &:focus {
            text-decoration: none;
        }

        &:first-child {
            left: 0;
            margin-right: -1px;
        }
    }
}

/* -------------------------------------- */

/* LAUNCH MENU */

.item-menu {
    position: relative;
    font-size: 14px;
}

.dropdown-menu.item-options {
    min-width: 246px;
    padding: 12px 0;

    & > li {
        & > a {
            padding: 3px 15px;
            font-size: 13px;
            margin: 0;
        }
    }
    .divider {
        background: #e9e9e9;
        margin: 10px 12px;
    }
}

.rp-export-launch-group {
    .rp-export-label {
        display: block;
        font-size: 12px;
        color: #777;
        text-transform: uppercase;
        padding: 5px 15px 3px;
    }
    .rp-export-btn-group {

        padding: 10px 10px 8px 7px;

        a {
            text-transform: uppercase;
            height: 26px;
            min-height: 26px;
            font-size: 13px;
            padding: 2px 8px;
            margin: 0 0 0 8px;
            line-height: 20px;
        }
    }
}

/* ---------------------------------- */

#mainContainer {
    .rp-main-panel {
        #dynamic-content {
            padding-top: 0;
        }
    }
}

/* ---------------------------------- */

/* HISTORY GRID */

.rp-history-grid {
    padding: 0;

    &.rp-margin-reset {
        border: none;
        border-left: 1px solid #e9e9e9;
    }
    pre.shifted {
        padding: 0 0 8px;
        margin: -6px 0 0;
    }
    .row {
        overflow: hidden;

        .glyphicon {
            font-size: 14px;
            margin: 8px 0 0;
        }
        .badge {
            margin: 4px 0;
            vertical-align: inherit;
        }
    }
}

.history-row {
    display: table-row;

    .history-col:first-child {
        border-left: none;
    }

}

.rp-grid-thead {
    .history-col {
        padding: 0 4px;

        &:first-child {
            padding: 0 4px 0 15px;
            border-left: none;
        }
    }
}

.history-col {
    display: table-cell;
    float: none;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-right: none;
    border-top: none;
    vertical-align: middle;

    &.rp-empty {
        color: #ccc;
        line-height: 1.1;
        background: #f5f5f5;

        i {
            font-size: 18px;
        }
    }

    &.rp-warning {
        background: #f5f9ec;
        color: #777;

        .history-col-content {
            padding: 6px;

            &:hover {
                color: #464547;
            }

            .defects-tip-duration {
                width: 240px;
            }
        }

        i {
            font-size: 22px;
        }
    }

    [data-tooltip-type] {
        .tooltip {
            display: none;
            @extend %centerBlock;
        }
        &:hover {
            .tooltip {
                display: block;
            }
        }
    }
}

.history-col-content {
    font-size: 12px;
    position: relative;
}

.history-defect-badge {
    display: inline-block;
    border-radius: $borderRadius100;
    padding: 0 10px;
    font-family: $OpenSansSemibold;
    margin: 2px 0;
    position: relative;

    &.no-stats {
        padding-right: 10px;
        &:after {
            display: none;
        }
    }

    &.nd > span, &.pb > span, &.si > span {
        color: #fff;
    }
}

.goToItem {
    cursor: pointer;
}
.history-comment, .history-tickets {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin: 0;
    position: relative;
    vertical-align: top;

    &:hover {
        &>span {
            color: #464547;
        }
    }
    &>span {
        display: inline-block;
        color: #777777;
        font-size: 22px;

    }
}

.history-defect-badge.no-stats,
.history-comment,
.history-tickets {
    .defects-tip-duration {
        width: 220px;
    }
}

.history-row.rp-table-thead .history-col {
    padding: 0 4px;
}
.history-row.rp-table-thead .history-col:first-child {
    padding: 0 15px;
}

.history-col .tooltip-inner {
    min-width: 120px;
    word-break: normal;
}

/* -------------------------- */