/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*------------*/
/* PAGINATION */

.pagination-min-component, .pagination-component {
    ul {
        li {
            float: left;
            cursor: pointer;
            &.first, &.next, &.previous, &.last {
                color: $COLOR--gray-60;
            }
            &:hover {
                color: $COLOR--tealish;
            }
            &.disabled {
                cursor: default;
                color: $COLOR--gray-80;
                &:hover {
                    color: $COLOR--gray-80;
                }
            }
        }
    }
}
.pagination-component {
    position: relative;
    text-align: center;
    padding: 20px;
    min-height: 60px;
    color: $COLOR--gray-60;
    ul {
        position: relative;
        display: inline-block;
        height: 26px;
        padding: 0 20px;
        li {
            position: relative;
            display: inline-block;
            font-size: 13px;
            color: $COLOR--gray-47;
            font-family: OpenSansSemibold;
            padding: 0 6px;
            height: 100%;
            margin: 0 2px;
            &.first, &.next, &.previous, &.last {
                font-size: 19px;
                i {
                    vertical-align: top;
                }
            }
            &.active {
                color: $COLOR--topaz;
                border-bottom: 2px solid $COLOR--topaz;
                cursor: default;
            }
            &.more {
                cursor: default;
                color: $COLOR--gray-47;
                line-height: 22px;
            }
            &.first:after, &.last:after {
                content: ' ';
                position: absolute;
                width: 1px;
                top: 1px;
                bottom: 5px;
                right: -5px;
                background: $COLOR--gray-80;
            }
            &.last:after {
                right: auto;
                left: -5px;
            }
        }
    }
    .left-block {
        position: absolute;
        top: 21px;
        left: 14px;
        text-align: left;
    }
    .right-block {
        position: absolute;
        top: 21px;
        right: 14px;
        text-align: right;
        .per-page {
            cursor: pointer;
            color: $COLOR--topaz;
        }
        input {
            display: none;
            border: 1px solid $COLOR--topaz;
            text-align: right;
            padding-right: 5px;
            width: 40px;
            margin-top: -3px;
            height: 25px;
            vertical-align: top;
            color: $COLOR--topaz;
        }
    }
    @media (max-width: 930px) {
        padding: 10px;
        .right-block, .left-block, .first, .last {
            display: none;
        }
        ul {
            padding: 0;
            height: 42px;
            li {
                padding: 15px 10px 4px 10px;
                font-size: 14px;
                &.more {
                    padding: 15px 5px 4px 5px;
                }
                &.previous, &.next {
                    padding: 15px 5px 4px 5px;
                }
            }
        }
    }
}
.pagination-min-component {
    ul {
        height: 30px;
        font-size: 12px;
        li {
            float: left;
        }
        .min-paging-text {
            line-height: 33px;
            float: left;
            font-family: OpenSansSemibold;
            color: $COLOR--gray-60;
            span {
                padding: 0 9px;
            }
        }
        i {
            font-size: 20px;
            line-height: 33px;
            vertical-align: top;
        }
    }
}
