/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/* modal */

//.modal-footer {
//    background-color: #eeeeee;
//    border-bottom-left-radius: 6px;
//    border-bottom-right-radius: 6px;
//    border-top: medium none;
//}

//.modal-header,
//.modal-body,
//.modal-footer {
//    padding: 15px 20px;
//}

.modal-body.filter-name .form-group {
    overflow: visible;
    position: relative;
}

//.modal-header {
//    border-bottom: medium none;
//}

//.modal-header h4,
//.modal-body h4 {
//    font-weight: bold;
//}

.has-error.error-holder {
    color: #a94442;
}

.modal-title.title-inline {
    display: inline-block;
}

#widgetEditor .btn-primary {
    margin-left: 5px;
}

#widgetEditor {
    .modal-body {
        padding: 0;

        .nav-tabs[role=tablist]~.tab-content .tab-content .tab-pane {
            padding: 0 10px;
        }

        .nav-tabs[role=tablist] {
            border: none;

            li {
                position: relative;
                padding: 0;
                border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                font-size: 16px;
                font-weight: 700;
                color: #999;

                &.active {
                    border-bottom-color: $COLOR--white-default;
                    background-color: transparent;

                    & a {
                        color: #555;
                    }
                }

                &.validated a {
                    color: $COLOR--booger;
                } 

                &:first-child {
                    border-left: none;
                }

                a {
                    position: relative;
                    padding-left: 45px;
                    text-align: left;
                    white-space: nowrap;
                    color: inherit;
                }
            }
        }

        .tab-content {
            padding: 0;

            & >.tab-pane {
                display: none;
            }

            & > .active {
                display: block;
            }

            .rp-table-thead {
                border-top: 1px solid $COLOR--gray-80;
                border-bottom: 1px solid $COLOR--gray-80;
                background-color: $COLOR--gray-91;
            }
        }
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-fluid {
        padding: 0px;
    }

    .rp-margin-reset {
        margin: 0;
        border-top: 0;
    }

    #SharedWidgets {
        .shared_widget_owner {
            padding-left: 10px;
            text-transform: capitalize;
        }

        .shared_widget_block {
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: lightblue;
            }

            &.disabled {
                cursor: default;

                .widget_shared_wrapper {
                    opacity: 0.6;
                    background: #dcdcdc;
                    cursor: default;
                }
            }

            .widget_name {
                font-weight: bold;
                word-break: break-all;
            }
        }
    }

    #SharedWidgets .shared_widget_block.active, 
    #widgetTemplates .widget_type.active {
        background: 0 0;
    }

    #SharedWidgets .shared_widget_block .widget_shared_wrapper, 
    #widgetTemplates .widget_type .widget_type_wrapper {
        position: relative;
        border: 1px dashed $COLOR--gray-80;

        &:after,
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    #SharedWidgets .shared_widget_block.active .widget_shared_wrapper, 
    #widgetTemplates .widget_type.active .widget_type_wrapper {
        border-color: $COLOR--booger;
        background-color: #fcfdfa;
    }

    #SharedWidgets .widget_shared_wrapper .material-icons, 
    #widgetTemplates .widget_type .widget_type_wrapper .material-icons {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 20px;
        color: $COLOR--gray-80;
    }

    #SharedWidgets .shared_widget_block.active .widget_shared_wrapper .radio_button_unchecked, 
    #SharedWidgets .widget_shared_wrapper .check_circle, 
    #widgetTemplates .widget_type .widget_type_wrapper .check_circle, 
    #widgetTemplates .widget_type.active .widget_type_wrapper .radio_button_unchecked {
        display: none;
    }

    #SharedWidgets .shared_widget_block.active .widget_shared_wrapper .check_circle, 
    #widgetTemplates .widget_type.active .widget_type_wrapper .check_circle {
        display: inline-block;
        color: $COLOR--booger;
    }

    #templateConfig {
        padding: 0 20px;
        border-bottom: 1px solid $COLOR--gray-91;

        .name-label {
            margin-top: 8px;
            margin-bottom: 4px;
            padding: 0 8px 0 0;
            color: $COLOR--gray-47;
        }

        .check-all, 
        .name-label {
            font-family: OpenSansSemibold,sans-serif;
            font-weight: 400;
        }

        .min-max-holder {
            position: relative;
            display: block;
            width: 86px;

            .input-sm {
                padding: 5px 8px;
                border-radius: 0;
                color: $COLOR--gray-60;
                font-size: 13px;
            }
        }

        .input-group-addon {
            //padding: 6px 10px;
            border-radius: 0;
            background-color: $COLOR--white-default;
        }

        .criteria-holder-dropdown {
            display: inline-block;
            width: 130px;
            position: relative;
        }

        #templateOptions .criteria-holder-dropdown .checkbox .radio-label {
            white-space: nowrap;
        }
    }

    #widgetPreview {
        padding: 0;
        border-top: none;

        .widget-content {
            position: relative;
            height: 300px;
            border-top: none;
            margin-bottom: 0;
            border-bottom: none;

            .panel-body {
                border-top: 10px solid transparent;
            }

            .panel-body.widget-invalid {
                border-top-width: 46px;
            }

            div[class*="col-"] {
                padding-left: 15px;
                padding-right: 0;
            }
        }
    }

    #widgetFilters {

        .filter-row  {
            padding: 8px 0;

            .material-icons {
                position: absolute;
                top: 0;
                left: 10px;
                font-size: 20px;
                color: $COLOR--gray-80;
            }

            .check_circle {
                display: none;
            }

            .filter-name {
                display: block;
                font-size: 14px;
                font-weight: 700;
                color: $COLOR--topaz;
                word-break: break-all;
            }

            .rp-info {
                font-size: 14px;
            }

            .rp-info.info-break {
                font-size: 13px;
                word-break: break-all;
            }
        }

        .filter-row.active .check_circle {
            display: inline-block;
            color: $COLOR--booger;
        }

        .filter-adv .text-muted {
            font-size: 12px;
        }
        .filter-adv .text-muted, 
        .filter-row .rp-info {
            color: $COLOR--gunmetal;
        }
    }

    #widgetData {
        .control-label {
            font-weight: 400;
        }

        #dashboardSelect {
            clear: both;
            float: none;
        }

        #dashboardSelect {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        .has-error {

            .form-control, 
            .form-control:focus {
                color: $COLOR--black-two;
                box-shadow: 0 0 2px 0 rgba(255,49,33,.7);
                border: 1px solid $COLOR--orange-red;
            }


        }
        .shared-switcher {

            .bootstrap-switch {
                height: 30px;
                width: 100%;
                min-width: 60px;
                z-index: 0;

                .bootstrap-switch-container {

                    .bootstrap-switch-primary {
                        background: $COLOR--booger;
                        color: $COLOR--white-default;
                    }

                    .bootstrap-switch-default, 
                    .bootstrap-switch-primary {
                        font-family: OpenSansRegular,sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .bootstrap-switch-default {
                        color: $COLOR--white-default;
                        background: $COLOR--gray-60;
                    }
                }
            }
        }

        #createDashboard .form-group:first-child {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 0;
        }
    }
}
#OwnDashboards a,
#SharedDashboards a {
    padding: 5px;
    display: block;
    border: 1px solid transparent;
    background-color: transparent;
    word-wrap: break-word;
    color: $COLOR--black;
}

#OwnDashboards .dashboard-project-link {
    position: relative;
    display: block;
    width: 100%;
    word-wrap: break-word;
    padding: 5px 10px;
}

#OwnDashboards a.active, 
#OwnDashboards a:focus, 
#OwnDashboards a:hover, 
#SharedDashboards a.active, 
#SharedDashboards a:focus, 
#SharedDashboards a:hover {
    border-color: $COLOR--booger;
    background-color: $COLOR--white;
    color: $COLOR--greyish-brown;
}

#OwnDashboards .content-holder, 
#SharedDashboards .content-holder {
    padding: 10px;
}

#OwnDashboards a.dashboard-selector.disabled, 
#OwnDashboards a.dashboard-selector.disabled:hover {
    opacity: 0.6;
    background: #ECECEC;
    border: none;
    cursor: default;
}


.bootstrap-switch.bootstrap-switch-focused,
.form-control:focus {
    border-color: $COLOR--gray-80;
    box-shadow: none;
}

.bootstrap-switch.bootstrap-switch-focused {
    outline: 0;
}

#widgetFilters .filter-name {
    white-space:pre-wrap;
}

#widgetType {
    margin-top: 1px;
    
    .borderWidget.smallOverflow {
        padding: 0 15px;
        border: 0;

        .widget_type {
            padding: 10px;
        }
    }
}

#widgetType .nav-tabs > li > a {
    margin: 0;
}

#widgetType h5 {
    font-weight: bold;
    margin-right: 12px;
}

#widgetEditor #templateConfig #templateOptions,
#widgetEditor #templateConfig>div:last-child {
    padding-bottom: 20px!important;
}

.unshared-dashboard,
#widgetEditor .rp-table-row:not(.active) {
    cursor: pointer;
}

.unshared-dashboard i {
    float: right;
}

#modal-content-text {
    word-break: normal;
}

.top-level li {
    text-align: center;
}

.nav-tabs.top-level {
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
}

.nav-tabs.top-level > li {
    margin: 0;
}

.nav-tabs > li.right-side {
    float: right;
}

.nav-tabs.top-level > li > a {
    border: none;
    border-radius: 0;
    margin: 0;
}

.nav-tabs.top-level > li.active > a {
    background-color: transparent;
}

.nav-tabs.top-level > li.active > a,
.nav-tabs.top-level > li.active > a:hover,
.nav-tabs.top-level > li.active > a:focus {
    border: none;
}

.nav-tabs.top-level > li.active {
    background-color: #d1f6d9;
}

#createDashboard .btn-primary {
    margin-bottom: 15px;
}

#widgetData h4 {
    font-size: 15px;
}

#widgetTemplates {
    height: 300px;
    overflow-y: auto;
    margin: 0 0 8px;
    border-bottom: 1px solid #ddd;
}

#widgetData,
#createDashboard {
    padding: 8px 0;
}

#widgetEditor .pull-right .btn {
    float: left;
}

.wizard-loader {
    text-align: center;
    padding: 15px 0;
}

.wizard-loader i,
#popupLoader i,
#coverLoader i {
    color: #29d;
    display: inline-block;
    font-size: 40px;
}

.modal-content > #popupLoader {
    height: 100%;
}

.widget_type {
    cursor: pointer;
}

.widget_type.active,
.filter-row.active,
.rp-margin-reset > .row.active:nth-child(2n),
.rp-table-row.active:hover {
    border-color: $COLOR--booger;
    background-color: $COLOR--white-four;
}

.widget_type.disabled {
    cursor: default;
}
.widget_type.disabled .widget_type_wrapper {
    opacity: 0.6;
    background: #dcdcdc;
}

.widget_type.active span {

}

#SharedWidgets, #SharedFilters, #OwnFilters {
    height: 300px;
    overflow-y: auto;
    position: relative;
    margin: 0 0 8px;
    border-bottom: 1px solid #ddd;
}

.graphBlock {
    min-height: 120px;
}

#criteriaOptions {
    width: 180px;
}

#criteriaOptions label,
#actionOptions label {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    font-weight: normal;
    text-align: left;
}

#criteriaOptions label.rp-radio-wrap {
    padding: 5px 20px 5px 40px;
}

.check-all {
    text-align: left;
}

#actionOptions {
    width: 230px;
}

#templateConfig {
    padding: 8px 0;

    & .name-label {
        margin-top: 8px;
        padding: 0 8px 0 0;
    }

    & .min-max-holder {
        position: relative;
        display: block;
        width: 86px;

        & .input-sm {
            padding: 5px 8px;
        }

        & .input-group-addon {
            padding: 6px 10px;
            border-radius: 0;
        }
    }

    & .criteria-holder-dropdown {
        display: inline-block;
        width: 130px;
        position: relative;
    }
}

#previewValidationHolder {
    padding: 5px;
    text-align: center;
    font-size: 24px;
}

// #previewValidationHolder i {
//     margin-right: 5px;
// }

#previewValidationMessage {
}

.pre-view {
    white-space: pre-line;
}

.shared-dashboard-owner {
    text-transform: capitalize;
}

#popupLoader {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#popupLoader i {
    position: relative;
    left: 48%;
    top: 48%;
}

.top-level .label {
    font-size: 65%;
    position: relative;
    top: -5px;
}

.top-level .validated .label-warning,
.top-level .disabled .label-warning,
.top-level .disabled.validated .label-warning {
    display: none;
}
.label-above {
    position: relative;
    top: -13px;
    text-transform: lowercase;
    font-family: "OpenSansRegular", sans-serif;
    font-weight: normal;
    font-size: 10px;
}

.landing-active .nicescroll-rails-vr {
    z-index: 1500 !important;
}

.filter-adv  {
    word-break: break-all;
}

#widgetFilters .form-group {
    margin-bottom: 0;
}

#widgetFilters #nameFilter, #widgetFilters #nameFilterShared {
    padding-right: 27px;
}

#widgetFilters .filter-row .rp-info.info-break {
    font-size: 13px;
    word-break: break-all;
}

#globalValidation {
    display: none;
    margin: 0 20px 20px;
}

#editLaunchModal {
    label {
        font-weight: normal;
    }

    input {
        float: left;
        margin-right: 5px;
    }
}

#myLargeModalLabel {
    text-align: left;
}

.modal-message {
    padding: 15px 20px;
    font-size: 14px;
}

/* modal end */


/*--- MODALS ---*/
.modal-header {
    position: relative;
}

.modal-header .close {
    position: absolute;
    top: 18px;
    right: 20px;
    color: #fff;
    opacity: 1;
}

.modal-header .close:hover {
    opacity: 0.7;
}

.modal-body:after {
    content: "";
    display: block;
    clear: both;
}

.control-label,
.rp-popup-settings .form-horizontal .control-label {
    color: #666;
}

#filterEditor .control-label {
    text-align: left;
}

#filterEditor.modal-body .form-group > *:not(button) {
    padding-left: 0;
}

output {
    color: #666;
}

#contentModal output {
    padding-top: 0;
}

.edit-launch-name,
.edit-launch-number {
    font-weight: 700;
}

.well {
    border-radius: 0;
    box-shadow: none;
}

//.warning_modal,
//.modal-content .modal-body > p {
//    padding: 10px 18px 0;
//}

.compare-content .panel-body,
.widget-content .panel-body {
    border-top: 54px solid transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    overflow: visible;
}

.compare-content .panel-body {
    border-top: 24px solid transparent;
}

/*--- END MODALS ---*/


/*--- MODALS ---*/
//.modal-content,
//.modal-header.panel-heading {
//    border-radius: 0;
//}
//
//.modal-header,
//.modal-header.panel-heading {
//    background-color: #999;
//}
//
//.modal-header .modal-title,
//.modal-header h4 {
//    font-family: "OswaldRegular", sans-serif;
//    font-size: 17px;
//    font-weight: normal;
//    text-transform: uppercase;
//    color: #fff;
//}
//
//.modal-header h4 {
//    margin: 0;
//}
//
//.modal-content .btn {
//    border: none;
//    font-family: "OpenSansRegular", sans-serif;
//}
//
//.modal-content .btn.btn-primary {
//    background-color: #a3c644;
//}
//
//.modal-content .modal-footer {
//    border-top: 1px solid #ddd;
//    background-color: #efefef;
//}

#dialogShellLoader,
.submitticket-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    opacity: .6;
}

.shared-loader {
    padding: 0 0 24px;
    text-align: center;
}

#dialogShellLoader i,
.submitticket-loader i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: -24px 0 0 -24px;
    color: #29d;
    font-size: 40px;
}

/*--- END MODALS ---*/

#rowHolder .remove-block {
    display: none;
}

#rowHolder.multi .remove-block {
    display: inline;
    cursor: pointer;
}

/*--------*/
/* MIXINS */

//%textRight {
//    text-align: right;
//}
//
//%modalHeader {
//    border-bottom: 1px solid #e9e9e9;
//    background-color: #fff;
//    margin: -10px 0 0 0;
//    padding: 10px 0 18px 0;
//    overflow: hidden;
//    text-transform: uppercase;
//
//    h2 {
//        font-family: $OswaldRegular;
//        font-size: 16px;
//        line-height: 30px;
//        color: #1a9cb0;
//        margin: 0;
//        padding: 0;
//        padding-left: 10px;
//    }
//
//    .panel-action {
//        padding-right: 0;
//
//        .close-pop-up {
//            float: right;
//            cursor: pointer;
//            margin-right: 10px;
//            color: #999999;
//        }
//
//        i.rp-icons {
//            width: 13px;
//            height: 13px;
//            font-size: 13px;
//            line-height: 13px;
//            text-align: center;
//        }
//
//        i.material-icons {
//            width: 20px;
//            height: 20px;
//            font-size: 20px;
//            line-height: 20px;
//            text-align: center;
//        }
//    }
//}
//
//%modalBody {
//    padding: 40px 20px 40px 20px;
//
//    .merge-form {
//        padding: 10px 15px 0;
//    }
//
//    p {
//        padding: 2px 0;
//        font-size: 14px;
//        line-height: 20px;
//    }
//
//    .param-content {
//        padding: 12px;
//    }
//
//    h5 {
//        line-height: 1.4;
//    }
//
//    input {
//        &.rp-input-checkbox {
//            & + span.font-bold {
//                font-family: $OpenSansSemibold;
//            }
//        }
//    }
//}
//
//%modalFooter {
//    padding: 0 10px;
//    border-top: none;
//    background-color: #fff;
//
//    .rp-btn-cancel {
//        margin-right: 10px;
//    }
//}
//
//%modalBackdrop {
//    background-color: rgba(70, 69, 71, 0.3);
//
//    &.fade.in {
//        opacity: .8;
//    }
//}

/*--------------------*/
/* CONNECT ALL MIXINS */
//
//.rp-modal-dialog {
//    .modal-dialog {
//
//        .modal-content {
//
//            .modal-header {
//                @extend %modalHeader;
//            }
//            .modal-body {
//                @extend %modalBody;
//            }
//            .modal-footer {
//                @extend %modalFooter;
//            }
//        }
//    }
//    &.min-padding {
//        .modal-content {
//            .modal-body {
//                padding: 20px 10px;
//            }
//        }
//    }
//    & + .modal-backdrop {
//        @extend %modalBackdrop;
//    }
//}
