/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*---------*/
/* SIDEBAR */

.sidebar {
    position: fixed;
    box-shadow: none;
    width: 90px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-height: 100%;
    background: #464547;
    color: #b4b4b4;
    z-index: 100;

    .logo {
        display: inline-block;
        box-sizing: border-box;
        padding: 16px 0px 0px 0px;
        border-bottom: 1px solid #353536;
        text-align: center;
        font-weight: bold;
        height: 60px;
        width: 100%;
        background: #313131;

        .sprite {
            display: inline-block;
            background-image: url("../img/rp_logo.png");
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        .sprite-logo {
            width: 36px;
            height: 34px;
            background-position: -5px 0px;
        }
    }

    nav {
        ul {
            &.main-menu {
                position: relative;
                width: 100%;
                margin: 0px;
                padding: 0px;

                li {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    border-bottom: 1px solid #353536;
                    border-top: none;

                    a {
                        display: inline-block;
                        width: 100%;
                        font-family: $OswaldRegular;
                        border-top: 1px solid #535455;
                        text-align: center;
                        text-transform: uppercase;
                        object-fit: contain;
                        color: #e9e9e9;
                        font-size: 11px;
                        line-height: 16px;
                        min-height: 77px;
                        padding: 0px;
                        padding-top: 20px;
                        box-shadow: none;

                        &#settingsSection {
                            padding-top: 10px;

                            span {
                                padding-left: 8px;
                                padding-right: 8px;
                            }
                        }

                        &.active,
                        &:active {
                            border-top-color: #393939;
                            background-color: #393939;
                            color: #a3c644;
                            text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
                            text-decoration: none;
                        }

                        &:hover:not(.active)
                        &:focus:not(.active) {
                            color: #ffffff;
                            text-decoration: none;
                        }

                        i {
                            margin: 0 auto;
                            margin-bottom: 6px;
                            width: 100%;
                        }

                        span {
                            display: inline-block;
                            letter-spacing: 0.6px;
                            text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
                        }
                    }

                    &:last-child,
                    &:last-child {
                        a {
                            border-bottom: 1px solid #535455;
                        }

                        a:active,
                        a.active {
                            border-bottom-color: #393939;
                        }
                    }
                }
            }
        }
    }

    #back-top {
        position: fixed;
        display: block;
        width: 90px;
        height: auto;
        bottom: 10px;
        top: auto;
        text-align: center;
        padding: 12px 0;
        cursor: pointer;
        color: inherit;
        font-size: 12px;
        line-height: 12px;
        opacity: 0.7;

        &:hover {
            background: none;
            color: #fff;
            opacity: 1;
        }
    }
}

/*-----------------------------------*/
/* STYLES FOR DIFFERENT SCREEN WIDTH */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
    .sidebar {
        left: -250px;
        width: 250px;

        .logo {
            height: 82px;
            background: #313131;
            padding: 24px 0 0;

            .sprite {
                margin-right: 0;
            }
        }

        nav {
            ul {
                &.main-menu {
                    li {
                        border-top: none;
                        border-bottom: 1px solid #353536;

                        a {
                            padding: 15px 0 15px 20px;
                            min-height: 20px;
                            text-align: left;

                            &#settingsSection {
                                padding: 15px 0 15px 20px;
                            }

                            i {
                                width: auto;
                            }

                            span {
                                padding-top: 2px;
                                font-size: 16px;
                                line-height: 16px;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {

}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {

}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {

}

@media (min-width: 768px) {
    .sidebar {
        left: 0!important;
    }
}

/*-----------------------------------*/

// font-size: 23px;
// line-height: 23px;
// padding: 5px 8px;
