/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
.breadcrumbs-mode-container {
  // float: left;
  // color: #666;
  // font-size: 11px;
  // padding-top: 3px;
  // cursor: pointer;
  // margin-right: 10px;
}

.breadcrumb-mode.expanded .breadcrumb-plus,
.breadcrumb-mode .breadcrumb-minus {
  display: none;
}

.breadcrumb-mode.expanded .breadcrumb-minus {
  display: inline-block;
}

#breadCrumbs {
  li {
    position: relative;
    display: block;
    float: left;
    min-width: 24px;
    max-height: 30px;

    &.crumb {
      margin-right: 5px;
      padding-right: 20px;

      i {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        color: #464547;
        line-height: 22px;
      }

      & > i {
        line-height: 30px;
      }

      span.autoanalyze {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 5px;

        -moz-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
        -ms-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
        -webkit-animation: 2s linear 0s reverse none infinite auto-analyze-blink;
        animation: 2s linear 0s reverse none infinite auto-analyze-blink;
      }
    }

    & > span,
    a {
      position: relative;
      font-family: OpenSansRegular;
      font-size: 12px;
      line-height: 30px;
      float: left;
    }

    & > span {
      color: #464547;
      line-height: 30px;
    }

    a {
      display: block;
      color: #1a9cb0;
    }
  }
}

#breadCrumbs {
  .breadcrumbs-mode-container {
    height: 30px;

    .breadcrumb-mode {
      position: relative;

      i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 30px;
        background: transparent;
        cursor: pointer;
        color: #999999;
      }
    }
  }
}

#breadCrumbs li.crumb span.link-as-element i {
  position: absolute;
  top: 0px;
  right: 0;
  line-height: 30px;
  font-size: 16px;
  color: #464547;
  margin: 0;
  padding-left: 5px;
}

#breadCrumbs {
  li {
    &.crumb {
      span,
      a {
        &.ellipse {
          i {
            &.mi-list {
              top: 6px;
              left: 0;
              font-size: 18px;
              line-height: 18px;
              padding: 0;
            }

            & + span {
              margin-left: 22px;
            }
          }
        }
      }
    }
  }
}

@keyframes auto-analyze-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes auto-analyze-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes auto-analyze-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}