/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/*--------*/
/* HEADER */

.header {
    position: relative;
    margin: 0px;
    padding: 0 15px;
    background-color: #2b2b2b;
    letter-spacing: 0.5px;
    // min-height: 60px;
    // max-height: 60px;
}

#topHeader ul.navbar-nav.rp-navbar-left > li:first-child {
    padding-right: 30px;
}

@media (max-width: 768px) {
    .header {
        padding: 0 20px 0 10px;
    }
}

#topHeader > * {
    padding-left: 0;
    padding-right: 0;
    font-family: $OswaldRegular;
}

.rp-header-nav > li > a {
    color: #565656;
    background-color: inherit !important;
    padding-bottom: 5px;
}

#topHeader {
    min-height: 30px;
    margin-bottom: 0;
    padding: 16px 0px 11px 0px;
    box-sizing: content-box;
    color: #fff;

    & > .admin_header {
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 15px;
    }

    #projectSelector {
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                text-decoration: none;

                .selected-project {
                    text-decoration: none;
                }
            }

            .selected-project {
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                max-width: 300px;
                text-overflow: ellipsis;
                display: inline-block;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #logout {
        font-size: 12px;
        margin-right: 15px;
    }

    h3 {
        margin: 0;
        font-size: 20px;
    }

    li {
        &#settings {
            a {
                font-size: 16px;
                line-height: 16px;
                padding: 5px 0 0 0;
                margin: 0 0 0 30px;
                color: #e9e9e9;
            }
            &.active {
                a {
                    color: #a3c644;
                }
            }
        }
    }
}

#topHeader #members a {
    padding: 6px 0 0 0;
    margin-left: 30px;
    font-size: 13px;
    line-height: 13px;
    color: #e9e9e9;
}
#topHeader #members.active a {
    color: #a3c644;
}

#topHeader .rp-header-nav.rp-navbar-left > li.dropdown:after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    display: block;
    width: 1px;
    height: 29px;
    background-color: #575658;
}

#topHeader .btn-toggle{
    padding: 9px 10px;
}

.rp-header-nav > li:first-child > a:first-child {
    padding-left: 0;
}

.rp-header-nav li.active a {
    color: #000;
}

.rp-header-nav li a:hover,
.rp-header-nav li a:focus {
    color: #414345;
}

.rp-header-nav li.active a {
    color: #414345;
}

.rp-header-nav .open a {
    background-color: inherit;
    color: #414345;
}

.rp-header-nav h4 {
    padding: 0 10px;
}

.rp-header-nav .dropdown {
    font-size: 16px;
}

.rp-header-nav .dropdown-menu > li {
    padding: 0;
}

.rp-header-nav .dropdown-menu > li.active a.rp-desktop {
    background-color: inherit;
    /*color: inherit;*/
    color: #464547;
}

/*--- ADMINISTRATE ---*/
.admin_header_controls {
    text-align: right;
    margin-right: 15px;
}

// #topHeader .navbar {
#topHeader .rp-navbar-header {
    margin-bottom: 0;
    border: initial;
}

#topHeader .btn-default:hover,
#topHeader .btn-default:active,
#topHeader .btn-default:focus,
.navbar-header .btn-default:hover,
.navbar-header .btn-default:active,
.navbar-header .btn-default:focus {
    background: #fff;
}

.rp-header-nav ul.dropdown-menu a.list-group-item {
    border-radius: 0;
}

.rp-header-nav ul.dropdown-menu a.list-group-item.active {
    background: #414345;
}

#topHeader .rp-header-nav > li > a {
    padding: 0 9px 0 10px;
    color: #fff;
}

#topHeader .navbar {
    min-height: 30px;
}

#topHeader .rp-header-nav.rp-navbar-right > li.dropdown > a {
    padding-left: 0;
    padding-right: 20px;
    font-size: 16px;
}

#topHeader .rp-header-nav.rp-navbar-right > li.dropdown > a.dropdown-toggle {
    padding-right: 2px;
}

#topHeader .rp-header-nav.rp-navbar-left > li.dropdown > a.dropdown-toggle {
    /*padding-right: 20px;*/
    padding: 0px;
}
#topHeader .rp-header-nav.rp-navbar-left > li.dropdown > a.dropdown-toggle > span {
    margin-right: 10px;
}

/*
#topHeader .rp-header-nav.rp-navbar-left > li.dropdown > a:after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    display: block;
    width: 1px;
    height: 29px;
    background-color: #575658;
}
*/

// .rp-header-nav.rp-navbar-right a.dropdown-toggle .fa {
//     font-size: 20px;
// }

.rp-header-nav > li.dropdown {
    padding-bottom: 0;
}

#topHeader .rp-header-nav > li.dropdown a.dropdown-toggle {
    padding-left: 0;
    font-size: 20px;
}

#topHeader .rp-header-nav.rp-navbar-right > li.dropdown .dropdown-toggle {
    font-size: 14px;
}

/* .rp-header-nav > li.dropdown > .dropdown-menu {
    top: 44px;
    padding: 0;
} */

.rp-header-nav > li > .dropdown-menu {
    border-radius: 0;
    border-color: #d9d9d9;
}

.rp-header-nav .dropdown-menu > li > a,
.rp-header-nav .dropdown-menu > li.active a.rp-desktop,
#topHeader #logout {
    padding: 8px 19px 9px;
    font-size: 13px;
}

.rp-header-nav .dropdown-menu > li > a,
.rp-header-nav .dropdown-menu > li.active a.rp-desktop {
    color: #464547;
}

.rp-header-nav .dropdown-menu > li.active > a.rp-desktop {
    border-top: none;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    font-weight: normal;
}

.rp-header-nav .dropdown-menu > li ~ li.active > a.rp-desktop {
    // border-top: 1px solid #d9d9d9;
    background-color: #e9e9e9;
    border: none;
}

.rp-header-nav.rp-navbar-right > li.dropdown .name {
    margin-right: 6px;
}

#topHeader .rp-header-nav.rp-navbar-right > li.dropdown .user-id,
#topHeader .rp-header-nav.rp-navbar-right > li.dropdown #logout {
    margin: 0;
}

.rp-header-nav.rp-navbar-right > li.dropdown .status {
    top: -11px;
    border-radius: 0;
    font-family: $OpenSansRegular;
}

/*--- END HEADER ---*/

#topHeader {
    #navbar-header-collapse {
        padding: 0 15px;

        .navbar-right {
            margin-right: 0;
            .rp-user-navigator {
                position: relative;
                display: block;
                color: #ffffff;
                padding: 0;
                cursor: pointer;
                height: 100%;
                width: 100%;

                .user-login-wrap {
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0px;
                    width: auto;
                    bottom: 0;
                    padding: 0 55px 0 0;
                }

                .user-status,
                .user-name {
                    position: relative;
                    display: block;
                    text-align: right;
                    white-space: nowrap;
                    color: #ffffff;
                    margin-right: 15px;
                }

                .user-status {
                    height: 14px;
                    max-height: 14px;
                    margin-top: -5px;

                    .user-status-text {
                        position: relative;
                        display: inline-block;
                        background-color: #ff3222;
                        text-transform: lowercase;
                        border-radius: 100px;
                        padding: 1px 10px 2px 10px;
                        font-family: $OpenSansRegular;
                        font-size: 10px;
                        line-height: 10px;
                    }
                }

                .user-name {
                    padding: 0;
                    margin-top: 10px;
                    font-family: $OswaldRegular;
                    font-size: 12px;
                    line-height: 12px;
                    text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
                }

                .user-avatar-wrap {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding-right: 25px;

                    img {
                        position: relative;
                        float: none;
                        max-height: 34px;
                        max-width: 30px;
                        border-radius: 0;
                        margin: 0;
                        padding: 0;
                        height: auto;
                        width: auto;
                        text-align: center;
                    }
                }
                .material-icons {
                    &.arrow_drop_down {
                        position: absolute;
                        display: block;
                        top: 0;
                        right: 0;
                        font-size: 22px;
                        width: 22px;
                        line-height: 30px;
                    }
                }
            }
        }
        .rp-navbar-left {

        }
        .navbar-right,
        .rp-navbar-left {
            .dropdown-menu {
                top: 44px;
                padding: 0;
            }
        }
    }
}

#topHeader {
    .admin_header_controls {
        #backToProject {
            position: relative;
            font-family: $OswaldRegular;
            font-size: 13px;
            line-height: 30px;
            margin-right: 5px;
            padding-right: 20px;
            padding-left: 15px;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
            color: #e9e9e9;

            &:before {
                content: "";
                position: absolute;
                top: -8px;
                right: 0;
                display: block;
                width: 1px;
                height: 29px;
                background-color: #575658;
            }

            i.material-icons {
                position: absolute;
                font-size: 17px;
                line-height: 17px;
                margin-right: 3px;
                left: 0px;
                top: 1px;
            }
        }
    }
}



#topHeader #projectSelector .baron__root {
    position: absolute;
    top: 44px;
    height: 0;
    &.open {
        border: 1px solid rgba(0, 0, 0, .15);
        z-index: 1000;
    }
    .baron_scroller {
        overflow-x: hidden;
    }
    .baron__track {
        z-index: 1001;
    }
    .dropdown-menu.user-projects {
        max-width: 300px;
        border: none;
        top: 0;
        max-height: none;
        margin: 0;
    }
}
