/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
/*---------------------------------*/
/* STYLE FOR GENERAL SETTINGS PAGE */

%GENERAL_SETTINGS {
  #generalSettings {
    padding: 10px 0 20px;
    position: relative;
    @media (max-width: $SCREEN_XS_MAX) {
      padding-top: 0;
    }

    .mobile-disabling-cover {
      @extend %MOBILE_DISABLING_COVER;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      margin: 0 -15px;
    }
    .rp-form-group {
      @media (max-width: $SCREEN_XS_MAX) {
        margin-bottom: 0;
      }
      label {
        &.obligatory-field {
          &:after {
            position: absolute;
            margin-left: 2px;
          }
        }
      }
      .rp-btn-submit {
        @media (max-width: $SCREEN_XS_MAX) {
          display: none;
        }
      }
      .rp-btn, .rp-input {
        @media (max-width: $SCREEN_XS_MAX) {
          pointer-events: none;
          tab-index: -1;
          background-color: $COLOR--gray-91;
        }
      }
      .rp-help-block {
        p {
          margin: 0;
          display: inline-block;
          @media (max-width: $SCREEN_XS_MAX) {
            display: block;
          }
        }
      }
    }
  }
}

/*----------------*/
/* INCLUDE STYLES */

/* FOR USUAL USERS */
#dynamic-content {
  @extend %GENERAL_SETTINGS;
}

/* FOR ADMINISTRATORS USERS */
#dynamicContent {
  @extend %GENERAL_SETTINGS;
}

/*-----------------------------------*/
/* STYLES OF DYNAMIC WIDTH OF SCREEN */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
  #generalSettings {
    .rp-form-group {

      .rp-control-label {
        margin-bottom: 10px;
      }

      .rp-custom-col {
        display: inline-block;
        margin-bottom: 8px;
        float: left;

        &:last-child {
          margin-top: 10px;
          @media (max-width: $SCREEN_XS_MAX) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
  #generalSettings {
    .rp-form-group {
      &:not(:first-child) {
        margin-bottom: 25px;
      }

      &:first-child {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 15px;
      }

      .rp-custom-col {
        display: inline-block;
        margin-bottom: 8px;
        float: left;
      }
      .rp-control-label {
        padding-top: 8px;
        margin: 0;
      }

      .rp-text-description {
        span {
          margin-left: 33%;
          padding-left: 12px;
        }
      }
    }
  }
}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {

}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {
  #generalSettings {
    width: $WIDTH_LAYOUT_PAGE_SETTINGS;
    max-width: $MAX_WIDTH_LAYOUT_PAGE_SETTINGS;
    margin: 0 auto;
  }
}
