/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*---------*/
/* GENERAL */

body {
  padding-top: 30px; /* 20px to make the container go all the way to the bottom of the topbar */
  font-size: 12px;
}

html {
  &.loading body {
    visibility: hidden;
    overflow: hidden;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 13px;
  font-family: $OpenSansRegular;
  min-width: 320px;
  background: #e4e5e6;

  @media (min-width: $SCREEN_SM_MIN) {
    min-height: 415px;
  }
}

ul, ol {
  padding: 0;
}

ul {
  margin: 0;
  -webkit-padding-start: 0;
}

a.btn:focus,
a:focus,
button.btn:focus,
input.btn:focus {
  outline: 0;
}

input::-ms-clear { //hide cross icon (IE)
  display: none;
}

input[type="password"]::-ms-reveal { //hide show password icon (IE)
  display: none;
}

mark {
  color: #a94442;
  background: 0 0;
  padding: 0;
}

/*---------------*/
/* CUSTOM STYLES */

.checkbox, .radio {
  margin-top: 0;
  margin-bottom: 0;
}

.rp-nav {
  position: relative;
  display: inline-block;
}

.rp-nav.rp-nav-left {
  padding-left: 15px;
}

.rp-nav.rp-nav-right {
  padding-right: 15px;
}

.float-left,
.rp-nav-left {
  float: left;
}
.rp-nav-left {
  .rp-btn {
    margin-right: 8px;
  }
}

.float-right,
.rp-nav-right {
  float: right;
}
.rp-nav-right {
  .rp-btn {
    margin-left: 8px;
  }
}

/*-----------------------------------*/
/* STYLES OF DYNAMIC WIDTH OF SCREEN */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
  body {
    .xs-float-right {
      float: right;
    }
  }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {

}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {

}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {

}

/*-----------------------------------*/

.clearfix {
  @extend %CLEAR_FIX;
}

/*--------------------------*/

h4 {
  &.common-title {
    @include setFontStyle(12px, 30px, #777777, uppercase);
    font-family: $OpenSansSemibold;
    opacity: 0.9;
    margin: 0;
    padding: 0;
  }
}

a, a:hover {
  text-decoration: none;
}

a, a:hover {
  color: inherit;
}

/*--------------------------*/

.bottom-15 {
  padding-bottom: 15px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-15 {
  padding-top: 15px;
}

.padding-top-30 {
  padding-top: 30px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-right-5,
.margin-right-5 {
  margin-right: 5px;
}

.m-right-15 {
  margin-right: 15px;
}

.m-right-10 {
  margin-right: 10px;
}

.m-left-15 {
  margin-left: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-5,
.m-bottom-5 {
  margin-bottom: 5px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-15 {
  margin-bottom: 15px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  margin: 0;
}

.nopadding {
  padding: 0 !important;
}

.custom-padding {
  padding-right: 5px;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-bold,
.bold {
  font-weight: bold;
}

.to_upper, .uppercase {
  text-transform: uppercase;
}

.rp-margin-bottom,
.rp-panel-styles {
  margin-bottom: 20px;
}

.rp-padding-0 {
  padding: 0;
}

.rp-width-100 {
  width: 100%;
}

.rp-display-block {
  display: block !important;
}

.rp-overflow-hidden {
  overflow: hidden;
}

.rp-table-full-width {
  display: table;
  width: 100%;
}

.rp-full-width-page {
  margin-left: -15px;
  margin-right: -15px;
}

.rp-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  // border-top: 4px solid \9;
}

.rotated-90 {
  transform: rotate(90deg);
}

.rotated-180 {
  transform: rotate(180deg);
}

.rotated-270 {
  transform: rotate(270deg);
}

.form-group {
  margin-bottom: 15px;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-data-error {
  position: absolute;
  font-family: $OpenSansSemibold;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: #777777;
  text-align: center;
  top: 0;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
}

.no-data-content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.no-data-error .no-data-content::before{
  margin: 0 auto 10px auto;
  content: "";
  background-image: url(../img/noDataAvailable.png);
  width: 130px;
  height: 31px;
  display: block;
  background-repeat: no-repeat;
}

a.itemsPerPage {
  font-size: 1.1em;
}

.rp-blue-link {
  color: $COLOR--windows-blue;
  text-decoration: underline !important;
}

.well {
  .title-no-data {
    margin: 0;
  }
}

.rp-margin-reset {
  margin: 0 -15px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  font-weight: 400;
}

.btn {
  font-size: 13px;
  .rp-checkbox-wrap {
    display: block;
  }
}

.btn.btn-salad-bg {
  background-color: #cdea7e;
  color: #799b1c;
}

.btn-controls .btn.btn-default,
.btn.btn-default.btn-cancel,
.btn.cancelBtn, .btn.cancelBtn:hover,
.modal-content .btn.btn-default.btn-cancel,
.modal-content .btn.btn-default.cancel,
.modal-content .modal-footer .btn.btn-default {
  background: $COLOR--gray-60;
  color: $COLOR--white-default;
}

.rp-blue-link-undrl,
.suit-grid .navigateable.rp-blue-link-undrl {
  color: $COLOR--windows-blue;
  text-decoration: none !important;
}

/* Header buttons in mobile view ----> */
.button-position {
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 9px 10px;
}

.rp-button-right {
  float: right;
}

.rp-button-left,
.rp-button-right {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 9px 10px;
}

#topHeader .btn-default,
.navbar-header .btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;

  &:hover,
  &:active,
  &:focus {
    background: $COLOR--white-default;
  }
}

/* <---- Header buttons in mobile view */

.popover,
.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-shadow: none;
  text-transform: none;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  text-decoration: none;
  letter-spacing: normal;
  word-spacing: normal;
}

/*-----------*/

//.rp-btn-group .dropdown-menu,
//.btn-group .dropdown-menu,
//.dropdown-menu {
//    &.filters-criteria {
//        li {
//            a {
//                &.checkbox {
//                    padding: 0;
//                }
//            }
//        }
//    }
//
//    &#userNavigator {
//        & > li {
//            &.active {
//                a {
//                    color: #464547;
//                    background-color: #e9e9e9;
//                }
//                &:hover {
//
//                }
//            }
//        }
//    }
//
//    &.item-options {
//        & > li {
//            position: relative;
//
//            & > a {
//                position: relative;
//                font-family: $OpenSansRegular;
//                font-size: 13px;
//                line-height: 13px;
//                padding: 6px 15px;
//                text-decoration: none;
//                text-transform: capitalize;
//                margin: 0;
//                color: #464547;
//                white-space: nowrap;
//
//                &:before {
//                    content: '';
//                    position: absolute;
//                    top: -2px;
//                    left: 0;
//                    right: 0;
//                    bottom: -2px;
//                    background: transparent;
//                    z-index: -1;
//                }
//
//                &:hover {
//                    background-color: transparent;
//
//                    &:before {
//                        background: rgba(57,194,215,0.2);
//                    }
//                }
//            }
//
//            &.disabled {
//                & > a {
//                    color: #999999;
//
//                    &:before {
//                        background-color: transparent;
//                    }
//                }
//            }
//        }
//    }
//
//    &.filter-manager {
//        li {
//            position: relative;
//
//            span {
//                &.menu-option {
//                    position: relative;
//                    display: inline-block;
//                    font-family: $OpenSansRegular;
//                    font-size: 13px;
//                    line-height: 13px;
//                    padding: 6px 15px;
//                    text-decoration: none;
//                    text-transform: capitalize;
//                    margin: 0;
//                    color: #464547;
//                    white-space: nowrap;
//                    cursor: pointer;
//                    width: 100%;
//
//                    &:before {
//                        content: '';
//                        position: absolute;
//                        top: -2px;
//                        left: 0;
//                        right: 0;
//                        bottom: -2px;
//                        background: transparent;
//                        z-index: -1;
//                    }
//
//                    &:hover {
//                        background-color: transparent;
//
//                        &:before {
//                            background-color: rgba(57,194,215,0.2);
//                        }
//                    }
//
//                    &.disabled {
//                        background-color: transparent;
//                        color: #999999;
//                        cursor: not-allowed;
//
//                        &:hover {
//                            &:before {
//                                background-color: transparent;
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//
//    & > li {
//
//
//        &.disabled {
//            background: transparent;
//
//            & > a {
//                color: #999999;
//                background: transparent;
//                border-color: #cccccc;
//                box-shadow: none;
//                //cursor: not-allowed !important;
//            }
//
//            &:hover {
//                background: transparent;
//            }
//        }
//
//        & > a {
//            &.disabled-option {
//                color: #999999;
//                background: transparent;
//                border-color: #cccccc;
//                box-shadow: none;
//                cursor: not-allowed !important;
//
//                &:hover {
//                    background: transparent;
//                }
//            }
//        }
//
//        & > a {
//            &.checkbox {
//                label {
//                    padding-left: 0;
//                }
//            }
//        }
//    }
//}

/*-----------*/

label {
  &.rp-custom-col,
  &.rp-control-label {
    font-weight: normal;
  }
}

.align-label {
  margin-left: 15px;
}

.control-label {
  font-weight: 400;
}

/*---------------------------*/
/* STYLES OF COMMON ELEMENTS */

a {
  &.edit-item,
  &.delete-item,
  &.save-item,
  &.cancel-item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    @include rpLinksSetting(18px, 18px, 0px, 8px 10px 0px 0px);
  }

  &.edit-item,
  &.delete-item,
  &.cancel-item {
    @include setColor($COLOR--gray-60);

    &:hover {
      @include setColor($COLOR--charcoal-grey);
    }
  }
  &.save-item {
    @include setColor($COLOR--tealish);

    &:hover {
      @include setColor($COLOR--topaz);
    }
  }
}

/*-----------------------------*/
/* TITLE HOLDER - COMMON STYLE */

%TITLE_HOLDER {
    display: inline-block;
  @include fontHeader;
    max-width: 300px;
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include setFontStyle(16px, 30px, #333333, uppercase);
    @include setPaddingAll(0px, 0px, 0px, 0px);
    @include setMarginAll(0px, 0px, 0px, 0px);
}

ul.rp-nav-left > li.title-holder {
  margin-right: 5px;
  float: left;

  &:first-child {
    padding-left: 15px;
  }

  &:not(:first-child) {
    &:before {
      content: '/';
      position: relative;
      @extend %TITLE_HOLDER;
    }
  }

    // title vs h2.title-holder
    & > span {

        @extend %TITLE_HOLDER;
    }
    & > a {
        @extend %TITLE_HOLDER;
        color: #1a9cb0;
    }
    & > span.favorites-title {
        max-width: 730px;
    }
}

/*--------------*/
/* MAIN CONTENT */

#main_content {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;

  &.wrapper {
    min-height: 100%;
    background: #414243;
    padding-left: 90px;

      .color {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #e4e5e6;
      }
      & > .content {
        background: #e4e5e6;
      }
    }
  & .content-layout {
    width: 100%;
  }
  .demo-banner{
    padding-left: 91px;
    background-color: #e6f7f8;
    @media (max-width: $SCREEN_SM_MAX){
      padding-left: 61px;
    }
    @media (max-width: $SCREEN_XS_MAX){
      padding: 0 10px;
    }
    p{
      margin-bottom: 0;
      font-size: 14px;
      text-align: center;
      line-height: 60px;
      @media (max-width: $SCREEN_MD_MAX){
        display: flex;
        flex-direction: column;
        line-height:22px;
        padding: 10px 0;
      }
      @media (max-width: $SCREEN_XS_MAX){
        font-size: 12px;
        line-height:18px;
        padding: 5px 0;
        .banner-description{
          display: none;
        }
      }
      .warning{
        display: inline-block;
        margin-right: 15px;
        color: $COLOR--failed;
      }
      .github-auth{
        color:  $COLOR--tealish;
        cursor: pointer;
      }
      .timer{
        .time-container{
          margin: 0;
          padding: 3px;
          border-radius: 3px;
          background-color: $COLOR--white-default;
          @media (max-width: $SCREEN_XS_MAX){
            padding: 0 2px;
          }
          .number{
            margin: 0;
            font-size: 14px;
            color: $COLOR--failed;
            width: 20px;
            display: inline-block;
            @media (max-width: $SCREEN_XS_MAX){
              font-size: 12px;
            }
          }
          label{
            font-size: 10px;
            color: $COLOR--failed;
          }
        }
        .delimiter{
          margin: 0 5px;
        }
      }
    }
  }
}

.content-wrapper {
  position: relative;
  padding: 10px 15px 10px 15px;
  padding-top: 62px;

  @media (min-width: 768px) {
    padding: 0 15px 0 15px;
    padding-top: 62px;
    min-height: 100%;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    min-height: 100%;
    padding: 112px 0 0 0;
  }
}

#main_content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  .wrapper {
    height: 100%;
    padding-left: 90px;
    background: #e4e5e6;
    min-height: 100%;
  }

  @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    .wrapper {
      padding-left: 60px;
    }
  }
  @media (max-width: $SCREEN_XS_MAX) {
    .wrapper {
      padding-left: 0;
    }
  }
}

body.menu-open {
  #main_content {
    transform: translate(200px, 0);
    .wrapper {
      overflow: hidden;
      height: 100%;
    }
  }
}

@media (min-width: 1600px) {
  #main_content .content-layout {
    width: 1370px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .menu-xs {
    float: left;
  }
}

@media screen and (max-width: 767px) {
  #members,
  #settings {
    display: inline-block;
    padding-top: 10px;
  }
}

#mainContainer {
  padding-bottom: 40px;

  @media (max-width: 1150px) {
    padding-bottom: 50px;
  }
  @media (max-width: 550px) {
    padding-bottom: 162px;
  }
  @media (max-width: 380px) {
    padding-bottom: 158px;
  }
}

/*------------*/


/*--- HEADER BAR ---*/

#dynamicContent #contentHeader {
  padding-bottom: 0;
  min-height: 20px;
}

#contentBody {
  background-color: $COLOR--white-default;
}

#headerBar .rp-nav-left li.crumb:first-child {
  padding: 0 0 0 5px;
}

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipse,
.one-line {
  white-space: nowrap;
}

#headerBar .rp-nav-left li.crumb:first-child .ellipse {
  padding-left: 0;
}

.has-error .help-inline,
.has-error .help-block,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $COLOR--orange-red;
}

textarea {
  resize: vertical;
}

#mainContainer {
  .projects_list_wpapper {
    #projectSettings {
      .rp-form-group {
        &:last-child {
          &:not(.hidden-block) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.label-ellipse {
  position: relative;
  top: -4px;
  font-family: $OpenSansRegular;
  display: inline-block;
  padding: 0 6px 1px 6px;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  text-transform: lowercase;
  letter-spacing: 0.6px;

  &.label-danger {
    // background-color: #ff3222;
    background-color: #d9534f;
    color: #ffffff;
  }
  &.label-grey {
    background-color: #777777;
    color: #ffffff;
  }
  &.label-green {
    background-color: #5cb755;
    color: #ffffff;
  }

  &.label-size-lg {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
  }
  &.label-size-md {
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
  }
  &.label-size-sm {
    font-size: 8px;
    line-height: 10px;
    font-weight: normal;
  }

  &.label-hover {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.title-no-data {
  position: relative;
  font-family: $OpenSansSemibold;
  font-size: 16px;
  line-height: 16px;
  color: #777777;
  padding-left: 30px;

  i {
    &.rp-icons-warning {
      font-size: 16px;
      line-height: 16px;
      margin-left: -35px;
      color: #cccccc;
    }
  }

  span {
    &.warning {
      position: relative;
      font-family: $OpenSansSemibold;
      font-size: 16px;
      line-height: 18px;
      color: #777777;
    }
    &.warning-description {
      // TODO
    }
  }
}

.text-no-deta-description {
  font-family: $OpenSansRegular;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
}

.rp-hide {
  display: none;
}

.rp-show {
  display: block;
}

/*POST_BUG MODAL FIX*/
#credentialsWrong {
  #page {
    h1 {
      font-size: 15px;
    }
    h2 {
      font-size: 14px;
    }
    #technical-details-content {
      font-size: 13px;
    }
    #stacktrace {
      max-height: 100px;
    }
  }
}

.panel-heading {
  h6 {
    &.panel-title {
      position: relative;
      padding-left: 25px;
      line-height: 18px;

      i {
        &.icon-image {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 18px;
          line-height: 18px;
        }

        .arrow_down {
          position: absolute;
          font-size: 22px;
          line-height: 22px;
          top: 0;
          margin-left: 5px;
        }
      }
    }
  }
}

/*--------------------------------*/

.filters-cover {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/*--------------------------------*/

.grid-stack-placeholder > .placeholder-content {
  border-color: #4d4c4c;
  background: $COLOR--white;
}

/*--------------------------------*/

.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active:hover .select2-choices,
.select2-container-multi.select2-dropdown-open .select2-choices,
.select2-drop-active {
  color: $COLOR--greyish-brown;
  box-shadow: 0 0 2px 0 $COLOR--topaz;
  border: 1px solid $COLOR--topaz;
  background: $COLOR--white-default;
}

.select2-dropdown-open .select2-choice {
  background: 0 0;
  border-radius: 0 4px 0 0;
}

.select2-container-multi .select2-choices {
  background: 0 0;
  max-height: 100%;
  min-height: 30px !important;
}

.select2-result-label,
.select2-search-choice div {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.filter-option-input .select2-container {
  height: auto;
}

.select2-container.input-sm {
  padding: 0;
}

.btn.dropdown-toggle,
.form-control,
.select2-container-multi .select2-choices {
  background-color: $COLOR--white-default;
  border: 1px solid $COLOR--gray-80;
  font-size: 13px;
  color: $COLOR--gray-60;
  &:hover {
    border-color: $COLOR--gray-47;
  }
}
.select2-container-disabled .select2-choices {
  &:hover {
    border-color: #ddd;
  }
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 4px 5px;
  font-family: $OpenSansRegular;
}

.select2-container-multi .select2-choices .select2-search-choice.common-tag {
  background: #ebf1f6;
  background: -moz-linear-gradient(top, #ebf1f6 0, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
  background: -webkit-linear-gradient(top, #ebf1f6 0, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -o-linear-gradient(top, #ebf1f6 0, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -ms-linear-gradient(top, #ebf1f6 0, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: linear-gradient(to bottom, #ebf1f6 0, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf1f6", endColorstr="#d5ebfb", GradientType=0);
}

#editLaunchModal .select2-container-multi .select2-choices,
.select2-container-multi .select2-choices,
.dropdown-like.input-group-sm > .input-group-btn > .btn,
.input-group-sm .token,
.select2-container-multi .select2-choices .select2-search-choice,
.select2-container-multi .select2-choices .select2-search-choice.common-tag,
.tokenfield.input-sm .token {
  border-radius: 0;
}

.select2-drop-active {
  border-radius: 0;
  border-top: none;
  box-shadow: none;
}

/*--------------------------------*/

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
  .xs-margin-left-10 {
    margin-left: 10px;
  }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
  .sm-margin-left-10 {
    margin-left: 10px;
  }
}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {
  .md-margin-left-10 {
    margin-left: 10px;
  }
}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {
  .lg-margin-left-10 {
    margin-left: 10px;
  }
}

/*--------------------------------*/

.btn.dropdown-toggle.active,
.btn.dropdown-toggle:active,
.btn.dropdown-toggle:focus,
.form-control:focus,
.open > .btn.dropdown-toggle,
.open > .btn.dropdown-toggle.focus,
.open > .btn.dropdown-toggle:focus {
  color: $COLOR--greyish-brown;
  box-shadow: 0 0 2px 0 $COLOR--topaz;
  border: 1px solid $COLOR--topaz;
  background: $COLOR--white-default;
}

/*--------------------------------*/


/*------Widget wizard - Filters - table header--------*/
.input-filter {
  margin-top: 9px;
  position: relative;
  width: 100%;
}

.rp-margin-reset .rp-table-thead .rp-table-th,
.rp-margin-reset-log .rp-table-thead .rp-table-th {
  padding: 14px 0 13px;
}

.rp-margin-reset .rp-table-thead {
  font-size: 14px;
  font-weight: 700;
  color: #464547;

  & .rp-table-th {
    font-family: OpenSansSemibold, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    padding-left: 15px;
  }
}

.rp-margin-reset .rp-table-thead:after,
.rp-margin-reset-log .rp-table-thead:after {
  content: "";
  height: 3px;
  width: 100%;
}

.rp-margin-reset .rp-table-thead:after,
.rp-margin-reset-log .rp-table-thead:after {
  display: none;
}

.rp-margin-reset .rp-table-thead:after {
  content: "";
  display: block;
  clear: both;
}

.rp-margin-reset .rp-table-thead:after,
.rp-margin-reset-log .rp-table-thead:after {
  border: none;
  box-shadow: none;
}

/*--------------------------------*/

/*------Widget wizard - Filters - --------*/

.rp-margin-reset-log > .row:nth-child(2n),
.rp-margin-reset > .rp-table-row:nth-child(2n) {
  background-color: $COLOR--white-four;
}

//.rp-margin-reset-log>.row:nth-child(2n):hover,
//.rp-margin-reset>.rp-table-row:nth-child(2n):hover,
//.rp-table-row.danger:hover .rp-margin-reset>.rp-table-row:hover,
//.rp-table-row:hover, .rp-table-row:nth-child(2n):hover {
//    background-color: $COLOR--gray-91 !important;
//    -webkit-transition: background-color .2s ease 0s;
//    -moz-transition: background-color .2s ease 0s;
//    -ms-transition: background-color .2s ease 0s;
//    -o-transition: background-color .2s ease 0s;
//    transition: background-color .2s ease 0s;
//}

.rp-table-hover > div.row:hover {
  transition: background-color .2s ease 0s;
}

.filter-row > :first-child {
  position: relative;
  padding-left: 40px;
}

/*--------------------------------*/

/*----Widget wizard - name & dasboard tab -----*/

.btn,
.form-control,
.select2-container-multi .select2-choices {
  border-radius: 0;
  box-shadow: none;
}

/*--------------------------------*/

#errorBlock,
.login-loader,
.soft-hidden {
  display: none;
  clear: both;
}

/*--------------------------------*/

.badge,
.daterangepicker .calendar-date,
.daterangepicker .ranges .input-mini,
.daterangepicker .ranges li,
.daterangepicker td,
.daterangepicker td.end-date,
.daterangepicker td.start-date,
.daterangepicker th,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.label, .my_button {
  border-radius: 0;
}

/*--------------------------------*/

.dropdown-like .btn-default,
.fluid-filter .input-group.input-group-sm,
.tokenfield.input-sm .twitter-typeahead .tt-query {
  min-width: 206px !important;
}

/*--------------------------------*/

.btn.dropdown-toggle {
  background-color: $COLOR--gray-80;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
}

/*--------------------------------*/

.exact-match .select2-result-label .new-btn {
  position: absolute;
  display: inline-block;
  color: $COLOR--gray-80;
  right: 5px;
}

/*--------------------------------*/

#filter-actions,
.b-content ul,
.b-partners ul,
.config-pills,
.slick-dots,
.well-list,
li {
  list-style: none;
}

/*--------------------------------*/

.pr-skip,
.rp-empty,
.rp-fail,
.rp-inprogress,
.rp-pass,
.rp-reseted,
.rp-warning {
  margin: 0;
  text-align: center;
  box-sizing: content-box;
  padding: 4px;
}

/*--------------------------------*/

.actyvity-val,
.carousel-custom-settings,
.dashboard-menu > li,
.history-cont,
.navigation-content {
  overflow: hidden;
}

/*--------------------------------*/

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.selected img,
.tex .hljs-formula,
.xml .css,
.xml .hljs-cdata,
.xml .javascript,
.xml .vbscript {
  opacity: .5;
}

/*--------------------------------*/

.ico-loading,
.loading-indicator {
  display: inline-block;
  margin: 0 6px 0 0;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 14px;
  -webkit-animation: nprogress-spinner .4s linear infinite;
  -moz-animation: nprogress-spinner .4s linear infinite;
  -ms-animation: nprogress-spinner .4s linear infinite;
  -o-animation: nprogress-spinner .4s linear infinite;
  animation: nprogress-spinner .4s linear infinite;
}

/*--------incorrect form fields lightup-----------*/

.has-error .form-control,
.has-error .form-control:focus,
.has-error .select2-container .select2-choice {
  color: #393939;
  box-shadow: 0 0 2px 0 rgba(255, 49, 33, .7);
  border: 1px solid $COLOR--orange-red;
}

/*----------Post bug modal window------------*/

#collapseCredentials .has-error,
#externalError .alert,
#staticContent .panel-group {
  margin-bottom: 0;
}

#credentialsLink {
  position: relative;

  &:after {
    content: "-";
    position: absolute;
    right: -15px;
    font-size: 24px;
    top: -8px;
  }

  &.collapsed:after {
    content: "+";
    top: -6px;
  }
}

#accordion {
  clear: both;
}

/*------Selected option in dropdown lists styling---------*/

.btn-group ul.dropdown-menu li.active,
.btn-group ul.dropdown-menu li.active > a {
  background-color: #e9e9e9;
  cursor: default;
  color: $COLOR--black-two;
}

/*------Background for hovered options in dropdowns---------*/

/*------Dropdown list with a search field---------*/

.select2-container {
  .select2-choice {
    background-image: none;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    min-height: 30px;
    margin-right: -1px;

    .select2-chosen {
      margin-right: 30px;
      box-shadow: none;
      padding: 2px 5px;
    }

    .select2-arrow {
      width: 30px;
      border: none;
      background: 0 0;

      b {
        background: 0 0;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        margin-top: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        background-position: 2px 1px;
      }
    }
  }
}

/*--------------------------------*/

.rp-input-default.hasDatepicker {
  background-color: inherit;
}

/*--------------------------------*/

@media print {
  #main_content{
    .wrapper{
      padding-left: 0px;
      background: #ffffff;
      .content-wrapper{
        padding-top: 0;
        #filter-page {
          .print{
            margin: 25px 15px 15px 15px;
          }
          .filter-header{
            display: none;
          }
        }
      }
    }
  }
}
