/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
/*------------------------------*/
/* STYLE FOR ADD MEMBERS PAGE */

%REGISTRATION_PAGE {
    #registretionForm {
        padding-top: 25px;
        margin: 0 auto;
        width: 100%;

        #registerUser {
            padding: 0 15px;

            .show-password {
                margin-top: -12px;
            }

            .rp-wrap-button {
                #register {
                    margin-left: 12px;
                }
            }
        }

        .rp-form-group {
            &:last-child {
               margin-bottom: 35px;
            }
        }
        .alert-block {
            margin: 0;
        }
        h4 {
            &.common-title {
                padding-left: 15px;
            }
        }

        label {
            &.obligatory-field {
                &:after {
                    position: absolute;
                    margin-left: 2px;
                }
            }
        }
    }
}

/*----------------*/
/* INCLUDE STYLES */

/* FOR USUAL USERS */
#dynamic-content {
    @extend %REGISTRATION_PAGE;
}

/* FOR ADMINISTRATORS USERS */
#dynamicContent {
    @extend %REGISTRATION_PAGE;
}

/*-----------------------------------*/
/* STYLES OF DYNAMIC WIDTH OF SCREEN */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
    #registretionForm {
        .rp-form-group {
            .rp-custom-col {
                display: inline-block;
                margin-bottom: 8px;
                float: left;
            }

            // .rp-text-description {
            //     span {
            //         margin-left: 33%;
            //         padding-left: 12px;
            //     }
            // }
        }
    }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    #registretionForm {
        .rp-form-group {
            .rp-custom-col {
                display: inline-block;
                margin-bottom: 8px;
                float: left;
            }

            .rp-text-description {
                span {
                    margin-left: 33%;
                    padding-left: 12px;
                }
            }
        }
    }
}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {
    #registretionForm {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {
    #registretionForm {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
