/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 
/*----------------------------*/
/* STYLE FOR BUTTON WITH ICON */

.rp-btn {
    &.rp-button-with-icon {
        padding: 8px 15px;

        &:hover {
            .rp-btn-val {
                color: inherit;
            }
        }

        i {
            &.rp-icons,
            &.material-icons {
                &:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 38px;
                    padding: 0 7px;
                    margin: 0;
                    color: inherit;
                    text-align: right;
                    line-height: 28px;
                    text-align: center;
                }

                &:last-child {
                    /* TODO */
                }
            }
            &.rp-icons {
                font-size: 13px;
            }
            &.material-icons {
                font-size: 18px;
            }
        }

        i + .rp-btn-val {
            position: relative;
            display: inline-block;
            font-size: 13px;
            line-height: 13px;
            color: inherit;
            text-shadow: none;
            padding: 0px 0px 0px 10px;
            margin: 0;
            word-wrap: normal;
            white-space: nowrap;
        }
    }
}

/*-------------------*/

/* FOR LAUNCHES PAGE */

.history-shown {
    .rp-button-with-icon {
        @include rpBtnStyle(#ffffff, #1a9cb0, #1a9cb0, false);

        &:hover {
            @include rpBtnStyle(#ffffff, #1a9cb0, #1a9cb0, false);
        }
    }
}
.rp-launch-btn {
    &.disabled {
        .rp-button-with-icon {
            @include rpBtnStyle(#999999, #f5f5f5, #e9e9e9, false);
            box-shadow: none;
            cursor: no-drop;
        }
    }
}

#changeCounter {
    position: absolute;
    display: none;
    width: auto;
    min-width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #e93416;
    bottom: 50%;
    right: 3px;
    font-size: 10px;
    line-height: 10px;
    padding: 1px 4px;
    margin: 0px 0px 5px 1px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-20px);}
    60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-20px);}
    60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-20px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-15px);}
}

/*---------------------------------*/

.rp-nav-right {
    li {
        &#testItemsNav {
            position: relative;
            display: inline-block;
            width: 75px;

            a {
                &.rp-button-with-icon {
                    float: left;
                    width: 38px;
                    padding: 0;

                    &:last-child {
                        margin-left: 0px;
                    }
                    &:first-child {
                        margin-right: -1px;
                    }
                }
            }
        }

    }
}
/*---------------------------------*/
/* CSS STYLES OF DIFFERENT SCREENS */

/* xs - 767px */
@media (max-width: $SCREEN_XS_MAX) {
    .rp-nav-right {
        li {
            &#testItemsNav {
                a {
                    &.rp-button-with-icon {
                        &:last-child {
                            // margin-left: -1px;
                        }
                    }
                }
            }
        }
    }

    .rp-btn {
        &.rp-button-with-icon {
            &.not-small {
                padding-left: 22px;
            }

            i {
                &.material-icons {
                    &:first-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* sm - 768px - 991px */
@media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    .rp-nav-right {
        li {
            &#testItemsNav {
                a {
                    &.rp-button-with-icon {
                        &:last-child {
                            // margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .rp-btn {
        &.rp-button-with-icon {
            padding-left: 22px;

            &.not-small {
                padding-left: 22px;
            }

            i {
                &.material-icons {
                    &:first-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* md - 992px - 1199px */
@media (min-width: $SCREEN_MD_MIN) and (max-width: $SCREEN_MD_MAX) {
    .rp-nav-right {
        li {
            &#testItemsNav {
                a {
                    &.rp-button-with-icon {
                        &:last-child {
                            // margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .rp-btn {
        &.rp-button-with-icon {
            padding-left: 22px;

            &.not-small {
                padding-left: 22px;
            }

            i {
                &.material-icons {
                    &:first-child {
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* lg - 1200px */
@media (min-width: $SCREEN_LG_MIN) {
    .rp-btn {
        &.rp-button-with-icon {
            padding-left: 24px;
        }
    }
}