.demo-data-generator-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;

  .you-can-generate-dat {
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: $COLOR--charcoal-grey;
  }

  .the-system-will-gene {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    text-align: left;
    color: $COLOR--gray-47;
  }

  ul {
    margin: 5px 0 15px 0;
    li {
      font-size: 13px;
      line-height: 1.69;
      text-align: left;
      color: $COLOR--charcoal-grey;
    }
    .dot {
      box-sizing: border-box;
      margin: 0 0 3px 10px;
      height: 3px;
      width: 3px;
      background-color: $COLOR--windows-blue;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .post-fix-will-be-add {
    display: none;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: $COLOR--charcoal-grey;
    margin-bottom: 5px;
  }

  .input-enter-postfix {
    display: none;
    width: 310px;
    height: 30px;
    margin-bottom: 20px;
  }

  .button {
    margin: 0 auto;
    display: block;
    width: 153px;
    height: 30px;
    background-color: $COLOR--booger;
    border: none;
    color: white;
    cursor: pointer;
  }

  .generate-demo-data {
    width: 129px;
    height: 18px;
    font-size: 13px;
    text-align: $COLOR--charcoal-grey;
  }

  .warning-message {
    display: none;
    margin-bottom: 5px;

    .warning-sign {
      margin-right: 5px;
    }
    .warning-text {
      font-size: 13px;
      font-weight: 600;
      color: $COLOR--failed;
    }
  }

  .you-will-have-to-remove {
    display: none;
    font-size: 12px;
    line-height: 1.17;
    color: $COLOR--charcoal-grey;
    margin-bottom: 35px;
  }
}

@media (min-width: $SCREEN_XS_MAX) {
  .demo-data-generator-container {
    .you-can-generate-dat {
      display: none;
    }
    .input-enter-postfix,
    .post-fix-will-be-add,
    .you-will-have-to-remove {
      display: inline-block;
    }
    .button {
      margin: 0 0 35px 0;
    }
    .warning-message {
      display: flex;
      align-items: flex-end;
    }
  }
}
