.defect-type {
  &:hover {
    .edit-icon {
      display: block;
    }
  }
}

.defect-type-labels {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.aa-label {
  margin-right: 5px;
}

.comment {
  padding-top: 10px;
}

.edit-icon {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  height: 20px;
  width: 20px;

  svg {
    fill: $COLOR--gray-60;
  }

  &:hover {
    svg {
      fill: $COLOR--black-2;
    }
  }
}
