.field-filter-entity {
  position: relative;
  display: inline-block;
  width: 235px;
  height: 55px;
  vertical-align: top;

  &.vertical {
    display: inline-flex;
    align-items: center;
    width: 370px;
    height: 60px;
  }

  &.stretchable {
    width: auto;
    height: auto;
    min-width: 235px;
    min-height: 55px;
  }

  &.small {
    width: 190px;

    &.stretchable {
      min-width: 190px;
    }
  }
}
.entity-name {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  margin-bottom: 5px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 18px;
  color: $COLOR--charcoal-grey;
  overflow: hidden;
  text-overflow: ellipsis;

  &.vertical {
    padding-right: 0;
    width: 78px;
    vertical-align: middle;
    color: $COLOR--black-2;
  }
}
.close-icon {
  position: absolute;
  display: block;
  top: 0;
  right: 6px;
  width: 8px;
  height: 8px;
  cursor: pointer;
  transition: transform 200ms linear;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    fill: $COLOR--gray-60;
  }
}
.entity-input-holder {
  display: inline-block;
  width: 100%;

  &.vertical {
    width: 292px;
  }
}
