<div class="b-features__text">
    <h3><%= data.text.landing.GroupIdeasBehindRP.titleIdeasBehindReportPortal %></h3>
</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 rp-overflow-hidden">
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-live-visibility-landing fsize-130"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleLiveVisibility %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descLiveVisibility %></p>
    </div>
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-integrate-landing fsize-130"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleEasyIntegrate %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descEasyIntegrate %></p>
    </div>
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-report-landing fsize-130"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleNiceReports %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descNiceReports %></p>
    </div>
</div>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 rp-overflow-hidden">
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-refactoring-landing fsize-150"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleNoRefactoring %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descNoRefactoring %></p>
    </div>
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-fighter-jet-landing fsize-150"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleReduceEffort %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descReduceEffort %></p>
    </div>
    <div class="b-feature col-xs-12 col-sm-4 col-lg-4 animated g-invisible js-feature"
        data-animation="fadeIn">
        <div class="b-feature__icon animated js-featicon" data-animation="bounceIn">
            <i class="rp-icons rp-icons-settings-landing fsize-150"></i>
        </div>
        <h3 class="b-feature__header"><%= data.text.landing.GroupIdeasBehindRP.titleSupportsTools %></h3>
        <p><%= data.text.landing.GroupIdeasBehindRP.descSupportsTools %></p>
    </div>
</div>
