<div class="col-md-10 col-md-offset-1">
    <div class="col-md-6 col-lg-push-6 col-md-push-6 animated js-commonel g-invisible"
         data-animation="fadeInRight">
        <h3 class="b-common__header">Distribution of fails</h3>        <p class="b-common__text">Report Portal also give you an ability to collaboratively analyze test
            automation results. Particular fail can associate with a product bug, or automation issue,
            system issue and even could be submitted as an issue ticket directly from this execution result
            into the bug tracking system. With automatic track back links.
            <br>
            Quantity of product bugs in distribution can show you the value of test automation.
        </p>
        <a class="b-common__button" href="#" style="visibility: hidden">Explore more features</a>
    </div>
    <div class="b-common__svg col-md-6 col-lg-pull-6 col-md-pull-6 animated js-commonel g-invisible"
         data-animation="fadeInLeft">
        <img src="img/landing/glare1.png" alt="">
    </div>
</div>