<header class="b-header js-header"></header>
<main class="b-main js-main-container"></main>
<div class="social-block" data-js-social-block>
    <a href="https://github.com/reportportal" class="gh-icon" target="_blank"></a>
    <a href="https://www.facebook.com/ReportPortal.io" class="fb-icon" target="_blank"></a>
    <a href="http://twitter.com/ReportPortal_io" class="tw-icon" target="_blank"></a>
    <a href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ" class="yt-icon" target="_blank"></a>
    <a href="https://vk.com/reportportal_io" class="vk-icon" target="_blank"></a>
</div>
<main class="b-docs js-docs-container clearfix"></main>
<footer class="b-footer clearfix">
    <div class="left-block">
        <span><%= data.text.footer.textCopyright %></span>
        <span class="separate"></span>
        <a href="mailto:SupportEPMC-TSTReportPortal@epam.com?subject=Report%20Portal%20Support.%20Landing">
            <%= data.text.footer.menu.support %>
        </a>
        <span class="separate"></span>
        <a href="mailto:SupportEPMC-TSTReportPortal@epam.com?subject=Report%20Portal%20Contact.%20Landing">
            <%= data.text.footer.menu.contacts %>
        </a>
    </div>
    <div class="right-block">
        <span><%= data.text.footer.textSocial %></span>
        <a href="https://github.com/reportportal" class="gh-icon" target="_blank"></a>
        <a href="https://www.facebook.com/ReportPortal.io" class="fb-icon" target="_blank"></a>
        <a href="http://twitter.com/ReportPortal_io" class="tw-icon" target="_blank"></a>
        <a href="https://www.youtube.com/channel/UCsZxrHqLHPJcrkcgIGRG-cQ" class="yt-icon" target="_blank"></a>
        <a href="https://vk.com/reportportal_io" class="vk-icon" target="_blank"></a>
    </div>
</footer>
