<div class="col-md-10 col-md-offset-1" data-js-scroll-action>
    <div class="col-md-6 col-lg-push-6 col-md-push-6 animated js-commonel g-invisible"
         data-animation="fadeInRight">
        <h3 class="b-common__header">Auto analysis</h3>        <p class="b-common__text">Report Portal provides great capabilities along with Auto Results Analysis
            by leveraging  historical data of test execution. So with next execution it will automatically
            figure out root cause of fail, doing analysis itself, and afford you with the flag were engineer
            should pay attention and which test cases results require actual analysis by human.</p>
    </div>
    <div class="col-md-6 col-lg-pull-6 col-md-pull-6 animated js-commonel g-invisible"
         data-animation="fadeInLeft">
        <div class="b-autotrees__trees js-redleaves">
            <img class="b-autotrees__image" src="img/landing/trees.png" alt="">            <div class="b-autotrees__leaves b-autotrees__leaves--front js-redleaves--front">
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
            </div>
            <div class="b-autotrees__leaves b-autotrees__leaves--lb js-redleaves--back">
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
            </div>
            <div class="b-autotrees__leaves b-autotrees__leaves--rb js-redleaves--back">
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
            </div>
            <div class="b-autotrees__leaves b-autotrees__leaves--rrb js-redleaves--back">
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
                <div class="b-autotrees__leaf js-redleaf animated"></div>
            </div>
        </div>
    </div>
    <div class="b-common--divider col-md-12"></div>
</div>
<div class="col-md-12 col-md-offset-1" data-js-scroll-action>
    <h3 class="b-common__header b-autotrees__header g-darkgray">Report portal at a glance</h3>    <div class="b-common__list col-lg-9 col-lg-offset-1 g-darkgray clearfix">
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>Easy reporting
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>Auto Analysis
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 hidden-sm hidden-xs animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>Real-time
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>saved search
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>History
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 hidden-lg hidden-md animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>Post bug one click
        </div>
        <div class="b-common__li col-md-4 col-sm-6 col-xs-12 animated js-commonel g-invisible"
             data-animation="fadeIn"><span class="b-common__marker"></span>Supplementary features
        </div>
    </div>
</div>