<div class="col-md-10 col-md-offset-1">
    <div class="col-md-5 animated js-commonel g-invisible" data-animation="fadeInLeft">
        <h3 class="b-common__header">Realtime Trends</h3>        <p class="b-common__text">Trends of growth, execuctions and other metrics will be available with
            ready-to-go library of templates for widgets.
            <br>
            Real-time integration allows to manage and track execution status directly
            from Report Portal.  Test cases results will be stored with the same structure you have it in
            your suites and test plan.
        </p>
    </div>
    <div class="b-common__svg col-md-7 animated g-invisible js-d3 js-graph" data-animation="fadeInRight"
         data-graph="d3graph"></div>
</div>