<div class="b-watch__container col-md-10 col-md-offset-1 js-watch__container g-invisible">
    <div class="col-xs-6 b-watch__line b-watch__line--start js-watch animated" data-animation="fadeInDown">
        <div class="b-watchline__circle b-watchline__circle--start js-watch animated"
            data-animation="fadeInRight">
            <span class="b-watchline__text">Start</span>
        </div>
    </div>
    <div class="col-xs-6 b-watch__line b-watch__line--finish js-watch animated" data-animation="fadeInDown">
        <div class="b-watchline__circle b-watchline__circle--finish js-watch animated"
            data-animation="fadeInLeft">
            <span class="b-watchline__text">Finish</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-4 b-watch__start g-col-xxs-12 js-watch animated"
         data-animation="fadeInRight">
        <div class="b-watch__header b-watch__header--start">
            <span class="b-watch__text--big g-bolder">Integration</span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-4 b-watch__thewatch g-col-xxs-12 js-thewatch animated"
         data-animation="fadeIn">
        <div class="b-thewatch__container">
            <img class="js-watch__image" src="img/landing/watch/watch.png" alt="Watch">            <div class="b-watcharrow">
                <div class="b-watcharrow__arrow js-arrow"></div>
                <div class="b-watcharrow__circle js-arrowcircle"></div>
            </div>
            <div class="b-watch__circle js-watchcircle"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-4 b-watch__finish g-col-xxs-12 js-watch animated"
         data-animation="fadeInLeft">
        <div class="b-watch__header b-watch__header--finish">
            <span class="b-watch__text b-watch__text--big g-bolder">Few hours</span>
            <br>
            <span class="b-watch__text b-watch__text--small g-bolder">of your time</span>
        </div>
    </div>
</div>