<div class="b-trees__overflow">
    <div class="b-trees__bg b-trees__bg--bg js-forest" data-speed="0.05"></div>
    <div class="b-trees__bg b-trees__bg--backtreeone js-forest" data-speed="0.071"></div>
    <div class="b-trees__bg b-trees__bg--backtreetwo js-forest" data-speed="0.25"></div>
    <div id="frontTree" class=" b-trees__bg b-trees__bg--fronttree js-forest" data-speed="0.45"></div>
    <div class="b-trees__bg b-trees__bg--sun js-forest" data-speed="0.02"></div>
    <div class="b-central js-forest" data-speed="0.85">
        <div class="b-central__logo">
            <img src="img/landing/intro/logo.png" alt="">
            <p><%- data.text.landing.threes.subHeader %></p>
        </div>
        <div class="b-central__play js-play" style="visibility: hidden;">
            <a href="">
                <i class="material-icons">play_arrow</i>
            </a>
        </div>
    </div>
    <div class="b-leaves js-leaves">
        <div class="b-leaf b-leaf--smallgreen js-forest js-leaf" data-speed="0.35">
            <div class="b-leaf__border">
                <div class="b-leafborder b-leafborder--tl"></div>
                <div class="b-leafborder b-leafborder--tr"></div>
                <div class="b-leafborder b-leafborder--br"></div>
                <div class="b-leafborder b-leafborder--bl"></div>
                <img src="img/landing/intro/leaves/smallgreen_leaf.png" alt="">
            </div>
            <div class="b-leaf__info">
                <div class="b-leafinfo">
                    <h4 class="b-leafinfo__header"><%- data.text.landing.threes.ciCd %></h4>
                    <p class="b-leafinfo__text"><%- data.text.landing.threes.ciCdText %></p>
                </div>
            </div>
        </div>
        <div class="b-leaf b-leaf--yellow js-forest js-leaf" data-speed="0.4">
            <div class="b-leaf__border">
                <div class="b-leafborder b-leafborder--tl"></div>
                <div class="b-leafborder b-leafborder--tr"></div>
                <div class="b-leafborder b-leafborder--br"></div>
                <div class="b-leafborder b-leafborder--bl"></div>
                <img src="img/landing/intro/leaves/yellow_leaf.png" alt="">
            </div>
            <div class="b-leaf__info">
                <div class="b-leafinfo">
                    <h4 class="b-leafinfo__header"><%- data.text.landing.threes.realtime %></h4>
                    <p class="b-leafinfo__text"><%- data.text.landing.threes.realtimeText %></p>
                </div>
            </div>
        </div>
        <div class="b-leaf b-leaf--biggreen js-forest js-leaf" data-speed="0.25">
            <div class="b-leaf__border">
                <div class="b-leafborder b-leafborder--tl"></div>
                <div class="b-leafborder b-leafborder--tr"></div>
                <div class="b-leafborder b-leafborder--br"></div>
                <div class="b-leafborder b-leafborder--bl"></div>
                <img src="img/landing/intro/leaves/biggreen_leaf.png" alt="">
            </div>
            <div class="b-leaf__info">
                <div class="b-leafinfo">
                    <h4 class="b-leafinfo__header"><%- data.text.landing.threes.architecture %></h4>
                    <p class="b-leafinfo__text"><%- data.text.landing.threes.architectureText %></p>
                </div>
            </div>
        </div>
        <div class="b-leaf b-leaf--orange js-forest js-leaf js-leaf--orange" data-speed="0.33">
            <div class="b-leaf__border">
                <div class="b-leafborder b-leafborder--tl"></div>
                <div class="b-leafborder b-leafborder--tr"></div>
                <div class="b-leafborder b-leafborder--br"></div>
                <div class="b-leafborder b-leafborder--bl"></div>
                <img src="img/landing/intro/leaves/orange_leaf.png" alt="">
            </div>
            <div class="b-leaf__info">
                <div class="b-leafinfo">
                    <h4 class="b-leafinfo__header"><%- data.text.landing.threes.analysis %></h4>
                    <p class="b-leafinfo__text"><%- data.text.landing.threes.analysisText %></p>
                </div>
            </div>
        </div>
    </div>
</div>