<header class="b-header js-header"></header>
<main class="b-main js-main-container"></main>
<main class="b-docs js-docs-container clearfix"></main>
<footer class="b-footer clearfix g-parallax js-parallax">
    <div class="col-md-10 col-md-offset-2">
        <%= data.text.footer.textCopyright %>
        <span class="b-footer__links">
            <a href="#" class="hide">
                <%= data.text.footer.menu.news %>
            </a>
            <a href="mailto:SupportEPMC-TSTReportPortal@epam.com?subject=Report%20Portal%20Support.%20Landing">
                <%= data.text.footer.menu.support %>
            </a>
            <a href="#" class="hide">
                <%= data.text.footer.menu.aboutUs %>
            </a>
            <a href="mailto:SupportEPMC-TSTReportPortal@epam.com?subject=Report%20Portal%20Contact.%20Landing">
                <%= data.text.footer.menu.contacts %>
            </a>
      </span>
    </div>
</footer>
