.checkbox-header-cell {
  display: table-cell;
  position: relative;
  height: 50px;
  padding-left: 10px;
  padding-right: 15px;
  text-align: right;
  vertical-align: middle;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }
}
