.btn{
  padding: 13px 0 13px 0;
  background: $COLOR--charcoal-grey;
  font-family: $FONT-CONDBOLD, sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
  color: $COLOR--gray-91;
  border: none;
  outline: none;
  box-shadow: inset 0 1px 0 0 lighten($COLOR--charcoal-grey, 6%), inset 0 -1px 0 0 darken($COLOR--charcoal-grey, 6%);
  width: 100%;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
  &.active{
    span{
      color: $COLOR--booger;
    }
  }
  i{
    vertical-align: middle;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    padding: 10px 0 10px 12px;
    text-align: left;
    font-size: 12px;
  }
}
.btn-title{
  font-family: $FONT-CONDBOLD, sans-serif;
  display: block;
  margin-top: 5px;
  padding: 0 5px;
  text-transform: uppercase;
  object-fit: contain;
  vertical-align: middle;
  @media(max-width: $SCREEN_SM_MAX) {
    display: none;
  }
  @media(max-width: $SCREEN_XS_MAX) {
    font-size: 12px;
    display: inline;
    font-family: $FONT-CONDBOLD, sans-serif;
    padding-left: 13px;
  }
}
.icon{
  vertical-align: middle;
}
.btn-bottom{
  box-shadow: inset 0 1px 0 0 lighten($COLOR--charcoal-grey, 6%);
  .btn-title{
    text-transform: none;
    font-size: 13px;
  }
}
