.dashboard-item {
  background: $COLOR--white-two;

  &:hover .icon-close {
    opacity: 1;
  }
}

.buttons-container {
  height: 30px;
  margin: 0;
  padding: 20px 10px;
  border-bottom: 1px solid $COLOR--gray-91;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.icon-close {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  opacity: 0;
  fill: $COLOR--gray-60;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.nav-left {
  float: left;
  button {
    margin-right: 10px;
  }
}

.nav-right {
  float: right;
  button {
    margin-left: 10px;
  }
}

:global {
  .fullscreen {
    background: $COLOR--white-two;
  }
}

.globe-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto 5px;
  vertical-align: text-bottom;

  svg {
    fill: $COLOR--gray-47;
  }
}

.shared-caption {
  font-size: 13px;
  line-height: 30px;
}
