.empty-widget {
  width: 100%;
  padding: 25px 0 60px 0;
  background-color: $COLOR--white-two;
}

.empty-widget-headline {
  margin-top: 27px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: $COLOR--gray-47;
}

.empty-widget-text {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: center;
  color: $COLOR--gray-47;
}

.empty-widget-img {
  width: 140px;
  height: 98px;
  margin: 0 auto;
  background-image: url(./img/empty-widgets.png);
  background-repeat: no-repeat;
}

.empty-widget-content {
  padding: 15px 0;
  text-align: center;
}
