.cumulative-trend-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.popup-reference {
  position: absolute;
  width: 100px;
  height: 1px;
}
