.container {
  margin-right: auto;
  margin-left: 40px;
  align-self: center;
  color: $COLOR--charcoal-grey;
  text-transform: uppercase;
  font-family: $FONT-CONDBOLD;
}

.link {
  color: $COLOR--topaz;
  cursor: pointer;
}
