.grid {
  display: table;
  width: 100%;
  margin-top: 30px;
}

.grid-header {
  display: table-row;
  background-color: $COLOR--white;
  border-bottom: 1px solid $COLOR--gray-91;
}

.grid-row {
  display: table-row;
  border-bottom: 1px solid $COLOR--gray-91;
}

.grid-cell {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 12px;
  color: $COLOR--gray-47;
  border-bottom: 1px solid $COLOR--gray-91;
}

.defect-type {
  display: inline-block;
  min-width: 90px;
  
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.details-legend {
  width: 100%;
  position: absolute;
  left: 10px;
}

.icon {
  display: inline-block;
  width: 20px;
  fill: $COLOR--topaz;
  vertical-align: middle;
}

.icon-right {
  fill: $COLOR--charcoal-grey;
}

.back-link {
  color: $COLOR--topaz;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid $COLOR--gray-91;
  font-size: 14px;
  font-family: $FONT-REGULAR;
}

.attribute {
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
}
