.beta-badge {
  position: absolute;
  top: -2px;
  right: -18px;
  padding: 1.8px 5.4px 2.7px 5.4px;
  border-radius: 12px;
  background: $COLOR--dark-pastel-green;
  color: $COLOR--white-two;
  font-size: 9px;
  line-height: 9px;
  text-transform: none;
  font-family: $FONT-REGULAR;
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
