.defect {
    display: inline-block;
}

.amount {
    font-size: 20px;
    font-family: $FONT-SEMIBOLD;
    color: $COLOR--gray-47;
    margin-bottom: 3px;
}

.label {
    display: block;
    padding: 2px 8px 3px 4px;
    border-radius: 11px;
    border: 1px solid $COLOR--gray-80;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: $FONT-SEMIBOLD;
}

.marker {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 5px;
    margin-top: 2px;
}