.container {
  display: flex;
  background-color: $COLOR--light-yellow;
  height: 100%;
}

.total {
  align-self: center;
  width: 100%;
  max-width: 285px;
  box-sizing: border-box;
  padding: 20px;
}

.defects {
  width: 100%;
  background-color: $COLOR--white-two;
}
