.total {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  line-height: normal;
}

.details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: $COLOR--gray-47;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
  line-height: normal;
}

.amount {
  font-size: 20px;
}

.label {
  white-space: nowrap;
}

.marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 2px;
  background-color:  $COLOR--skipped;
}

.passed {
  background-color: $COLOR--passed;
}

.failed {
  background-color: $COLOR--failed;
}
