<nav class="navbar rp-navbar-header" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header visible-xs mobile-main-header">
        <div class="button-menu-open" data-js-toogle-menu>
            <div class="menu-icon-part"></div>
            <div class="menu-icon-part"></div>
            <div class="menu-icon-part"></div>
        </div>
        <div class="rp-logo"></div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="navbar-header-collapse">
        <ul class="nav navbar-nav navbar-right rp-navbar-right rp-header-nav hidden-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs rp-user-navigator" data-toggle="dropdown" data-js-user-dropdown>
                    <div class="user-login-wrap float-left">
                        <% if (data.isAdmin) { %>
                            <div class="user-status">
                                <span class="user-status-text"><%= data.text.topMenu.admin %></span>
                            </div>
                        <% } %>
                        <div class="user-name name2 text-uppercase custom-width2">
                            <%- data.user.user_login %>
                        </div>
                    </div>
                    <div class="user-avatar-wrap float-left">
                        <img class="avatar"
                            id="profileImage"
                            src="<%= data.util.updateImagePath(data.user.image) %>"
                            alt="<%= data.text.ui.avatar %>" />
                    </div>
                    <i class="material-icons arrow_drop_down">arrow_drop_down</i>
                </a>
                <ul class="dropdown-menu rp-mobile-position clearfix" role="menu" id="userNavigator">
                    <li class="col-xs-6 col-sm-12">
                        <a href="#user-profile" class="mem-set user-id" data-js-profile-page-link>
                            <span class="custom-padding"><%= data.text.topMenu.profile %></span>
                        </a>
                    </li>
                    <% if(data.isAdmin) { %>
                        <li class="col-xs-6 col-sm-12">
                            <a href="#administrate" id="administrate" class="admin-section" data-js-administrate-page-link>
                                <span class="custom-padding"><%= data.text.topMenu.administrate %></span>
                            </a>
                        </li>
                    <% } %>
                    <li class="col-xs-6 col-sm-12">
                        <a href="#login" id="logout">
                            <span class="custom-padding"><%= data.text.topMenu.logout %></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav rp-navbar-left rp-header-nav rp-projects-block">
            <li class="dropdown clearfix" id="projectSelector">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-js-project-dropdown>
                    <span class="selected-project" title="<%= data.text.topMenu.activeProjTitle %>">
                        <%- data.project.projectId %>
                    </span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <ul class="dropdown-menu user-projects rp-mobile-position clearfix" role="menu">
                    <% _.each(data.projects, function (project) { %>
                        <% var isActive = (project === data.project.projectId) ? 'active' : ''; %>
                        <li class="col-xs-12 col-sm-12 text-uppercase"
                            id="project-<%= project %>">
                            <a class=" rp-desktop"
                                href="#"
                                data-href="<%= project %>">
                                <%= project %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </li>
            <% if (data.canDebug) { %>
                <li id="members"
                    data-id="members"
                    title="<%= data.text.topMenu.members %>"
                    class="members">
                    <a href="#<%- data.project.projectId %>/members" class="mem-set" data-js-members-icon>
                        <i class="rp-icons rp-icons-all-users"></i>
                    </a>
                </li>
            <% } %>
            <li id="settings"
                data-id="settings"
                title="<%= data.text.topMenu.settings %>"
                class="settings">
                <a href="#<%- data.project.projectId %>/settings" class="mem-set" data-js-settings-icon>
                    <i class="material-icons">settings</i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
