/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
.modal-add-widget-setting-input {
  padding: 20px 0 0 0;
  position: relative;
  width: 100%;
  text-align: right;
  & > span {
    display: inline-block;
    min-width: 37px;
    max-width: 150px;
    vertical-align: middle;
  }
  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 18px;
    width: auto;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
    input {
      width: 244px;
      margin-left: 17px;
    }
    .validate-hint {
      width: 244px;
      left: unset;
      right: 0;
      top: auto;
      bottom: 100%;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    }
  }
  &.num-only {
    .input-wrapper {
      width: auto;
      margin-right: 176px;
      text-align: center;
      & > span {
        display: inline-block;
        max-width: 135px;
        vertical-align: middle;
        text-align: right;
      }
      input {
        width: 68px;
        margin-left: 17px;
        vertical-align: middle;
      }
      .validate-hint {
        width: 100%;
        text-align: left;
      }
    }
  }
  .input-description {
    color: $COLOR--gray-60;
    padding: 5px 0 0 176px;
    text-align: left;
    &.hide {
      display: none;
    }
  }
}
