/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */
.modal-add-widget-setting-input-items {
  padding: 20px 0 0 0;
  position: relative;
  width: 100%;
  text-align: right;
  .select2-container-multi .select2-choices .select2-search-field input {
    padding: 4px 10px;
  }
  .input-wrapper {
    display: inline-block;
    margin-left: 18px;
    width: 244px;
    margin-bottom: 0;
    text-align: left;
    .validate-hint {
      width: 100%;
      top: auto;
      bottom: 100%;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
