.form {
  margin-right: 70px;
}
.show-password {
  margin-left: 127px;
  margin-top: -7px;
  display: flex;
  align-items: center;
}
.show-password-label {
  margin-left: 15px;
  font-size: 12px;
  font-family: $FONT-REGULAR;
  color: $COLOR--charcoal-grey;
}
