{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "react-intl",
      {
        "messagesDir": "./localization/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
