{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    [
      "react-intl",
      {
        "messagesDir": "./localization/messages",
        "enforceDescriptions": false
      }
    ]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
