{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "prettier",
    "babel"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "React": true,
    "Utils": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true,
        "allowShortCircuit": true
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-no-bind": "off",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",
    "react/jsx-curly-newline": "off",
    "react/function-component-definition": "off",
    "react/no-unstable-nested-components": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-unused-class-component-methods": "warn",
    "react/no-arrow-function-lifecycle": "warn",
    "class-methods-use-this": "warn",
    "default-param-last": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn",
    "func-names": "warn",
    "no-console": "warn",
    "camelcase": "warn",
    "import/no-import-module-exports": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "parserOptions": {
    "requireConfigFile": true,
    "babelOptions": {
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ]
    },
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "react/function-component-definition": "off",
        "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ]
      }
    }
  ]
}
