{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "extends": [
    "airbnb",
    // "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "React": true,
    "Utils": true
  },
  "rules": {
    "prettier/prettier": 1, // TODO: remove this line once all codebase is reformatted
    "jsx-a11y/no-static-element-interactions": 0,
    "no-unused-expressions": ["error", { "allowTernary": true, "allowShortCircuit": true }],
    "jsx-a11y/label-has-for": ["error", {"required": {"some": ["nesting", "id"]}}],
    "jsx-a11y/tabindex-no-positive": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-unused-prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-no-target-blank": 0
  }
}
