/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.launch-log-item-info-retry-item {
  display: inline-block;
  border: 1px solid $COLOR--gray-91;
  padding: 0 10px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 18px;
  cursor: pointer;
  &.active {
    background: $COLOR--gray-91;
    cursor: default;
  }
  span {
    vertical-align: middle;
  }
  .status {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: $COLOR--failed;
    &.status-PASSED {
      background: $COLOR--passed;
    }
    &.status-SKIPPED {
      background: $COLOR--skipped;
    }
  }
}
