.log-grid {
  .block-view {
    .console-th{
      display: none;
    }
    .rp-grid-th{
      font-family: $OpenSansSemibold;
      &.message-grid-cell {
        position: relative;
        width: 78%;
      }
      &.attachment-grid-cell {
        position: relative;
        width: 8%;
      }
      &.time-grid-cell {
        position: relative;
        font-family: $FontMonacoMonospace;
        width: 14%;
      }
    }
  }
  .block-view-row{
    padding: 10px 0;
    max-height: 240px;

    .accordion-block {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 19px;
      background-color: $COLOR--white-default;
      box-shadow: 0 0 20px 15px $COLOR--white-default;

      i {
        position: relative;
        color: $COLOR--gray-60;
        padding: 0 75px 8px 55px;
        width: 20px;
        display: inline-block;
        cursor: pointer;
        &:before, &:after {
          position: absolute;
          content: '';
          top: 7px;
          width: 50px;
          height: 5px;
          background: url(../../img/launch/dots.svg) center top no-repeat;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 2px;
        }
        &:hover {
          color: $COLOR--charcoal-grey;
          &:after, &:before {
            background: url(../../img/launch/dots-hover.svg) center top no-repeat;
          }
        }
        &.little {
          display: none;
        }
      }
    }
    &.show-accordion {
      .accordion-block {
        display: block;
      }
    }
    .message-grid-cell {
      position: relative;
      width: 78%;
      i {
        display: none;
      }
    }
    .attachment-grid-cell {
      position: relative;
      width: 8%;
    }
    .time-grid-cell {
      position: relative;
      width: 14%;
    }
    &.open {
      max-height: 100%;
      padding-bottom: 40px;
      .accordion-block {
        box-shadow: none !important;
        i {
          display: none;
        }
        i.little {
          display: inline-block;
        }
      }
    }
    &.level-ERROR {
     background-color: $COLOR--light-red;
     .accordion-block {
       background-color: $COLOR--light-red;
       box-shadow: 0 0 20px 15px $COLOR--light-red;
     }
    }
    @media(max-width:1000px){
      .attachment-grid-cell, .time-grid-cell{
        width: 14%;
      }
      .message-grid-cell{
        width: 72%;
      }
    }
  }
}

