/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.log-grid {
  .message-grid-cell {
    width: 70%;
  }
  .attachment-grid-cell {
    width: 12%;
  }
  .time-grid-cell {
    width: 16%;
  }
  .icon-grid-cell {
    padding: 4px 0 0 0;
    width: 2%;
    i {
      cursor: pointer;
      display: none;
    }
  }
  .rp-table-row {
    position: relative;
    overflow: hidden;
    padding: 15px 0;
    line-height: 18px;
    overflow: hidden;
    max-height: 108px;
    &.open {
      max-height: 100%;
      .icon-grid-cell {
        transform: scale(1, -1);
      }
    }
    &.show-accordion {
      .icon-grid-cell {
        i {
          display: inline;
        }
      }
    }
    .attachment-grid-cell {
      img {
        max-width: 100%;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 5px;
      display: block;
    }
    &.level-INFO:before {
      background-color: $COLOR--windows-blue;
    }
    &.level-ERROR {
      background-color: $COLOR--light-red;
      &:before {
        background-color: $COLOR--orange-red;
      }
    }
  }
}