.info-line {
  position: relative;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  border-top: 1px solid $COLOR--gray-91;
  border-bottom: 1px solid $COLOR--gray-91;
  background-color: $COLOR--white-two;

  @media (max-width: $SCREEN_SM_MAX) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.bar-chart-holder {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 28px;
  margin: 0 15px;
  vertical-align: top;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }
}
.passed,
.total,
.parent-holder,
.icon-holder {
  display: inline-block;
  font-family: $FONT-REGULAR;
  font-size: 12px;
  text-transform: capitalize;
  vertical-align: middle;
  line-height: 28px;
}
.parent-holder,
.icon-holder {
  margin-right: 10px;
  color: $COLOR--gray-60;
}
.passed,
.total {
  margin-right: 15px;
  color: $COLOR--charcoal-grey;

  @media (max-width: $SCREEN_SM_MAX) {
    &::after {
      content: '';
      margin-left: 15px;
      box-sizing: border-box;
      border-right: 1px solid $COLOR--gray-91;
    }
  }
}
.parent-holder {
  font-family: $FONT-SEMIBOLD;
  margin-left: 10px;
  text-transform: uppercase;
}
.defect-types {
  display: inline-block;

  @media (max-width: $SCREEN_SM_MAX) {
    display: block;
  }
}
.defect-type {
  display: inline-block;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
