.non-passed-cases-trend-chart {
  :global {
    svg {
      .c3-event-rect {
        cursor: default !important; // high point sensitivity means annoying sursor pointer in a larger area on hover
      }
      .c3-axis {
        font-family: $FONT-REGULAR, sans-serif;
        fill: $COLOR--charcoal-grey;
        .c3-axis-y-label {
          font-size: 12px;
        }
        &.c3-axis-y {
          path {
            display: none;
          }
          .tick > line {
            display: none;
          }
        }
      }
    }

    .c3-grid line {
      stroke: $COLOR--gray-80;
    }
    .c3-xgrid,
    .c3-ygrid {
      stroke-dasharray: none;
    }
  }
}
