.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;

  &.opened {
    .arrow {
      transform: rotate(180deg);
    }
    .select-block {
      border-color: $COLOR--topaz;
      box-shadow: 0 0 2px 0 rgba($COLOR--topaz, 0.7);
    }
    .select-list {
      display: block;
    }
  }
}
.select-block {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 25px 0 10px;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  cursor: pointer;

  &:hover {
    border-color: $COLOR--gray-47;
  }

  &.disabled {
    background-color: $COLOR--gray-91;
    cursor: default;
  }
}
.value {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $COLOR--charcoal-grey;
}
.arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  color: $COLOR--charcoal-grey;
  transition: transform 200ms linear;
}
.select-list {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  display: none;
  width: 100%;
  min-height: 10px;
  border: 1px solid $COLOR--gray-80;
  padding: 5px 0;
  background-color: $COLOR--white-two;
  box-sizing: border-box;
  box-shadow: 0 6px 12px $COLOR--gray-80;
  z-index: 1;
  cursor: pointer;
}
.select-all-block {
  width: 100%;
  height: 37px;
  background-color: $COLOR--white-two;
  box-sizing: border-box;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: #e9e9e9;
    margin: 3px 10px;
    box-sizing: border-box;
  }
}
.select-all {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 30px;
  box-sizing: border-box;

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
.select-item {
  width: 100%;
  height: 30px;
  background-color: $COLOR--white-two;

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
