.text {
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  color: $COLOR--gray-47;
}
.warning {
  margin: 5px 0;
  color: $COLOR--orange-red;
  text-transform: uppercase;
  font-family: $FONT-SEMIBOLD;
}
