.notification-list {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

:global {
  .notification-transition-enter {
    opacity: 0.01;
    height: 0;
  }
  .notification-transition-enter-active {
    opacity: 1;
    height: 36px;
    transition: all 200ms ease-in;
  }
  .notification-transition-exit {
    opacity: 1;
    height: 36px;
  }
  .notification-transition-exit-active {
    opacity: 0.01;
    height: 0;
    transition: all 700ms ease-in;
  }
}
