.input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  line-height: 13px;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fdffeb inset;
  }
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.disabled {
  background-color: $COLOR--gray-91;
}
.has-right-icon {
  padding-right: 35px;

  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 35px;
    padding-right: 10px;
  }
}

.with-border {
  position: relative;
  height: 30px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $COLOR--gray-80;
  flex-grow: 1;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    background-color: inherit;
    border-color: $COLOR--topaz;
    box-shadow: 0 0 2px 0 rgba($COLOR--topaz, .7);
  }

  &:hover {
    border-color: $COLOR--gray-47;
  }

  &.error {
    border-color: $COLOR--orange-red;
  }
}
