.overflow {
  overflow: hidden;
}

.accordion-container {
  position: relative;
}

.accordion-block {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: $COLOR--white-two;
  box-shadow: 0 -15px 20px 0px $COLOR--white-two;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;

  &.expanded {
    box-shadow: none;
  }
}
.accordion-toggler {
  width: 130px;
  height: 7px;
  margin: 0 auto;
  background-image: url(common/img/accordion-toggle.svg);
  cursor: pointer;

  &:hover {
    background-image: url(common/img/accordion-toggle-hover.svg);
  }

  &.rotated {
    transform: rotate(180deg);
  }
}
