.integration-settings-container {
  padding-left: 5px;
  margin-bottom: 30px;

  .settings-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}

.logo-block {
  margin-right: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  padding: 5px 0;
  color: $COLOR--black-2;
  font-size: 22px;
  font-family: $FONT-SEMIBOLD;
}
