.widget-header {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}
.info-block {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-right: 95px;
}
.widget-name {
  position: relative;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding-right: 95px;
  cursor: default;
}
.widget-name-block {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: $COLOR--charcoal-grey;
  font-family: $FONT-SEMIBOLD;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icons-block {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 90px;
  cursor: default;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto 5px;

  svg {
    fill: $COLOR--gray-47;
  }
}
.widget-type {
  position: relative;
  display: inline-block;
  max-width: 100%;
  color: $COLOR--charcoal-grey;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  line-height: 12px;
  cursor: default;
}
.meta-info {
  display: inline-block;
  margin-left: 10px;
  color: $COLOR--gray-60;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
}
.controls-block {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 120px;
  height: 100%;
  margin-right: 15px;
}
.control {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto 5px;
  cursor: pointer;
  transition: transform 200ms linear;

  svg {
    fill: $COLOR--gray-60;
  }

  &:hover {
    transform: scale(1.2);
    svg {
      fill: $COLOR--gray-47;
    }
  }
}

.mobile-hide {
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
