<div class="container-fluid rp-margin-reset rp-border-last-child rp-table-hover">
    <div class="row rp-table-thead ">
        <div class="col-md-3">
            <div class="input-filter form-group" id="messageFilterWrapper">
                <input type="text"
                    class="rp-input-search favorites-name-filter"
                    id="nameFilter"
                    name="nameFilter"
                    placeholder="<%= data.text.favorites.fName %>"
                    value="<%- data.nameFilterValue || '' %>" />
                <i class="material-icons">search</i>
                <div class="error-hint help-inline" style="display:none;"></div>
            </div>
        </div>
        <div class="col-md-4 visible-md visible-lg">
            <div class="rp-table-th"><%= data.text.favorites.fOptions %></div>
        </div>
        <div class="col-md-2 visible-md visible-lg">
            <div class="rp-table-th"><%= data.text.favorites.fOwner %></div>
        </div>
        <div class="col-md-1 visible-md visible-lg">
            <div class="rp-table-th"><%= data.text.favorites.fShared %></div>
        </div>
        <div class="col-md-2 visible-md visible-lg">
            <div class="rp-table-th"><%= data.text.favorites.fActions %></div>
        </div>
    </div>
    <% if(data.filters.length) { %>
        <% _.each(data.filters, function(filter) { %>
            <div class="row rp-table-row">
                <div class="col-md-3 clearfix">
                    <a href="<%- data.getFilterUrl(filter) %>"
                        class="filter-link-to-launches rp-blue-link rp-table-title"
                        data-id="<%= filter.id %>">
                        <%- filter.name %>
                    </a>
                </div>
                <div class="col-md-4 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.favorites.fOptions %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                            <div class="filter-adv">
                                <small class="text-muted">
                                    <% var filterOptions = data.getFilterOptions(filter.entities, data.text.comparators); %>
                                    <% if (filterOptions) { %>
                                        (<%= filterOptions %>)
                                    <% } %>
                                    <% var sortKey = filter.selection_parameters && data.getLastKey(filter.selection_parameters.sorting_column); %>
                                    <% if (sortKey) { %>
                                        <%= data.text.favorites.sortedBy %>
                                        <%= data.text.launchesHeaders[sortKey] %>
                                    <% } %>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm text-wrapper">
                        <h5><%= data.text.favorites.fOwner %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info text-wrapper"><%- filter.owner %></div>
                    </div>
                </div>
                <div class="col-md-1 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.favorites.fShared %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info filter-shader-status"
                            style="<%= (filter.isShared) ? '' : 'display:none;' %>">
                            <i class="material-icons">check</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.favorites.fActions %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info filter-actions">
                            <% var isOwner = data.userName === filter.owner; %>
                            <%= data.util.templates(data.actionTpl, {
                                filter: filter,
                                userPrefs: data.userPrefs,
                                isOwner: isOwner
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="title-no-data text-center">
                    <i class="rp-icons rp-icons-warning"></i>
                    <span class="warning"><%= data.text.favorites.filterNotFound %></span>
                </h3>
            </div>
        </div>
    <% } %>
</div>
<div id="pagingHolder"></div>
