<div class="rp-form-group col-sm-12">
    <label class="col-md-2 col-sm-2 col-xs-2 control-label rp-control-label rp-custom-col">
        <%= data.text.favorites.name %>
    </label>
    <div class="col-md-10 col-sm-10 col-xs-10 rp-custom-col">
        <input type="text"
            placeholder="<%= data.text.favorites.fName %>"
            id="filterName"
            data-id="<%= data.id %>"
            data-original="<%= data.name %>"
            value="<%= data.name %>"
            class="form-control">
        <span class="help-inline"></span>
    </div>
</div>