
<div id="filter-page" class="container-fluid rp-margin-reset rp-odd-even rp-table-hover">
    <div class="row">
        <div class="filter-header">
            <div class="col-md-4 col-xs-7">
                <div class="input-filter form-group">
                    <input type="text" class="rp-input-search favorites-name-filter rp-input-sm form-control" data-js-filter-name name="userFilter" placeholder="Search by Name" value="">
                    <i class="material-icons">search</i>
                    <div class="validate-hint"></div>
                </div>
            </div>
            <div class="col-md-5 search-description">
                <%- data.text.favorites.msgFavoriteFilters %>
            </div>
            <div class="col-md-3 col-xs-5">
                <button type="button" class="rp-btn rp-btn-default rp-button-with-icon not-small float-right" data-js-add-filter>
                    <i class="rp-icons rp-icons-add-filter"></i>
                    <span class="rp-btn-val"><%- data.text.favorites.addFilter %></span>
                </button>
            </div>
        </div>
    </div>
    <div class="rp-table-grid favorites-grid">
        <div class="row rp-grid-thead fixed_table_header visible-md visible-lg visible-xl">
            <div class="grid-cell name-grid-cell rp-grid-th">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fName %></span>
                </div></div>
            </div>
            <div class="grid-cell option-grid-cell rp-grid-th">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fOptions %></span>
                </div></div>
            </div>
            <div class="grid-cell owner-grid-cell rp-grid-th">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fOwner %></span>
                </div></div>
            </div>
            <div class="grid-cell icons-grid-cell rp-grid-th text-center">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fShared %></span>
                </div></div>
            </div>
            <div class="grid-cell display-launch-grid-cell rp-grid-th text-center">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fDisplayOnLaunches %></span>
                </div></div>
            </div>
            <div class="grid-cell icons-grid-cell rp-grid-th text-center">
                <div class="table-wrapper"><div class="middle-wrapper">
                    <span class="rp-grid-th-name"><%- data.text.favorites.fDelete %></span>
                </div></div>
            </div>
        </div>
        <div data-js-filter-list></div>
    </div>

    <div class="no-filters-exist" data-js-empty-block>
        <div class="no-filter-img"></div>
        <h3>There Are No Filters</h3>
        <p>You can create your first filter on the <a href="#" class="rp-link" data-js-link-launch>Launch Page</a></p>
        <p>or</p>
        <button type="button" class="rp-btn rp-btn-default rp-button-with-icon not-small" data-js-add-filter>
            <i class="rp-icons rp-icons-add-filter"></i>
            <span class="rp-btn-val"><%- data.text.favorites.addFilter %></span>
        </button>
    </div>
    <div class="no-filters-found" data-js-not-found>
        <h3><i class="rp-icons rp-iconswarning"></i>No filters found for '<span data-js-search-value></span>'</h3>
        <p>Check your query and try again</p>
    </div>
    <div class="preloader">
        <i class="material-icons loader-animation">refresh</i>
    </div>

    <div data-js-filter-paginate></div>
</div>
