<ul class="nav rp-icons-style">
    <%
        var usedClass = (data.userPrefs.indexOf(data.filter.id) === -1)
            ? ''
            : 'active';
        var forTabs = (usedClass)
            ? data.text.favorites.removeFromTabs
            : data.text.favorites.addToTabs;
    %>
    <li class="col-xs-3 <%= usedClass %>">
        <a href="#"
            title="<%= forTabs %>"
            class="action-link mark-as-favorite"
            data-id="<%= data.filter.id %>">
            <i class="material-icons <%= (!usedClass) ? "show" : "hide" %>">star_border</i>
            <i class="material-icons <%= (usedClass) ? "show" : "hide" %>">grade</i>
        </a>
    </li>
    <% if(data.isOwner) { %>
        <li class="col-xs-3">
            <a href="#"
                class="action-link edit-filter"
                title="<%= data.text.ui.edit %>"
                data-action="edit"
                data-target="<%= data.filter.id %>">
                <i class="material-icons">create</i>
            </a>
        </li>
        <%
            var sharedClass = data.filter.isShared ? "active" : "";
            var rotatedClass = data.filter.isShared ? "rotate-180" : "";
            var titleText = data.filter.isShared
                ? data.text.favorites.unShareFilter
                : data.text.favorites.shareFilter;
        %>
        <li class="col-xs-3 <%= sharedClass %>">
            <a href="#"
                title="<%= titleText %>"
                data-target="<%= data.filter.id %>"
                data-action="share"
                class="action-link mark-as-shared">
                <i class="material-icons <%= rotatedClass %>">share</i>
            </a>
        </li>
        <li class="col-xs-3">
            <a href="#"
                title="<%= data.text.ui.del %>"
                class="action-link"
                data-action="delete"
                data-target="<%= data.filter.id %>">
                <i class="material-icons">delete_forever</i>
            </a>
        </li>
    <% } %>
</ul>
