.grid-row-wrapper {
  display: table-row-group;
  border-bottom: 1px solid $COLOR--gray-91;
  background-color: $COLOR--white-two;
  transition: background-color 0.2s ease 0s;

  &.selected {
    background-color: $COLOR--gray-91;

    .accordion-block {
      background-color: $COLOR--gray-91;
      box-shadow: 0 -15px 20px 0px $COLOR--gray-91;

      &.expanded {
        box-shadow: none;
      }
    }
  }

  &:hover {
    background-color: $COLOR--tealish-hover;

    .accordion-block {
      background-color: $COLOR--tealish-hover;
      box-shadow: 0 -15px 20px 0px $COLOR--tealish-hover;

      &.expanded {
        box-shadow: none;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $COLOR--gray-91;
  }
}
.grid-row {
  position: relative;
  display: table-row;
  @media (max-width: $SCREEN_SM_MAX) {
    display: flex;
    flex-wrap: wrap;
  }
  &.change-mobile {
    @media (max-width: $SCREEN_SM_MAX) {
      display: table-row;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.accordion-wrapper {
  position: absolute;
  right: 0;
  left: 0;
}
.accordion-block {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: $COLOR--white-two;
  box-shadow: 0 -15px 20px 0px $COLOR--white-two;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;

  &.expanded {
    box-shadow: none;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    bottom: 120px;
  }
}
.accordion-toggler {
  width: 130px;
  height: 7px;
  margin: 0 auto;
  background-image: url(common/img/accordion-toggle.svg);
  cursor: pointer;

  @media (max-width: $SCREEN_SM_MAX) {
    display: none;
  }

  &:hover {
    background-image: url(common/img/accordion-toggle-hover.svg);
  }

  &.rotated {
    transform: rotate(180deg);
  }
}
.accordion-wrapper-mobile {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;

  @media (max-width: $SCREEN_SM_MAX) {
    display: block;
  }
}
.accordion-toggler-mobile {
  width: 20px;
  height: 20px;
  background-image: url(common/img/accordion-toggle-mobile.svg);
  position: absolute;
  top: 20px;
  right: 10px;
  transition: transform 500ms ease;

  &.rotated {
    transform: scaleY(-1);
  }
}

.log {
  .accordion-block {
    @media (max-width: $SCREEN_SM_MAX) {
      bottom: 0;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      bottom: 64px;
    }
  }

  .accordion-toggler {
    @media (max-width: $SCREEN_SM_MAX) {
      display: block;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }

  .accordion-wrapper-mobile {
    @media (max-width: $SCREEN_SM_MAX) {
      display: none;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      display: block;
    }
  }
}

.error-row {
  background-color: $COLOR--light-red;

  .accordion-block {
    background-color: $COLOR--light-red;
    box-shadow: 0 -15px 20px 0px $COLOR--light-red;
    &.expanded {
      box-shadow: none;
    }
  }

  &:hover {
    background-color: $COLOR--light-red;
    .accordion-block {
      background-color: $COLOR--light-red;
      box-shadow: 0 -15px 20px 0px $COLOR--light-red;
      &.expanded {
        box-shadow: none;
      }
    }
  }
}

.row-console {
  background: none;

  &::after {
    display: none;
  }

  .accordion-block {
    display: none;
  }
  .accordion-toggler {
    display: none;
  }
  .accordion-toggler-mobile {
    display: none;
  }
  .accordion-wrapper-mobile {
    display: none;
  }

  &:hover {
    background: none;
  }
}

.highlight-block-wrapper {
  .highlight-block {
    position: absolute;
    right: 0;
    left: 0;

    &:before {
      content: '';
      display: block;
    }
  }
}

.highlight {
  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $COLOR--go-to-stack-trace;
    opacity: 0.6;
    transition: opacity 3s ease;
    @media (max-width: $SCREEN_SM_MAX) {
      bottom: 18px;
    }
    @media (max-width: $SCREEN_XS_MAX) {
      bottom: 70px;
    }
  }
}

.hide-highlight {
  &:before {
    opacity: 0;
  }
}
