.container {
    display: flex;
    width: 100%;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px $COLOR--gray-80 solid;
    background-color: $COLOR--white;
}

.passed {
    background-color: $COLOR--passed;
}

.failed {
    background-color: $COLOR--failed;
}

.skipped {
    background-color: $COLOR--skipped;
}
