
/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.preview-widget-view {
  background-color: $COLOR--white-default;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  .panel-body {
    padding: 0;
    .statistics-panel {
      padding: 0;
      .statictic-block {
        min-height: 20px;
        h2 {
          margin-top: 5px;
          line-height: 20px;
        }
        p {
          display: none;
        }
      }

    }
    .nv-axislabel {
      font-size: 11px;
    }
    .nv-multiBarWithLegend {
      .nv-y.nv-axis {
        .tick {
          text {
            font-size: 8px;
          }
        }
      }
    }
  }

}
