/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.modal-add-widget-filter-search-item {
  color: $COLOR--charcoal-grey;
  border-bottom: 1px solid $COLOR--gray-91;
  padding: 10px 10px 3px 10px;
  input:checked + span .filter-name {
    font-family: "OpenSansSemibold", sans-serif;
  }
  .filter-name {
    display: inline-block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
  }
  .filter-options {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    span {
      display: inline !important;
    }
    i {
      opacity: 0;
    }
  }
  i {
    color: $COLOR--gray-60;
    font-size: 17px;
    vertical-align: top;
    margin: -1px 2px 0 2px;
  }
  &:hover {
    .filter-options i {
      opacity: 1;
    }
  }
}