.radio-group-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: -20px;
}

.radio-group-inline .radio-group-item {
  margin-left: 20px;
}
