.launches-duration-chart {
  :global {
    svg {
      .c3-axis {
        font-family: $FONT-REGULAR, sans-serif;
        fill: $COLOR--charcoal-grey;
        .c3-axis-y-label {
          font-size: 12px;
        }
      }
    }

    .c3-grid line {
      stroke: $COLOR--gray-80;
    }
    .c3-xgrid,
    .c3-ygrid {
      stroke-dasharray: none;
    }

    .c3-tooltip-container {
      max-width: 215px;
      background-color: $COLOR--white-two;
      padding: 5px 10px;
      border: 1px solid $COLOR--gray-80;
      border-radius: 2px;
      font-size: 13px;
      white-space: nowrap;
      font-family: $FONT-REGULAR, sans-serif;

      .launch-name {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: $FONT-SEMIBOLD, sans-serif;
      }

      .launch-duration {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      :after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-top: 6px solid $COLOR--white-two;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }

      :before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -7px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $COLOR--gray-80;
      }
    }
  }
}
