@import '../../autoAnalysisTab';

.accuracy-form-input-wrapper {
  min-width: 100px;
  width: 100px;
  height: 30px;
  position: relative;
}

.drop-down-block {
  position: relative;
  display: inline-block;
  min-width: 100px;
  width: 100px;
  height: 30px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 13px;
  color: $COLOR--charcoal-grey;
}

.submit-button-container {
  justify-content: center;
  align-items: center;
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.submit-button-wrapper {
  height: 30px;
  margin-right: 65px;
}

.submit-button-text {
  position: relative;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  margin: 0;
}

.percent-icon {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 25px;
  font-style: italic;
  font-size: 13px;
  @media (max-width: $SCREEN_XS_MAX) {
    right: 10px;
  }
}

.mobile-input-disabled {
  @media (max-width: $SCREEN_XS_MAX) {
    background-color: $COLOR--gray-91;
  }
}
