.input-checkbox {
  display: flex;
  position: relative;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    .square {
      border-color: $COLOR--charcoal-grey;

      &.checked {
        border-color: $COLOR--topaz;
      }
      &.disabled {
        border-color: $COLOR--gray-91;
      }
    }
  }
}
.input {
  display: none;
}
.children-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 23px;
  margin: auto 0;
  overflow: hidden;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 20px;
  color: $COLOR--charcoal-grey;
  text-overflow: ellipsis;
  cursor: pointer;

  &.disabled {
    color: $COLOR--gray-60;
    cursor: default;
  }
}
