<ul class="dropdown-menu filter-manager">
    <li class="action"><span class="edit-tab menu-option <%= data.edit ? '' : 'disabled' %>"><%= data.text.ui.edit %></span></li>
    <li class="action"><span class="save-tab menu-option <%= data.save ? '' : 'disabled' %>"><%= data.text.ui.save %></span></li>
    <li class="action"><span class="save-all-tab menu-option <%= data.saveAll ? '' : 'disabled' %>"><%= data.text.ui.saveAll %></span></li>
    <li class="action"><span class="clone-tab menu-option <%= data.clone ? '' : 'disabled' %>"><%= data.text.ui.clone %></span></li>
    <li class="action"><span class="discard-tab menu-option <%= data.discard ? '' : 'disabled' %>"><%= data.text.ui.discard %></span></li>
    <li class="divider"></li>
    <li class="action"><span class="close-tab menu-option <%= data.close ? '' : 'disabled' %>"><%= data.text.ui.close %></span></li>
</ul>