.form-row {
  display: flex;
  position: relative;
  height: 30px;
  width: 100%;
  padding: 0 45px;
  box-sizing: border-box;
  margin: 10px 0;
  justify-content: flex-start;

  input {
    border: 1px solid $COLOR--gray-80;
  }
}

.add-dashboard-form {
  width: 415px;
}

.form-field {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.form-label {
  width: 25%;
  text-align: right;
  padding-right: 15px;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  color: $COLOR--charcoal-grey;
}

.input-wrap {
  position: relative;

  textarea {
    border: 1px solid $COLOR--gray-80;
    height: 60px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}

.share-switcher-wrapper > div > label {
  width: 100px;
}
