.legend {
  clear: both;
  display: inline-block;
  float: right;
  width: 30%;
  text-align: right;
}

.color-mark {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 6px;
  position: relative;
  top: 2px;

  &:before {
    position: absolute;
    display: none;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $COLOR--white-two;
    content: '';
  }
}

.unchecked {
  .color-mark:before {
    display: block;
  }
}

.item-name {
  font-size: 10px;
  letter-spacing: 0.2px;
}

.legend-item {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.top-block {
  position: absolute;
  padding: 20px 20px 0;
  overflow: hidden;
  top: 0;
  width: calc(100% - 40px);
  height: 85px;
  .info-data {
    width: 70%;
    clear: both;
    text-align: left;
    margin-bottom: 10px;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 12px;
    color: $COLOR--gray-47;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    span {
      font-size: 13px;
      color: $COLOR--charcoal-grey;
    }
  }
}
