.wizard-info-section {
  display: inline-block;
  width: 320px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  background-color: $COLOR--white;
}

.steps-block {
  box-sizing: border-box;
  border-bottom: 1px solid $COLOR--gray-91;
}

.confirmation-warning-block {
  position: absolute;
  bottom: 10px;
  padding-right: 20px;
}

.warning-icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  svg {
    fill: $COLOR--failed;
  }
}
.warning-message {
  display: inline-block;
  padding-left: 25px;
  color: $COLOR--failed;
  font-size: 10px;
  font-family: $FONT-REGULAR;
  line-height: 1.4;
}
