.filter-edit {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding-bottom: 70px;
}

.filter-edit-title {
  width: calc(100% - 20px);
  margin: 1px 0 0;
  padding: 18px 10px;
  height: 14px;
  color: $COLOR--gray-47;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
  background: $COLOR--white;
}

.filter-edit-header {
  padding: 10px;
}

.filter-edit-block {
  padding: 10px;
}

.filter-edit-sort {
  width: 100%;
  margin: 10px 0 0;
}

.filter-edit-sort-text {
  font-size: 14px;
}

.filter-edit-buttons-block {
  position: absolute;
  bottom: 0;
  right: 0;
}
.filter-edit-button {
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  vertical-align: top;

  button {
    font-size: 13px;
  }
}
