.widget {
  height: calc(100% - 60px);
  position: relative;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.widget-container {
  height: 100%;
  border: 1px solid $COLOR--gray-91;
}

.widget-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid $COLOR--gray-91;
  box-sizing: border-box;
  background-color: $COLOR--white;

  &.modifiable {
    cursor: all-scroll;
  }
}
