.common-control {
  display: none;
}

.widget-container {
  position: relative;
  height: 100%;
  border: 1px solid $COLOR--gray-91;

  &.disabled {
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &:hover {
    .common-control {
      display: block;
    }
  }
}

.widget-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid $COLOR--gray-91;
  box-sizing: border-box;
  background-color: $COLOR--white;

  &.modifiable {
    cursor: all-scroll;
  }
}

.widget {
  height: calc(100% - 60px);
  position: relative;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
}
