.widget {
  height: calc(100% - 60px);
  position: relative;
}

.widget-container {
  height: 100%;
  border: 1px solid $COLOR--gray-91;
}

.widget-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid $COLOR--gray-91;
  box-sizing: border-box;
  background-color: $COLOR--white;

  &.modifiable {
    cursor: all-scroll;
  }
}
