.status-page-content {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: $SCREEN_SM_MAX) {
    flex-direction: column;
  }
}

.status-items-block {
  display: flex;
  flex-wrap: wrap;
  width: 75%;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
  }
}

.status-item-wrapper {
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 20px;
  flex: 1 9 28%;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 5px;
    flex: none;
  }
}

.activity-block {
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    padding: 0 5px;
  }
}
