<div class="pagingtoolbar text-center row">
    <% if (data.showControls) { %>
    <ul class="clearfix pagination pagination-sm">
        <li class="<% if(!data.hasPrevious) { %>disabled<% } %>"><a class="first" href="#">«</a></li>
        <li class="<% if(!data.hasPrevious) { %>disabled<% } %>"><a class="previous" href="#"><%= data.text.ui.previous %></a></li>
        <% _.each(data.pages, function(page, index, all){ %>
        <li class="<% if(data.active === page)  { %>active<% } %>"><a class="page" href="#"><%= page %></a></li>
        <% }); %>
        <li class="<% if(!data.hasNext) { %>disabled<% } %>"><a class="next" href="#"><%= data.text.ui.next %></a></li>
        <li class="<% if(!data.hasNext) { %>disabled<% } %>"><a class="last" href="#">»</a></li>
    </ul>
    <% } %>
    <span class="text-muted">
        <p class="pull-right text-right col-md-2 form-inline">
            <input type="text"  class="input-sm form-control" id="pageSize" maxlength="3" style="display: none; width: 45px">
            <a class="itemsPerPage rp-blue-link-undrl" href="#"><%= data.objectsOnPage %></a> per page</p>
        <p class="text-left col-md-2">
            <%= data.from %> - <% if(data.to < data.totalElements) { %><%= data.to %><% } else { %><%= data.totalElements %><% } %> of <%= data.totalElements %>
        </p>
    </span>
</div>