<div class="pagination-component row">
    <% if (data.showControls) { %>
    <ul class="clearfix">
        <li class="first <% if(!data.hasPrevious) { %>disabled<% } %>"> « </li>
        <li class="previous <% if(!data.hasPrevious) { %>disabled<% } %>"> < </li>
        <% if(data.pages[0] != 1) {%>
        <li class="more">...</li>
        <% } %>
        <% _.each(data.pages, function(page, index, all){ %>
        <li class="<% if(data.active === page)  { %>active<% } else { %> page <% } %>"><%= page %></li>
        <% }); %>
        <% if(data.pages[data.pages.length-1]*data.objectsOnPage < data.totalElements) {%>
        <li class="more">...</li>
        <% } %>
        <li class="next <% if(!data.hasNext) { %>disabled<% } %>"> > </li>
        <li class="last <% if(!data.hasNext) { %>disabled<% } %>"> » </li>
    </ul>
    <% } %>
    <div class="left-block">
        <%= data.from %> - <% if(data.to < data.totalElements) { %><%= data.to %><% } else { %><%= data.totalElements %><% } %> of <%= data.totalElements %>
    </div>
    <div class="right-block">
        <input type="text" maxlength="3" data-js-per-page-input>
        <span class="per-page" data-js-per-page><%= data.objectsOnPage %></span>
        <span> per page</span>
    </div>
</div>