<div class="all_launches table-responsive">
    <table class="table table-hover table-striped" width="100%">
        <tbody>
        <tr>
            <% _.each(data.headers, function(header, index, all){ %>
            <th class="<%= header.spanclass %> <% if(header.sortable)  { %> sortable<% } %>">
                    <span>
                        <%= header.text %>
                        <% if(header.direction === "ASC")  { %>
                            <span class="dropup"><span class="caret"/></span>
                        <% } %>
                        <% if(header.direction === "DESC")  { %>
                            <span class="dropdown"><span class="caret"/></span>
                        <% } %>
                    </span>
            </th>
            <% }); %>
        </tr>
        <% _.each(data.rows, function(row, index, all){ %>
        <tr data-item-id="<%= row.itemId %>" class="<%= row.rowClass %>"><%= row.rowBody %></tr>
        <% }); %>
        </tbody>
    </table>
</div>