<% if (!data.minPaging) { %>
<div class="pagination-component row">
    <% if (data.showControls) { %>
    <ul class="clearfix">
        <li class="first <% if(!data.hasPrevious) { %>disabled<% } %>"><i class="rp-icons rp-icons-left"></i> </li>
        <li class="previous <% if(!data.hasPrevious) { %>disabled<% } %>"><i class="material-icons">keyboard_arrow_left</i></li>
        <% if(data.pages[0] != 1) {%>
        <li class="more">...</li>
        <% } %>
        <% _.each(data.pages, function(page, index, all){ %>
        <li class="<% if(data.active === page)  { %>active<% } else { %> page <% } %>"><%= page %></li>
        <% }); %>
        <% if(data.pages[data.pages.length-1]*data.objectsOnPage < data.totalElements) {%>
        <li class="more">...</li>
        <% } %>
        <li class="next <% if(!data.hasNext) { %>disabled<% } %>"><i class="material-icons">keyboard_arrow_right</i></li>
        <li class="last <% if(!data.hasNext) { %>disabled<% } %>"><i class="rp-icons rp-icons-right"></i></li>
    </ul>
    <% } %>
    <div class="left-block">
        <%= data.from %> - <% if(data.to < data.totalElements) { %><%= data.to %><% } else { %><%= data.totalElements %><% } %> of <%= data.totalElements %>
    </div>
    <div class="right-block">
        <input type="text" maxlength="3" data-js-per-page-input>
        <span class="per-page" data-js-per-page><%= data.objectsOnPage %></span>
        <span> per page</span>
    </div>

</div>
<% } else { %>
<div class="pagination-min-component">
    <ul class="min-paging">
        <li class="previous <% if(!data.hasPrevious) { %>disabled<% } %>"><i class="material-icons">keyboard_arrow_left</i></li>
        <span class="min-paging-text"><span><%= data.active %></span>of<span><%= data.totalPages %></span></span>
        <li class="next <% if(!data.hasNext) { %>disabled<% } %>"><i class="material-icons">keyboard_arrow_right</i></li>
    </ul>
</div>
<% } %>