.launch-filters-toolbar {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.filter-tickets-row {
  padding-bottom: 10px;
  padding-right: 100px;
}

.filter-tickets-container {
  display: inline;
}

.all-latest-switcher {
  display: inline-block;
  width: 185px;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 78px;
  }
}

.separator {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 1px;
  background-color: $COLOR--gray-91;
  margin: 0 15px;
}

.expand-toggle-container {
  position: absolute;
  top: 50px;
  right: 20px;
}

.filter-controls-container {
  background-color: $COLOR--white-four;
  border: 1px solid $COLOR--gray-91;
  padding-top: 10px;
}

.filter-entities-container {
  padding-left: 15px;
  padding-right: 15px;
}

.add-filter-button {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}
