<div class="borderWidget smallOverflow row">
    <% var index = 1; %>
    <% _.forEach(data.widgetTypes, function(type, key) { %>
        <% if(!type.notShowOnWizard){ %>
            <div id="<%= key %>"
                class="widget_type col-sm-6 col-xs-12 <%= data.isCustomer && key === 'activity_stream' ? 'disabled' : '' %>">
                <div class="widget_type_wrapper">
                    <i class="material-icons radio_button_unchecked">radio_button_unchecked</i>
                    <i class="material-icons check_circle">check_circle</i>
                    <div class="col-xs-4 nopadding">
                        <img alt="<%= type.gadget_name %>"
                            src="img/popup/<%= type.img %>"
                            class="img-responsive" />
                    </div>
                    <div class="col-xs-8">
                        <h5><%= type.gadget_name %></h5>
                        <p><%= type.description %></p>
                    </div>
                </div>
            </div>
            <% if (index%2===0) { %>
                <div class="clearfix"></div>
            <% } %>
            <% index += 1; %>
        <% } %>
    <% }); %>
</div>
