<% if (!_.isEmpty(data.collection)) { %>
    <% _.forEach(data.collection, function(widgets, owner) { %>
        <h4 class='shared_widget_owner'><%- owner.replace('_', " ") %></h4>
        <div class="row">
            <% _.forEach(widgets, function(widget) { %>
                <%
                    var gadget = widget.content_parameters.gadget;
                    var disabled = data.validateAddSharedWidget(data.dash, widget.id) || (data.isCustomer && gadget === 'activity_stream');
                    var disabledMessage = (data.isCustomer && gadget === 'activity_stream')
                        ? data.text.wizard.sharedWidgetCantBeAdded
                        : data.text.wizard.sharedWidgetAdded;
                %>
                <div class="col-sm-6 col-xs-12 shared_widget_block <%= (disabled) ? 'disabled' : '' %>"
                    id="<%= widget.id %>"
                    title="<%= (disabled) ? disabledMessage : '' %>"
                    data-gadget="<%= gadget %>">
                    <div class="widget_shared_wrapper">
                        <i class="material-icons radio_button_unchecked">radio_button_unchecked</i>
                        <i class="material-icons check_circle">check_circle</i>
                        <div class="col-xs-4 nopadding">
                            <img class="img-responsive"
                                src="img/popup/<%= data.widgetsConfig.widgetTypes[gadget].img %>" />
                        </div>
                        <div class="col-xs-8 widget_name">
                            <h5><%- widget.name %></h5>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% }); %>
<% } else { %>
    <div class="alert alert-info"><%= data.text.wizard.noSharedWidgets %></div>
<% } %>
