<div class="col-sm-4 col-xs-12">
    <label class="name-label" for="<%= data.type %>Selector">
        <%= data.text.wizard[data.type + "Title"] %>:
    </label>
    <div class="criteria-holder-dropdown">
        <div class="rp-btn-group">
            <button id="<%= data.type %>Selector"
                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle custom-selector"
                data-toggle="dropdown">
                <i class="material-icons mi-add">add</i>
                <%= data.text.wizard[data.type + "SelectTitle"] %>
                <span class="rp-caret"></span>
            </button>
            <ul class="dropdown-menu" id="<%= data.type %>Options">
                <% if (!data.selectType) { %>
                    <li>
                        <a href="#" class="check-all <%= data.checkAll ? 'checked' : '' %>">
                            <strong><%= data.text.ui.selectAll %></strong>
                        </a>
                    </li>
                <% } %>
                <% var type = data.selectType || 'checkbox'; %>
                <% _.forEach(data.criteria, function(val, key) { %>
                    <li>
                        <label class="<%= type %> rp-<%= type %>-wrap">
                            <%
                                var name = _.isArray(data.criteria)
                                    ? val.name
                                    : _.isObject(val)
                                        ? val.text
                                        : val;
                                var value = _.isArray(data.criteria)
                                    ? val.keys.join(',')
                                    : key;
                            %>
                            <input class="selectable rp-input-<%= type %>"
                                name="criteria_<%= type %>"
                                type="<%= type %>"
                                value="<%= value %>"
                                <%= data.isChecked(data, value) ? 'checked="checked"' : '' %> />
                            <span class="radio-label">
                                <%= name %>
                            </span>
                        </label>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
