<% var criteriaClass = data.shared ? "col-md-5" : "col-md-8"; %>
<div class="container-fluid rp-margin-reset rp-table-hover">
    <div class="row rp-table-thead">
        <div class="col-md-4 visible-md visible-lg visible-xs visible-sm">
            <% var idSufix = data.shared ? 'Shared' : ''; %>
            <div class="input-filter message-filter-wrapper form-group">
                <input type="text"
                    class="rp-input-search"
                    id="nameFilter<%= idSufix %>"
                    name="nameFilter"
                    placeholder="<%= data.text.favorites.fName %>"
                    value="<%- data.nameFilterValue || '' %>" />
                <i class="material-icons">search</i>
                <span class="help-inline"><%= data.text.validation.filterNameMax %></span>
            </div>
        </div>
        <div class="<%= criteriaClass %> visible-md visible-lg">
            <div class="rp-table-th"><%= data.text.favorites.fOptions %></div>
        </div>
        <% if (data.shared) { %>
            <div class="col-md-3"><div class="rp-table-th"><%= data.text.favorites.fOwner %></div></div>
        <% } %>
    </div>
    <% if (data.collection.length) { %>
        <% _.each(data.collection, function(filter) { %>
            <div id="<%= filter.id %>"
                class="row rp-table-row filter-row <%= data.shared ? 'shared' : '' %> <%= data.model.filter_id === filter.id ? 'active' : '' %>">
                <div class="col-md-4 clearfix">
                    <i class="material-icons radio_button_unchecked">radio_button_unchecked</i>
                    <i class="material-icons check_circle">check_circle</i>
                    <span class="filter-name">
                        <%- filter.name %>
                    </span>
                </div>
                <div class="<%= criteriaClass %> clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.favorites.fOptions %></h5>
                    </div>
                    <div class="col-xs-6 col-md-12">
                        <div class="rp-info">
                            <div class="filter-adv">
                                <small class="text-muted">
                                    <% var filterOptions = data.getFilterOptions(filter.entities, data.text.comparators); %>
                                    <% if (filterOptions) {%>
                                        (<%= filterOptions %>)
                                    <% } %>
                                    <% var sortKey = filter.selection_parameters &&  data.getLastKey(filter.selection_parameters.sorting_column); %>
                                    <% if (sortKey) { %>
                                        <%= data.text.favorites.sortedBy %><%= data.text.launchesHeaders[sortKey] %>
                                    <% } %>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <% if(data.shared) { %>
                    <div class="col-md-3 clearfix">
                        <div class="col-xs-5 visible-xs visible-sm">
                            <h5><%= data.text.favorites.fOwner %></h5>
                        </div>
                        <div class="col-xs-7 col-md-12">
                            <div class="rp-info info-break"><%- filter.owner %></div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% }); %>
    <% } else { %>
        <div class="row">
            <div class="col-md-12">
                <span class="rp-table-title info-message">
                    <% var absentMessage = data.shared ? "sharedFiltersAbsent" : "ownFiltersAbsent"; %>
                    <h3 class="title-no-data text-center">
                        <i class="rp-icons rp-icons-warning"></i>
                        <span class="warning"><%= data.text.wizard[absentMessage] %></span>
                    </h3>
                </span>
            </div>
        </div>
    <% } %>
</div>
