<div class="dashboard-selector-wrapper clearfix">
    <% if(data.collection.length) { %>
        <% _.forEach(data.collection, function(dashboard, index) { %>
            <div class="col-sm-3 margin-bottom-5">
                <!--remove this validation when move widget to other dash will be implemented-->
                <% if(data.inEdit){ %>
                <a href="#"
                    class="dashboard-selector dashboard-project-link clearfix disabled"
                    title="<%= dashboard.name %>">
                    <span class="dashboard-project-name"><%- dashboard.name %></span>
                    <% if(dashboard.isShared) { %>
                        <i class="material-icons mi-share">reply</i>
                    <% } %>
                </a>
                <% } else { %>
                <% var cls = data.validateForMaxWidgts(dashboard) ? 'class="dashboard-selector dashboard-project-link clearfix disabled" title="'+ data.text.dashboard.maxWidgetsAdded +'" ' : 'class="dashboard-selector dashboard-project-link clearfix ' + (data.model.dashboard_id === dashboard.id ? 'active' : '') +'"' %>
                <a href="#" <%= cls %> id="<%= dashboard.id %>">
                    <span class="dashboard-project-name"><%- dashboard.name %></span>
                    <% if(dashboard.isShared) { %>
                        <i class="material-icons mi-share">reply</i>
                    <% } %>
                </a>
                <% } %>
            </div>
            <% if(++index % 4 === 0 ) { %>
                <div class="clearfix"></div>
            <% } %>
        <% }); %>
    <% } else { %>
        <div class="alert alert-info"><%= data.text.wizard.noOwnDashboards %></div>
    <% } %>
</div>