.log-toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $COLOR--gray-91;
  justify-content: space-between;
  padding: 10px 15px;
}

.action-buttons {
  display: flex;
}

.action-button {
  padding-left: 10px;
}

.left-arrow-button {
  display: inline-block;
  margin-right: -1px;
}
