.analysis-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  @media (min-width: $SCREEN_MD_MAX) {
    margin: 0 auto;
  }
}

.accuracy-form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  @media (max-width: $SCREEN_XS_MAX) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
  }
}

.tabs-container-label {
  display: block;
  min-width: 210px;
  padding: 0 15px 0 0;
  vertical-align: middle;
  text-align: right;
  font-size: 13px;
  line-height: 13px;
  box-sizing: border-box;
  color: $COLOR--charcoal-grey;
  @media (max-width: $SCREEN_SM_MAX) {
    width: 150px;
    min-width: 150px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 8px;
    text-align: left;
  }
}

.toggle-button-wrapper {
  height: 30px;
  max-width: 366px;
  padding: 0 15px;
  line-height: 30px;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
    margin-bottom: 8px;
    padding: 0;
  }
}
