.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  padding-top: 60px;
  box-sizing: border-box;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 60px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    width: 200px;
    left: -200px;
  }
}
.rp-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-right: 1px solid $COLOR--charcoal-grey;
  background-color: $COLOR--black-2;
  background-image: url(./img/rp_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 60%;
  cursor: pointer;

  @media (max-width: $SCREEN_XS_MAX) {
    background-image: none;
  }
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90px;
  right: 0;

  @media (max-width: $SCREEN_SM_MAX) {
    left: 60px;
  }

  @media (max-width: $SCREEN_XS_MAX) {
    left: 0;
  }
}
.header-container {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: $COLOR--black-2;

  @media (max-width: $SCREEN_XS_MAX) {
    height: 110px;
  }
}
.page-container {
  width: 100%;
}
