.cell {
  position: relative;
  display: table-cell;
  padding: 15px;
  vertical-align: top;
  color: $COLOR--charcoal-grey;
  font-size: 13px;

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 0;
    &:empty {
      display: none;
    }
  }
}

.name {
  line-height: 18px;
  font-size: 14px;
  font-family: $FONT-CONDBOLD;
  letter-spacing: 1px;
  color: $COLOR--topaz;
  cursor: pointer;
  text-decoration: none;
  width: 30%;
  word-break: break-all;
  @media (max-width: $SCREEN_SM_MAX) {
    padding-top: 15px;
  }
}

.description {
  width: 36%;
  line-height: 1.5;
  word-break: break-all;
}

.owner {
  width: 13%;
  word-break: break-all;
}

.shared {
  width: 8%;
}

.edit {
  width: 6.5%;
  i {
    display: block;
  }

  padding: 15px 0;
}

.delete {
  width: 6.5%;
  i {
    display: block;
  }
  padding: 15px 0;
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
  }
}

.icon-holder {
  border-left: 1px solid $COLOR--gray-91;
  min-height: 20px;
}

.dashboard-table {
  padding-bottom: 15px;
}

@media (max-width: $SCREEN_SM_MAX) {
  .name,
  .description,
  .owner,
  .shared,
  .edit {
    width: 100%;
  }
}

.with-button {
  i {
    cursor: pointer;
  }

  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
    height: auto;
    padding: 10px;
    display: none;
  }
}
