.plugins-wrapper {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.plugins-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 830px;
}

.plugins-content {
  width: 100%;
}

.plugins-content-title {
  color: $COLOR--black-2;
  font-size: 22px;
  font-family: $FONT-SEMIBOLD;
  text-align: center;
}
