.select2-search-users {
  :global {
    width: inherit;
    background-color: $COLOR--white-two;
    .error {
      .Select-input {
        input {
          border-color: $COLOR--orange-red;
        }
      }
      &:hover {
        .Select-input {
          input {
            border-color: $COLOR--orange-red;
          }
        }
      }
    }
    .Select {
      width: inherit;
      &:hover {
        input {
          border-color: $COLOR--gray-47;
        }
      }
    }
    .Select-control {
      position: relative;
    }
    .Select-menu-outer {
      position: absolute;
      z-index: 100;
      width: inherit;
    }
    .Select-multi-value-wrapper {
      position: relative;
    }
    .Select-placeholder {
      position: absolute;
      top: 3px;
      left: 10px;
      width: 94%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 13px;
      font-family: $FONT-REGULAR;
      color: $COLOR--gray-60;
      line-height: 15px;
    }
    .Select-value {
      position: absolute;
      left: 12px;
      z-index: 10;
      font-size: 13px;
      line-height: 30px;
    }
    .Select-noresults {
      position: absolute;
      bottom: -28px;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      font-size: 12px;
      line-height: 17px;
      font-family: $FONT-REGULAR, sans-serif;
      color: $COLOR--charcoal-grey;
      background: lighten($COLOR--gray-91, 5%);
    }
    .Select-clear-zone {
      position: absolute;
      right: 12px;
      line-height: 30px;
      font-size: 13px;
    }
    .Select-input {
      width: 100%;
      input {
        width: 100% !important;
        height: auto;
        min-height: 26px;
        padding: 5px 20px 5px 10px;
        margin: 0;
        border: 1px solid $COLOR--gray-80;
        border-radius: 0;
        outline: 0;
        font-size: 13px;
        box-sizing: border-box !important;
        line-height: 18px;
        font-family: $FONT-REGULAR, sans-serif;
      }
    }
    .is-focused {
      input {
        border: solid 1px $COLOR--topaz;
      }
      &:hover {
        input {
          border-color: $COLOR--topaz;
        }
      }
    }
  }
}
