.select2-search-users {
  :global {
    position: relative;
    height: 28px;
    width: inherit;
    background-color: $COLOR--white-two;
    .error {
      &.Select {
        border-color: $COLOR--orange-red;
        .Select-control {
          box-shadow: 0 0 2px 0 rgba($COLOR--orange-red, 0.7);
        }
        &:hover {
          border-color: $COLOR--orange-red;
        }
      }
    }
    .Select {
      position: absolute;
      width: inherit;
      border: 1px solid $COLOR--gray-80;
      box-sizing: border-box;
      &:hover {
        border: 1px solid $COLOR--gray-47;
      }
    }
    .Select-control {
      position: relative;
      top: -1px;
      left: -1px;
      height: 26px;
      width: 100%;
      border: none;
      box-sizing: content-box;
      padding: 1px;
    }
    .Select-menu-outer {
      position: relative;
      top: -1px;
      width: inherit;
      z-index: 100;
    }
    .Select-multi-value-wrapper {
      position: relative;
    }
    .Select-placeholder {
      position: absolute;
      width: 94%;
      top: 3px;
      left: 10px;
      overflow: hidden;
      line-height: 15px;
      font-size: 13px;
      font-family: $FONT-REGULAR;
      color: $COLOR--gray-60;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .Select-value {
      position: absolute;
      left: 12px;
      line-height: 30px;
      font-size: 13px;
      width: calc(100% - 40px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: $Z-INDEX-POPUP;
    }
    .Select-noresults {
      position: relative;
      width: 100%;
      padding: 5px;
      line-height: 17px;
      box-sizing: border-box;
      font-size: 12px;
      font-family: $FONT-REGULAR, sans-serif;
      color: $COLOR--charcoal-grey;
      background: lighten($COLOR--gray-91, 5%);
    }
    .Select-clear-zone {
      position: absolute;
      right: 12px;
      line-height: 30px;
      font-size: 13px;
    }
    .Select-input {
      width: 100%;
      input {
        width: 100% !important;
        height: auto;
        min-height: 26px;
        padding: 6px 20px 4px 10px;
        margin: 0;
        border: none;
        border-radius: 0;
        outline: 0;
        line-height: 18px;
        font-family: $FONT-REGULAR, sans-serif;
        font-size: 13px;
        box-sizing: border-box !important;
      }
    }
    .is-focused {
      border-color: $COLOR--topaz;
      z-index: $Z-INDEX-POPUP;
      &:hover {
        border-color: $COLOR--topaz;
      }
      .Select-control {
        box-shadow: 0 0 2px 0 rgba($COLOR--topaz, 0.7);
      }
    }
  }
}
