.container {
  display: flex;
  @media (max-width: $SCREEN_SM_MAX) {
    flex-direction: column;
  }
}
.column {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  @media (max-width: $SCREEN_SM_MAX) {
    width: 100%;
  }
}
