.filters-header {
  display: flex;
  width: calc(100% - 20px);
  height: 42px;
  padding: 10px;
  background: $COLOR--white;
  justify-content: space-between;
}

.filters-input {
  width: 100%;
  max-width: 286px;
  margin-right: 10px;

  input {
    background: transparent;
  }
}
