.auto-analysis-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  @media (min-width: $SCREEN_MD_MAX) {
    width: 1040px;
    max-width: 1040px;
    margin: 0 auto;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    padding: 0;
  }
}
