/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.main-breadcrumbs {
  padding-left: 15px;
  min-height: 30px;
  margin-bottom: 15px;
  li {
    display: inline-block;
    font-family: "OswaldRegular", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: $COLOR--black;
    text-transform: uppercase;
    margin-right: 5px;
    padding-right: 10px;
    position: relative;
    a {
      color: $COLOR--topaz;
      cursor: pointer;
    }
    span {
      display: none;
    }
    &:last-child {
      a{
        display: none;
      }
      span {
        display: inline;
      }
      &:after {
        display: none;
      }
    }
    &:after {
      content: '/';
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}