.tiny-switcher-component {
  height: 30px;

  .tiny-switcher {
    top: 10px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
    border-radius: 6px;
    
    input {
      display: none;

      &:checked + .tiny-switcher-slider {
        background-color: $COLOR--tealish;
        &:before {
          -webkit-transform: translateX(8px);
          -ms-transform: translateX(8px);
          transform: translateX(8px);
        }
      }
      &:focus + .tiny-switcher-slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
    .tiny-switcher-slider {
      position: absolute;
      display: block;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 6px;
      background-color: $COLOR--white;
      border: 1px solid $COLOR--gray-60;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: -1px;
        bottom: -1px;
        border-radius: 6px;
        background-color: $COLOR--white;
        border: 1px solid $COLOR--topaz;
        transition: .4s;
      }
    }
  }
  .tiny-switcher-label {
    font-family: $OpenSansRegular;
    font-size: 12px;
    color: $COLOR--charcoal-grey;
    line-height: 30px;

    &.right {
      float: right;
      margin-left: 10px;
    }
    &.left {
      float: left;
      margin-right: 10px;
    }
  }
}
