.status-page-item {
  min-height: 222px;
}

.item-title {
  padding: 7px 10px 10px;
  border-bottom: solid 1px $COLOR--gray-91;
  margin: 0;
  color: $COLOR--topaz;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
}
