.page-size {
  position: relative;

  @media(max-width: $SCREEN_SM_MAX) {
    display: none;
  }
}

.size-text {
  color: $COLOR--topaz;
  cursor: pointer;
}

.size-input {
  display: inline-block;
  border: 1px solid $COLOR--topaz;;
  text-align: right;
  padding-right: 5px;
  width: 40px;
  margin-top: -3px;
  height: 25px;
  vertical-align: top;
  color: $COLOR--topaz;
  position: absolute;
  left: -50px;
}
