.pencil-checkbox {
  display: flex;
  position: relative;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}

.hidden {
  display: none;
}

.icon {
  height: 20px;
  width: 20px;

  &.checked {
    .check {
      display: none;
    }
    .pencil {
      display: block;
    }
  }
}

.check {
  display: block;
}

.pencil {
  display: none;
}
