<div class="modal fade dialog-shell rp-modal-dialog"
    id="updateMyProfile"
    tabindex="-1"
    role="dialog"
    aria-labelledby="updateMyProfile"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 break-link">
                    <%= data.text.ui.warning %>!
                </h2>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panel-action">
                    <span class="close-pop-up" data-js-close data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            </div>
            <div class="modal-body clearfix" id="contentModal">
                <p><%= data.header %></p>
                <p><%= data.description %></p>
            </div>
            <div class="modal-footer ">
                <div class="pull-right" id="buttonsModal">
                    <% _.forEach(data.buttons, function(button){ %>
                        <button type="button"
                            class="rp-btn rp-btn-cancel"
                            data-js-<%= button.type%>>
                            <%= button.name %>
                        </button>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
