<div aria-hidden="true"
    aria-labelledby="ComponentsModalLable"
    id="ComponentsModal"
    role="dialog"
    tabindex="-1"
    class="modal fade dialog-shell rp-modal-dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 break-link">
                    <%= data.text.footer.components %>
                </h2>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panel-action">
                    <sapn class="close-pop-up" data-js-close data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            </div>
            <div class="modal-body" style="padding-top: 20px;">
                <div class="row rp-grid-thead">
                    <div class="col-md-4 col-xs-4 rp-custom-col rp-grid-th">
                        <span class="rp-grid-th-name col-md-12">Name</span>
                    </div>
                    <div class="col-md-4 col-xs-4 rp-custom-col rp-grid-th">
                        <span class="rp-grid-th-name col-md-12">Link</span>
                    </div>
                    <div class="col-md-4 col-xs-4 rp-custom-col rp-grid-th">
                        <span class="rp-grid-th-name col-md-12">License</span>
                    </div>
                </div>

                <% _.each(data.usedComponents, function(component){ %>
                    <div class="row rp-table-row">
                        <div class="col-md-4 col-xs-4 rp-custom-col">
                            <%= component.name %>
                        </div>
                        <div class="col-md-4 col-xs-4 rp-custom-col">
                            <a class="rp-link rp-display-block text-ellipsis"
                                href="<%= component.link %>"
                                target="_blank"><%= component.link %>
                            </a>
                        </div>
                        <div class="col-md-4 col-xs-4 rp-custom-col">
                            <%= component.license %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
