<div class="modal fade dialog-shell rp-modal-dialog" id="myCompareLaunches" tabindex="-1" role="dialog" aria-labelledby="myCompareLaunches" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 break-link">
                    <%= data.text.launches.compareLaunches %>
                </h2>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panel-action">
                    <sapn class="close-pop-up" data-js-close data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            </div>            <div class="modal-body compare-content" id="compareContent">
                <div class="submitticket-loader" style="block;">
                    <i class="material-icons loader-animation">refresh</i>
                </div>
            </div>            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button"
                        class="btn cancel btn-default"
                        data-dismiss="modal">
                        <%= data.text.ui.cancel %>
                    </button>                    <!--
                        <button type="button"
                            class="btn ok btn-success disabled">
                            <i class="material-icons">cloud_upload</i>
                            <%= data.text.ui.submit %>
                        </button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>