<div class="modal fade dialog-shell rp-modal-dialog"
    id="editLaunchModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editLaunchModal"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="col-lg-10 col-md-10 col-sm-10 col-xs-10 break-link">
                    <%= data.text.ui.warning %>!
                </h2>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panel-action">
                    <span class="close-pop-up" data-js-close data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </span>
                </div>
            </div>
            <div class="modal-body clearfix">
                <p><%= data.text.launches.finishWarning %> "<%- data.name %>"?</p>
                <label for="deleteConfirm">
                    <input type="checkbox"
                        name="deleteConfirm"
                        id="deleteConfirm"
                        class="rp-input-checkbox" />
                    <span><%= data.text.launches.finishAgree %></span>
                </label>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button data-dismiss="modal" class="rp-btn rp-btn-cancel" type="button">
                        <%= data.text.ui.no %>data-js-ok
                    </button>
                    <button class="rp-btn rp-btn-danger" disabled type="submit">
                        <%= data.text.ui.yes %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
