@mixin measure($font-size, $line-height, $color, $font-family) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-family: $font-family;
}

.global-integrations-section {
  padding: 24px 0px 0px 262px;
}

.global-integrations-header {
  @include measure(15px, 24px, $COLOR--almost-black, $FONT-ROBOTO-MEDIUM);
  margin-bottom: 4px;
}

.global-integrations-text {
  @include measure(11px, 16px, $COLOR--e-300, $FONT-ROBOTO-REGULAR);
}

.message-container {
  max-width: 820px;
  margin: 16px 24px;
}
