.shared-widgets-list-section {
  width: 420px;
}

.widgets-list-title {
  margin: 4px 0 22px;
  color: $COLOR--gray-47;
  font-size: 17px;
  font-family: $FONT-CONDBOLD;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
