.container {
  display: flex;
  padding: 10px 15px;

  @media (max-width: $SCREEN_XS_MAX) {
    flex-direction: column;
  }
}

.type-column {
  width: 11%;
  padding-left: 45px;
}

.type {
  color: $COLOR--gray-47;
  font-size: 13px;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.body-column {
  width: 45%;
}

.name {
  font-family: $FONT-SEMIBOLD;
  font-size: 14px;
  margin-bottom: 14px;
}

.attributes {
  margin-bottom: 14px;
}

.description {
}

.status-column {
  width: 9%;
}

.status {
  font-family: $FONT-SEMIBOLD;
  font-size: 14px;
  text-transform: uppercase;
}

.time-column {
  width: 11%;
}

.time {
  font-size: 13px;
}

.column {
  @media (max-width: $SCREEN_XS_MAX) {
    width: auto;
    margin-bottom: 12px;
  }
}
