.socials-block {
  width: 100%;
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 33px;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $SCREEN_SM_MAX) {
    margin-right: 60px;
  }

  &.gh-icon {
    background-image: url(./img/socialGh.svg);
    &:hover {
      background-image: url(./img/socialGh-hv.svg);
    }
    &:active {
      background-image: url(./img/socialGh-act.svg);
    }
  }
  &.fb-icon {
    background-image: url(./img/social-cuk.svg);
    &:hover {
      background-image: url(./img/social-cuk-hv.svg);
    }
    &:active {
      background-image: url(./img/social-cuk-act.svg);
    }
  }
  &.tw-icon {
    background-image: url(./img/socialTw.svg);
    &:hover {
      background-image: url(./img/socialTw-hv.svg);
    }
    &:active {
      background-image: url(./img/socialTw-act.svg);
    }
  }
  &.vk-icon {
    background-image: url(./img/socialVk.svg);
    &:hover {
      background-image: url(./img/socialVk-hv.svg);
    }
    &:active {
      background-image: url(./img/socialVk-act.svg);
    }
  }
  &.yt-icon {
    background-image: url(./img/socialYt.svg);
    &:hover {
      background-image: url(./img/socialYt-hv.svg);
    }
    &:active {
      background-image: url(./img/socialYt-act.svg);
    }
  }
  &.slk-icon {
    background-image: url(./img/socialSl.svg);
    &:hover {
      background-image: url(./img/socialSl-hv.svg);
    }
    &:active {
      background-image: url(./img/socialSl-act.svg);
    }
  }
  &.mail-icon {
    background-image: url(./img/socialMl.svg);
    &:hover {
      background-image: url(./img/socialMl-hv.svg);
    }
    &:active {
      background-image: url(./img/socialMl-act.svg);
    }
    margin-right: 0;
  }
}
