<div class="filter-dashboard">
    <div class="print">
        <p><%- data.text.dashboard.project %>: <span><%- data.projectName %></span></p>
        <p><%- data.text.dashboard.allDashboards %></p>
    </div>
    <div class="input-filter form-group">
        <input type="text" class="rp-input-search rp-input-sm form-control" data-js-filter-name placeholder="<%= data.text.ui.searchName %>" value="">
        <i class="material-icons">search</i>
        <div class="validate-hint"></div>
    </div>
</div>
<div class="change-dashboards-view">
    <ul class="rp-nav rp-nav-right dashboards-view-switcher" role="group">
        <li>
            <button class="dashboards-view dashboards-view-tile rp-btn rp-btn-default"
                    data-js-view-type="table" data-js-view-table>
                <i class="material-icons">view_module</i>
            </button>
        </li>
        <li>
            <button class="dashboards-view dashboards-view-table rp-btn rp-btn-default"
                    data-js-view-type="list" data-js-view-list>
                <i class="material-icons">view_list</i>
            </button>
        </li>
    </ul>
</div>
<div data-js-list-views></div>
