<h4><%= data.text.dashboard.myDashboards %></h4>
<div class="container-fluid">
    <div class="row">
        <div class="borderWidget my-dashboards-list">
            <div class="columnWidget">
                <ul>
                </ul>
            </div>
            <div class="columnWidget">
                <ul>
                </ul>
            </div>
            <div class="columnWidget">
                <ul>
                </ul>
            </div>
            <div class="columnWidget">
                <ul>
                </ul>
            </div>
            <div class="columnWidget">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>