<div role="tabpanel" class="modal-dialog-create-new-dashboard">
    <ul class="nav-tabs-custom clearfix" role="tablist">
        <li role="presentation" class="active">
            <a href="#createNewDashboard" aria-controls="createNewDashboard" role="tab" data-toggle="tab">
                <%= data.text.dashboard.createDashboard %>
            </a>
        </li>
        <li role="presentation">
            <a href="#shareDashboard" aria-controls="shareDashboard" role="tab" data-toggle="tab">
                <%= data.text.dashboard.shareDashboard %>
            </a>
        </li>
    </ul>    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="createNewDashboard">
            <div class="rp-form-group">
                <div class="col-md-9 col-sm-9 col-xs-8 rp-custom-col">
                    <label class="control-label rp-control-label">
                        <%= data.text.dashboard.dashboardName %>
                    </label>
                    <div>
                        <input type="text"
                            id="dashboardName"
                            placeholder="<%= data.text.dashboard.nameNewDashboard %>"
                            class="rp-input rp-width-100">
                        <span class="help-inline"></span>
                    </div>
                </div>                <div class="col-md-3 col-sm-3 col-xs-4 rp-custom-col">
                    <label class="rp-control-label control-label">
                        <%= data.text.dashboard.share %>
                    </label>
                    <div>
                        <input type="checkbox" class="js-switch" />
                    </div>
                </div>
            </div>
        </div>        <div role="tabpanel" class="tab-pane" id="shareDashboard">
            <div class="rp-dashboard-overflow b-shareddash-list">
                <div class="shared-loader">
                    <i class="material-icons loader-animation">autorenew</i>
                </div>
                <div class="borderWidget rp-dashboard-content"></div>
            </div>
        </div>
    </div>
</div> 