<a id="<%= data.id %>" href="#<%- data.currentProjectUrl %>/dashboard/<%= data.id %>" class="dashboard-item">
    <span class="dashboard-name <%- data.editable %>">
        <% if (data.isFavorite) { %>
        <span class="label label-default" title="<%- data.owner.capitalizeName() %>"><%- data.owner.capitalizeName().getCapitalizedOnly() %></span>
        <% } %>
        <% var names = data.name.split(' ') %>
        <% _.each(names, function(name){ %>
            <% if (name.length > 12) { %>
                <span style="display: inline-block; word-break: break-all"><%- name %></span>
            <% } else { %>
                <%- name %>
            <% } %>
        <% }) %>
        <% if (data.isFavoriteNotShared) { %>
            &nbsp;<i class="material-icons" title="Dashboard not shared">visibility_off</i>
        <% } %>
    </span>
    <span class="dashboard-buttons">
        <% if (data.editable) { %>
        <button class="edit" title="<%= data.text.dashboard.titleEditDashboard %>">
            <span class="glyphicon glyphicon-edit"></span><%= data.text.dashboard.editDashboard %>
        </button>
        <% } %>
        <button class="remove" title="<%= data.text.dashboard.titleRemoveDashboard %>">
            <span class="glyphicon glyphicon-remove"></span><%= data.text.dashboard.removeDashboard %>
        </button>
    </span>
</a>
