<% var counter = 0; %>
<h4><%= data.text.dashboard.favoriteDashboards %></h4>
<div class="container-fluid">
    <div class="row">
        <div class="borderWidget shared-dashboards-list">
            <% _.each(data.items, function(item) { %>
                <% counter += 1; %>
                <div class="columnWidget">
                    <ul>
                        <li class="title">
                            <% if (item.owner) { %>
                                <%= data.text.ui.by %> <%- item.name %>
                            <% } else { %>
                                <%= data.text.dashboard.deletedByOwner %>
                            <% } %>
                        </li>
                        <% _.each(item.dashboards, function(dash){ %>
                            <li <% if (data.activeId == dash.id) { %>class="active"<% } %>>
                                <a id="<%= dash.id %>"
                                    <% if (!item.owner) { %>class="disabled"<% } %>
                                    href="#<%- data.projectUrl %>/dashboard/<%= dash.id %>">
                                        <% if (item.owner) { %>
                                            <%- dash.name %>
                                            <% if (!dash.isShared) { %>
                                                <span class="unshared-dashboard"
                                                    data-js-unshared-dashboard
                                                    title="<%= data.text.dashboard.dashboardNotShared %>">
                                                    <i class="material-icons">clear</i>
                                                </span>
                                            <% } %>
                                        <% } else { %>
                                            <span class="remove"
                                                data-js-remove-dashboard
                                                title="<%= data.text.dashboard.removeDashboard %>">
                                                <i class="material-icons">clear</i>
                                            </span>
                                            <%= data.text.dashboard.deletedDashboard %>
                                        <% } %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <% if (counter%5 === 0) { %>
                    <div class="clearfix"></div>
                <% } %>
            <% }) %>
        </div>
    </div>
</div>
