<div class="gadget-wrapper">
    <div class="gadget-header" data-js-drag-handle>
        <div class="info-block">
            <h2 data-js-name></h2><i class="rp-icons rp-icons-buble comment-icon" data-js-comment=""></i><i class="material-icons"  data-js-shared>share</i><i class="material-icons" data-js-public>public</i>
            <p><span data-js-widget-type></span> <span class="timeline-label" data-js-timeline><%= data.text.widgets.timelineMode %></span></p>
        </div>
        <div class="action-block">
            <i class="material-icons" data-js-gadget-remove>clear</i>
            <i class="material-icons" data-js-gadget-refresh>autorenew</i>
            <i class="material-icons" data-js-gadget-edit>settings</i>
        </div>
    </div>
    <div class="gadget-body" data-js-widget-container></div>
    <div class="preloader">
        <i class="material-icons loader-animation">refresh</i>
    </div>
</div>
