.input-big-switcher {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}
.switcher-wrapper {
  display: inline-block;
  position: relative;
  min-width: 100px;
  height: 30px;
  border: 1px solid $COLOR--gray-80;
  box-sizing: border-box;
  color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  text-align: center;
  line-height: 27px;
  cursor: pointer;

  &.disabled {
    &:hover {
      cursor: default;
    }
    .on {
      background-color: $COLOR--greenish-beige;
    }
    .off {
      background-color: $COLOR--gray-80;
    }
  }
  &.mobile-disabled {
    @media (max-width: $SCREEN_XS_MAX) {
      .on {
        background-color: $COLOR--greenish-beige;
      }
      .off {
        background-color: $COLOR--gray-80;
      }
    }
  }
}
.on {
  float: left;
  display: block;
  width: 50%;
  height: 100%;
  background-color: $COLOR--booger;
}
.off {
  float: left;
  display: block;
  width: 50%;
  height: 100%;
  background-color: $COLOR--gray-60;
}
.input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: $COLOR--white-two;
  transition: left 0.5s ease;
  outline: 1px solid $COLOR--gray-80;

  &.turned-on {
    left: 50%;
  }
}
.children-container {
  padding-left: 5px;
  box-sizing: border-box;
  color: $COLOR--charcoal-grey;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  cursor: pointer;
}
