.grid-cell{
  float: left;
  padding-right: 10px;
  padding-left: 15px;
  min-height: 1px;
}
.rp-table-row {
  position: relative;
  padding: 8px 0;
  background: $COLOR--white-default;
  border-bottom: 1px solid $COLOR--gray-91;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: background-color .2s ease 0s;
  -moz-transition: background-color .2s ease 0s;
  -ms-transition: background-color .2s ease 0s;
  -o-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
  &:hover {
    background: $COLOR--tealish-opacity;
  }
}
