#main_content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
  .wrapper {
    padding-left: 90px;
    background: #e4e5e6;
    min-height: 100%;
  }

  @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    .wrapper {
      padding-left: 60px;
    }
  }
  @media (max-width: $SCREEN_XS_MAX) {
    .wrapper {
      padding-left: 0;
    }
  }
}

body.menu-open {
  #main_content {
    transform: translate(200px, 0);
    .wrapper {
      overflow: hidden;
      height: 100%;
    }
  }
}