.found-in-col {
  width: 40%;
  font-size: 13px;
  line-height: 18px;

  .item {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .found-link {
    color: $COLOR--windows-blue;
    text-decoration: none;
  }

  .icon > svg {
    width: 1em;
    padding-right: 2px;
  }
}
