.tabs-switcher {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.tab {
  display: block;
  position: relative;
  float: left;
  width: 122px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: $COLOR--white-two;
  text-decoration: none !important;
  color: $COLOR--charcoal-grey !important;
  &:not(.active):after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    border: 1px solid $COLOR--gray-80;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    background: $COLOR--gray-91;
  }
}

.active {
  background: $COLOR--gray-91;
  cursor: default;
  @media (max-width: $SCREEN_XS_MAX) {
    background: darken($COLOR--gray-91, 5);
  }
}
