.member-avatar {
  float: left;
  width: 40px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-top: 7px;
  }
}
.member-info {
  margin: 0 0 0 55px;
  font-size: 13px;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-top: 7px;
  }
}
.member-name,
.member-login {
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  color: $COLOR--charcoal-grey;
  line-height: 1.42857143;
}
.member-login {
  margin-top: 5px;
  font-family: $FONT-SEMIBOLD;
}
.member-you,
.member-admin {
  position: relative;
  top: -6px;
  padding: 0 6px 2px;
  border-radius: 100px;
  white-space: nowrap;
  font-size: 10px;
  color: $COLOR--white-two;
  line-height: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: lowercase;
  letter-spacing: 0.6px;
}
.member-you {
  left: 4px;
  margin-right: 4px;
  background: $COLOR--dark-pastel-green;
}
.member-admin {
  left: 3px;
  background: $COLOR--orange-red;
}
.hide {
  display: none;
}
