<div class="grid-cell project-name-cell">
    <div class="project-name" data-js-project></div>
</div>
<div class="grid-cell project-role-cell">
    <div class="user-select-role" data-js-user-select-role></div>
</div>
<div class="grid-cell project-action-cell">
    <div class="rp-btn rp-btn-default rp-button-with-icon"
         title="<%= (data.isPersonal) ? data.text.members.unAssignTitlePersonal : data.text.members.unAssignTitle %>"
         data-js-unassign>
        <i class="rp-icons rp-icons-unassign"></i>
        <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
            <%= data.text.members.unAssign %>
        </span>
    </div>
</div>
