.item-wrapper {
  margin: 3px 0;
}

.color-mark {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 6px;
}

.item-name {
  margin-right: 4px;
  text-transform: uppercase;
}

.status-page-mode {
  .small-view {
    :global {
      .c3-chart-arcs-title > tspan {
        font-size: 12px !important;
      }
    }
  }
}
