.launch-execution-and-issues-chart {
  height: 100%;
  
  :global {
    .c3-chart-arc {
      & text {
        display: none;
      }
    }
    .c3-legend-background {
      stroke: none !important;
      stroke-width: 0;
    }

    .c3-chart-arcs-title {
      font-size: 24px !important;
      font-weight: bold;
    }
  }
}

.launch-execution-chart {
  background-color: $COLOR--light-yellow;
}

.issue-statistics-chart .legend {
  top: -4px;
  line-height: 1.5;
}

.data-js-launch-execution-chart-container,
.data-js-issue-statistics-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.launch-execution-chart,
.issue-statistics-chart {
  width: 50%;
  float: left;
}
