.container {
  width: 50%;
  height: 100%;
}

.launch-execution-and-issues-chart {
  height: 100%;

  :global {
    .c3-legend-background {
      stroke: none !important;
      stroke-width: 0;
    }

    .c3-chart-arcs-title {
      font-size: 24px !important;
      font-weight: bold;
    }
  }

  .small-view {
    :global {
      .c3-chart-arc {
        & text {
          display: none;
        }
      }

      .c3-chart-arcs-title {
        font-size: 16px !important;
      }
    }
  }

  & .status-page-mode {
    .small-view {
      :global {
        .c3-chart-arcs-title > tspan {
          font-size: 12px !important;
        }
      }
    }
  }
}

.widgets-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: -20px;
}

.launch-name-block {
  display: inline-flex;
  height: 40px;
  z-index: $Z-INDEX-DEFAULT;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 17px;
  margin: 0 20px;
  font-size: 13px;

  .launch-name-text {
    color: $COLOR--gray-47;
    margin-right: 5px;
    text-transform: uppercase;
  }

  .launch-name {
    font-family: $FONT-SEMIBOLD;
    color: $COLOR--charcoal-grey;
  }
}

.launch-execution-chart.with-background-color {
  background-color: $COLOR--light-yellow;
  height: 100%;
}

.issue-statistics-chart .legend {
  top: -4px;
  line-height: 1.5;
}

.data-js-launch-execution-chart-container,
.data-js-issue-statistics-chart-container {
  position: relative;
  width: 100%;
}

.issue-statistics-chart {
  height: 100%;
}
