.container {
  overflow: hidden;
}

.header {
  height: 39px;
  width: 7%;
  max-width: 55px;
  padding: 4px 0;
  border-left: 1px solid $COLOR--gray-91;
  background: $COLOR--white;
  color: $COLOR--gray-47;
  vertical-align: middle;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-align: center;
  text-transform: uppercase;
}
.roles-header {
  height: 39px;
  padding: 4px 4px 5px 20px;
  background: $COLOR--white;
  color: $COLOR--gray-47;
  vertical-align: middle;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-align: center;
  text-transform: uppercase;
}

.horizontal-header {
  width: 37%;
  padding: 4px 15px 3px;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  font-size: 14px;
  font-family: $FONT-REGULAR;
  text-align: right;
  line-height: 1.71;
}

.row {
  &:hover {
    background: $COLOR--white;
  }
}

.category-row {
  padding: 4px 15px 3px;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  background: $COLOR--white-four;
  color: $COLOR--gray-47;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
}

.category-header {
  padding: 5px 15px 5px 20px;
  text-align: left;
  line-height: 1.71;
}

.permission-cell {
  border-left: 1px solid $COLOR--gray-91;
  border-right: 1px solid $COLOR--gray-91;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  text-align: center;
  vertical-align: middle;
}

.cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-owner-permission {
  display: inline-block;
  width: 100%;

  &:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    border: 1.5px solid $COLOR--khaki-green;
    border-radius: 50%;
    background: $COLOR--white-two;
  }

  &:not(:only-child) {
    position: relative;
    width: 50%;

    &:before {
      right: 11px;
    }

    @media (max-width: $SCREEN-SM_MAX) {
      &:before {
        right: 10px;
      }
    }
  }
}

.owner-permission {
  display: inline-block;
  width: 100%;

  &:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    border: 1.5px solid $COLOR--khaki-green;
    border-radius: 50%;
    background: $COLOR--khaki-green;
  }

  &:not(:only-child) {
    position: relative;
    width: 50%;

    &:before {
      left: 11px;
    }

    @media (max-width: $SCREEN-SM_MAX) {
      &:before {
        left: 10px;
      }
    }
  }
}

.legend-block {
  margin-left: 20px;
  margin-bottom: 20px;

  @media (max-width: $SCREEN-SM_MAX) {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .legend-item {
      margin-bottom: 7px;
    }
  }
}

.attention-text {
  margin-left: 20px;
}

.legend-item {
  margin-right: 30px;

  .owner-permission {
    display: inline;
    &:before {
      left: 0;
    }
  }

  .not-owner-permission {
    display: inline;
    &:before {
      right: 0;
    }
  }
}

.legend-text {
  margin-left: 12px;
}

.permission-attention {
  margin: 15px 15px 2px 0;
  font-size: 12px;
  font-family: $FONT-REGULAR;
}
