.form-field-item {
  position: relative;
  align-items: flex-start;
  @media (max-width: $SCREEN_XS_MAX) {
    align-items: flex-start;
  }
}

.field-wrapper {
  position: relative;
  width: 310px;
  padding: 0 15px;
  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    padding: 0;
    &.with-custom-block {
      width: calc(100% - 37px);
    }
  }
}

.form-group-label {
  padding-top: 8px;
}
