.filter-add {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding-bottom: 70px;
  border-bottom: 1px solid $COLOR--gray-91;
}

.filter-add-title {
  width: calc(100% - 20px);
  margin: 1px 0 0;
  padding: 18px 10px;
  height: 14px;
  color: $COLOR--gray-47;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
  background: $COLOR--white;
}

.filter-add-block {
  padding: 10px;
}

.filter-add-buttons-block {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 0;
}

.button-inline {
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  vertical-align: top;
  font-size: 13px;
}
