.actions-popup {
  display: flex;
  flex-direction: column;

  @media print {
    display: none;
  }
}

.action-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}
