.modal-content-header {
  word-wrap: break-word;
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 0;
}

.note-block {
  margin-top: 20px;
}

.note-title {
  font-size: 13px;
  color: $COLOR--tealish;
}

.note-text {
  font-size: 12px;
  line-height: 1.5;
  color: $COLOR--charcoal-grey;
}
