.container {
  overflow: hidden;
}
.table-permissions {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid $COLOR--gray-91;
}
.header {
  vertical-align: middle;
  padding: 4px 4px 5px;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  text-align: center;
  background: $COLOR--white;
  text-transform: uppercase;
  font-size: 12px;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;
}
.col {
  padding: 9px 10px 11px;
  line-height: 20px;
  width: 9%;
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
}
.roles-header {
  box-shadow: inset 0 -1px 0 0 $COLOR--gray-91;
  border-left: 1px solid $COLOR--gray-91;
}
.horizontal-header {
  text-align: right;
  width: 37%;
  padding-right: 15px;
  font-size: 14px;
  font-family: $FONT-REGULAR;
}
.row:nth-child(even) {
  background: $COLOR--white-four;
}
.row {
  &:hover {
    background: $COLOR--gray-91;
  }
}
.has-permission {
  background: rgba(163, 198, 68, 0.2);
  border-left: 1px solid lighten($COLOR--greenish-beige, 15%);
  border-right: 1px solid lighten($COLOR--greenish-beige, 15%);
  box-shadow: inset 0 -1px 0 0 lighten($COLOR--greenish-beige, 15%);
  color: $COLOR--khaki-green;
  text-align: center;
  vertical-align: middle;
}
.rp-icons-check {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: url('./img/check.svg');
}
.attention {
  position: relative;
  color: #777;
  top: -6px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 3px;
}
.permission-attention {
  margin: 10px 15px;
  font-size: 13px;
  font-family: $FONT-REGULAR;
}
