.indicator-icon {
  height: 16px;
  width: 16px;
  margin: 0 auto;
}

.indicator-default {
  text-transform: uppercase;
  font-size: 15px;
  font-family: $FONT-SEMIBOLD, sans-serif;
  color: $COLOR--gray-91;
  transform: rotate(-6deg);
}

.invalid-tooltip {
  color: $COLOR--failed;
  margin: -5px;
}
