<div class="project-wrapper">
    <div class="remove-project hide" data-js-delete-project>
        <i class="material-icons">clear</i>
    </div>
    <h2 class="project-name">
        <span class="name" data-js-project-name-label>
            <a href="" class="project_details break-link" title="<%= data.text.admin.projectTitle %>" data-js-project-name></a>
            <span class="new-label hide" data-js-project-new><%= data.text.admin.newProject %></span>
        </span>
    </h2>
    <div class="project-info-wrapper">
        <div class="heartbeat-block">
            <div class="health-icon">
                <i class="rp-icons rp-icons-heartbeat"></i>
            </div>
            <div class="health-index"><!-- health index --></div>
        </div>
        <div class="project-info-block">
            <div class="project-info" data-js-project-users></div>
            <div class="project-info" data-js-project-launches></div>
            <div class="project-info" data-js-project-last-run></div>
        </div>
    </div>
    <div class="project-link-wrapper">
        <a class="project-link go-to-settings" title="<%= data.text.ui.settings %>" href="" data-js-settings-link>
            <i class="material-icons">settings</i>
        </a>
        <a class="project-link go-to-members" title="<%= data.text.ui.members %>" href="" data-js-members-link>
            <i class="rp-icons rp-icons-all-users"></i>
        </a>
        <a class="project-link go-to-project hide" title="<%= data.text.admin.goToProject %>" href="#open-project" data-js-go-to-project>
            <i class="material-icons">open_in_browser</i>
        </a>
        <a class="project-link assign-to-project hide" title="<%= data.text.admin.assignToProject %>" href="#assign-to-project" data-js-assign-to-project>
            <i class="material-icons">playlist_add_check</i>
        </a>
    </div>
</div>