<div class="col-sm-12 rp-admin-project-details" id="contentBody">
    <div class="btn-group rp-nav-right in-header-block project-intervals" data-toggle="buttons">
        <label class="btn btn-custom ">
            <input type="radio" name="interval" id="interval6" autocomplete="off" data-value="6">6 months
        </label>
        <label class="btn btn-custom active">
            <input type="radio" name="interval" id="interval3" autocomplete="off" checked="" data-value="3">3 months
        </label>
        <label class="btn btn-custom ">
            <input type="radio" name="interval" id="interval1" autocomplete="off" data-value="1">1 month
        </label>
    </div>
    <div id="contentTarget"></div>
</div>
