<div data-js-projects-loader class="preloader">
    <i class="material-icons loader-animation">refresh</i>
</div>
<div data-js-projects-content>
    <div data-js-projects-list></div>
    <div class="projects-paging" data-js-projects-paging></div>
</div>
<div data-js-projects-empty class="hide">
    <div class="no-result-found">
        <p class="no-result-title"><i class="rp-icons rp-icons-warning"></i> <%= data.text.admin.noProjectsFound %> '<span data-js-search-text></span>'</p>
        <p><%= data.text.ui.checkQuery %></p>
    </div>
</div>
