<div id="headerBar" class="clearfix">
    <ul class="rp-nav-left">
        <li class="title-holder">
            <span class="header-alike"><%= data.text.admin.titleAllProjects %></span>
        </li>
        <li class="title-holder" id="title-current-project">
            <a href="#administrate/project-details/< data.projectName >" class="header-alike">
                < projectName >
            </a>
        </li>
        <li class="title-holder">
            <span class="header-alike"><%= data.text.admin.titleMembers %></span>
        </li>
        <li class="title-holder">
            <span class="header-alike"><%= data.text.admin.titleSettings %></span>
        </li>
    </ul>
</div>