<div class="rp-table-thead">
    <div class="project-delete-col">
        <div class="rp-table-th text-center"><%= data.text.ui.delete %></div>
    </div>
    <div class="project-cols-group">
        <div class="grid-cell project-name-col">
            <div class="rp-table-th"><%= data.text.admin.projectName %></div>
        </div>
        <div class="grid-cell project-kpi-col">
            <div class="rp-table-th"><%= data.text.admin.kpi %></div>
        </div>
        <div class="grid-cell project-members-col">
            <div class="rp-table-th"><%= data.text.admin.projectMembers %></div>
        </div>
        <div class="grid-cell project-launches-col">
            <div class="rp-table-th"><%= data.text.topMenu.launches %></div>
        </div>
        <div class="grid-cell project-date-col">
            <div class="rp-table-th"><%= data.text.admin.lastLaunchDate %></div>
        </div>
        <div class="grid-cell project-actions-col">
            <div class="rp-table-th text-center"><%= data.text.admin.actions %></div>
        </div>
    </div>
</div>