<%
    var isDisabled = '';
    var title = '';
    var issueType;
    var btsIssues;    if(data.launchInProcess) {
        isDisabled = 'disabled';
        title = data.text.launches.forbiddenIsProcessing;
    }
%>
<div class="defect-type <%= isDisabled %>"
    data-id="<%= data.item.id %>"
    <% if(title) { %>title="<%= title %>"<% } %>>    <input title="<%= title %>"
        <%= isDisabled %>
        class="select-test"
        type="checkbox"
        data-id="<%- data.item.id %>" />    <% issueType = data.defectTypes.getDefectType(data.item.issue.issue_type) %>    <div class="rp-defect-type-edit">
        <% if(issueType) { %>
            <span class="pr-defect-type-badge <%- issueType.typeRef %>"
                title="<%= issueType.longName %>">
                <i style="background: <%- issueType.color %>"></i>
                <%= issueType.longName.setMaxLength(20) %>
            </span>
        <% } %>
        <a href="#" class="edit-defect"><i class="material-icons">edit</i></a>
    </div>    <% btsIssues = data.item.issue.externalSystemIssues %>    <% if(btsIssues && btsIssues.length) { %>
        <span class="tickets-container" data-id="<%= data.item.id %>">
            <% var tickets = _.isArray(btsIssues) ? btsIssues : [btsIssues]; %>
            <% _.each(tickets, function(ticket) { %>
                <a href="<%= ticket.url %>"
                    target="_blank"
                    class="badge external-ticket issue-tracker-link"
                    data-ticket-id="<%= ticket.ticketId %>"
                    data-system-id="<%= ticket.systemId %>"
                    data-toggle="tooltip" title="<span class='loading-indicator'></span>">
                    <div>
                        #<%= ticket.ticketId %>
                    </div>
                    <i data-js-event="removeTicket" class="material-icons">clear</i>
                </a>
            <% }); %>
        </span>
    <% } %>    <% if(data.needMatch) { %>
        <span class="match-issue label <%= data.canMatchIssue ? '' : 'disabled' %> <%= data.launchInProcess ? 'label-danger autoanalyze' : '' %>"
            title="<%= data.canMatchIssue ? '' : data.text.launches.nothingToMatch %>">
            <i class="rp-icons rp-icons-magic margin-right-5"></i>
            <%= data.text.launches.matchTitle %>
        </span>
    <% } %>    <% if(data.item.issue.comment) { %>
        <div class="defect-desc nicescroll-it">
            <%= data.textile(data.item.issue.comment.replace('*IssueDescription:*',"<br>*IssueDescription:*")).replaceNewLines().escapeScript() %>
        </div>
    <% } %>
</div>