<div class="container-fluid rp-margin-reset rp-odd-even rp-table-hover">
    <!-- title -->
    <div class="row rp-grid-thead hidden-xs fixed_table_header">
        <div class="col-sm-6">
            <div class="col-sm-3">
                <div class="rp-grid-th sortable" id="add-collapse-method" data-sorter="type">
                    <span class="rp-grid-th-name sorting-pd pr-grid-method-type"><%= data.text.launchesHeaders.type %><%=
                        data.renderSorting("type") %></span>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="rp-grid-th sortable" data-sorter="name"><span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.name %><%= data.renderSorting("name") %></span></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-2">
                <div class="rp-grid-th sortable" data-sorter="status"><span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.status %><%= data.renderSorting("status") %></span></div>
            </div>
            <div class="col-sm-3">
                <div class="rp-grid-th sortable" data-sorter="start_time"><span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.start_time %><%= data.renderSorting("start_time") %></span></div>
            </div>
            <div class="col-sm-2">
                <div class="rp-grid-th"><span class=" rp-grid-th-name"><%= data.text.launchesHeaders.duration %></span></div>
            </div>
            <div class="col-sm-5">
                <div class="rp-grid-th sortable" data-sorter="issue.issue_type">
                    <span class="sorting-pd rp-grid-th-name pr-select-all-issues">
                        <%= data.text.launchesHeaders.issue %><%= data.renderSorting("issue.issue_type") %>
                    <input class="select-all pull-right" type="checkbox"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ./title -->
    <!-- tbody -->
    <% if(data.collection.length) { var parentsLine = {}; %>
    <% _.each(data.collection, function(item, index) { %>  <!-- if(index === 0) {console.log(item);} -->    <% if(data.isAllCases){ %>
    <% var needParentLine = data.isValidForParent(item, parentsLine); %>
    <% if(needParentLine){ parentsLine = needParentLine; var keys = _.keys(parentsLine); %>
        <div class="row rp-table-row parents-line">
            <div class="col-sm-12">
                <%  var currentHref = ""; %>
                <% _.each(parentsLine, function(value, key, list) { %>
                    <% if(currentHref) { %>/<% } %>
                    <% if(!currentHref) { currentHref = data.getSuitUrl(key); } else { currentHref += "/" + key + "?" + data.getTabUrl(); } %>
                    <a href="<%= currentHref %>" class="rp-blue-link-undrl break-link"><%- value %></a>
                <% }); %>
            </div>
        </div>
    <% } %>
    <% } %>
    
    <% if(data.validateForPreconditions(item)) { %>
    <div class="method-collapsed method-collapsed-<%- data.statusPreconditions %>">
        <div class="method-collapsed-toggle">
    <% } %>    <div class="row rp-table-row <% if(data.validator.statusFailedNoChildren(item)) { %>danger<%}%>" id="<%- item.id %>">
        <div class="col-sm-6">
            <div class="col-sm-3">
                <% if(data.validator.typeStep(item)) { %>
                <%= data.text.testTableMethodTypes[item.type] %>
                <% } else { %>
                <span class="text-muted"><%= data.text.testTableMethodTypes[item.type] %></span>
                <% } %>
            </div>
            <div class="col-sm-9">
                <h5 class="rp-grid-name">
                <% if(data.canEdit(item)) { %>
                    <div class="btn-group">
                        <a class="item-menu" data-toggle="dropdown" data-id="<%= item.id %>" href="#">
                            <i class="rp-svg-icon svg-icon-menu-size-14"></i>
                        </a>
                    </div>
                <% } %>
                <a class="navigateable rp-blue-link-undrl break-link" href="<%- data.urlResolver('name', item) %>" data-id="<%- item.id %>">
                    <%- item.name %>
                </a>
                </h5>
                <% if(item.description) { %><pre class="rp-grid-description nicescroll-it"><%- item.description %></pre>
                <% } %>
                <div class="rp-grid-tags tags">
                        <% if(item.tags && item.tags.length) { %>
                            <span class="rp-launch-tags">
                                <i class="material-icons">local_offer</i>
                            <% var sortedTags = data.tagSorter(item.tags); %>
                            <% _.each(sortedTags, function (tag) { %>
                                <a class="text-muted tag" data-tag="<%- tag %>" href="#">
                                    <%- tag.replaceTabs() %>
                                </a>
                            <% }); %>
                            </span>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-2 status-item"><%- item.status %></div>
            <div class="col-sm-3 show-time">
                <% var start_format = data.util.dateFormat(item.start_time); %>
                <span class="from-now"><%= data.util.fromNowFormat(start_format) %></span>
                <span class="exact-time"><%= start_format %></span>
            </div>
            <div class="col-sm-2"><%= data.renderDuration(item) %></div>
            <div class="col-sm-5">
                <% if(data.validator.hasIssue(item)) { %>
                <% var isDisabled = data.navigationInfo.launchIsProcessing(item) ? 'disabled' : '' %>
                <% var title = isDisabled ? data.text.launches.forbiddenIsProcessing : '' %>
                <div class="col-sm-12 nopadding <%= isDisabled %>" title="<%= title %>">
                    <%= data.renderDefect(item) %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% if(data.validateForPreconditions(item)) { %>
        </div>
    </div>
    <% } %>
    <% }); %>
    <% } else { %>
        <div class="row rp-table-row">
            <div class="col-xs-12">
                <h3 class="title-no-data text-center">
                    <i class="rp-icons rp-icons-warning"></i>
                    <span class="warning"><%= data.text.ui.noResultsFound %></span>
                </h3>
            </div>
        </div>
    <% } %>
    <!-- ./tbody -->
</div>
