<div class="container-fluid suit-grid rp-margin-reset rp-odd-even rp-table-hover">
    <!-- title -->
    <div class="row rp-grid-thead hidden-xs fixed_table_header">
        <div class="col-md-4 col-sm-2 col-xs-11 ">
            <div class="rp-grid-th sortable" data-sorter="name">
                <span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.name %>&nbsp;<%=
                        data.renderSorting("name").trim() %></span>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-7 col-sm-6">
                    <div class="rp-grid-th sortable" data-sorter="start_time">
                        <span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.start_time %>&nbsp;<%=
                        data.renderSorting("start_time").trim() %></span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-sm-6">
                    <div class="rp-grid-th">
                        <span class="rp-grid-th-name"><%= data.text.launchesHeaders.duration %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-xs-1 sortable extra-space" data-sorter="statistics.executions.total">
                    <div class=" rp-grid-th">
                        <span class="sorting-pd rp-grid-th-name"><%= data.text.launchesHeaders.total %>&nbsp;<%=
                            data.renderSorting("statistics.executions.total").trim() %></span>
                    </div>
                </div>
                <div class="row col-xs-10 col-sm-11">
                    <div class="col-xs-4 col-sm-2 sortable" data-sorter="statistics.executions.passed">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.passed %>&nbsp;<%= data.renderSorting("statistics.executions.passed").trim() %>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 sortable" data-sorter="statistics.executions.failed">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.failed %>&nbsp;<%= data.renderSorting("statistics.executions.failed").trim() %>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 sortable" data-sorter="statistics.executions.skipped">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.skipped %>&nbsp;<%= data.renderSorting("statistics.executions.skipped").trim() %>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 sortable" data-sorter="statistics.defects.product_bug">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.product_bug %>&nbsp;<%= data.renderSorting("statistics.defects.product_bug").trim() %>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 sortable" data-sorter="statistics.defects.automation_bug">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.automation_bug %>&nbsp;<%= data.renderSorting("statistics.defects.automation_bug").trim() %>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 sortable margin-col" data-sorter="statistics.defects.system_issue">
                        <div class=" rp-grid-th">
                            <span class="sorting-pd rp-grid-th-name">
                                <%= data.text.launchesHeaders.system_issue %>&nbsp;<%= data.renderSorting("statistics.defects.system_issue").trim() %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 last-col">
            <div class="rp-grid-th sortable" data-sorter="statistics.defects.to_investigate">
                    <span class="sorting-pd rp-grid-th-name">
                        <%= data.text.launchesHeaders.to_investigate %>&nbsp;<%= data.renderSorting("statistics.defects.to_investigate").trim() %>
                    </span>
            </div>
        </div>
    </div>
    <!-- ./title -->
    <!-- tbody -->
    <% if(data.collection.length) { %>
    <% _.each(data.collection, function(item, index) { %>
    <div class="row rp-table-row <% if(data.validator.statusFailedNoChildren(item)) { %>danger<%}%>" id="<%- item.id %>" data-id="<%- item.id %>">
        <div class="col-md-4 col-sm-2 col-xs-11 name-cell">
            <span <% if (!item.isProcessing){ %>style="display:none"<% } %> class="label label-danger autoanalyze">
                <%= data.text.ui.analyze %>
            </span>
            <% var isShifted = data.validator.stepIsShifter(item) ? "shifted" : "";%>
            <h5 class="rp-grid-name <%= isShifted %>">
                <% var isLaunches = data.navigationInfo.isLaunches() %>
                <% if(isLaunches || data.canEdit(item)){ %>
                <div class="btn-group">
                    <a class="item-menu" data-toggle="dropdown" data-id="<%= item.id %>" href="#">
                        <i class="rp-svg-icon svg-icon-menu-size-14"></i>
                    </a>
                </div>
                <% } %>
                <a class="navigateable rp-blue-link-undrl" href="<%- data.urlResolver('name', item, data.getTabUrl()) %>" data-id="<%- item.id %>"><%- item.name %></a>
                <% if(item.number) { %> #<%= item.number %><% } %>
            </h5>
            <% if(item.description) { %>
            <pre class="rp-grid-description nicescroll-it <%= isShifted %>"><%- item.description.trim() %></pre>
            <% } %>
            <div class="rp-grid-tags tags">
                    <% if(item.owner) { %>
                    <span title="Owner" class="rp-launch-owner owner">
                        <i class="material-icons">person</i>
                        <a class="text-muted tag" data-tag="<%- item.owner %>" data-tag-type="user" href="#"><%- item.owner %></a>
                    </span>
                    <br class="visible-xs-block">
                    <% } %>
                    <% if(item.tags && item.tags.length) { %>
                        <span class="rp-launch-tags">
                            <i class="material-icons">local_offer</i>
                            <% var sortedTags = data.tagSorter(item.tags); %>
                            <% _.each(sortedTags, function (tag) { %>
                                <a class="text-muted tag" data-tag="<%- tag %>" href="#">
                                    <%- tag.replaceTabs() %>
                                </a>
                            <% }); %>
                        </span>
                    <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 border-right-bold rp-mobile-padding">
            <div class="clearfix visible-xs-block">&nbsp;</div>
            <div class="row">
                <div class="col-xs-6 col-md-7 show-time"><span class="hidden-sm hidden-md hidden-lg"><b><%= data.text.launches.prefixStartTime %></b></span>
                    <% var start_format = data.util.dateFormat(item.start_time); %>
                    <span class="from-now"><%= data.util.fromNowFormat(start_format) %></span>
                    <span class="exact-time"><%= start_format %></span>
                </div>
                <div class="col-xs-6 col-md-5">
                    <span class="visible-xs-inline"><b><%= data.text.launches.prefixDuration %></b></span>
                    <%= data.renderDuration(item) %>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-7 col-xs-12  rp-mobile-padding">
            <div class="row">
                <div class="clearfix hidden-sm hidden-md hidden-lg">&nbsp;</div>
                <div class="col-xs-3 col-sm-1 rp-info rp-colors total extra-space">
                    <%= data.renderStatics(['executions','total'], item, isShifted) %>
                </div>
                <div class="row col-xs-9 col-sm-11">
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors passed">
                        <%= data.renderStatics(['executions','passed'], item, isShifted) %>
                    </div>
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors failed">
                        <%= data.renderStatics(['executions','failed'], item, isShifted) %>
                    </div>
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors skipped">
                        <%= data.renderStatics(['executions','skipped'], item, isShifted) %>
                    </div>
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors pb">
                        <%= data.renderStatics(['defects','product_bug'], item, isShifted) %>
                    </div>
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors ab">
                        <%= data.renderStatics(['defects','automation_bug'], item, isShifted) %>
                    </div>
                    <div class="col-xs-4 col-sm-2 rp-info rp-colors si">
                        <%= data.renderStatics(['defects','system_issue'], item, isShifted) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 to_investigate-table-cell nopadding">
            <%= data.renderStatics(['defects','to_investigate'], item, isShifted) %>
        </div>
    </div>
    <% }); %>
    <% } else { %>
    <div class="row notfound-launches">
        <div class="col-sm-12">
            <h3 class="title-no-data text-center">
                <i class="rp-icons rp-icons-warning"></i>
                <span class="warning"><%= data.text.ui.noResultsFound %></span>
            </h3>
        </div>
    </div>
    <% } %>
    <!-- ./tbody -->
</div>
