<div class="inline-editor">
    <div class="container-fluid">
        <div class="btn-group pull-left">
            <button data-toggle="dropdown" class="btn rp-defect-type-dropdown dropdown-toggle">
                <% var issueType = data.defectTypes.getDefectType(data.item.issue.issue_type) %>
                <% if(issueType){ %>
                    <span title="<%- issueType.longName %>" class="pr-defect-type-badge <%- issueType.typeRef %>" data-id="<%= issueType.locator %>">
                        <i style="background: <%- issueType.color %>"></i>
                        <span><%- issueType.longName.setMaxLength(20) %></span>
                    </span>
                <% } %>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu rp-defects-menu">
                <% _.each(data.defectsGroup, function(defect, i){ %>
                    <% var rowDesktop = i == 0 ? '12' : '3', rowTablet = i == 0 ? '12' : '6' %>
                    <% var sepDesktop = i == 1 ? 'visible-md visible-lg' : '', sepTable = i%2 == 0 ? '' : 'visible-sm' %>
                    <% if(i > 0){ %>
                        <li role="separator" class="divider <%= sepDesktop %>"></li>
                        <li role="separator" class="divider <%= sepTable %>"></li>
                        <li role="separator" class="divider visible-xs-block"></li>
                    <% } %>
                    <li class="col-md-<%= rowDesktop %> col-sm-<%= rowTablet %> col-xs-12">
                        <% _.each(data.subDefects[defect], function(d){ %>
                        <% var checked = d.locator == data.item.issue.issue_type ? true : false %>
                        <div class="rp-defect-row">
                            <label title="<%- d.longName %>" class="<%= checked ? 'selected' : '' %>" data-js-event="selectIssueType" data-id="<%= d.locator %>" data-issue-name="<%- d.longName %>" data-issue-color="<%- d.color %>">
                                <i style="background: <%- d.color %>"></i><%- d.longName.setMaxLength(20) %>
                            </label>
                        </div>
                        <% }); %>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div class="pull-right">
            <button title="<%= data.text.ui.clickToCancel %>" data-js-event="closeEditor" class="rp-btn rp-btn-cancel" type="cancel">
                <%= data.text.ui.cancel %>
            </button>
            <button title="<%= data.text.ui.clickToSubmit %>" data-js-event="submitDefect" class="rp-btn rp-btn-submit submit disabled" type="submit">
                <%= data.text.ui.submit %>
            </button>
        </div>
    </div>
    <div class="text-editor">
        <textarea rows="3" id="textile" class=""><%= data.item.issue.comment || "" %></textarea>
        <% var visibilityState = data.selected > 1 ? 'block' : 'none'; %>
        <div class="rp-defect-multiple-edit" style="display: <%= visibilityState %>;">
            <span class="rp-defect-editor-counter">
                <%= data.text.launches.youAreEditing %><span id="inProgressAmount"><%= data.selected %></span><%=
                data.text.launches.objects %>
            </span>
            <label class="control-label replace-comments">
                <input type="checkbox" checked="checked" id="replaceComments"/> <%= data.text.launches.replaceComments
                %>
            </label>
        </div>
        <div class="rp-defect-post-issues" tabindex="1">
            <% if(!data.logs && !data.isDebug) { %>
            <% var disabledPost = data.canPost ? '' : 'disabled'; %>
            <% var disabledLoad = data.canLoad ? '' : 'disabled'; %>
            <button data-js-event="postBug"
            <%= disabledPost %> title="<%= !disabledPost ? data.text.launches.postBug : data.text.launches.configureTBS %>"
            class="rp-btn rp-btn-default pr-post-bug-btn <%= disabledPost %>"
            type="button"><i class="material-icons">&#xE868;</i><%= data.text.launches.postBug %></button>
            <button data-js-event="loadBug"
                    title="<%= !disabledLoad ? data.text.launches.loadBug : data.text.launches.configureTBSLoad %>"
                    class="rp-btn rp-btn-default pr-load-bug-btn <%= disabledLoad %>"
            <%= disabledLoad %>><i class="material-icons">&#xE157;</i><%= data.text.launches.loadBug %></button>
            <% } %>
        </div>
    </div>
</div>