<h4 class="col-xs-12"><%= data.text.launches.addIssueId %></h4>
<div class="clearfix"></div>
<% if(data.systems.length > 1) { %>
    <div class="col-xs-12 bottom-15">
        <label class="col-sm-12 control-label custom-padding obligatory-field"
            for="targetProject">
            <%= data.text.bts.projectNameIn %>
            <%= data.source %>
        </label>
        <div class="col-sm-12 nopadding">
            <div class="rp-btn-group rp-width-100">
                <button type="button"
                    class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                    data-toggle="dropdown"
                    id="targetProject">
                    <span class="select-value"><%= data.current.project %></span>
                    <span class="rp-caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <% _.forEach(data.systems, function(system, index) { %>
                        <li class="<%= system.id === data.current.id ? 'active' : '' %>">
                            <a href="#" id="<%= system.id %>" class="bts-project project-name">
                                <%= system.project %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-sm-12 nopadding">
                <%= data.text.launches.willBeLoadedTo %>
                <span id="postToUrl"><%= data.current.url %></span>
            </div>
        </div>
    </div>
<% } %>
<div class="form-group hidden-xs">
    <div class="col-sm-8"><%= data.text.bts.linkToIssue %></div>
    <div class="col-sm-4 nopadding"><%= data.text.bts.issueId %></div>
</div>
<div id="rowHolder"></div>
<div class="col-sm-12 p-bottom-15 clearfix">
    <button class="rp-btn rp-btn-submit col-xs-12" id="addRow" type="button">
        <%= data.text.bts.addMoreIssues %>
    </button>
</div>