<% var type = data.type[0], stats = data.type[1], value = data.item.statistics[type][stats]; %>
<% var total = !_.isUndefined(value.total) ? value.total : value %>
<% if(type == 'executions'){ %>
    <% if(+total !== 0) { %>
        <% if(!data.shifted) { %>
            <a href="<%- data.urlResolver(stats, data.item, data.tab) %>" class="cases-view rp-blue-link-undrl"
               data-id="<%- data.item.id %>">
                <%- total %>
            </a>
        <% } else { %>
            <span class="cases-view"><%- total %></span>
        <% } %>
    <% } else { %>
        <span class="text-muted visible-xs-inline"><%- total %></span>
    <% } %>
    <p class="visible-xs cell-name"><%= data.text.launchesHeaders[stats]%></p>
<% } else { %>
    <% if(stats == 'to_investigate'){ %>
        <% var tiColor = data.getDefectColor(value, stats, data.defectTypes); %>
                <% if(+total !== 0){ %>
                    <a href="<%- data.urlResolver(stats, data.item, data.tab) %>"
                       style="background: <%= tiColor %>; border-color: <%= tiColor %>"
                       class="rp-ti-badge" data-id="<%- data.item.id %>">
                        <%- total %>
                        <p class="visible-xs cell-name"><%= data.text.launchesHeaders[stats]%></p>
                    </a>
                <% } else { %>
                    <span class="rp-ti-badge visible-xs" style="background: <%= tiColor %>; border-color: <%= tiColor %>"><%-
                        total %>
                    <p class="visible-xs cell-name"><%= data.text.launchesHeaders[stats]%></p></span>
                <% } %>
    <% } else { %>
        <% if(+total !== 0){ %>
        <div class="pr-grid-defect-stats" data-defect-type="<%= stats %>" id="defect-<%= data.item.id %>-<%= stats %>">
            <a href="<%- data.urlResolver(stats, data.item, data.tab) %>" class="pr-grid-defect-link">
                <svg></svg>
                <span class="pr-grid-defect-total" style="border-color: <%= data.getDefectColor(value, stats, data.defectTypes) %>">
                    <%= total %>
                </span>
            </a>
        </div>
        <span class="visible-xs cases-view ">
            <a href="<%- data.urlResolver(stats, data.item, data.tab) %>" class="rp-blue-link-undrl"
            data-id="<%- data.item.id %>">
            <%- total %>
            </a>
        </span>
        <% } else { %>
            <span class="text-muted visible-xs-inline"><%- total %></span>
        <% } %>
        <p class="visible-xs cell-name"><%= data.text.launchesHeaders[stats] %></p>
    <% } %>
<% } %>