<% var cellWidth = data.launches.length > 5 ? 1 : data.launches.length <= 3 ? data.launches.length <= 2 ? 4 : 3 : 2,
    nameWidth = 12 - cellWidth*data.launches.length %>
<div class="container-fluid rp-margin-reset rp-odd-even rp-history-grid">
    <div class="rp-table-full-width">
        <div class="row history-row rp-grid-thead">
            <div class="col-md-<%= nameWidth %> history-col">
                <div class="rp-grid-th">
                    <span class="rp-grid-th-name"><%= data.text.launchesHeaders.name %></span>
                </div>
            </div>
            <% _.forEach(data.launches, function(launch){ %>
                <div class="col-md-<%= cellWidth %> history-col text-center <% if(launch.launchStatus == 'IN_PROGRESS'){ %>in-progress progress-striped<% } %>">
                    <div class="rp-grid-th">
                        <span class="rp-grid-th-name">
                            <%= data.text.launches.launchHash %><%= launch.launchNumber %>
                        </span>
                    </div>
                </div>
            <% }); %>
        </div>
        <% _.forEach(data.items, function(item){ %>
        <div class="row history-row">
            <div class="col-md-<%= nameWidth %> history-col">
                <a href="<%= data.buildUrl(item) %>" class="rp-table-title rp-blue-link"><%- item.name %></a>
                <% if(item.description){ %>
                <br/>
                <pre class="shifted"><%- item.description %></pre>
                <% } %>
                <% if (item.tags && item.tags.length){ %>
                    <div class="pull-right tags">
                        <small class="pull-right">
                            <% _.each(item.tags, function(tag){ %>
                                <span class="text-muted tag" data-tag="<%- tag %>"><%- tag %></span>
                            <% }); %>
                        </small>
                    </div>
                <% } %>
            </div>
            <% _.forEach(data.launches, function(launch){ %>
            <% var val = item.launches[launch.launchNumber] %>
            <% if(val){ %>
                <% if(val.length > 1){ %>
                    <div class="col-md-<%= cellWidth %> history-col rp-warning">
                        <div class="history-col-content" data-tooltip-type="warning" data-tooltip-content="<%= data.text.launches.severalItems %>">
                            <i class="material-icons">&#xE8F5;</i>
                        </div>
                    </div>
                <% } else { %>
                    <% var tst = val[0], issue = tst.issue; %>
                    <% var deff = data.getIssuesByType(tst, data.defectTypes); %>
                    <div class="col-md-<%= cellWidth %> history-col <%= data.getCls(tst) %> <% if(issue){ %> goToItem <% } %>" data-launch-id="<%= launch.launchId %>" data-item-id="<%= tst.id %>">
                        <% if (!issue) { %>
                            <% _.each(data.sortedIssueTypes, function(type){ %>
                                <% var defect = deff[type]; %>
                                <% if(defect){ %>
                                <div class="history-defect-badge <%= defect.cls %>" data-tooltip-type="<%= type %>" style="background: <%- defect.color %>">
                                    <span><%- defect.shortName %></span>
                                </div>
                                <% } %>
                            <% }); %>
                        <% } else if(issue){ %>
                            <% if(issue.issue_type){ %>
                                <% var issueType = data.defectTypes.getDefectType(issue.issue_type) %>
                                <% var type = issueType.typeRef.toLowerCase(), cls = data.getDefectCls(type); %>
                                    <div class="history-defect-badge no-stats <%= cls %>"
                                        style="background: <%- issueType.color %>"
                                        data-tooltip-type="warning"
                                        data-tooltip-content="<%- issueType.longName %>">
                                        <span><%- issueType.shortName %></span>
                                    </div>
                            <% } %>
                            <% if(issue.comment){ %>
                                        <div class="history-comment"
                                            data-tooltip-type="warning"
                                            data-tooltip-content="<%- data.getComment(issue.comment) %>">
                                            <span>
                                                <!-- <i class="material-icons">&#xE0B7;</i> -->
                                                <i class="material-icons">chat</i>
                                            </span>
                                        </div>
                            <% } %>
                            <% if(issue.externalSystemIssues && issue.externalSystemIssues.length){ %>
                                <div class="history-tickets"
                                     data-tooltip-type="warning"
                                     data-tooltip-content="<%= data.getTickets(issue.externalSystemIssues) %>">
                                    <span>
                                        <i class="material-icons">&#xE157;</i>
                                    </span>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <div class="col-md-<%= cellWidth %> history-col rp-empty">
                    <div class="history-col-content">
                        <i class="material-icons">not_interested</i><br>
                        <%= data.text.launches.noItemInLaunch %>
                    </div>
                </div>
            <% } %>
            <% }); %>
        </div>
        <% }); %>
    </div>
</div>
