<div class="issue-row">
    <div class="col-sm-8 form-group">
        <label class="custom-label visible-xs"><%= data.text.bts.linkToIssue %></label>
        <input class="form-control issue-link" type="text" value="" />
        <span class="help-inline"></span>
    </div>
    <div class="col-sm-3 nopadding  form-group">
        <label class="custom-label visible-xs"><%= data.text.bts.issueId %></label>
        <input class="form-control issue-id" type="text" value="" />
        <span class="help-inline"></span>
    </div>
    <div class="col-sm-1 col-xs-12 remove-block">
        <span class="remove-row hidden-xs">
            <i class="material-icons">clear</i>
        </span>
        <button class="rp-btn rp-btn-danger remove-row pull-right m-bottom-15 visible-xs"><%= data.text.ui.remove %></button>
    </div>
</div>
<div class="clearfix"></div>