<div id="filterPanel" class="clearfix"></div>
<div id="headerBar" class="fixed_header clearfix">
    <ul class="rp-nav rp-nav-left" id="breadCrumbs"></ul>
    <ul class="rp-nav rp-nav-right">
        <li style="display: none;"
            id="testItemsNav" 
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height">
            <a href=""
                class="rp-btn rp-btn-default rp-button-with-icon"
                title="<%= data.text.logs.prevTestItem %>">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
            <a href=""
                class="rp-btn rp-btn-default rp-button-with-icon"
                title="<%= data.text.logs.nextTestItem %>">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </li>
        <li id="gridRefresh"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height">
            <div class="rp-btn rp-btn-default rp-button-with-icon"
                data-title="<%= data.text.ui.refresh %>"
                title="<%= data.text.ui.refresh %>">
                <i class="material-icons">autorenew</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.ui.refresh %>
                </span>
                <span id="changeCounter" class="bounce"></span>
            </div>
        </li>
        <li style="display: none;"
            id="addWidget"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height"
            data-title="<%= data.text.dashboard.saveWidget %>"
            title="<%= data.text.dashboard.saveWidget %>">
            <div class="rp-btn rp-btn-default rp-button-with-icon add-widget-btn"
                data-title="<%= data.text.dashboard.addWidget %>"
                title="<%= data.text.dashboard.addWidget %>">
                <i class="material-icons">add_circle</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.dashboard.addWidget %>
                </span>
            </div>
        </li>
        <li style="display: none;"
            id="loadBug"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height"
            data-tbs="<%= data.text.launches.loadBug %>"
            data-notbs="<%= data.text.launches.configureTBSLoad %>"
            data-isprocessing="<%= data.text.launches.forbiddenIsProcessing %>"
            data-noissues="<%= data.text.launches.noIssuesLoad %>">
            <div class="rp-btn rp-btn-default rp-button-with-icon">
                <i class="material-icons">link</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.launches.loadBug %>
                </span>
            </div>
        </li>
        <li style="display: none;"
            id="postBug"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height"
            data-tbs="<%= data.text.launches.postBug %>"
            data-noissues="<%= data.text.launches.noIssues %>"
            data-isprocessing="<%= data.text.launches.forbiddenIsProcessing %>"
            data-notbs="<%= data.text.launches.configureTBS %>">
            <div class="rp-btn rp-btn-default rp-button-with-icon">
                <i class="material-icons">bug_report</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.launches.postBug %>
                </span>
            </div>
        </li>
        <li style="display: none;"
            id="historyActivator"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height">
            <div class="rp-btn rp-btn-default rp-button-with-icon"
                data-title="<%= data.text.launches.historyView %>"
                title="<%= data.text.launches.historyView %>">
                <i class="material-icons">history</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.launches.historyView %>
                </span>
            </div>
        </li>
        <li style="display: none;"
            id="launchesCompare"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height">
            <div class="rp-btn rp-btn-default rp-button-with-icon"
                data-title="<%= data.text.launches.Compare %>"
                title="<%= data.text.launches.Compare %>">
                <i class="material-icons">equalizer</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.launches.Compare %>
                </span>
            </div>
        </li>
        <li style="display: none;"
            id="mergeLaunches"
            class="rp-launch-btn float-right margin-left-10 rp-item-li-fix-height">
            <div class="rp-btn rp-btn-default rp-button-with-icon"
                data-title="<%= data.text.launches.merge %>"
                title="<%= data.text.launches.merge %>">
                <i class="material-icons">call_merge</i>
                <span class="hidden-md hidden-sm hidden-xs rp-btn-val">
                    <%= data.text.launches.merge %>
                </span>
            </div>
        </li>
    </ul>
</div>