<form id="form-merge-launches" class="merge-form row">
    <div class="form-group col-sm-12">
        <label class="control-label align-label"><%= data.text.forms.name %>:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="mergeName" size="30" value="<%= data.name %>" />
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label align-label"><%= data.text.forms.owner %>:</label>
        <div class="bold align-label"><%- data.owner %></div>
    </div>
    <div class="form-group col-sm-12">
        <div>
            <label class="control-label align-label"><%= data.text.forms.description %>:</label>
            <% if(data.descriptionMax){ %>
            <span class="control-label pull-right align-label">(<span class="vsize"><%= data.description.length %></span>/<%= data.descriptionMax %>)</span>
            <% } %>
        </div>
        <div class="col-sm-12">
            <textarea id="mergeDescription" class="form-control inline-input" rows="3"><%= data.description %></textarea>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label align-label"><%= data.text.forms.tags %>:</label>
        <div class="col-sm-12">
            <input type="text" class="filter-control" id="mergeTags" data-warning="<%= data.text.ui.enterChars %>"
                   placeholder="" value="<%= data.tags.join(',') %>" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label align-label"><%= data.text.forms.startTime %>:</label>
        <div class="bold align-label"><%= data.dateFormat(data.startTime) %></div>
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label align-label"><%= data.text.forms.endTime %>:</label>
        <div class="bold align-label"><%= data.dateFormat(data.endTime) %></div>
    </div>
    <div class="col-sm-12">
        <label class="control-label align-label">
            <input type="checkbox" id="extendWithOriginal" name="extendWithOriginal" />
            <%= data.text.launches.extendWithOriginal %>
        </label>
    </div>
</form>