<div class="container-fluid rp-margin-reset rp-odd-even rp-table-hover">
    <!-- tbody -->
    <% if(data.collection.length) { %>
        <% var binaryIndex = 0; %>
        <% _.each(data.collection, function(item, index) { %>
            <div class="row rp-table-row <%- item.level %>" id="<%= item.id %>">
                <div class="col-xs-8 col-sm-10 text-wrapper">
                    <% if(item.binary_content) { %>
                        <div class="col-sm-10 nopadding">
                            <% } else { %>
                                <div class="col-sm-12 nopadding">
                            <% } %>
                            <% var split = data.util.validForCollapsibleMessage(item); %>
                            <% if(split && split.length >= 2) { %>
                                <% if(split[2]==='xml'){ %>
                                    <pre class="log-preview"><%- split[0].replaceNewLines() %></pre>
                                    <div class="col-sm-12 nopadding collapse"
                                        id="collapseExample<%= item.id %>">
                                        <pre class="log-preview"><%- split[1].replaceNewLines() %></pre>
                                    </div>
                                <% } else { %>
                                    <span class="pre-view"><%- split[0].replaceNewLines() %></span>
                                    <div class="col-sm-12 nopadding collapse collapseLogs"
                                        id="collapseExample<%= item.id %>">
                                        <span class="pre-view"><%- split[1].replaceNewLines() %></span>
                                    </div>
                                <% } %>
                                <button class="btn btn-collapse col-sm-12 collapsed"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseExample<%= item.id %>">
                                    <i class="material-icons keyboard_arrow_up">keyboard_arrow_up</i>
                                    <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
                                </button>
                            <% } else { %>
                            <% var isXML = data.util.matchForXML(item); %>
                            <% if(isXML) {%>
                                <pre class="log-preview"><%- isXML %></pre>
                            <% } else { %>
                                <span class="pre-view">
                                    <%= item.message.escapeHtml().replaceNewLines() %>
                                </span>
                            <% } %>
                        <% } %>
                    </div>
                    <% if(item.binary_content) { %>
                        <div class="col-sm-2">
                            <% if(item.binary_content.content_type.indexOf("image") === 0) { %>
                                <a href="#" class="table_priview thumbnail image" data-slide-index="<%= binaryIndex %>">
                                    <img alt="preview"
                                        class="lazy"
                                        src="<%- data.util.updateImagePath(data.dataUrl+item.binary_content.thumbnail_id ) %>"
                                        data-original="<%- data.util.updateImagePath(data.dataUrl+item.binary_content.thumbnail_id ) %>"
                                        id="<%= item.binary_content.id %>">
                                </a>
                            <% binaryIndex += 1; %>
                            <% } else { %>
                                <a target="_blank"
                                    href="<%- data.util.updateImagePath(data.dataUrl + item.binary_content.id) %>"
                                    title="<%= data.text.logs.openFile %>"
                                    class="table_priview thumbnail">
                                    <span class="binary-file">
                                        <i class="material-icons">insert_drive_file</i>
                                    </span>
                                </a>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <%= data.util.dateFormat(item.time) %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="row rp-table-row">
            <div class="col-xs-12">
                <h3 class="title-no-data text-center">
                    <i class="rp-icons rp-icons-warning"></i>
                    <span class="warning"><%= data.text.ui.noResultsFound %></span>
                </h3>
            </div>
        </div>
    <% } %>
    <!-- ./tbody -->
</div>
