<div class="row">
    <div id="history-inputs" class="col-md-9">
        <div class="history-inputs-row">
            <i class="material-icons">equalizer</i>
            <h5><%= data.text.launches.clickToCompare %></h5>
            <ul class="list-inline history-items"></ul>
        </div>
    </div>
    <div id="history-show-button" class="col-md-3 pull-right">
        <div class="pull-right">
            <button class="rp-btn rp-btn-submit btn-show-compare" style="display:none;">
                <%= data.text.launches.Compare %>
            </button>
            <button class="rp-btn rp-btn-cancel" id="cancel-history"><%= data.text.ui.cancel %></button>
        </div>
    </div>
</div>