<% if(data.validator.durationInProgress(data.item)) { %>
    <% if(data.validator.durationStartAndEnd(data.item)) { %>
        <div title="<%= data.text.launches.inProcessAndEndedDuration %>">
            <!-- <h3 class="title-no-data text-center"> -->
            <i class="rp-icons rp-icons-warning"></i>
                <!-- <span class="warning"></span> -->
            <!-- </h3> -->
        </div>
    <% } else { %>
        <div title="<%= data.text.launches.inProcess %>">
            <img alt="<%= data.text.launches.inProcess %>" src="img/time-in-progress.gif" />
            <span id="approximate-<%= data.item.id %>" class="text-muted" style="font-size: 12px;"></span>
        </div>
    <% } %>
<% } else { %>
    <% var time = data.util.timeFormat(data.item.start_time, data.item.end_time); %>
    <% var finish = data.util.dateFormat(data.item.end_time, true); %>
    <% if(data.validator.durationSkipped(data.item)) { %>
        <span title="<%= data.text.launches.skippedDuration %><%= time %>"><%= time %></span>
    <% } else if(data.validator.durationStartNoEnd(data.item)) { %>
        <span title="<%= data.text.launches.notInProcessNotEndedDuration %>">
            <!-- <h3 class="title-no-data text-center"> -->
            <i class="rp-icons rp-icons-warning"></i>
                <!-- <span class="warning"></span> -->
            <!-- </h3> -->
        </span>
    <% } else { %>
        <span title="<%= data.text.launches.prefixDuration %><%= time %><%= data.text.launches.finishTime %><%= finish %>">
            <% if(data.validator.durationStopped(data.item)){ %>
                <abbr class="text-danger"
                    title="Run STOPPED after: <%= time %>. Stopped at: <%= finish %>">
                    <strong><%= time %></strong>
                </abbr>
            <% } else if(data.validator.durationInterrupted(data.item)){ %>
                <abbr class="text-danger"
                    title="Run INTERRUPTED after: <%= time %>. Stopped at: <%= finish %>">
                    <strong><%= time %></strong>
                </abbr>
            <% } else { %>
                <%= time %>
            <% } %>
        </span>
    <% } %>
<% } %>
