.modal-footer {
  position: relative;
  display: table;
  width: 100%;
}
.warning-block-wrap {
  position: relative;

  .warning-block {
    padding-right: 5px;
  }
}
.warning-block {
  display: table-cell;
  padding-right: 20px;
  box-sizing: border-box;
  vertical-align: middle;

  .warning-icon {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    svg {
      fill: $COLOR--failed;
    }
  }
  .warning-message {
    display: inline-block;
    padding-left: 25px;
    box-sizing: border-box;
    font-family: $FONT-REGULAR;
    font-size: 10px;
    line-height: 1.4;
    color: $COLOR--failed;
  }
}
.buttons-block {
  float: right;
  white-space: nowrap;
}
.left {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}
.button-container {
  &.left {
    min-width: 20px;
    height: 20px;
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }
  display: inline-block;
  height: 30px;
  min-width: 70px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  button {
    font-size: 13px;
  }
}
.permission-footer {
  display: none;
}
.confirmation-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 380px;
  float: left;
}
.confirmation-label {
  font-size: 10px;
  line-height: 13px;
}
