.entities-selector {
  display: inline-block;
  position: relative;
  margin-right: 150px;
  margin-top: 25px;
  vertical-align: top;

  &.opened {
    .toggler {
      border-color: $COLOR--topaz;
      box-shadow: 0 0 2px 0 rgba($COLOR--topaz, 0.7);

      &::after {
        transform: rotate(180deg);
      }
    }

    .entities-list {
      display: block;
    }
  }
}
.toggler {
  display: block;
  height: 30px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 28px;
  color: $COLOR--charcoal-grey;
  cursor: pointer;

  &:hover {
    border-color: $COLOR--gray-47;
  }

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -2px;
    width: 8px;
    height: 0;
    margin: 0 10px;
    box-sizing: border-box;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: transform 200ms linear;
  }
}
.entities-list {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  max-width: 250px;
  margin-top: 3px;
  padding: 5px 0;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  box-sizing: border-box;
  box-shadow: 0 6px 12px $COLOR--gray-80;
  z-index: 1;
}
.entity-item {
  display: block;
  height: 30px;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  line-height: 30px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;

  &.sub-item {
    padding-left: 40px;
  }

  &:hover {
    background-color: $COLOR--tealish-hover;
  }
}
