.modal-description {
  padding: 10px;
  font-size: 12px;
  font-family: $FONT-SEMIBOLD;
  text-transform: uppercase;
  color: $COLOR--gray-47;
  background-color: $COLOR--white-four;
}
.invite-form {
  margin-top: 20px;
  margin-right: 80px;
}
