/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.login-login-auth-button {

  @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    display: inline-block;
    margin-right: 10px;
  }
  .rp-btn {
    margin: 0 auto 10px auto;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 3px;

    svg {
      width: 20px;
      height: 20px;
      color: #fff;
      display: inline-block;
      fill: #fff;
      vertical-align: top;
      margin-top: 2px;
      margin-right: 8px;
    }

    @media (max-width: $SCREEN_XS_MAX) {
      margin-bottom: 25px;
    }
  }
}
