/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.login-page {
  position: relative;
  left: -45px;
  width: 1000px;
  height: 744px;
  margin: 20px auto 0 auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 $COLOR--skipped;

  @media (max-width: 1100px) {
    left: -75px;
  }
  @media (max-width: 1050px) {
    left: -95px;
  }

  @media (max-width: 1010px) {
    left: 0px;
    width: 320px;
    height: auto;
  }

  .left-block {
    width: 50%;
    height: 100%;
    float: left;
    padding: 30px 60px;
    background-image: url('../../img/login/login.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;

    @media (max-width: 1010px) {
      display: none;
    }

    .logo-label {
      width: 140px;
      height: 23px;
      background-image: url('../../img/login/logo.png');
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
    }

    .twitter-wrapper {
      position: relative;
      width: 100%;
      height: 545px;
      margin-bottom: 20px;

      .twitter-content {
        position: absolute;
        width: 100%;
        bottom: 0;

        .caption {
          width: 100%;
          height: 24px;
          padding-left: 25px;
          margin-bottom: 20px;
          line-height: 24px;
          font-family: $OpenSansRegular, sans-serif;
          font-size: 16px;
          text-align: center;
          color: #6f898d;
          background-image: url('../../img/login/socials/twitter-gray.png');
          background-repeat: no-repeat;
          background-position: 45px 50%;
        }

        .twits {
          width: 100%;
          .twit {
            display: block;
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 10px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            background-color: $COLOR--white-default;
          }
        }
      }
    }

    .separator {
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;
      border-top: 1px solid #6f898d;
      opacity: 0.2;
    }

    .socials-block {
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-position: center;

        &.gh-icon {
          background-image: url(../../img/login/socials/github.svg);
        }
        &.fb-icon {
          background-image: url(../../img/login/socials/fb.svg);
        }
        &.tw-icon {
          background-image: url(../../img/login/socials/twitter.svg);
        }
        &.vk-icon {
          background-image: url(../../img/login/socials/vk.svg);
        }
        &.yt-icon {
          background-image: url(../../img/login/socials/youtube.svg);
        }
        &.slk-icon {
          background-image: url(../../img/login/socials/slack.svg);
          margin-right: 0;
        }
      }
    }
  }

  .right-block {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    padding: 60px;
    background-color: $COLOR--white-default;

    @media (max-width: 1010px) {
      width: 100%;
      padding: 0 0 146px 0;
    }

    .subpage-container {
      width: 100%;
      height: 100%;
    }

    .services {
      position: absolute;
      width: 380px;
      padding-bottom: 60px;
      bottom: 0;

      @media (max-width: 1010px) {
        width: 100%;
        padding: 20px;
      }
      .current {
        font-size: 12px;
        color: $COLOR--gray-47;

        @media (max-width: 1010px) {
          position: absolute;
          display: inline-block;
        }
      }
      .list {
        font-size: 11px;
        color: $COLOR--charcoal-grey;

        @media (max-width: 1010px) {
          width: 100%;
          display: inline-block;
        }

        .service-name {
          margin-left: 13px;

          &:first-child {
            @media (max-width: 1010px) {
              margin-left: 99px;
            }
          }

          &.expired {
            color: #ed684f;
          }
        }
      }

      .update-services {
        position: relative;
        margin-top: 10px;
        font-size: 12px;
        color: $COLOR--gray-47;

        @media (max-width: 1010px) {
          display: none;
        }

        i {
          position: relative;
          top: 2px;
          font-size: 18px;
          color: #ed684f;
        }
        span {
          line-height: 18px;
        }
        .update-link {
          margin-left: 10px;
          font-size: 13px;
          color: $COLOR--tealish;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
