/*
 * Copyright 2016 EPAM Systems
 *
 *
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 *
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.login-restore-subpage {
  width: 380px;
  @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
    width: 100%;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
    padding: 0;
  }

  .header-mobile {
    display: none;
    width: 100%;
    height: 146px;
    margin-bottom: 30px;
    background-image: url(../../img/login/login-mobile.svg);
    background-color: $COLOR--light-blue;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;

    @media (max-width: $SCREEN_XS_MAX) {
      display: block;
    }

    .logo-label {
      position: absolute;
      top: 15px;
      left: 20px;
      width: 100px;
      height: 16px;
      background-image: url(../../img/rp-logo.svg);
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
    }

    .welcome-msg {
      display: block;
      width: 100%;
      padding-top: 60px;
      font-family: $OpenSansRegular, sans-serif;
      color: #6f898d;;
      font-size: 16px;
      text-align: center;

      .big {
        font-size: 24px;
      }
    }
  }
  .welcome-msg {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    font-family: "OpenSansRegular", sans-serif, sans-serif;
    color: #6f898d;
    font-size: 24px;
    text-align: center;
    .big {
      font-size: 32px;
    }

    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }
  .restore-form {
    width: 100%;
    text-align: center;
    height: auto;
    overflow: hidden;

    @media (max-width: $SCREEN_XS_MAX) {
      padding: 0 20px;
      margin-bottom: 10px;
    }

    .rp-field {
      position: relative;
      width: 100%;
      margin-bottom: 50px;
      font-weight: normal;

      @media (min-width: $SCREEN_SM_MIN) and (max-width: $SCREEN_SM_MAX) {
        width: 380px;
        display: block;
        margin: 0 auto 50px auto;
      }

      @media (max-width: $SCREEN_XS_MAX) {
        margin-bottom: 30px;
      }

      .icon-wrapper {
        position: absolute;
        width: 40px;
        height: 38px;
        background-color: #f6f6f6;
        border: solid 1px $COLOR--gray-80;
        border-right: none;
        text-align: center;
        i {
          margin: 8px auto 0 auto;
          font-size: 20px;
          color: #9ADBE6;
        }
      }
      .rp-input {
        padding-left: 55px;
        width: 100%;
        height: 38px;
        border: solid 1px $COLOR--gray-80;
        border-left: none;
      }
      .validate-hint {
        top: 38px;
        width: 100%;
        text-align: left;
      }

      &.validate-error {
        .icon-wrapper, .rp-input {
          border-color: $COLOR--orange-red;
        }
      }
    }

    .rp-btn {
      width: 160px;
      height: 40px;
      border-radius: 3px;
      font-size: 16px;

      @media (max-width: $SCREEN_XS_MAX) {
        width: 130px;
        float: left;
      }

      &.rp-btn-cancel {
        margin-right: 30px;

        @media (max-width: $SCREEN_XS_MAX) {
          margin-right: 20px;
        }
      }
    }
  }
}
