.adminHeader{
  position: absolute;
  width: 100%;
  z-index: 11;
  margin: 0;
  letter-spacing: .5px;
  box-sizing: border-box;
  color: $COLOR--white-two;
  background: $COLOR--charcoal-grey;
  padding-left: 10px;
  @media(min-width: $SCREEN_SM_MIN) {
    padding: 0 10px 0 15px;
    background-color: $COLOR--charcoal-grey;
  }
}
.container{
  padding: 9px 5px 9px 0;
  @media(min-width: $SCREEN_SM_MIN) {
    padding: 16px 5px 11px 15px;
  }
  @media(min-width: 1600px) {
    width: 1370px;
    margin: 0 auto;
  }
}
h3{
  margin: 5px 0;
  padding: 0;
  line-height: 22px;
  font-family: $FONT-CONDBOLD, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  @media (min-width: $SCREEN_SM_MIN){
    font-size: 20px;
  }
  .header-crumb{
    display: inline;
    @media (min-width: $SCREEN_SM_MIN){
      display: none;
    }
  }
}
.adminHeaderControls{
  float: right;
  text-align: right;
  display: none;
  @media(min-width: $SCREEN_SM_MIN) {
    display: inline-block;
  }
  button{
    position: relative;
    font-family: $FONT-CONDBOLD, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(39, 39, 40, 0.4);
    color: $COLOR--gray-91;
    background: inherit;
    border: none;
    outline: none;
    &:hover{
      cursor: pointer;
    }
    &.logout{
      padding-left: 20px;
      &::after{
        content: url('./img/logout.svg');
        margin-left: 10px;
        vertical-align: sub;
      }
    }
    &.backToProject{
      margin-right: 5px;
      padding-right: 20px;
      padding-left: 15px;
      text-transform: uppercase;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 1px;
        height: 29px;
        background-color: #575658;
      }
      &::before{
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-top: 1.5px solid $COLOR--gray-91;
        border-left: 1.5px solid $COLOR--gray-91;
        transform: rotate(-45deg);
        vertical-align: middle;
        margin-bottom: 3px;
        margin-right: 4px;
      }
    }
  }
}

