.external-login-block {
  text-align: center;
}
.external-auth-btn {
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
}
svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 8px;
  color: $COLOR--white-two;
  fill: $COLOR--white-two;
  vertical-align: top;

}
