.instances-section {
  max-width: 600px;
  margin-left: 145px;
  margin-top: 25px;

  @media (max-width: $SCREEN_XS_MAX) {
    margin-left: 0;
  }
}

.add-integration-button {
  margin-bottom: 25px;
}

.settings-action-block, .add-integration-button {
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.action-description,
.no-items-message,
.uninstall-plugin-note {
  margin-top: 10px;
  color: $COLOR--gray-60;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  line-height: 1.54;
}

.no-items-message {
  margin-bottom: 25px;
}

.uninstall-plugin-title {
  padding: 5px 0;
  color: $COLOR--black-2;
  font-size: 20px;
  font-family: $FONT-SEMIBOLD;
}

.uninstall-plugin-note {
  margin: 5px 0 10px;
}

.uninstall-plugin-button {
  display: inline-block;
  width: auto;
  height: 30px;
  font-size: 13px;
  font-family: $FONT-REGULAR;
}
