.logs-grid {
  position: relative;
}

.message-column {
  position: relative;

  &.console {
    &:before {
      left: -30px;
    }
  }
  @media (max-width: $SCREEN_SM_MAX) {
    width: 72%;
    &.console {
      width: 100%;
      &:before {
        left: -25px;
      }
    }
  }
  @media (max-width: $SCREEN_XS_MAX) {
    position: static;
    padding-bottom: 0;
    &.console {
      &:before {
        left: 0;
      }
    }
  }
  @media (min-width: $SCREEN_XS_MAX) {
    &.console {
      padding: 5px 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 3px;
    height: calc(100% + -1px);
    border-left: 1px solid $COLOR--white-two;
  }
  &.level-FATAL {
    padding-bottom: 18px;
    &:before {
      background-color: $COLOR--fatal;
    }
  }
  &.level-ERROR {
    padding-bottom: 18px;
    &:before {
      background-color: $COLOR--orange-red;
    }
  }
  &.level-WARN {
    &:before {
      background-color: $COLOR--to-investigate;
    }
  }
  &.level-TRACE {
    &:before {
      background-color: $COLOR--gray-91;
    }
  }
  &.level-INFO {
    &:before {
      background-color: $COLOR--windows-blue;
    }
  }
  &.level-DEBUG {
    &:before {
      background-color: $COLOR--gray-60;
    }
  }
}

.mobile {
  display: none;
  @media (max-width: $SCREEN_XS_MAX) {
    display: block;
  }
}

.no-header {
  display: none;
}

.attachment-column {
  width: 8%;

  &.console {
    width: 30px;
    padding: 5px 8px;
  }
  @media (max-width: $SCREEN_SM_MAX) {
    width: 13%;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;

    &.mobile {
      display: block;
      width: 25%;
    }
  }
}

.time-column {
  width: 14%;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 13px;
  @media (max-width: $SCREEN_XS_MAX) {
    width: 75%;
    font-size: 14px;
    line-height: 31px;
    float: left;
    word-spacing: 12px;
  }
}

.row-console {
  &:after {
    display: none;
  }
}

.error-row-console {
  &:hover {
    background: none;
  }
}

.console-view-header {
  position: absolute;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $COLOR--white;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.time-header {
  position: relative;
  padding-left: 30px;
  padding-right: 107px;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  text-transform: uppercase;

  &.sorting-active {
    .arrow {
      display: inline-block;
    }
  }

  &.sorting-asc {
    .arrow {
      svg {
        transform: translateX(3px) rotate(180deg);
      }
    }
  }

  &:hover {
    cursor: pointer;

    .arrow {
      display: inline-block;
    }
  }

  @media (max-width: $SCREEN_SM_MAX) {
    padding-right: 104px;
    padding-left: 28px;
  }
}

.arrow {
  display: none;
  position: absolute;
  width: 7px;
  top: -2px;

  svg {
    fill: $COLOR--gray-47;
    transform: translateX(3px);
  }
}
