.info-section {
  display: flex;
  padding-left: 5px;
}

.logo-block {
  margin-right: 40px;
}

.logo {
  width: 100px;
  height: 100px;
}

.description-block {
  max-width: 600px;
}

.title {
  padding: 5px 0;
  color: $COLOR--black-2;
  font-size: 22px;
  font-family: $FONT-SEMIBOLD;
}

.version, .description {
  color: $COLOR--black-2;
  font-size: 13px;
  font-family: $FONT-REGULAR;
}

.description {
  height: 60px;
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 1.54;

  &.show-more {
    height: auto;
  }
}

.show-more-button {
  padding: 0;
  border: none;
  background: none;
  color: $COLOR--topaz;
  font-size: 13px;
  font-family: $FONT-REGULAR;
  cursor: pointer;
}
