<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.dialogHeader.changePassword}) %>
<div class="modal-body">
    <div class="rp-change-password-from" data-js-change-password>
        <div class="rp-form-group">
            <label class="rp-control-label col-sm-3 col-xs-12"><%= data.text.userProfile.oldPass %></label>
            <div class="col-sm-7 col-xs-12">
                <input data-js-origin-password class="form-control rp-input-default" type="password"
                       placeholder="<%= data.text.userProfile.enter %> <%= data.text.userProfile.oldPass %>"
                       value="">
                <div class="help-inline"><%= data.text.validation.originalPassRegex %></div>
            </div>
        </div>
        <div data-js-confirm-group>
            <div class="rp-form-group">
                <label class="rp-control-label col-sm-3 col-xs-12"><%= data.text.userProfile.newPass %></label>
                <div class="col-sm-7 col-xs-12">
                    <input data-js-new-password class="form-control rp-input-default" type="password"
                           placeholder="<%= data.text.userProfile.enter %> <%= data.text.userProfile.newPass %>"
                           value="">
                </div>
            </div>
            <div class="rp-form-group">
                <label class="rp-control-label col-sm-3 col-xs-12"><%= data.text.userProfile.confirmPass %></label>
                <div class="col-sm-7 col-xs-12">
                    <input data-js-confirm-password class="form-control rp-input-default confirm" type="password"
                           placeholder="<%= data.text.userProfile.confirmPass %> <%= data.text.userProfile.newPass %>"
                           value="">
                    <div class="help-inline"></div>
                    <div class="show-password">
                        <label class="rp-checkbox-wrap">
                            <input data-js-show-password class="rp-input-checkbox" type="checkbox">
                            <span><%= data.text.login.showPassword %></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="rp-btn rp-btn-cancel" type="button" data-js-cancel>
        <%= data.text.ui.cancel %>
    </button>
    <button class="rp-btn rp-btn-submit disabled" type="button" data-js-ok>
        <%= data.text.ui.submit %>
    </button>
</div>



