<div class="ticket-row">
    <label class="link-label" data-js-link-label>
        <span><%= data.text.bts.linkToIssue %></span>
        <input class="rp-input" type="text" data-js-link-input>
        <span class="help-inline" data-js-link-error></span>
    </label>
    <label class="issue-label" data-js-issue-label>
        <span><%= data.text.bts.issueId %></span>
        <input class="rp-input" type="text" data-js-issue-input>
        <span class="help-inline" data-js-issue-error></span>
    </label>
    <span class="remove-row" data-js-remove-row>
        <i class="material-icons">clear</i>
    </span>
</div>