<% var dialogTitle = data.isEditLaunch ? data.text.dialog.launchEditor : data.text.dialog.itemEditor %>
<%= data.includeTemplate('_tpl-modal-header', {headerText: dialogTitle}) %>
<div class="modal-body">
    <h4><%= data.isEditLaunch ? data.text.dialog.launchDetails : data.text.dialog.testItemDetails  %></h4>
    <h2 data-js-launch-name></h2>
    <div class="fields">
        <label class="form-group">
            <span><%= data.text.forms.description %></span>
            <textarea class="rp-input form-control" placeholder="<%= data.isEditLaunch ? data.text.dialog.launchDescrPlaceholder : data.text.dialog.testItemDescrPlaceholder %>" cols="60" rows="4" data-js-description></textarea>
            <span class="help-inline"></span>
        </label>
        <label>
            <span><%= data.text.forms.tags %></span>
            <input class="rp-input" type="text" placeholder="<%= data.text.dialog.launchTagPlaceholder %>" data-js-tags>
        </label>
    </div>
    <!--<div class="well">
        <h3 class="title-no-data text-center">
            <i class="rp-icons rp-icons-warning"></i>
            <span class="warning">
                        <small><%= data.text.launches.disclaimerChangeDescription %></small>
                    </span>
        </h3>
    </div>-->
</div>
<div class="modal-footer">
    <button class="rp-btn rp-btn-cancel" type="button" data-js-cancel>
        <%= data.text.ui.cancel %>
    </button>
    <button class="rp-btn rp-btn-submit" type="button" data-js-save>
        <%= data.text.ui.save %>
    </button>
</div>