<label class="link-label form-group">
    <span class="row-title"><%= data.text.bts.linkToIssue %></span>
    <input class="rp-input form-control" type="text" placeholder="Enter Link to Issue" data-js-link-input>
    <span class="validate-hint"></span>
</label>
<label class="issue-label form-group">
    <span class="row-title"><%= data.text.bts.issueId %></span>
    <input class="rp-input form-control" type="text" placeholder="Issue ID" data-js-issue-input>
    <span class="validate-hint"></span>
</label>
<span class="remove-row" data-js-remove-row>
    <i class="material-icons">clear</i>
</span>
