<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.launches.postBug, isBeta: true}) %>
<div class="modal-body">
    <% if(data.systems.length > 1) { %>

            <div class="rp-form-group project-selector-field">
                <label class="rp-control-label rp-custom-col obligatory-field"
                    for="targetProject">
                    <%= data.text.bts.projectNameIn %>
                    <span class="text-uppercase"><%= data.source %></span>
                </label>

                    <div class="btn-group">
                        <button type="button"
                            class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                            data-toggle="dropdown"
                            id="targetProject">
                            <span class="select-value"><%= data.current.project %></span>
                            <span class="rp-caret"></span>
                        </button>
                        <ul class="dropdown-menu rp-width-100">
                            <% _.forEach(data.systems, function(system, index) { %>
                                <li class="<%= system.id === data.current.id ? 'active' : '' %>">
                                    <a href="#"
                                        id="<%= system.id %>"
                                        class="bts-project project-name">
                                        <%= system.project %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="p-top-10 label-post-to">
                        <%= data.text.launches.willBePostedTo %>
                        <span id="postToUrl"><%= data.systems[0].url %></span>
                    </div>

            </div>

    <% } %>
    <div id="dynamicContent" class="bts-fields"></div>
    <div id="requiredFields" class="required-fields-error">
        <div class="rp-form-group">
            <div class="help-inline rp-display-block">
                <%= data.text.launches.fillAllRequired %>
            </div>
        </div>
    </div>

    <div id="staticContent" class="static-content">
        <% if(!data.isMultiply){ %>
        <div class="rp-form-group include-data" id="includesBlock">
            <div class="rp-form-title">
                <span><%= data.text.launches.includeData %></span>
            </div>
            <div class="rp-form-group">
                <div class="switch-field">
                    <label class="rp-control-label m-bottom-10">
                        <%= data.text.launches.includeScreenshots %>
                    </label>
                    <label class="rp-switcher-big" id="include_data">
                        <span class="turn-on"><%= data.text.ui.on %></span>
                        <span class="turn-off"><%= data.text.ui.off %></span>
                        <input type="checkbox" data-js-is-included>
                        <div class="slider"></div>
                    </label>
                </div>
                <div class="switch-field">
                    <label class="rp-control-label m-bottom-10">
                        <%= data.text.launches.includeLogs %>
                    </label>
                    <label class="rp-switcher-big" id="include_logs">
                        <span class="turn-on"><%= data.text.ui.on %></span>
                        <span class="turn-off"><%= data.text.ui.off %></span>
                        <input type="checkbox" data-js-is-included>
                        <div class="slider"></div>
                    </label>
                </div>
                <div class="switch-field">
                    <label class="rp-control-label m-bottom-10">
                        <%= data.text.launches.includeComments %>
                    </label>
                    <label class="rp-switcher-big" id="include_comments">
                        <span class="turn-on"><%= data.text.ui.on %></span>
                        <span class="turn-off"><%= data.text.ui.off %></span>
                        <input type="checkbox" data-js-is-included>
                        <div class="slider"></div>
                    </label>
                </div>
            </div>
        </div>
        <% } %>
        <div class="rp-form-group panel-group credentials-section" id="accordion" role="tablist"
             aria-multiselectable="true">
            <div class="rp-form-title" role="tab">
                <a data-toggle="collapse" id="credentialsLink"
                    class="<%= data.collapse ? 'collapsed' : '' %>"
                    data-parent="#accordion"
                    href="#collapseCredentials"
                    aria-expanded="true"
                    aria-controls="collapseOne">
                    <%= data.text.launches[data.source + 'Credentials'] %>
                </a>
            </div>
            <div class="clearfix"></div>
            <div id="collapseCredentials"
                class="panel-collapse collapse <%= data.collapse ? '' : 'in' %>"
                role="tabpanel"
                aria-labelledby="headingOne">
                <div class="rp-form-group auth-type-selector">
                    <label class="rp-control-label rp-custom-col">
                        <%= data.text.bts.authorizationType %>
                    </label>
                    <div class="rp-custom-col dropdown">
                        <div class="btn-group input-group to-100-width">
                            <button id="systemAuth"
                                data-toggle="dropdown"
                                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle">
                                <span class="select-value">
                                    <%= data.text.ui[data.systems[0].systemAuth] %>
                                </span>
                                <span class="rp-caret"></span>
                            </button>
                            <ul class="dropdown-menu rp-width-100">
                                <% _.forEach(data.authorizationTypes, function(type) { %>
                                    <% var isActive = type.value === data.systems[0].systemAuth ? 'active' : ''; %>
                                    <li id="<%= type.value %>" class="<%= isActive %>">
                                        <a href="#" class="auth-type"><%= type.name %></a>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="authorizationType" class="credentials"></div>
                <% if(data.showCredentialsSoft && data.source != "jira") { %>
                    <div id="credentialsSoft">
                            <%= data.source === 'tfs' ? data.text.launches.credentialsSoftTfs : data.text.launches.credentialsSoft %>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="rp-form-group rp-display-block credentials-error-block">
            <div class="help-inline rp-display-block">
                <div id="credentialsWrong"
                    data-credentials="<%= data.text.bts.errorCredentials %>"
                    data-fields="<%= data.text.launches.problemInteracting %>"
                    data-general="<%= data.text.launches.problemGeneral %>"
                    data-fill="<%= data.text.launches.fillAllRequired %>">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="rp-btn rp-btn-cancel" type="button" data-js-cancel>
        <%= data.text.ui.cancel %>
    </button>
    <button class="rp-btn rp-btn-submit" type="button" data-js-post>
        <%= data.text.ui.post %>
    </button>
</div>
