<%= data.includeTemplate('_tpl-modal-header', {headerText: ((data.mode == 'save')?data.text.dialog.addFilter:data.text.dialog.editFilter)}) %>
<div class="modal-body">
    <label class="name-label modal-field form-group">
        <span class="field-title"><%= data.text.filter.name %></span>
        <input class="rp-input form-control" placeholder="<%= data.text.filter.namePlaceholder %>" type="text" data-js-name-input>
        <span class="validate-hint"></span>
    </label>

    <label class="description-label modal-field">
        <span class="field-title"><%= data.text.filter.description %></span>
        <textarea class="rp-input form-control" placeholder="<%= data.text.filter.descriptionPlaceholder %>" data-js-description></textarea>
        <!--<span class="help-inline"></span>-->
    </label>
    <label class="share-label modal-field form-group">
        <span class="field-title"><%= data.text.filter.share %></span>
        <label class="rp-switcher-big">
            <span class="turn-on"><%= data.text.ui.on %></span>
            <span class="turn-off"><%= data.text.ui.off %></span>
            <input type="checkbox" data-js-is-shared>
            <div class="slider"></div>
        </label>
    </label>


</div>
</div>
<div class="modal-footer">
    <button class="rp-btn rp-btn-cancel" type="button" data-js-cancel>
        <%= data.text.ui.cancel %>
    </button>
    <button class="rp-btn rp-btn-submit" type="button" data-js-ok>
        <%= (data.mode == 'save')?data.text.ui.add:data.text.ui.update %>
    </button>
</div>



