<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.dialogHeader.analyseLaunches}) %>
<div class="modal-body">
    <span class="strategy-title">
        <%= data.text.dialog.analyseLaunchesLabel %>
    </span>
    <div class="strategy-options" data-js-strategy-options>
        <label class="strategy-option">
            <input class="rp-input-radio" type="radio" name="aa-strategy" value="ALL">
            <span>
                <%= data.text.project.autoAnalysisBaseFirstOpt %>
            </span>
        </label>
        <label class="strategy-option">
            <input class="rp-input-radio" type="radio" name="aa-strategy" value="LAUNCH_NAME">
            <span>
                <%= data.text.project.autoAnalysisBaseSecondOpt %>
            </span>
        </label>
        <label class="strategy-option">
            <input class="rp-input-radio" type="radio" name="aa-strategy" value="CURRENT_LAUNCH">
            <span>
                <%= data.text.project.autoAnalysisBaseThirdOpt %>
            </span>
        </label>
    </div>
    <span class="strategy-title">
        <%= data.text.dialog.analyseLaunchesLabel1 %>
    </span>
    <div class="strategy-options" data-js-extended-strategy-options>
        <label class="rp-checkbox-wrap strategy-option">
            <input class="rp-input-checkbox" type="checkbox" value="TO_INVESTIGATE">
            <span><%= data.text.project.autoAnalysisBaseFourthOpt %></span>
        </label>
        <label class="rp-checkbox-wrap strategy-option">
            <input class="rp-input-checkbox" type="checkbox" value="AUTO_ANALYZED">
            <span><%= data.text.project.autoAnalysisBaseFifthOpt %></span>
        </label>
        <label class="rp-checkbox-wrap strategy-option">
            <input class="rp-input-checkbox" type="checkbox" value="MANUALLY_ANALYZED">
            <span><%= data.text.project.autoAnalysisBaseSixthOpt %></span>
        </label>
    </div>
</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>
