<% var dialogTitle = data.isEditLaunch ? data.text.dialog.launchEditor : data.text.dialog.itemEditor %>
<%= data.includeTemplate('_tpl-modal-header', {headerText: dialogTitle}) %>
<div class="modal-body">
    <h4><%= data.isEditLaunch ? data.text.dialog.launchDetails : data.text.dialog.testItemDetails  %></h4>
    <h2 data-js-launch-name></h2>
    <div class="fields" data-js-edit>
        <label class="form-group">
            <span><%= data.text.forms.tags %></span>
            <div class="tags-wrapper">
                <input class="rp-input" type="text" placeholder="<%= data.text.dialog.launchTagPlaceholder %>" data-js-tags>
            </div>
        </label>
        <label class="form-group">
            <div data-js-markdown-container></div>
        </label>
    </div>
</div>
<%= data.includeTemplate('_tpl-modal-footer',data.footerButtons)  %>
