<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.launches.loadBug}) %>
<div class="modal-body">
    <h4><%= data.text.launches.addIssueId %></h4>
    <div class="load-items-container" data-js-load-items-container></div>
</div>
<div class="modal-footer">
    <button class="rp-btn rp-btn-cancel" type="button" data-js-cancel>
        <%= data.text.ui.cancel %>
    </button>
    <button class="rp-btn rp-btn-submit" type="button" data-js-add>
        <%= data.text.ui.add %>
    </button>

</div>