<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.members.inviteMember}) %>

<div class="modal-body">
    <h4><%= data.text.admin.inviteNewUser %></h4>

    <form autocomplete="off" class="rp-form invite-user-form" data-js-invite-user-form>
        <label>
            <span><%= data.text.forms.email %></span>
            <input class="rp-input" data-js-email name="email" type="text"
                   placeholder="<%= data.text.members.enterEmail %>">
            <span class="validate-hint"></span>
        </label>
        <label>
            <span><%= data.text.forms.selectProject %></span>
            <input class="rp-input" data-js-user-project name="project" type="text">
            <span class="validate-hint"></span>
        </label>
        <label>
            <span><%= data.text.forms.projectRole %></span>
            <div class="role-selector" data-js-role-selector></div>
        </label>
    </form>

    <form class="rp-form success-form" data-js-success-form>
        <label>
            <span><%= data.text.members.invitationSent %></span>
            <div class="invite-sent-email" data-js-email-sent></div>
        </label>
        <label>
            <span><%= data.text.forms.linkInvitation %></span>
            <input class="rp-input" data-js-invite-link name="link" type="text" readonly>
            <a href="" class="copy-invite-link" data-js-copy-link><%= data.text.forms.copyLink %></a>
        </label>
    </form>
</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>
