<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.members.addMember}) %>
<div class="modal-body">
    <div class="rp-add-user-form">
        <h4><%= data.text.members.addMemberToProject %></h4>
        <div class="rp-form" data-js-add-user>
            <label>
                <span class="add-user-label required"><%= data.text.forms.login %></span>
                <input data-js-user-login type="text" value="" class="rp-input add-user-field">
                <span class="validate-hint"></span>
            </label>
            <label>
                <span class="add-user-label required"><%= data.text.forms.fullName %></span>
                <input data-js-user-full-name type="text" value="" class="rp-input add-user-field">
                <span class="validate-hint"></span>
            </label>
            <label>
                <span class="add-user-label required"><%= data.text.forms.email %></span>
                <input data-js-user-email type="text" value="" class="rp-input add-user-field">
                <span class="validate-hint"></span>
            </label>
            <% if(data.isUsers){ %>
            <label>
                <span class="add-user-label required"><%= data.text.forms.accountRole %></span>
                <div class="rp-input add-user-field" data-js-accout-role-dropdown></div>
                <span class="validate-hint"></span>
            </label>
            <label>
                <span class="add-user-label required"><%= data.text.forms.selectProject %></span>
                <input data-js-user-project type="text" value="" class="rp-input add-user-field">
                <span class="validate-hint"></span>
            </label>
            <% } %>
            <label>
                <span class="add-user-label required"><%= data.text.forms.projectRole %></span>
                <div class="rp-input add-user-field" data-js-project-role-dropdown></div>
                <span class="validate-hint"></span>
            </label>
            <label class="password-field">
                <span class="add-user-label required"><%= data.text.forms.password %></span>
                <input data-js-user-password type="text" value="" class="rp-input add-user-field">
                <span class="validate-hint"></span>
            </label>
            <div class="to-gen-pass">
                <a data-js-generate-password href="#" class="rp-blue-link-undrl rp-link" id="generate_password">
                    <%= data.text.forms.genPassword %>
                </a>
            </div>
        </div>
    </div>
</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>
