<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.dialogHeader.testItemsDetails }) %>
<div class="modal-body">
    <p class="item-name" data-js-item-name></p>
    <label class="item-label"><%= data.text.dialog.testUID %><span data-js-uid></span></label>
    <label class="item-label item-duration"><%= data.text.dialog.testDuration %><span data-js-duration></span></label>
    <label class="item-label item-tags" data-js-tags-container><%= data.text.dialog.testTags %><span data-js-tags></span></label>
    <div data-js-parametres-container>
        <label class="item-label item-paremetres" data-js-parametres-label><%= data.text.dialog.testParametres %></label>
        <div data-js-parametres>
        <table>
            <tr>
                <th><%= data.text.dialog.key %></th>
                <%  _.each( data.params, function(item){ %>
                    <td><%= item.key %></td>
                <% }) %>
            </tr>
            <tr>
                <th><%= data.text.dialog.value %></th>
                <% _.each( data.params, function(item){ %>
                    <td><%= item.value %></td>
                <% }) %>
            </tr>
        </table>
    </div>
    </div>
    <div data-js-description-container>
        <label class="item-label item-description"><%= data.text.dialog.testDescription %></label>
        <div data-js-description></div>
    </div>

</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>

