<%= data.includeTemplate('_tpl-modal-header', {headerText: data.text.admin.addProject}) %>
<div class="modal-body">
    <h4><%= data.text.admin.addNewProject %></h4>
    <div class="fields">
        <form class="rp-form">
            <label>
                <span class="required"><%= data.text.admin.projectName %></span>
                <input type="text" class="rp-input" data-js-project-name>
                <span class="validate-hint"></span>
            </label>
        </form>
    </div>
</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>
