<%= data.includeTemplate('_tpl-modal-header', {headerText: ((data.mode == 'save')?data.text.dialog.addFilter:data.text.dialog.editFilter)}) %>

<div class="modal-body">
    <label class="name-label modal-field form-group">
        <span class="field-title"><%= data.text.filter.name %></span>
        <input class="rp-input form-control" placeholder="<%= data.text.filter.namePlaceholder %>" type="text" data-js-name-input>
        <span class="validate-hint"></span>
    </label>

    <label class="description-label modal-field">
        <div data-js-markdown-container></div>
    </label>
    <label class="share-label modal-field form-group">
        <span class="field-title"><%= data.text.filter.share %></span>
        <label class="rp-switcher-big">
            <span class="turn-on"><%= data.text.ui.on %></span>
            <span class="turn-off"><%= data.text.ui.off %></span>
            <input type="checkbox" data-js-is-shared>
            <div class="slider"></div>
        </label>
    </label>
</div>

</div>
<%= data.includeTemplate('_tpl-modal-footer', data.footerButtons)  %>




