.modal-content {
  padding: 30px 10px;
  font-size: 14px;
  font-family: $FONT-REGULAR;
  white-space: pre-line;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }
}
