<button type="button"
    class="btn btn-default btn-toggle js-menu-toggle visible-xs button-position navbar-toggle">
    <i class="material-icons">format_indent_increase</i>
</button>
<h3 class="col-sm-4 admin_header"><%= data.text.admin.managementBoard %></h3>
<div class="pull-right admin_header_controls">
    <% if (data.project) { %>
        <a id="backToProject" href="#<%- data.lastURL %>" class="">
            <i class="material-icons">keyboard_arrow_left</i>
            <%= data.text.admin.backToProject %>
        </a>
    <% } %>
    <a id="logout" href="#login" class="">
        <span class="custom-padding"><%= data.text.topMenu.logout %></span>
        <i class="material-icons">power_settings_new</i>
    </a>
</div>
