<div class="sidebar-close" data-js-sidebar-close></div>
<span class="logo">
    <i class="sprite sprite-logo"></i>
    <!-- <span><%= data.text.topMenu.reportPortal %></span> -->
</span>
<nav data-js-scroll-container class="admin-side-bar">
    <ul class="main-menu" id="adminBar">
        <li>
            <a href="#administrate/projects"
                id="projectsSection"
                class="<%= data.page === 'projects' ? 'active' : '' %>">
                <i class="rp-icons rp-icons-projects fsize-19"></i>
                <span><%= data.text.admin.projects %></span>
            </a>
        </li>
        <li>
            <a href="#administrate/users"
                id="usersSection"
                class="<%= data.page === 'users' ? 'active' : '' %>">
                <i class="rp-icons rp-icons-all-users fsize-17"></i>
                <span><%= data.text.admin.users %></span>
            </a>
        </li>
        <li>
            <a href="#administrate/settings"
                id="settingsSection"
                class="<%= data.page === 'settings' ? 'active' : '' %>">
                <i class="rp-icons rp-icons-settings-left-menu  fsize-23"></i>
                <span><%= data.text.admin.serverSettings %></span>
            </a>
        </li>
    </ul>
    <ul class="user-menu">
        <% if (data.lastURL) { %>
            <li class="<%= isActive %> col-xs-6 col-sm-12">
                <a href="#<%- data.lastURL %>" class="mem-set user-id">
                    <i class="material-icons">chevron_left</i>
                    <%= data.text.admin.backToProject %>
                </a>
            </li>
        <% } %>
        <li class="<%= isActive %> col-xs-6 col-sm-12">
            <a href="#user-profile" class="mem-set user-id">
                <i class="material-icons">person</i>
                <span class="custom-padding"><%= data.text.topMenu.profile %></span>
            </a>
        </li>
        <li class="<%= isActive %> col-xs-6 col-sm-12">
            <a href="#login" id="logout" >
                <i class="rp-icons rp-icons-logout fsize-23"></i>
                <span class="custom-padding"><%= data.text.topMenu.logout %></span>
            </a>
        </li>
    </ul>
</nav>
</nav>
<a id="back-top" class="hidden-xs" title="<%= data.text.ui.backToTop %>" style="display: none;" global-back-top>
    <nobr>
        <span id="btt-span"><%= data.text.ui.backToTop %></span>
    </nobr>
</a>
