<% var counter = 0; %>
<% _.forEach(data.collection, function(project, index){ %>
    <% if(data.filter(project, data.search)){ %>
    <% counter += 1; %>
        <% var lastRunClass = project.lastRun && !data.hasRunsLastWeek(project.lastRun) ? 'dimmed' : ''; %>
        <% var newLabel = !data.isPersonalProject(project) && data.isNew && data.isNew(project.creationDate); %>
        <% var noLabelClass = newLabel ? '': 'no-label' ; %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project-item project-row <%= lastRunClass %>">
            <div class="project-wrapper">
                <% if(data.canDelete(project) && !data.isPersonalProject(project)) { %>
                    <div class="remove-project"
                        data-id="<%- project.projectId %>"
                        data-active="<%= data.active %>">
                        <i class="material-icons">clear</i>
                    </div>
                <% } %>
                <h2 class="project_name <%= noLabelClass %>">
                    <span class="name <% if (newLabel) { %>name-label<% } %>">
                        <a href="#administrate/project-details/<%- project.projectId %>" class="project_details break-link" title="<%= data.text.admin.projectTitle %>">
                            <%= data.search ? data.textWrapper(project.projectId, data.search) : project.projectId %>
                        </a>
                        <% if (newLabel) { %>
                        <span class="label label-success you"><%= data.text.admin.newProject %></span>
                        <% } %>
                    </span>
                </h2>
                <div class="row project_info_wrapper">
                    <div class="col-sm-6 text-center heartbeat_block">
                        <div class="health_icon">
                            <i class="rp-icons rp-icons-heartbeat"></i>
                        </div>
                        <div class="health_index"><!-- health index --></div>
                    </div>
                    <div class="col-sm-6 project_info_block">
                        <div class="project_info"><span class="bold"><%= project.usersQuantity %></span><%= data.text.admin.usersQuantity %></div>
                        <div class="project_info"><span class="bold"><%= project.launchesQuantity %></span><%= data.text.admin.launchesQuantity %></div>
                        <div class="project_info"><%= data.text.admin.lastRunPrefix %><%= project.lastRun ? data.util.daysFromNow(project.lastRun) : data.text.admin.lastRunSuffix %></div>
                    </div>
                </div>
                <% var assigned = !!data.userProjects[project.projectId]; %>
                <div class="row project-link_wrapper <%= assigned ? '' : 'no-assigned' %>">
                    <a class="col-sm-4 project-link" title="<%= data.text.ui.settings %>" href="#administrate/projects/<%- project.projectId %>/settings">
                        <i class="material-icons">settings</i>
                    </a>
                    <a class="col-sm-4 project-link" title="<%= data.text.ui.members %>" href="#administrate/projects/<%- project.projectId %>/members">
                        <i class="rp-icons rp-icons-all-users"></i>
                    </a>
                    <a class="col-sm-4 project-link go-to-project" title="<%= data.text.admin.goToProject %>" href="#<%- project.projectId %>">
                        <i class="material-icons">open_in_browser</i>
                    </a>
                    <% if(!assigned){ %>
                    <a class="col-sm-4 project-link assign-to-project" title="<%= data.text.admin.assignToProject %>" href="#" data-project="<%- project.projectId %>">
                        <i class="material-icons">playlist_add_check</i>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <% if(counter%4===0){ %>
            <div class="clearfix"></div>
        <% } %>
    <% } %>
<% }); %>
<% if(counter === 0) { %>
    <div class="col-sm-12">
        <div class="col-sm-12 text-center">
            <h3 class="title-no-data text-center">
                <i class="rp-icons rp-icons-warning"></i>
                <span class="warning"><%= data.text.infoMessages.noResults %></span>
            </h3>
        </div>
    </div>
<% } %>
