<div id="headerBar" class="clearfix">
    <ul class="rp-nav-left">
        <li class="title-holder" id="title-all-project">
            <span class="header-alike">
                <%= data.text.admin.titleAllProjects %>
            </span>
        </li>
    </ul>
    <div class="pull-right header-menu">
        <a href="#administrate/projects/add"
           id="addProjectBtn"
           class="rp-btn rp-btn-default-revers rp-button-with-icon">
            <i class="rp-icons rp-icons-add-project"></i>
            <span class="hidden-sm hidden-xs rp-btn-val">
                <%= data.text.admin.addProject %>
            </span>
        </a>
    </div>
</div>
