<div class="col-md-3 admin_form">
    <label class="form_label"><%= data.text.admin.search %></label>
    <div id="messageFilterWrapper" class="input-filter" style="position: relative;">
        <input type="text"
            value=""
            placeholder="Name"
            name="nameFilter"
            id="nameFilter"
            class="favorites-name-filter rp-input-search">
        <i class="material-icons">search</i>
        <div style="display:none;" class="error-hint"></div>
    </div>
</div>
<div id="adminNavigation" class="pull-right header-menu">
    <a href="#administrate/projects/add"
        id="addProjectBtn"
        class="rp-btn rp-btn-default-revers rp-button-with-icon">
        <i class="rp-icons rp-icons-add-project"></i>
        <span class="hidden-sm hidden-xs rp-btn-val"><%= data.text.admin.addProject %></span>
    </a>
</div>