<% var counter = 0; %>
<div class="container-fluid rp-margin-reset projects-table-view rp-border-last-child rp-table-hover">
    <div class="row rp-table-thead visible-md visible-lg">     
        <div class="col-md-4"><div class="rp-table-th"><%= data.text.admin.projectName %></div></div>
        <div class="col-md-2"><div class="rp-table-th"><%= data.text.admin.kpi %></div></div>
        <div class="col-md-1"><div class="rp-table-th"><%= data.text.admin.projectMembers %></div></div>
        <div class="col-md-1"><div class="rp-table-th"><%= data.text.topMenu.launches %></div></div>
        <div class="col-md-2"><div class="rp-table-th"><%= data.text.admin.lastLaunchDate %></div></div>
        <div class="col-md-2"><div class="rp-table-th"><%= data.text.favorites.fActions %></div></div>
    </div>
    <% _.forEach(data.collection, function(project, index){ %>
        <% if(data.filter(project, data.search)){ %>
            <% counter += 1; %>
            <% var lastRunClass = data.inactiveProject || (project.lastRun && !data.hasRunsLastWeek(project.lastRun))   ? 'dimmed' : ''; %>
            <% var assigned = !!data.userProjects[project.projectId]; %>
            <div class="row rp-table-row project-row <%= lastRunClass %>">
                <div class="col-md-4 clearfix">
                     <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.admin.projectName %></h5>
                    </div>
                     <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                            <h4 class="project_name">
                                <a href="#administrate/project-details/<%- project.projectId %>"
                                    class="project_details break-link"
                                    title="<%= data.text.admin.projectTitle %>">
                                    <%= data.search ? data.textWrapper(project.projectId, data.search) : project.projectId %>
                                </a>
                            </h4>
                             <% if(!data.isPersonalProject && data.isNew && data.isNew(project.creationDate)) { %>
                                <span class="label label-success you"><%= data.text.admin.newProject %></span>
                             <% } %>
                        </div>
                     </div>
                </div>
                <div class="col-md-2 clearfix"></div> 
                <div class="col-md-1 clearfix">
                     <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.admin.projectMembers %></h5>
                    </div>
                     <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                             <%= project.usersQuantity %>
                        </div>
                     </div>
                </div>
                <div class="col-md-1 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.topMenu.launches %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                            <%= project.launchesQuantity %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.admin.lastLaunchDate %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                            <%= project.lastRun ? data.util.daysFromNow(project.lastRun) : data.text.admin.lastRunSuffix %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 clearfix">
                    <div class="col-xs-5 visible-xs visible-sm">
                        <h5><%= data.text.favorites.fActions %></h5>
                    </div>
                    <div class="col-xs-7 col-md-12">
                        <div class="rp-info">
                            <ul class="nav rp-icons-style">
                                <li class="col-xs-3 projects-table-view-list-item">
                                    <a class="col-sm-4 project-link text-center"
                                        title="<%= data.text.ui.settings %>"
                                        href="#administrate/projects/<%- project.projectId %>/settings">
                                        <i class="material-icons">settings</i>
                                    </a>
                                </li>
                                <li class="col-xs-3 projects-table-view-list-item">
                                    <a class="col-sm-4 project-link text-center"
                                        title="<%= data.text.ui.members %>"
                                        href="#administrate/projects/<%- project.projectId %>/members">
                                        <i class="rp-icons rp-icons-all-users"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3 switch-icons projects-table-view-list-item <%= assigned ? '' : 'no-assigned' %>">
                                     <a class="col-sm-4 project-link text-center go-to-project"
                                        title="<%= data.text.admin.goToProject %>"
                                        href="#<%- project.projectId %>">
                                         <i class="material-icons">open_in_browser</i>
                                     </a>
                                    <% if(!assigned){ %>
                                        <a class="col-sm-4 project-link text-center assign-to-project"
                                            title="<%= data.text.admin.assignToProject %>"
                                            href="#"
                                            data-project="<%- project.projectId %>">
                                            <i class="material-icons">add</i>
                                        </a>
                                    <% } %>
                                </li>
                                <li class="col-xs-3 projects-table-view-list-item">
                                    <% if(data.canDelete(project) && !data.isPersonalProject) { %>
                                        <a class="col-sm-4 project-link text-center remove-project"
                                            href="#" title="<%= data.text.permissionMap.deleteProject %>"
                                            data-id="<%- project.projectId %>"
                                            data-active="<%= data.active %>">
                                            <i class="material-icons">clear</i>
                                        </a>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        <% } %>
    <% }); %>
</div>
<% if(counter === 0){ %>
    <div class="col-sm-12">
        <h3><%= data.text.infoMessages.noResults %></h3>
    </div>
<% } %>
