.container {
  margin-right: auto;
  margin-left: 40px;
  align-self: center;
  color: $COLOR--charcoal-grey;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $FONT-SEMIBOLD;

  &.static {
    margin-left: 0;
  }
}

.link {
  color: $COLOR--topaz;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill:  $COLOR--charcoal-grey;
  vertical-align: text-top;
}
