<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <input type="text"
        class="rp-input rp-input-long-name"
        data-type="longName"
        placeholder="<%= data.text.project.inputValLongName %>"
        value="<%- data.longName %>" />
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <input type="text"
        class="rp-input rp-input-short-name"
        data-type="shortName"
        placeholder="<%= data.text.project.inputValShortName %>"
        value="<%- data.shortName %>" />
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 holder-color-picker"></div>
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 edit-panel">
    <a href="#" class="save-item">
        <i class="rp-icons rp-icons-ok"></i>
    </a>
    <a href="#" class="cancel-item">
        <i class="rp-icons rp-icons-cancel"></i>
    </a>
</div>
