<% var notAllowed = (!data.access) ? 'disabled="disabled"' : '' %>
<div id="btsBlock" class="bts-block">
    <div id="propertiesWrapper" class="bts-properties">
        <div class="rp-form-group clearfix">
            <label class="rp-control-label obligatory-field" for="url">
                <%= data.text.bts.linkTo %>
            </label>
            <input class="rp-input-default bts-property" id="url"
                   value="<%- data.url || '' %>" <%= notAllowed %>>
            <span class="help-inline"></span>
            <% if (data.access) { %>
            <div class="bts-properties-controls">
                <a href="javascript:void(0);"
                   class="edit-item"
                   id="editBtsProperties"
                   alt="<%= data.text.ui.edit %>"
                   title="<%= data.text.ui.edit %>">
                    <i class="material-icons">edit</i>
                </a>
                <a href="javascript:void(0);"
                   class="delete-item"
                   id="deleteInstance"
                   alt="<%= data.text.bts.removeProject %>"
                   title="<%= data.text.bts.removeProject %>">
                    <i class="rp-icons rp-icons-cancel"></i>
                </a>
            </div>
            <% } %>
        </div>
        <div class="rp-form-group clearfix">
            <label class="rp-control-label obligatory-field" for="project">
                <%= data.text.bts[data.projectType] %>
            </label>
            <input class="rp-input-default form-control rp-width-100 bts-property" id="project"
                   value="<%- data.project || '' %>" <%= notAllowed %> />
            <span class="help-inline"></span>
        </div>
        <div class="rp-form-group clearfix">
            <label class="rp-control-label">
                <%= data.text.bts.authorizationType %>
            </label>
            <div class="bts-property" data-js-auth-type-selector></div>
        </div>
        <div id="authorizationType" class="credentials clearfix"></div>
    </div>
    <div class="clearfix">
        <div class="btn-controls rp-form-group">
            <div class="reset-fields-warning" id="resetFieldsWarning">
                <div class="err-hint"><%= data.text.bts.fieldsReset %></div>
            </div>
        </div>
    </div>
    <div class="rp-form-group clearfix">
        <div class="submit-properties" id="submitPropertiesBlock">
            <button class="rp-btn rp-btn-submit float-right rp-btn-indent-left"
            <%= notAllowed %>
            id="submitBtsProperties">
            <%= data.text.ui.submit %>
            </button>
            <button class="cancel-bts-properties rp-btn rp-btn-cancel float-right rp-btn-indent-left"
            <%= notAllowed %>
            id="cancelBtsProperties">
            <%= data.text.ui.cancel %>
            </button>
        </div>
    </div>
    <div id="externalError" class="external-error alert alert-danger"
         data-casual="<%= data.text.bts.errorInteracting %>"
         data-noproject="<%= data.text.bts.projectNotFound %>"></div>
    <div class="fields-loader" data-js-issue-type-loader>
        <div class="loader">
            <i class="material-icons loader-animation">autorenew</i>
        </div>
    </div>
    <div id="fieldsWrapper" class="bts-fields-wrapper" data-js-bts-fields-wrapper>
        <div class="rp-form-group clearfix"><!--DO NOT REMOVE--></div>
        <div class="rp-form-group clearfix title-block-wrapper edit-title">
            <h4 class="common-title"><%= data.text.bts.selectType %></h4>
        </div>
        <div class="rp-form-group clearfix title-block-wrapper not-edit-title">
            <h4 class="common-title"><%= data.text.bts.defaultProperties %></h4>
        </div>
        <div class="rp-form-group clearfix group-title-block">
            <div class="inputs-caption">
                <span class="title-block"><%= data.text.bts.defaultValue %></span>
            </div>
            <div class="checkboxes-caption">
                <span class="title-block"><%= data.text.bts.showFields %></span>
            </div>
        </div>

        <div class="bts-fields edit-field">
            <div class="rp-form-group">
                <label class="bts-field-label rp-control-label obligatory-field custom-style-1">Issue Type</label>
                <div class="bts-field-input custom-style-1">
                    <div data-js-issue-type-select></div>
                </div>
                <div class="bts-field-checkbox">
                    <label class="rp-checkbox-wrap">
                        <input type="checkbox" class="rp-input-checkbox form-control default-selector" data-type="issuetype" checked disabled="">
                        <span class="span-empty"></span>
                    </label>
                </div>

            </div>
        </div>


        <div class="rp-form-group clearfix title-block-wrapper edit-title">
            <h4 class="common-title"><%= data.text.bts.defaultProperties %></h4>
        </div>
        <div id="fieldsLoader" class="fields-loader">
            <div class="loader">
                <i class="material-icons loader-animation">autorenew</i>
            </div>
        </div>
        <div id="dynamicFields" class="bts-fields"></div>
        <div class="rp-form-group clearfix btn-controls fields-controls">
            <button class="rp-btn rp-btn-submit float-right rp-btn-indent-left"
            <%= notAllowed %> id="submitFields">
            <%= data.text.ui.submit %>
            </button>
            <button class="rp-btn rp-btn-cancel float-right rp-btn-indent-left"
            <%= notAllowed %> id="updateFields">
            <%= data.text.ui.update %>
            </button>
            <button class="cancel-fields rp-btn rp-btn-cancel float-right rp-btn-indent-left"
            <%= notAllowed %> id="cancelFields">
            <%= data.text.ui.cancel %>
            </button>
        </div>
    </div>

    <div class="mobile-disabling-cover"></div>
</div>
