<div class="rp-settings-demo-data">
    <div class="rp-form-group demo-data-details">
        <h4><%= data.text.project.generateDemoDataTitle %></h4>
        <ul>
            <li><%= data.text.project.generateDemoDataLaunches %></li>
            <li><%= data.text.project.generateDemoDataDashboard %></li>
            <li><%= data.text.project.generateDemoDataFilter %></li>
        </ul>
    </div>
    <div class="rp-form-group demo-data-form">
        <label class="rp-control-label">
            <%= data.text.project.postfixLabel %>
        </label>
        <input data-js-demo-data-postfix placeholder="<%= data.text.project.postfixPlaceHolder %>" name="postfix_name" value="" class="rp-input-default form-control">
        <span class="help-inline"></span>
    </div>
    <div class="rp-form-group rp-wrap-button">
        <button type="submit" class="rp-btn rp-btn-submit" data-js-demo-data-submit>
            <%= data.text.project.generateDemoData %>
        </button>
        <button type="submit" class="rp-btn rp-btn-submit demo-data-submit-mobile" disabled="disabled">
            <%= data.text.project.generateDemoData %>
        </button>
    </div>
    <div class="rp-form-group demo-data-warning-block">
        <span class="demo-data-warning">
            <i class="material-icons">warning</i>
            <span><%= data.text.ui.warningSm %>!</span>
        </span><br>
        <%= data.text.project.removeDemoData %>
    </div>
</div>