<% var notAllowed = (!data.access) ? 'disabled="disabled"' : '' %>
<div class="bts-general-settings">
    <div class="rp-form-group bts-selector">
        <label class="rp-control-label">
            <%= data.text.project.bts %>
        </label>
        <div class="rp-btn-group" data-js-bts-switcher></div>
        <span class="no-bts-found hide" data-js-no-bts-message><%- data.text.bts.btsNotFound %></span>
    </div>
    <div class="rp-form-group tbs-change-warning-block">
        <div id="tbsChangeWarning" class="bts-change-warning rp-help-block rp-text-danger">
            <%= data.text.bts.tbsChangeWarning %>
        </div>
    </div>
    <div class="mobile-disabling-cover"></div>
</div>
<div id="btsInstance" class="bts-instance-container">
    <div id="instanceHead" class="clearfix instance-head"></div>
    <div id="instanceBody" class="clearfix instance-body"></div>
</div>
