<div class="container-fluid" id="ProjectInfo">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="row row-custom">
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.generalInfo %></h4>
                        <div id="general_info" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.launchesOwners %></h4>
                        <div id="launches_owners" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.lastLaunchStats %></h4>
                        <div id="last_launch" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.numberLaunches %></h4>
                        <div id="launches_quantity" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.launchStats %></h4>
                        <div id="issues_chart" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.percentageOfInvestigationsChart %></h4>
                        <div id="investigated" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.percentageOfProductBugs %></h4>
                        <div id="total-widget-bugs_percentage" class="average-percent"></div>
                        <div id="bugs_percentage" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.percentageOfSystemIssues %></h4>
                        <div id="total-widget-system_issues_percentage" class="average-percent"></div>
                        <div id="system_issues_percentage" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 item-col-custom">
                    <div class="project-widget">
                        <h4 class="project-item-info-title"><%= data.text.widgets.percentageOfAutoBugs %></h4>
                        <div id="total-widget-auto_bugs_percentage" class="average-percent"></div>
                        <div id="auto_bugs_percentage" class="widget-content">
                            <div class="widget-body widget-chart">
                                <div class="loading-widget loader" style="display: block;">
                                    <i class="material-icons loader-animation">autorenew</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="project-widget">
                <h4 class="project-item-info-title"><%= data.text.widgets.projectActivityPanel %></h4>
                <div id="activities" class="widget-content" style="height: 1030px;">
                    <div class="widget-body widget-chart" style="max-height: none;">
                        <div class="loading-widget loader" style="display: block;">
                            <i class="material-icons loader-animation">autorenew</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
