<% var notAllowed = (!data.access) ? 'disabled="disabled"' : '' %><div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col" for="project_name">
        <%= data.text.project.name %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <input id="project_name" value="<%= data.currentProject || '' %>" class="rp-input-default rp-width-100" disabled="disabled">
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description"></div>
</div>
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.launchTimeout %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div data-js-selector="interruptedJob"></div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.scheduleForInterupt %></span>
    </div>
</div>
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.keepLogs %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div data-js-selector="keepLogs"></div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.howKeepLogs %></span>
    </div>
</div>
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.keepScreen %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div data-js-selector="keepScreenshots"></div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.howKeepScreen %></span>
    </div>
</div><div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.autoAnalysis %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div data-js-selector="isAutoAnalyzerEnabled"></div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <div class="rp-help-block"><%= data.text.project.autoAnalysisOnOff %></div>
    </div>
</div>
<div class="rp-form-group rp-wrap-button">
    <div class="col-md-7 col-sm-12 col-xs-12 rp-custom-col">
        <button type="submit" class="rp-btn rp-btn-submit rp-btn-right" id="submit-settings" <%= notAllowed %>><%= data.text.ui.submit %></button>
    </div>
    <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
</div>
<div class="mobile-disabling-cover"></div>
