<div class="print">
    <p><%- data.text.dashboard.project %>: <span><%- data.projectName %></span></p>
    <p><%- data.text.admin.titleSettings %></span></p>
</div>
<ul class="nav-tabs-custom clearfix">
    <li class="<%= data.tab === 'general' ? 'active' : '' %>">
        <a href="#" class="tab settings" data-js-tab-action="general">
            <%= data.text.project.generalTab %>
        </a>
    </li>
    <li class="<%= data.tab === 'notifications' ? 'active' : '' %>">
        <a href="#" class="tab settings" data-js-tab-action="notifications">
            <%= data.text.project.notificationsTab %>
        </a>
    </li>
    <li class="<%= data.tab === 'bts' ? 'active' : '' %>">
        <a href="#" class="tab settings" data-js-tab-action="bts">
            <%= data.text.project.btsTab %>
            <span class="label label-above label-success"><%= data.text.project.beta %></span>
        </a>
    </li>
    <li class="<%= data.tab === 'defect' ? 'active' : '' %>">
        <a href="#" class="tab settings" data-js-tab-action="defect">
            <%= data.text.project.defectTypes %>
        </a>
    </li>
    <% if(data.generateDemoDataAccess){ %>
    <li class="<%= data.tab === 'demoData' ? 'active' : '' %>">
        <a href="#" class="tab settings" data-js-tab-action="demoData">
            <%= data.text.project.demoDataSettings %>
        </a>
    </li>
    <% } %>
</ul>
<div data-js-nav-tabs-mobile class="nav-tabs-mobile"></div>
<div data-js-tab-content class="tab-content"></div>

