<% var notAllowed = (!data.access) ? 'disabled="disabled"' : '' %><div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col" for="project_name">
        <%= data.text.project.name %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <input id="project_name" value="<%= data.currentProject || '' %>" class="rp-input-default rp-width-100" disabled="disabled">
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description"></div>
</div>
<!--
    <div class="form-group">
        <label class="col-sm-3 control-label"
            for="projectSpecific">
            < %= data.text.project.toolset % >
        </label>
        <div class="col-sm-8 col-md-3">
            <div class="btn-group to-100-width">
                <button id="projectSpecific"
                    type="button"
                    class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                    data-toggle="dropdown"
                    < % if (!data.access) { % >disabled="disabled"< % } % >
                    disabled="disabled" >
                    <span class="select-value">< % = data.projectSpecific % ></span>
                    <span class="rp-caret"></span>
                </button>
                <ul class="dropdown-menu rp-width-100">
                    < % _.each(data.settings.projectSpecific, function(item) { % >
                        <li>
                            <a href="#">< % = item.name % ></a>
                        </li>
                    < % }) % >
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-0">
            <span class="help-block">< % = data.text.project.specificProject % ></span>
        </div>
    </div>
-->
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.launchTimeout %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div class="rp-btn-group rp-width-100">
            <button type="button"
                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                data-toggle="dropdown"
                <%= notAllowed %>
                id="interruptedJob">
                <span class="select-value"><%= data.interruptedJob %></span>
                <span class="rp-caret"></span>
            </button>
            <ul class="dropdown-menu rp-width-100">
                <% _.each(data.settings.interruptedJob, function(item) { %>
                    <li>
                        <a href="#"><%= item.name %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.scheduleForInterupt %></span>
    </div>
</div>
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.keepLogs %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div class="rp-btn-group rp-width-100">
            <button type="button"
                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                data-toggle="dropdown"
                <%= notAllowed %>
                id="keepLogs">
                <span class="select-value"><%= data.keepLogs %></span>
                <span class="rp-caret"></span>
            </button>
            <ul class="dropdown-menu rp-width-100">
                <% _.each(data.settings.keepLogs, function(item) { %>
                    <li>
                        <a href="#"><%= item.name %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.howKeepLogs %></span>
    </div>
</div>
<div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.keepScreen %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div class="rp-btn-group rp-width-100">
            <button type="button"
                class="rp-btn rp-width-100 rp-btn-with-dropdown dropdown-toggle"
                data-toggle="dropdown"
                <%= notAllowed %>
                id="keepScreenshots">
                <span class="select-value"><%= data.keepScreenshots %></span>
                <span class="rp-caret"></span>
            </button>
            <ul class="dropdown-menu rp-width-100">
                <% _.each(data.settings.keepScreenshots, function(item) { %>
                    <li>
                        <a href="#"><%= item.name %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.howKeepScreen %></span>
    </div>
</div><div class="rp-form-group">
    <label class="col-md-3 col-sm-4 col-xs-12 rp-control-label rp-custom-col">
        <%= data.text.project.autoAnalysis %>
    </label>
    <div class="col-md-4 col-sm-8 col-xs-12 rp-custom-col">
        <div class="rp-btn-group rp-width-100">
            <% var analysis = data.isAutoAnalyzerEnabled ? data.text.ui.on : data.text.ui.off %>
            <button data-value="<%= analysis %>"
                type="button"
                class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                data-toggle="dropdown"
                <%= notAllowed %>
                id="isAutoAnalyzerEnabled">
                <span class="select-value"><%= analysis %></span>
                <span class="rp-caret"></span>
            </button>
            <ul class="dropdown-menu rp-width-100">
                <li><a href="#"><%= data.text.ui.on %></a></li>
                <li><a href="#"><%= data.text.ui.off %></a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 rp-custom-col rp-text-description">
        <span class="rp-help-block"><%= data.text.project.autoAnalysisOnOff %></span>
    </div>
</div>
<div class="rp-form-group rp-wrap-button">
    <div class="col-md-7 col-sm-12 col-xs-12 rp-custom-col">
        <button type="submit" class="rp-btn rp-btn-submit rp-btn-right" id="submit-settings" <%= notAllowed %>><%= data.text.ui.submit %></button>
    </div>
    <div class="col-md-5 rp-custom-col hidden-xs hidden-sm"></div>
</div>
