<% var notAllowed = (!data.access) ? 'disabled="disabled"' : ''; %>
<% if(data.systemAuth === "BASIC" || data.systemAuth === "NTLM") { %>
<div id="basicBlock">
    <div class="rp-form-group">
        <label class="rp-control-label obligatory-field" for="username">
            <%= data.text.bts.userName %>
        </label>
        <input type="text" class="rp-input-default form-control bts-property required-value" id="username"
               value="<%- data.username || '' %>" <%= notAllowed %> />
        <span class="help-inline"></span>
    </div>
    <div class="rp-form-group">
        <label class="rp-control-label obligatory-field" for="password">
            <%= data.text.bts.password %>
        </label>
        <input type="password" class="rp-input-default form-control bts-property required-value" id="password" <%= notAllowed %>
        value="<%- data.hasPassword ? data.defaultPassword : '' %>" />
        <span class="help-inline"></span>
    </div>
    <% if(data.systemAuth === "NTLM") { %>
    <div class="rp-form-group">
        <label class="rp-control-label obligatory-field" for="domain">
            <%= data.text.bts.domain %>
        </label>
        <input type="text" class="rp-input-default bts-property" id="domain"
               value="<%- data.domain || '' %>" <%= notAllowed %> />
        <span class="help-inline"></span>
    </div>
    <% } %>
</div>
<% } else if(data.systemAuth === "APIKEY") { %>
<div id="accessKeyBlock">
    <div class="rp-form-group">
        <label class="rp-control-label obligatory-field" for="accessKey">
            <%= data.text.bts.apiKey %>
        </label>
        <textarea type="text" class="rp-input-default bts-property" id="accessKey" <%= notAllowed %> ><%- data.accessKey
        || '' %></textarea>
        <span class="help-inline"></span>
    </div>
</div>
<% } else { %>
<div id="oauthBlock">
    <div class="rp-form-group">
        <label class="rp-control-label obligatory-field" for="accessKey">
            <%= data.text.bts.oAuthToken %>
        </label>
        <input type="text" class="rp-input-default bts-property" id="accessKey" <%= notAllowed %>
        placeholder="xxxxxxxxx-xxxxxxxxx-xxxxxxx" value="<%- data.accessKey || '' %>" />
        <span class="help-inline"></span>
    </div>
</div>
<% } %>