.grid-cell {
  padding: 15px 10px;
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
  color: $COLOR--charcoal-grey;
  font-family: $FONT-REGULAR;
  word-break: break-all;

  @supports (word-break: break-word) {
    word-break: break-word;
  }

  &:first-child {
    padding-left: 15px;
  }

  &:last-child {
    padding-right: 15px;
  }

  @media (min-width: $SCREEN_SM_MAX) {
    &.align-left {
      text-align: left;
    }
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}

.text-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}
