.field-error-hint {
  position: relative;
  text-align: left;
  height: 100%;

  &.show {
    .hint {
      display: block;
    }
  }
}
.hint {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
}
.hint-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 11px;
  font-size: 12px;
  font-family: $FONT-REGULAR;
  color: $COLOR--charcoal-grey;
  line-height: 17px;
  background-color: $COLOR--white-two;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
