$DEFECT_NAME_PADDING: 120px;

.defect-types-list {
  font-size: 12px;
}

.header {
  display: flex;
  color: $COLOR--charcoal-grey;
  border-bottom: 1px solid $COLOR--skipped;
}

.header-cell {
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

.abbr-cell,
.color-cell,
.diagram-cell {
  padding-left: 10px;
  box-sizing: border-box;
}

.name-cell {
  padding-left: $DEFECT_NAME_PADDING;
  width: 40%;
  box-sizing: border-box;
}

.abbr-cell {
  width: 17%;
}

.color-cell {
  width: 25%;
}

.diagram-cell {
  width: 25%;
  position: relative;
}

.group-name {
  color: $COLOR--gray-47;
  background-color: $COLOR--white-four;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.color-marker {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.defect-type {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.defect-type-name-wrap {
  border: 1px solid $COLOR--gray-80;
  padding: 2px 7px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
}

.defect-type-name {
  margin-left: 5px;
}

.defect-type-chart {
  position: absolute !important;
  top: -12px;
  margin-left: -8px;
}

.defect-type-group-footer {
  display: flex;
  align-items: center;
  padding-left: $DEFECT_NAME_PADDING;
  margin-bottom: 40px;
}

.defect-type-count-msg {
  color: $COLOR--gray-60;
  margin-left: 11px;
}
