$DEFECT_NAME_PADDING: 70px;

.defect-types-list {
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;
}

.header {
  display: flex;
  color: $COLOR--charcoal-grey;
  border-bottom: 1px solid $COLOR--skipped;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.header-cell {
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
}

.name-cell,
.abbr-cell,
.color-cell,
.diagram-cell {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.name-cell {
  padding-left: $DEFECT_NAME_PADDING;
  width: 43%;

  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 0;
    width: 60%;
  }
}

.abbr-cell {
  width: 15%;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 20%;
  }
}

.color-cell {
  padding-left: 21px;
  width: 12%;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 20%;
  }
}

.color-picker-cell {
  padding-left: 10px;
}

.buttons-cell {
  width: 15%;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.diagram-cell {
  width: 15%;
  position: relative;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.group-name {
  color: $COLOR--gray-47;
  background-color: $COLOR--white-four;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.group {
  padding-bottom: 10px;
}

.color-marker {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.defect-type {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.defect-type-name-wrap {
  border: 1px solid $COLOR--gray-80;
  padding: 2px 7px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
}

.defect-type-name {
  margin-left: 5px;
}

.defect-type-chart {
  position: absolute !important;
  top: -12px;
  margin-left: -8px;
}

.defect-type-group-footer {
  display: flex;
  align-items: center;
  padding-left: $DEFECT_NAME_PADDING;
  margin-bottom: 30px;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.defect-type-count-msg {
  color: $COLOR--gray-60;
  margin-left: 11px;
}

.action-button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}

.confirm-button {
  svg {
    stroke: $COLOR--tealish;
    fill: $COLOR--tealish;
  }
  &:focus,
  &:hover {
    svg {
      stroke: $COLOR--topaz;
      fill: $COLOR--topaz;
    }
  }
}

.edit-button,
.delete-button {
  path {
    fill: $COLOR--gray-60;
  }
  &:hover path {
    fill: $COLOR--charcoal-grey;
  }
  &:focus path {
    fill: $COLOR--gray-47;
  }
}

.reset-button-wrap {
  text-align: right;
}

.reset-button {
  background: none;
  border: none;
  outline: none;
  color: $COLOR--windows-blue;
  font-size: 13px;
  font-family: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:disabled {
    color: $COLOR--gray-60;
    &:hover {
      text-decoration: none;
      cursor: auto;
    }
  }
}
