.wizard-info-section {
  display: inline-block;
  width: 320px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  background-color: $COLOR--white;
}
.steps-block {
}
