.form-input {
  position: relative;
  width: 310px;
  flex-shrink: 0;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 100%;
  }
}

.dropdown {
  z-index: 1;
  height: 30px;
}

.note {
  padding-left: 29px;
}

.notification-form-button {
  padding-left: 225px;
  @media (max-width: $SCREEN_SM_MAX) {
    padding-left: 165px;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 0;
  }
}

.form-invalid-message {
  margin: 20px 0 20px 100px;
  color: $COLOR--fatal;
  font-size: 10px;
}

.email-notification-toggle {
  &--mobile {
    display: none;
  }
  @media (max-width: $SCREEN_XS_MAX) {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }
}
