.autocomplete-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
}

.input-control-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 32px;
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: center;
  align-items: center;
  outline: 0;
  padding: 0 6px;
  :active {
    border: 0;
  }
  &.mobile-disabled {
    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }
}

.cross-icon {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 16px;
  height: 16px;
}

.input {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  height: 36px;
  width: 100%;
  padding: 10px 22px 10px 10px;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $COLOR--gray-80;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 13px;
  color: $COLOR--almost-black;
  box-shadow: none;
  flex-grow: 1;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:hover {
    border-color: $COLOR--gray-47;
  }
  &:focus {
    background-color: inherit;
    border: 2px solid $COLOR--topaz-focused;
  }

  &.error.touched {
    border-color: $COLOR--orange-red;
    box-shadow: 0 0 2px 0 rgba($COLOR--orange-red, 0.7);
  }
  &.disabled {
    background-color: $COLOR--gray-91;
    border-color: $COLOR--gray-80;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fdffeb inset; /* stylelint-disable-line color-no-hex */
  }
  &.type-number::-webkit-inner-spin-button,
  &.type-number::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
  &.mobile-disabled {
    @media (max-width: $SCREEN_XS_MAX) {
      background-color: $COLOR--gray-91;
      padding-right: 10px;
      pointer-events: none;
    }
  }
}
.naked-view {
  height: 28px;
  input {
    border: 0;
    height: 28px;
  }
}
