<div class="login-content">
    <div class="left-block">
        <div class="logo-label" data-js-logo></div>
        <div class="post-wrapper" data-js-twitter-container></div>
        <div class="separator"></div>
        <div class="socials-block" data-js-social-block>
            <a href="https://github.com/reportportal" class="gh-icon" target="_blank"></a>
            <a href="https://www.facebook.com/ReportPortal.io" class="fb-icon" target="_blank"></a>
            <a href="http://twitter.com/ReportPortal_io" class="tw-icon" target="_blank"></a>
            <a href="http://youtube.com/c/ReportPortalCommunity" class="yt-icon" target="_blank"></a>
            <a href="https://vk.com/reportportal_io" class="vk-icon" target="_blank"></a>
            <a href="https://reportportal-slack-auto.herokuapp.com/" class="slk-icon" target="_blank"></a>
            <a href="mailto:support@reportportal.io" class="mail-icon"></a>
        </div>
    </div>
    <div class="right-block">
        <div class="subpage-container" data-js-subpage-container></div>
        <div class="warning-container">
            <i class="rp-icons rp-icons-warning"></i>
            <div class="messages">
                <p>
                    <span class="warning">Public account is unsafety.</span> Data is removed every 12 hours. Log personal data to the personal project (github authorisation).
                </p>
                <p class="docs-link">
                    Administrative page is not available, info you can find in <a href="http://reportportal.io/docs" target="_blank">Documentation</a>
                </p>
            </div>
        </div>
    </div>
</div>
