.filter-item {
  padding: 10px 0;
  border-bottom: 1px solid $COLOR--gray-91;

  &:hover {
    .pencil-icon {
      display: inline-block;
    }
  }
}

.pencil-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: none;
  vertical-align: top;
  cursor: pointer;

  @media (max-width: $SCREEN_XS_MAX) {
    display: inline-block;
  }
}
