<div class="dropdown-button">
    <button class="rp-btn rp-btn-submit" type="button"  data-js-select-value></button>
    <button class=" rp-btn rp-button-dropdown" data-toggle="dropdown" data-js-dropdown>
        <i class="material-icons">keyboard_arrow_down</i>
    </button>
    <ul class="dropdown-menu" data-js-dropdown-menu>
        <% _.forEach(data.links, function(link){ %>
            <li data-js-select-launch-option>
                <a data-value="<%= link.value %>"><%= link.name %></a>
            </li>
        <% }) %>
    </ul>
</div>
