<div class="historyLinePanel" id="historyLinePanel">
    <div class="progress">
        <div class="history-cont container-fluid">
            <% _.each(data.items, function(item, index){ %>
                <% var curr = _.find(item.items, function(d){ return d.id == data.id; }); %>
                <div class="progress-bar <%- data.getCurrentLogTypeCls(item, data.id) %>" data-id="<%- curr ? curr.id : item.items[0] ? item.items[0].id : '' %>" style="width:<%- item.width %>%;">
                    <%= data.util.templates(data.defectItemTpl, {
                        item: item,
                        defectTypes: data.defectTypes,
                        getIssueType: data.util.getIssueType,
                        step: data.getHistoryLog(item, data.id),
                        logId: data.id,
                        textile: data.textile
                    }) %>
                </div>
            <% }); %>
        </div>
    </div>
</div>