<div class="panel-group" id="accordion">
    <div class="-panel panel-default panel-activity" <% if(data.items.length){ %>style="cursor: pointer;"<% } %>>
        <div class="panel-heading">
            <div class="row well-list"
                <% if (data.items.length) { %>
                    data-parent="#accordion" data-toggle="collapse" data-target="#collapseOne"
                <% } %>>
                <% if (data.items.length) { %>
                    <span class="activity-list">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </span>
                <% } %>
                <div class="col-xs-4 activity-user">
                    <div class="activity-iconpd">
                        <span class="user-reff">
                            <span class="capitalize">
                                <% if (data.user == data.last.userRef) { %>
                                    <i class="material-icons you">person</i>
                                    you
                                <% } else {%>
                                    <i class="material-icons">person</i>
                                    <%- data.last.fullUserName %>
                                <% } %>
                            </span>
                            <span><%- data.last.actionType %></span>
                            <strong><%- data.last.field %></strong>
                        </span>
                        <span class="hoverFullTime">
                            <span class="timeMoment timeHover"><%- data.last.momentTime %></span>
                            <span class="time-full timeHover hidden">
                                at <span class="small"><%- data.last.fullTime %></span>
                            </span>
                            <span class="time-ms hidden"><%- data.last.lastModifiedDate %></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-8">
                    <% _.each(data.last.history, function(val, key) { %>
                    <div class="row activity-str">
                        <div class="col-xs-6">
                            <div class="actyvity-val">
                                <% if (data.last.field.indexOf('ticketId') > -1) { %>
                                    <% var tickets = (val.oldValue) ? val.oldValue.split(',') : [], size = tickets.length  %>
                                    <% _.each(tickets, function(ticket, i){ %>
                                        <%= data.renderTicket(ticket, data.url) %><%= (i < size-1) ? ',' : '' %>
                                    <% }) %>
                                <% } else { %>
                                    <%= data.textile(val.oldValue.replace('*IssueDescription:*',"<br>*IssueDescription:*")).escapeScript() %>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="actyvity-val">
                                <% if (data.last.field.indexOf('ticketId') > -1) { %>
                                    <% var tickets = (val.newValue) ? val.newValue.split(',') : [], size = tickets.length  %>
                                    <% _.each(tickets, function(ticket, i){ %>
                                        <%= data.renderTicket(ticket, data.url) %><%= (i < size-1) ? ',' : '' %>
                                    <% }) %>
                                <% } else { %>
                                <%= data.textile(val.newValue.replace('*IssueDescription:*',"<br>*IssueDescription:*")).escapeScript() %>
                                <% } %>
                            </div>
                        </div>
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% if(data.items.length){ %>
        <div id="collapseOne" class="panel-collapse collapse">
            <ul class="panel-body well-list media-list media-list-hover">
                <% _.each(data.items, function(item) {%>
                <li data-member="default" class="team_member_row row">
                    <div class="col-xs-4">
                        <div class="activity-iconpd">
                                <span class="user-reff">
                                    <span class="capitalize">
                                    <% if (data.user == item.userRef) { %>
                                        <i class="material-icons you">person</i>
                                        you
                                    <% } else {%>
                                        <i class="material-icons">person</i>
                                        <%- item.fullUserName %>
                                    <% } %>
                                    </span>
                                    <span> <%- item.actionType %></span><strong> <%- item.field %></strong>
                                </span>
                                <span class="hoverFullTime">
                                    <span class="timeMoment timeHover"><%- item.momentTime %></span>
                                    <span class="time-full timeHover hidden">
                                        at <span class="small"><%- item.fullTime %></span>
                                    </span>
                                    <span class="time-ms hidden"><%- item.lastModifiedDate %></span>
                                </span>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <% _.each(item.history, function(val, key) { %>
                        <div class="row activity-str">
                            <div class="col-xs-6">
                                <div class="actyvity-val">
                                    <% if (item.field.indexOf('ticketId') > -1) { %>
                                        <% var tickets = (val.oldValue) ? val.oldValue.split(',') : [], size = tickets.length  %>
                                        <% _.each(tickets, function(ticket, i){ %>
                                            <%= data.renderTicket(ticket, data.url) %><%= (i < size-1) ? ',' : '' %>
                                        <% }) %>
                                    <% } else { %>
                                    <%= data.textile(val.oldValue.replace('*IssueDescription:*',"<br>*IssueDescription:*")).escapeScript() %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="actyvity-val">
                                    <% if (item.field.indexOf('ticketId') > -1) { %>
                                        <% var tickets = (val.newValue) ? val.newValue.split(',') : [], size = tickets.length  %>

                                        <% _.each(tickets, function(ticket, i){ %>
                                            <%= data.renderTicket(ticket, data.url) %><%= (i < size-1) ? ',' : '' %>
                                        <% }) %>
                                    <% } else { %>
                                    <%= data.textile(val.newValue.replace('*IssueDescription:*',"<br>*IssueDescription:*")).escapeScript() %>
                                    <% } %>
                                </div>
                            </div>
                            <i class="material-icons">keyboard_arrow_right</i>
                        </div>
                        <% }) %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
        <% } %>
    </div>
</div>
