<div class="container-fluid">
    <!-- gallery slider -->
    <div class="row rp-margin-bottom">
        <div id="slider" class="col-lg-12">
            <div class="rp-bounding-box">
                <div class="carousel slide" id="launchesCarousel">
                    <div class="carousel-inner">
                        <% _.each(data.collection, function(item, index) { %>
                            <% var itemClass = index === 0 ? 'active' : '';  %>
                            <div data-slide-number="<%= index %>" class="item <%= itemClass %>">
                                <% var url = data.dataUrl + item.binary_content.id %>
                                <div class="carousel-caption carousel-custom-settings hidden-xs"
                                    title="<%= data.text.ui.jumpToMessage %>"
                                    data-content-id="<%= item.id %>">
                                    <span class="rotate-image" title="<%= data.text.ui.rotateImage %>">
                                        <i class="material-icons">rotate_90_degrees_ccw</i>
                                    </span>
                                    <p><%- item.message %></p>
                                </div>
                                <a href="<%- data.updateImagePath(url) %>"
                                    target="_blank">
                                    <img class="img-responsive" src="<%- data.updateImagePath(url) %>" />
                                </a>
                            </div>
                        <% }); %>
                    </div>
                    <!-- gallery controls -->
                    <% if (data.collection.length > 1) { %>
                        <a data-slide="prev"
                            href="#launchesCarousel"
                            class="carousel-control left custom-left-position">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                        <a data-slide="next"
                            href="#launchesCarousel"
                            class="carousel-control right custom-right-position">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    <% } %>
                    <!-- /end gallery controls -->
                </div>
            </div>
        </div>
    </div>
    <!-- /end gallery slider -->
    <!-- slider thumbnails -->
    <div class="row">
        <div class="col-lg-12">
            <div id="slider-thumbs" class="navigation-wrap hidden-sm hidden-xs">
                <div class="navigation-content js-navigation-content">
                    <ul class="navigation-items js-navigation-items" style="">
                        <% _.each(data.collection, function(item, index) { %>
                            <% var itemClass = index === 0 ? 'selected' : '';  %>
                            <li class="navigation-item js-navigation-item"
                                data-slide-to="<%= index %>"
                                data-target="#launchesCarousel">
                                <a class="carousel-thumb <%= itemClass %>"
                                    id="carousel-selector-<%= index %>">
                                    <img width="88px"
                                        height="66px"
                                        class="img-responsive"
                                        src="<%- data.updateImagePath(data.dataUrl+item.binary_content.thumbnail_id ) %>" />
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <% if (data.collection.length > 1) { %>
                    <span class="carousel-control left  nav-left-position  js-navigation-prev">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </span>
                    <span class="carousel-control right nav-right-position js-navigation-next">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </span>
                <% } %>
            </div>
        </div>
    </div>
    <!-- /end slider thumbnails -->
</div>
