.step-label-item {
  display: inline-block;
  width: 100%;
  height: 25px;
  margin-bottom: 20px;

  &.active {
    .number {
      font-family: $FONT-SEMIBOLD;
      color: $COLOR--topaz;
    }
    .label {
      color: $COLOR--topaz;
    }
  }
  &.completed {
    .number {
      background-color: $COLOR--skipped;
      font-family: $FONT-REGULAR;
      color: $COLOR--white;
    }
    .label {
      color: $COLOR--gray-47;
    }
  }
}
.number {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  box-sizing: border-box;
  border: 1px solid $COLOR--skipped;
  border-radius: 100%;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 25px;
  color: $COLOR--gray-80;
  text-align: center;
}
.label {
  display: inline-block;
  font-family: $FONT-CONDBOLD;
  font-size: 16px;
  line-height: 25px;
  color: $COLOR--gray-80;
  text-transform: uppercase;
}
