:global {
  .c3-chart-text text,
  .c3-chart-arc text {
    font-family: $FONT-SEMIBOLD;
    font-size: 13px;
    fill: $COLOR--white-two !important;
  }
  .c3-grid line {
    stroke: transparent;
  }
}

.launch-info-block {
  display: inline-block;
  width: 100%;
  max-width: 80%;
  margin-bottom: 10px;
  padding: 1px 0;
  color: $COLOR--gray-47;
  font-family: $FONT-SEMIBOLD;
  font-size: 12px;
  text-align: left;

  .launch-name-title {
    margin-right: 5px;
    text-transform: uppercase;
  }

  .launch-name {
    display: inline-block;
    max-width: 73%;
    overflow: hidden;
    vertical-align: bottom;
    color: $COLOR--charcoal-grey;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
