.launch-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: $FONT-SEMIBOLD, sans-serif;
}

.launch-duration {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
