.action-panel {
  background-color: $COLOR--white-two;
  border-bottom: 1px solid $COLOR--gray-91;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.action-buttons {
  display: flex;
}

.action-button {
  padding-left: 10px;
}

.mobile-hidden {
  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
