/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

.b-watch {
    overflow: hidden;
    position: relative;
    background-color: #e9e9e9;
    padding: 60px 0 70px 0;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.b-watch__line {
    position: relative;
    z-index: 1040;
    top: 8vw;
    height: 1px;
    background-color: #999999;
}

.b-watch__start {
    color: #666666;
    text-align: right;
}

.b-watch__finish {
    color: #a3c644;
    text-align: left;
}

.b-watch__header {
    position: relative;
    z-index: 1200;
}

.b-watch__header--start {
    margin-top: 11vw;
}

.b-watch__header--finish {
    margin-top: 9.5vw;
}

.b-watch .b-thewatch__container {
    margin: 0 auto;
    width: 70%;
}

.b-watch__thewatch {
    position: relative;
    z-index: 1050;
    text-align: center;
    margin: 0 auto;
}

.b-watch__thewatch img {
    position: relative;
    z-index: 1050;
    width: 100%;
    left: 1px;
}

.b-watch__text {
    display: inline-block;
}

.b-watch__text--big {
    font-size: 60px;
}

.b-watch__text--small {
    font-size: 44px;
}

.b-watchline__circle {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.b-watchline__circle--start {
    left: 5%;
    color: #666666;
    background-color: #fff;
    border-color: #999999;
}

.b-watchline__circle--finish {
    right: 5%;
    color: #a3c644;
    background-color: #a3c644;
    border-color: #a3c644;
}

.b-watchline__text {
    font-size: 18px;
    position: absolute;
    top: -30px;
    left: -14px;
}

.b-watch__circle {
    position: relative;
    z-index: 1038;
    bottom: -5px;
    width: 100%;
    border: 1px solid #C1C1C1;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%;
    border-top: 0;
}

.b-watch__circle:before {
    content: "";
    position: absolute;
    top: -20%;
    left: -5%;
    width: 110%;
    height: 70%;
    background-color: #e9e9e9;
    z-index: 1040;
}

.b-watch__vline {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    height: 100px;
    border-right: 1px solid #E9E9E9;
}

.b-watcharrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
}

.b-watcharrow__arrow {
    position: absolute;
    z-index: 1052;
    width: 2vw;
    height: 25%;
    left: -1vw;
    background-image: url("../img/landing/watch/arrowv2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    -webkit-transform-style: preserve-3D;
    transform-style: preserve-3D;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.b-watcharrow__circle {
    position: absolute;
    z-index: 2000;
    width: 1.25vw;
    height: 1.25vw;
    margin-left: -0.625vw;
    margin-bottom: -0.625vw;
    background-color: #AFAFAF;
    border-radius: 100%;
    border: .35vw solid #8F0003;
}

.b-watcharrow--rotate {
    -webkit-transform: rotate(779deg);
    transform: rotate(779deg);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .b-watch__text--big {
        font-size: 5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .b-watch {
        padding: 60px 50px;
    }

    .b-watch__line {
        top: 14vw;
    }

    .b-watch__header--start {
        text-align: left;
        margin-top: 170px;
        margin-left: -15px;
    }

    .b-watch__header--finish {
        text-align: left;
        margin-top: 160px;
        margin-left: -55px;
    }

    .b-watch__text--big {
        font-size: 5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
    }

    .b-watchline__circle {
        width: 15px;
        height: 15px;
        top: -7px;
    }

    .b-watch__vline {
        display: none;
    }

    .b-watcharrow__arrow {
        left: -1vw;
    }

    .b-watcharrow__circle {
        width: 2vw;
        height: 2vw;
        margin-left: -1vw;
        border-width: .5vw;
    }
}

@media (max-width: 768px) {
    .b-watch {
        padding: 100px 60px;
    }

    .b-watch__line {
        top: 9vw;
    }

    .b-watch__header--start {
        text-align: left;
        margin-top: 100px;
        margin-left: -15px;
    }

    .b-watch__header--finish {
        text-align: left;
        margin-top: 100px;
        margin-left: 8px;
        margin-right: -40px;
    }

    .b-watch__text--big {
        font-size: 5.5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
        margin-top: -10px;
    }

    .b-watchline__text {
        top: -50px;
        left: -25px;
        font-size: 24px;
    }

    .b-watch__vline {
        display: none;
    }

    .b-watcharrow__arrow {
        top: 34.5%;
        left: -0.82vw;
    }

    .b-watcharrow__circle {
        top: 57%;
        width: 8px;
        height: 8px;
        margin-left: -2.4px;
        border-width: 2px;
    }
}

@media (max-width: 700px) {
    .b-watch {
        padding: 40px 10px;
    }

    .b-watch__header {
        margin: 0 0 0 53%;
    }

    .b-watch__header--start {
        padding: 10px 0 40px 0;
        text-align: left;
    }

    .b-watch__header--finish {
        padding: 35px 0 0px 0;
        text-align: left;
    }

    .b-watch__text--big {
        font-size: 20px;
    }

    .b-watch__text--small {
        font-size: 14px;
    }

    .b-watch__line {
        position: absolute;
        padding: 0;
        float: none;
        left: 50%;
        margin-left: -1px;
        background-color: transparent;
        top: auto;
        height: 75px;
        border-right: 1px solid #999;
        width: 1px;
    }

    .b-watch__line--finish {
        bottom: 0;
    }

    .b-watchline__circle {
        left: -4px;
        width: 9px;
        height: 9px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
    }

    .b-watchline__circle--start {
        top: 20px;
        color: #666666;
        background-color: #fff;
        border-color: #999999;
    }

    .b-watchline__circle--finish {
        top: auto;
        bottom: 20px;
        color: #a3c644;
        background-color: #a3c644;
        border-color: #a3c644;
    }

    .b-watchline__text {
        font-size: 12px;
        position: absolute;
        top: -6px;
        left: -40px;
    }

    .b-watch .b-thewatch__container {
        width: 150px;
    }

    .b-watch .b-watcharrow__arrow {
        top: 64px;
        height: 19%;
        left: -0.82vw;
        transition: -webkit-transform 2s linear;
        transition: transform 2s linear;
    }

    .b-watch .b-watcharrow__circle {
        top: 110px;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        border-width: 2px;
    }
}
