/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/epam/ReportPortal
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */ 

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url("../img/landing/ajax-loader.gif") center center no-repeat;
}


/* Arrows */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
    font-family: "Slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "Slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}



.documentation h3 {
    color: #7f993a;
    padding: 5px 0;
    margin: 30px 0 12px 0;
}



@media (max-width: 768px) {


    .b-features .col-sm-4 {
        width: 100%;
    }

    .b-watch .col-xs-4 {
        width: 33.3333%;
    }

    .b-docs__content.col-sm-offset-3 {
        margin-left: 0;
    }

    .b-docs__content.col-sm-9 {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .b-watch .col-xs-4 {
        width: 100%;
    }
}




@media (max-width: 700px) {
    .g-hidden-xxs {
        display: none;
    }

    .g-col-xxs-12 {
        display: block;
        float: none;
        width: 100%;
    }

    .g-inline-block {
        display: inline-block;
        width: auto;
    }
}

/*--------------------------------*/

.b-partners {
    padding: 60px 0 10px;
    background-color: #fff;
    text-align: center;
}

.b-partners__header {
    text-transform: uppercase;
    text-align: center;
    font-family: "OswaldRegular", sans-serif;
    font-size: 22px;
    margin-bottom: 40px;
    color: #666;
}

.b-partners ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.b-partners li.span3 {
    display: inline-block;
}

.b-carousel__item li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.b-carousel p {
    margin: 0 40px;
}

.b-carousel p img {
    margin: 0 auto;
}

.b-carousel button {
    display: none;
}

.b-carousel .slick-next:before, .b-carousel .slick-prev:before {
    color: #666;
}

@media (max-width: 1200px) {
    .b-carousel__item li {
        margin: 0 20px 20px;
    }
}

@media (max-width: 992px) {
    .b-partners {
        padding: 60px 40px 10px;
    }
}

@media (max-width: 768px) {
    .b-partners {
        padding: 60px 0 10px;
    }

    .b-partners .slick-next, .b-partners .slick-prev {
        display: none !important;
    }
}

.b-footer {
    line-height: 20px;
    background-color: #4c4b4e;
    padding: 20px 0;
    color: #ccc;
}

.b-footer__links a {
    color: inherit;
    padding: 0 5px;
}

.b-footer__links a::before {
    display: inline-block;
    content: "|";
    margin-right: 10px;
}

@media (max-width: 768px) {
    .b-footer {
        text-align: center;
    }

    .b-footer__links {
        display: block;
        margin-top: 10px;
    }

    .b-footer__links a:first-child {
        padding-left: 0;
    }

    .b-footer__links a:first-child::before {
        margin-right: 0;
        content: "";
    }
}



.b-footer.b-footer--docs {
    position: fixed;
    bottom: 0;
}

.b-docs {
    position: relative;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    background-color: #fff;

    .b-docs ol {
        counter-reset: item;
    }

    .b-docs li {
        display: block;
    }

    .b-docs__wrapper {
        ol {
            list-style: decimal;
        }

        ul {
            list-style: none;
        }
        li {
            font-family: "OpenSansRegular", sans-serif;
            text-indent: -29px;
            margin-left: 11px;
            padding-left: 20px;
            font-size: 14px;
            color: #666;
            list-style: inherit;
        }
    }

    .b-docs li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

    .b-docs__nav {
        font-family: "OpenSansRegular", sans-serif;
        position: fixed;
        z-index: 1250;
        top: 60px;
        left: 0;
        bottom: 60px;
        padding: 20px 0 0;
        overflow-y: auto;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: #666;
        transition: all 0.5s ease-in-out;
        .controls {
            text-align: center;
        }
        .doc-menu-not-found {
          text-align: center;
          padding-top: 20px;
          display: none;
        }
        &.empty {
          .doc-menu-not-found {
            display: block;
          }
        }
    }
    .b-docs__nav > .baron {
        position: absolute;
        height: auto;
        top: 60px;
        bottom: 0;
    }
    .b-docs__nav ul.nav.sidenav {
        padding: 0;
        line-height: 44px;
        margin-bottom: 0;
        background-color: #777;
        color: #FFF;
    }

    .b-docs__nav ul.nav.sidenav > li {
        padding: 0;
        color: #fff;
        background-color: #666;
        margin-bottom: 1px;
        overflow: hidden;
    }

    .b-docs__nav ul.nav.sidenav > li a {
        padding-left: 20px;
        line-height: 20px;
        display: block;
        color: inherit;
    }

    .b-docs__nav ul.nav.sidenav > li a:active, .b-docs__nav > ul > li a:focus {
        text-decoration: none;
    }

    .b-docs__nav .nav li > a:focus,
    .b-docs__nav .nav li > a:hover {
        background-color: inherit;
    }

    .b-docs__nav ul.nav.sidenav > li a::after {
        cursor: pointer;
        position: absolute;
        right: 15px;
        font-family: "MaterialIconsRegular";
        content: "\E313";
        font-size: 16px;
        line-height: 16px;
    }

    .b-docs__nav ul.nav.sidenav > li.not-nested a::after {
        content: "";
    }

    .b-docs__nav ul.nav.sidenav > li a::after:hover {
        text-decoration: none;
    }

    .b-docs__nav ul.nav.sidenav > li::before {
        content: "";
    }

    .b-docs__nav ul.nav.sidenav > li.g-nav--open {
        margin-bottom: 0;
    }

    .b-docs__nav ul.nav.sidenav > li.g-nav--open > a::after {
        content: "\E316";
    }

    .b-docs__nav ul.nav.sidenav > li.not-nested.g-nav--open > a::after {
        content: "";
    }

    .b-docs__nav ul.nav.sidenav > li.g-nav--open > ul {
        height: auto;
    }

    .b-docs__nav ul.nav.sidenav > li > ul {
        padding: 0;
        height: 0;
        background-color: #666;
    }

    .b-docs__nav ul.nav.sidenav > li > ul > li {
        margin-bottom: 1px;
        background-color: #777;
        transition: all 0.5s ease-in-out;
        color: #FFF;
    }

    .b-docs__nav ul.nav.sidenav > li > ul > li::before {
        content: "";
    }

    .b-docs__nav ul.nav.sidenav > li > ul > li a {
        display: block;
        opacity: 0;
        height: 0;
        color: inherit;
        padding-left: 40px;
        transition: all 0.25s ease-in-out;
        line-height: 20px;
    }

    .b-docs__nav ul.nav.sidenav > li > ul > li a::after {
        content: "";
    }

    .b-docs__nav li.g-nav--open a {
        height: auto !important;
        opacity: 1 !important;
    }

    .b-docs__content {
        position: fixed;
        z-index: 1240;
        top: 60px;
        bottom: 60px;
        left: 0;
        padding: 0;
        background-color: #fff;
        overflow: hidden;
        & > .baron{
            overflow-x: hidden;
            & > .baron_scroller {
                width: auto;
            }
        }
    }
}

.b-content > ol {
    padding: 0;
}

.b-content > ol > li {
    font-family: "OswaldRegular", sans-serif;
    font-size: 15px;
    color: #464547;
    margin-bottom: 10px;
}

.b-content > ol > li ol {
    padding: 0;
}

.b-content > ol > li ol li {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #7f993a;
}

.b-content > ol > li ol li p:last-child {
    margin-bottom: 0;
}

.b-content > ol > li ol li ol {
    counter-reset: itemid;
}

.b-content > ol > li ol li ol li {
    color: #666;
    font-weight: lighter;
}

.b-content > ol > li ol li ol li:before {
    display: inline-block;
    content: counters(itemid, ".") ". ";
    counter-increment: itemid;
    width: 40px;
    float: left;
}

.b-content > ol > li ol li ol li > p {
    display: inline-block;
    width: auto;
}

.b-content h2, .b-content h3 {
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
}

.b-content h2 + p, .b-content h3 + p {
    margin: 20px 0;
}

.b-content h2 {
    font-size: 20px;
}

.b-content h2 + h3 {
    margin-top: 0;
}

.b-content h3 {
    font-size: 16px;
}

.documentation .b-content p {
    margin-bottom: 10px;
}

.documentation  .nicescroll-rails-hr {
    display: none !important;
}

.b-content p {
    color: #666;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.b-content ul {
    list-style: none;
    counter-reset: item;
    margin: 20px 0;
    padding: 0;
}

.b-content ul li {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px;
    padding: 5px 0;
    color: #666;
}

.b-content ul li:before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background-color: #39c2d7;
    border-radius: 2.5px;
}

.b-content a {
    color: #39c2d7;
}

.b-content pre {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 25px 0;
}

.b-content code {
    font-size: 14px;
    display: block;
    width: 100%;
    font-family: monospace;
    background-color: #eee;
    padding: 25px 40px;
    color: #666;
    font-weight: lighter;
    text-indent: 0;
}

.b-content table {
    margin: 40px 0;
    border-collapse: collapse;
    font-family: "OpenSansRegular", sans-serif;
}

.b-content table thead {
    background-color: #eee;
}

.b-content table th,
.b-content table td {
    padding: 10px;
    color: #666;
    font-size: 13.5px;
    border: 1px solid #ddd;
}

.b-content table td {
    vertical-align: top;
}

.b-content table td p {
    font-size: 14px;
    margin-bottom: 0;
}

.b-content div {
    width: 100%;
    overflow-x: auto;
}

.b-contents {
    display: none;
}

@media (max-width: 992px) {

    .b-content table {
        width: 150%;
    }

    .b-content div {
        overflow-x: auto;
    }
}

@media (max-width: 768px) {
    .b-footer.b-footer--docs {
        position: relative;
        z-index: 1300;
        bottom: auto;
    }

    .b-docs__nav {
        width: 100%;
        top: 104px;
        bottom: 0;
        height: 0;
        opacity: 0;
        bottom: auto;
        padding: 0;
    }

    .b-docs__nav--open {
        height: auto;
        opacity: 1;
    }

    .b-docs__nav ul.nav.sidenav > li a {
        padding-left: 20px;
    }

    .b-docs__nav ul.nav.sidenav > li > ul > li {
        padding: 0;
    }

    .b-docs__content {
        position: relative;
        top: 0;
        padding: 50px 25px 0;
        overflow-y: auto;
    }

    .b-contents {
        font-size: 16px;
        position: relative;
        display: block;
        z-index: 1300;
        background-color: #eee;
        color: #464547;
        line-height: 44px;
        vertical-align: middle;
        margin-top: -20px;
        width: 100%;
        padding: 0 15px 0 20px;
        transition: all 0.2s ease-in-out;
    }

    .b-content pre {
        margin: 15px -25px 25px;
    }
}

.b-cut {
    position: absolute;
    z-index: 1060;
    bottom: 100%;
}

.b-cut--left {
    left: 0;
    right: 50%;
    border-bottom: 20px solid #fff;
    border-right: 40px solid transparent;
}

.b-cut--right {
    left: 50%;
    right: 0;
    border-bottom: 20px solid #fff;
    border-left: 40px solid transparent;
}

@media (max-width: 768px) {
    .b-features {
        padding: 63px 0 60px 0;
    }

    .b-features__text {
        top: -160px;
    }

    .b-features__text h3 {
        font-size: 32px;
    }

    .b-feature__icon {
        font-size: 150px;
    }

    .b-feature__header {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .b-feature p {
        font-size: 28px;
    }
}

@media (max-width: 700px) {
    .b-features {
        padding: 23px 0 20px 0;
    }

    .b-features__text {
        top: -100px;
    }

    .b-features__text h3 {
        font-size: 20px;
    }

    .b-feature__icon {
        font-size: 100px;
    }

    .b-feature__header {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .b-feature p {
        font-size: 14px;
        min-height: 0;
        margin-bottom: 0;
    }
}

.b-watch {
    overflow: hidden;
    position: relative;
    background-color: #e9e9e9;
    padding: 60px 0 70px 0;
    text-transform: uppercase;
    font-family: "OswaldRegular", sans-serif;
}

.b-watch__line {
    position: relative;
    z-index: 1040;
    top: 8vw;
    height: 1px;
    background-color: #999999;
}

.b-watch__start {
    color: #666666;
    text-align: right;
}

.b-watch__finish {
    color: #a3c644;
    text-align: left;
}

.b-watch__header {
    position: relative;
    z-index: 1200;
}

.b-watch__header--start {
    margin-top: 11vw;
}

.b-watch__header--finish {
    margin-top: 9.5vw;
}

.b-watch .b-thewatch__container {
    margin: 0 auto;
    width: 70%;
}

.b-watch__thewatch {
    position: relative;
    z-index: 1050;
    text-align: center;
    margin: 0 auto;
}

.b-watch__thewatch img {
    position: relative;
    z-index: 1050;
    width: 100%;
    left: 1px;
}

.b-watch__text {
    display: inline-block;
}

.b-watch__text--big {
    font-size: 60px;
}

.b-watch__text--small {
    font-size: 44px;
}

.b-watchline__circle {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.b-watchline__circle--start {
    left: 5%;
    color: #666666;
    background-color: #fff;
    border-color: #999999;
}

.b-watchline__circle--finish {
    right: 5%;
    color: #a3c644;
    background-color: #a3c644;
    border-color: #a3c644;
}

.b-watchline__text {
    font-size: 18px;
    position: absolute;
    top: -30px;
    left: -14px;
}

.b-watch__circle {
    position: relative;
    z-index: 1038;
    bottom: -5px;
    width: 100%;
    border: 1px solid #C1C1C1;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%;
    border-top: 0;
}

.b-watch__circle:before {
    content: "";
    position: absolute;
    top: -20%;
    left: -5%;
    width: 110%;
    height: 70%;
    background-color: #e9e9e9;
    z-index: 1040;
}

.b-watch__vline {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    height: 100px;
    border-right: 1px solid #E9E9E9;
}

.b-watcharrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
}

.b-watcharrow__arrow {
    position: absolute;
    z-index: 1052;
    width: 2vw;
    height: 25%;
    left: -1vw;
    background-image: url("../img/landing/watch/arrowv2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    -webkit-transform-style: preserve-3D;
    transform-style: preserve-3D;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.b-watcharrow__circle {
    position: absolute;
    z-index: 2000;
    width: 1.25vw;
    height: 1.25vw;
    margin-left: -0.625vw;
    margin-bottom: -0.625vw;
    background-color: #AFAFAF;
    border-radius: 100%;
    border: .35vw solid #8F0003;
}

.b-watcharrow--rotate {
    -webkit-transform: rotate(779deg);
    transform: rotate(779deg);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .b-watch__text--big {
        font-size: 5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .b-watch {
        padding: 60px 50px;
    }

    .b-watch__line {
        top: 14vw;
    }

    .b-watch__header--start {
        text-align: left;
        margin-top: 170px;
        margin-left: -15px;
    }

    .b-watch__header--finish {
        text-align: left;
        margin-top: 160px;
        margin-left: -55px;
    }

    .b-watch__text--big {
        font-size: 5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
    }

    .b-watchline__circle {
        width: 15px;
        height: 15px;
        top: -7px;
    }

    .b-watch__vline {
        display: none;
    }

    .b-watcharrow__arrow {
        left: -1vw;
    }

    .b-watcharrow__circle {
        width: 2vw;
        height: 2vw;
        margin-left: -1vw;
        border-width: .5vw;
    }
}

@media (max-width: 768px) {
    .b-watch {
        padding: 100px 60px;
    }

    .b-watch__line {
        top: 9vw;
    }

    .b-watch__header--start {
        text-align: left;
        margin-top: 100px;
        margin-left: -15px;
    }

    .b-watch__header--finish {
        text-align: left;
        margin-top: 100px;
        margin-left: 8px;
        margin-right: -40px;
    }

    .b-watch__text--big {
        font-size: 5.5vw;
    }

    .b-watch__text--small {
        font-size: 3.81vw;
        margin-top: -10px;
    }

    .b-watchline__text {
        top: -50px;
        left: -25px;
        font-size: 24px;
    }

    .b-watch__vline {
        display: none;
    }

    .b-watcharrow__arrow {
        top: 34.5%;
        left: -0.82vw;
    }

    .b-watcharrow__circle {
        top: 57%;
        width: 8px;
        height: 8px;
        margin-left: -2.4px;
        border-width: 2px;
    }
}

@media (max-width: 700px) {
    .b-watch {
        padding: 40px 10px;
    }

    .b-watch__header {
        margin: 0 0 0 53%;
    }

    .b-watch__header--start {
        padding: 10px 0 40px 0;
        text-align: left;
    }

    .b-watch__header--finish {
        padding: 35px 0 0px 0;
        text-align: left;
    }

    .b-watch__text--big {
        font-size: 20px;
    }

    .b-watch__text--small {
        font-size: 14px;
    }

    .b-watch__line {
        position: absolute;
        padding: 0;
        float: none;
        left: 50%;
        margin-left: -1px;
        background-color: transparent;
        top: auto;
        height: 75px;
        border-right: 1px solid #999;
        width: 1px;
    }

    .b-watch__line--finish {
        bottom: 0;
    }

    .b-watchline__circle {
        left: -4px;
        width: 9px;
        height: 9px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
    }

    .b-watchline__circle--start {
        top: 20px;
        color: #666666;
        background-color: #fff;
        border-color: #999999;
    }

    .b-watchline__circle--finish {
        top: auto;
        bottom: 20px;
        color: #a3c644;
        background-color: #a3c644;
        border-color: #a3c644;
    }

    .b-watchline__text {
        font-size: 12px;
        position: absolute;
        top: -6px;
        left: -40px;
    }

    .b-watch .b-thewatch__container {
        width: 150px;
    }

    .b-watch .b-watcharrow__arrow {
        top: 64px;
        height: 19%;
        left: -0.82vw;
        transition: -webkit-transform 2s linear;
        transition: transform 2s linear;
    }

    .b-watch .b-watcharrow__circle {
        top: 110px;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        border-width: 2px;
    }
}



.b-autotrees__trees {
    display: inline-block;
}

.b-autotrees__image {
    width: 100% !important;
}

.b-autotrees__leaves {
    position: absolute;
    bottom: 17.5%;
    height: 5%;
}

.b-autotrees__leaves--front {
    bottom: 2%;
    width: 20%;
    height: 7.5%;
    right: 37.5%;
}

.b-autotrees__leaves--front .b-autotrees__leaf {
    width: 17%;
    transition: all 1s ease-in-out;
}

.b-autotrees__leaves--lb {
    left: 13%;
    width: 12%;
}

.b-autotrees__leaves--lb .b-autotrees__leaf {
    width: 13.6666%;
}

.b-autotrees__leaves--rb {
    left: 69%;
    width: 14%;
}

.b-autotrees__leaves--rb .b-autotrees__leaf {
    width: 11.5%;
}

.b-autotrees__leaves--rrb {
    right: 3.5%;
    width: 8%;
}

.b-autotrees__leaves--rrb .b-autotrees__leaf {
    width: 21%;
}

.b-autotrees__leaf {
    position: relative;
    top: 0;
    display: inline-block;
    background-image: url("../img/landing/red_leaf.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    margin-left: -2px;
    transition: all 0.3s ease-in-out;
}

.b-redleaf--moveup {
    top: -40px;
}

.b-redleaf__back--moveup {
    top: -20px;
}

@media (max-width: 1400px) and (min-width: 1200px) {
    .b-autotrees__leaves {
        bottom: 19.5%;
    }

    .b-autotrees__leaves--front {
        bottom: 2%;
        right: 36%;
    }

    .b-autotrees__leaves--lb {
        left: 15%;
    }

    .b-autotrees__leaves--rb {
        left: 69%;
        width: 14%;
    }

    .b-autotrees__leaves--rb .b-autotrees__leaf {
        width: 11.5%;
    }

    .b-autotrees__leaves--rrb {
        right: 3.5%;
        width: 8%;
    }

    .b-autotrees__leaves--rrb .b-autotrees__leaf {
        width: 21%;
    }

    .b-redleaf--moveup {
        top: -35px;
    }

    .b-redleaf__back--moveup {
        top: -15px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .b-autotrees__leaves {
        bottom: 20.5%;
    }

    .b-autotrees__leaves--front {
        bottom: 3%;
        right: 36%;
    }

    .b-autotrees__leaves--lb {
        left: 15%;
        width: 12%;
    }

    .b-autotrees__leaves--rb {
        left: 69%;
        width: 14%;
    }

    .b-autotrees__leaves--rrb {
        right: 3.5%;
        width: 8%;
    }

    .b-redleaf--moveup {
        top: -30px;
    }

    .b-redleaf__back--moveup {
        top: -15px;
    }
}

@media (max-width: 992px) {
    .b-common.b-autotrees .b-autotrees__image {
        margin-top: 0;
    }

    .b-common__text {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .b-autotrees__leaves {
        bottom: 6.5vw;
    }

    .b-autotrees__leaves--front {
        height: 7%;
        bottom: 0.8vw;
    }

    .b-autotrees__leaves--front .b-autotrees__leaf {
        width: 16%;
    }

    .b-autotrees__leaves--lb {
        left: 14%;
        width: 12%;
    }

    .b-autotrees__leaves--lb .b-autotrees__leaf {
        width: 12.6666%;
    }

    .b-autotrees__leaves--rb {
        left: 68.5%;
        width: 14%;
    }

    .b-autotrees__leaves--rb .b-autotrees__leaf {
        width: 10.5%;
    }

    .b-autotrees__leaves--rrb {
        right: 5%;
        width: 8%;
    }

    .b-autotrees__leaves--rrb .b-autotrees__leaf {
        width: 20%;
    }

    .b-autotrees__header {
        margin-bottom: 40px;
    }

    .b-redleaf--moveup {
        top: -35px;
    }

    .b-redleaf__back--moveup {
        top: -15px;
    }
}

@media (max-width: 700px) {
    .b-autotrees__leaves {
        bottom: 8vw;
    }

    .b-autotrees__leaves--front {
        height: 7%;
        bottom: 1vw;
    }

    .b-autotrees__leaves--front .b-autotrees__leaf {
        width: 16%;
    }

    .b-autotrees__leaves--lb {
        left: 14%;
        width: 12%;
    }

    .b-autotrees__leaves--lb .b-autotrees__leaf {
        width: 12.6666%;
    }

    .b-autotrees__leaves--rb {
        left: 68.5%;
        width: 14%;
    }

    .b-autotrees__leaves--rb .b-autotrees__leaf {
        width: 10.5%;
    }

    .b-autotrees__leaves--rrb {
        right: 5%;
        width: 8%;
    }

    .b-autotrees__leaves--rrb .b-autotrees__leaf {
        width: 20%;
    }
}

@media (max-width: 550px) {
    .b-autotrees__leaves {
        bottom: 8.7vw;
    }

    .b-autotrees__leaves--front {
        height: 7%;
        bottom: 1.5vw;
    }

    .b-autotrees__leaves--front .b-autotrees__leaf {
        width: 16%;
    }

    .b-autotrees__leaves--lb {
        left: 15%;
        width: 12%;
    }

    .b-autotrees__leaves--lb .b-autotrees__leaf {
        width: 12.6666%;
    }

    .b-autotrees__leaves--rb {
        left: 68.5%;
        width: 13%;
    }

    .b-autotrees__leaves--rb .b-autotrees__leaf {
        width: 10.5%;
    }

    .b-autotrees__leaves--rrb {
        right: 5%;
        width: 8%;
    }

    .b-autotrees__leaves--rrb .b-autotrees__leaf {
        width: 20%;
    }

    .b-redleaf--moveup {
        top: -20px;
    }

    .b-redleaf__back--moveup {
        top: -10px;
    }
}

@media (max-width: 420px) {
    .b-autotrees__leaves {
        bottom: 9.5vw;
    }

    .b-autotrees__leaves--front {
        height: 7%;
        bottom: 3vw;
    }

    .b-autotrees__leaves--front .b-autotrees__leaf {
        width: 16%;
    }

    .b-autotrees__leaves--lb {
        left: 15%;
        width: 12%;
    }

    .b-autotrees__leaves--lb .b-autotrees__leaf {
        width: 12.6666%;
    }

    .b-autotrees__leaves--rb {
        left: 68.5%;
        width: 13%;
    }

    .b-autotrees__leaves--rb .b-autotrees__leaf {
        width: 10.5%;
    }

    .b-autotrees__leaves--rrb {
        right: 5%;
        width: 8%;
    }

    .b-autotrees__leaves--rrb .b-autotrees__leaf {
        width: 20%;
    }

    .b-redleaf--moveup {
        top: -15px;
    }

    .b-redleaf__back--moveup {
        top: -7px;
    }
}

path.line {
    fill: none;
    stroke: #53aee2;
    stroke: #fff;
    stroke-width: 3;
}

path.area {
    fill: #cfddf0;
    fill: #a3c644;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis path,
.x.axis line,
.y.axis path,
.y.axis line,
line.x.axis,
line.y.axis {
    fill: none;
    stroke: #898989;
    stroke-width: 2px;
}

.landing-page text {
    font-family: "OpenSansRegular", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    stroke: none;
    fill: #bbbbbb;
    font-size: 12px;
}

.text-y {
    text-align: right;
    width: 20px;
    font-size: 14px;
}

.landing-page circle:last-child {
    display: none;
}

line.vlinecircle, line.vlinehist, line.hlinehist {
    stroke: #000;
    stroke-opacity: 0.1;
}

line.vlinecircle:last-child,
line.vlinecircle:first-child,
line.vlinehist:last-child,
line.vlinehist:first-child,
line.hlinehist:last-child,
line.hlinehist:first-child {
    display: none;
}

line.vlinehist {
    stroke: #a7a7a7;
    stroke-opacity: 1;
    stroke-width: 1px;
}

@media (max-width: 992px) {
    .text-y, text {
        font-size: 18px;
    }

    line.x.axis, line.y.axis {
        stroke-width: 2px;
    }

    line.vlinecircle, line.vlinehist, line.hlinehist {
        stroke-width: 2px;
    }
}

/* Custom changes*/
.landing-page .btn-cancel,
.landing-page .btn-restore {
    border-radius: 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}

.form-inline--reset {
    margin: 0 40px;
}

.landing-page .form-control[disabled],
.landing-page .form-control[readonly],
.landing-page fieldset[disabled] .form-control {
    background-color: rgba(28, 28, 28, 0.7);
    opacity: 1;
}

.landing-page .btn-default.disabled, .landing-page .btn-default[disabled], .landing-page fieldset[disabled] .btn-default, .landing-page .btn-default.disabled:hover, .landing-page .btn-default[disabled]:hover, .landing-page fieldset[disabled] .btn-default:hover, .landing-page .btn-default.disabled:focus, .landing-page .btn-default[disabled]:focus, .landing-page fieldset[disabled] .btn-default:focus, .landing-page .btn-default.disabled.focus, .landing-page .btn-default[disabled].focus, .landing-page fieldset[disabled] .btn-default.focus, .landing-page .btn-default.disabled:active, .landing-page .btn-default[disabled]:active, .landing-page fieldset[disabled] .btn-default:active, .landing-page .btn-default.disabled.active, .landing-page .btn-default[disabled].active, .landing-page fieldset[disabled] .btn-default.active {
    opacity: 0.4;
    background-color: #8f3917;
}

.documentation .b-content h2,
.documentation .b-content h3 {
    display: block;
}

.documentation li p {
    display: inline;
}

.documentation ol li p {
    display: inline;
    margin-left: 17px;
}

.documentation ol li.double-digit p {
    margin-left: 9px;
}

.documentation img {
    max-width: 60%;
    cursor: zoom-in;
}

.documentation .b-footer {
    position: fixed;
    bottom: 0;
}

.documentation .b-content h2 + p,
.documentation .b-content h3 + p {
    margin: 10px 0;
}

.documentation .b-content p {
    margin-bottom: 10px;
}

.documentation li pre {
    display: inline-table;
    margin-left:17px;
    vertical-align: middle;
}

.documentation .b-content h2 {
    font-size: 18px;
    padding: 8px 0;
}

.documentation .b-footer{
    font-family: "OpenSansRegular", sans-serif;
}

.documentation .b-content ul {
    margin: 10px 0 10px 15px;
    padding-left:25px;
}

.documentation h1 {
    font-size: 28px;
    padding-top: 22px;
}

.authorized .b-return__btn {
    position: absolute;
    display: inline-block;
    font-family: "OswaldRegular", sans-serif;
    color: #FFF;
    top: 19px;
    right: 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.documentation .anchor.glyphicon {
    padding-right: 5px;
    float: left;
    visibility: hidden;
}

.documentation li .anchor.glyphicon {
    padding-right: 35px;
}

.documentation .docs-heading:hover .anchor.glyphicon {
    visibility: visible;
}

.documentation  .b-content table {
    margin: 10px 0;
}

.documentation .b-content h2+h3 {
    margin-top: 10px;
}

.documentation .b-content ul li {
    padding: 0;
    font-size:14px;
}

.mfp-wrap {
    z-index: 10000;
}

.mfp-zoom-out-cur .documentation{
    opacity: 0.6;
}

.mfp-zoom-out-cur .nicescroll-rails{
    display: none !important;
}

.language-hljs {
    display: none;
}

.b-docs__wrapper {
    padding: 25px 8%;
}

h1.docs-heading {
    margin-left: -34px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2.docs-heading {
    margin-left: -23px;
    margin-top: 60px;
}

h4.docs-heading,
h3.docs-heading {
    margin-left: -25px;
}

h4.docs-heading .glyphicon,
h3.docs-heading .glyphicon {
    float: left;
    padding-right: 8px;
    visibility: hidden;
}

h4.docs-heading:hover .glyphicon,
h3.docs-heading:hover .glyphicon {
    visibility: visible;
}


.toc-level.toc-level-1 {
   padding-left: 30px !important;
}

.toc-level.toc-level-2 {
    padding-left: 60px !important;
}

.toc-level.toc-level-3 {
    padding-left: 90px !important;
}

/**/

.b-docs-footer {
    display: none;
}

.documentation .b-docs-footer {
    display: block;
}
