<div id="btsBlock" class="bts-block">
    <div id="propertiesWrapper" class="bts-properties rp-form">
        <div class="rp-form-group clearfix">
            <div class="rp-field">
                <span><%= data.text.admin.activateSamlAuth %></span>
                <div class="settings-switcher-state-mobile" data-js-saml-enable-mobile></div>
                <label class="rp-switcher-big">
                    <span class="turn-on"><%= data.text.ui.on %></span>
                    <span class="turn-off"><%= data.text.ui.off %></span>
                    <input type="checkbox" data-js-saml-enable>
                    <div class="slider"></div>
                </label>
            </div>
            <div class="bts-properties-controls">
                <a href="javascript:void(0);"
                   class="edit-item"
                   data-js-edit-saml-auth-settings
                   alt="<%= data.text.ui.edit %>"
                   title="<%= data.text.ui.edit %>">
                    <i class="material-icons">edit</i>
                </a>
                <a href="javascript:void(0);"
                   class="delete-item"
                   data-js-delete-saml-auth-settings
                   alt="<%= data.text.bts.removeProject %>"
                   title="<%= data.text.bts.removeProject %>">
                    <i class="rp-icons rp-icons-cancel"></i>
                </a>
            </div>
        </div>
        <div class="config-fields clearfix"><!-- data-js-saml-config -->
            <label class="rp-field">
                <span><%= data.text.admin.identityProviderNameId %></span>
                <input type="text" class="rp-input" data-js-identity-provider-name-id>
                <span class="validate-hint"></span>
            </label>
            <label class="rp-field">
                <span class="required"><%= data.text.admin.identityProviderName %></span>
                <input type="text" class="rp-input" data-js-identity-provider-name>
                <span class="validate-hint"></span>
            </label>
            <label class="rp-field">
                <span class="required"><%= data.text.admin.identityProviderMetadataUrl %></span>
                <input type="text" class="rp-input" data-js-identity-provider-metadata-url>
                <span class="validate-hint"></span>
            </label>
            <label class="rp-field">
                <span class="required"><%= data.text.admin.emailAttribute %></span>
                <input type="text" class="rp-input" data-js-email-attribute>
                <span class="validate-hint"></span>
            </label>
            <div class="rp-field name-mode-switcher-field">
                <span class="name-mode-switcher-title"><%= data.text.admin.nameModeSwitcherTitle %></span>
                <div data-js-name-mode-switcher></div>
            </div>
            <label class="rp-field" data-js-full-name-field>
                <span class="required"><%= data.text.admin.fullNameAttribute %></span>
                <input type="text" class="rp-input" data-js-full-name-attribute>
                <span class="validate-hint"></span>
            </label>
            <div data-js-first-last-name-wrapper>
                <label class="rp-field">
                    <span class="required"><%= data.text.admin.firstNameAttribute %></span>
                    <input type="text" class="rp-input" data-js-first-name-attribute>
                    <span class="validate-hint"></span>
                </label>
                <label class="rp-field">
                    <span class="required"><%= data.text.admin.lastNameAttribute %></span>
                    <input type="text" class="rp-input" data-js-last-name-attribute>
                    <span class="validate-hint"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="rp-form-group clearfix">
        <div class="submit-properties" id="submitPropertiesBlock">
            <button class="rp-btn rp-btn-submit float-right rp-btn-indent-left" data-js-submit-saml-auth-settings>
            <%= data.text.ui.submit %>
            </button>
            <button class="cancel-bts-properties rp-btn rp-btn-cancel float-right rp-btn-indent-left" data-js-cancel-saml-auth-settings>
            <%= data.text.ui.cancel %>
            </button>
        </div>
    </div>
    <div class="mobile-disabling-cover"></div>
</div>
