<div class="bts-instance-wrapper">
    <ul role="tablist" class="nav-tabs-bts-instances clearfix">
        <li class="bts-instance-title">
            <span>
                <%= data.text.admin.samlInstances %>
            </span>
        </li>
        <% _.forEach(data.systems, function(system, index) { %>
        <li class="bts-name-project <%= index === data.index ? 'active' : '' %>">
            <a class="tab bts-instance saml-instance" data-index="<%= index %>" id="<%= system.id || '' %>" href="#">
                <%= system.identityProviderName %>
            </a>
        </li>
        <% }); %>
        <% if(!data.systems.length) { %>
        <li class="bts-name-project active">
            <a class="tab bts-instance saml-instance"><%= data.text.admin.newProvider %></a>
        </li>
        <% } %>
        <li class="bts-name-project bts-name-new-project <%= !data.systems.length ? 'disabled' : '' %>">
            <a class="tab bts-instance saml-instance close-add">
                <%= data.text.admin.newProvider %>
                <span class="close-add-action" data-js-close-add-action>
                    <i class="material-icons">clear</i>
                </span>
            </a>
        </li>
        <li class="bts-instance-action <%= !data.systems.length ? 'disabled' : '' %>">
            <a href="#" class="tab bts-instance saml-instance add-new rp-link rp-link-with-icon">
                <i class="material-icons">add</i>
                <span><%= data.text.bts.btsAddNewInstance %></span>
            </a>
        </li>
    </ul>
</div>
