.launch-not-found {
  width: 100%;
  padding: 26px 10px 20px;
  text-align: center;
  border-bottom: 1px solid $COLOR--gray-91;
  box-sizing: border-box;
}

.launch-not-found-hint {
  margin: 0 0 10px;
  color: $COLOR--gray-47;
  font-size: 13px;
}
