.defect-type-tooltip {
  position: relative;
  font-family: $FONT-REGULAR;
  font-size: 12px;
  color: $COLOR--charcoal-grey;
  line-height: 17px;
}

.text-tooltip b {
  font-family: $FONT-SEMIBOLD;
}
