<div class="modal fade dialog-shell rp-popup-settings"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <% if(data.type == 'edit'){ %>
                        <%= data.text.ui.edit %> <%- data.title %> <%= data.text.ui.widgetSm %>
                    <% } else { %>
                        <%= data.text.widgets.addNewWidget %>
                    <% } %>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons" aria-hidden="true">clear</i>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="params wizard">
                    <form id="add_widget_<%= data.id %>" class="form-horizontal">
                        <div class="form-group" id="widget-filters" <% if(data.gadget && data.defaults.gadget[data.gadget].noFilters){ %>style="display:none"<% } %>>
                             <label class="control-label col-sm-3"><%= data.text.widgets.dataFilter %>:</label>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="data_filter_<%= data.id %>"><%= data.text.widgets.fromMyFilters %>:</label>
                                        <div class="widget-filter">
                                            <select placeholder="<%= data.text.widgets.selectFilter %>" id="data_filter_<%= data.id %>" class="filter-control">
                                                <option></option>
                                            </select>
                                            <i class="ico-loading" style="display:block;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="data_shared_filter_<%= data.id %>"><%= data.text.widgets.fromShared %>:</label>
                                        <div class="widget-filter">
                                            <select placeholder="<%= data.text.widgets.selectFilter %>"
                                                id="data_shared_filter_<%= data.id %>"
                                                class="filter-control">
                                                <option></option>
                                            </select>
                                            <i class="ico-loading" style="display:block;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="help-inline pad-formhelp col-sm-4" style="display:none;"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="widget_name_<%= data.id %>"><%= data.text.widgets.widgetName %>:</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">star_border</i>
                                    </span>
                                    <% var name = data.name.replace(/'/g, '"'); %>
                                    <input class="form-control input-sm" id="widget_name_<%= data.id %>" type="text" value='<%- name %>' />
                                </div>
                            </div>
                            <div class="help-inline pad-formhelp col-sm-5" style="display:none;"></div>
                        </div>
                        <% if (data.limit_results) {%>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="limit_results_<%= data.id %>"><%= data.text.widgets.limitResults %>:</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">star_border</i>
                                    </span>
                                    <input class="form-control input-sm" id="limit_results_<%= data.id %>" type="text" value="<%= data.limit_results %>" />
                                </div>
                            </div>
                        </div>
                        <% }%>
                        <% if (data.defaults.size) { %>
                        <div class="form-group" style="display:none;">
                            <label class="control-label col-sm-3" for="widget_size_<%= data.id %>"><%= data.text.widgets.widgetSize %>:</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">star_border</i>
                                    </span>
                                    <select class="form-control input-sm" id="widget_size_<%= data.id %>">
                                        <option value="12">12/12</option>
                                        <option value="1">1/12</option>
                                        <option value="2">2/12</option>
                                        <option value="3">3/12</option>
                                        <option value="4">4/12</option>
                                        <option value="5">5/12</option>
                                        <option value="6">6/12</option>
                                        <option value="7">7/12</option>
                                        <option value="8">8/12</option>
                                        <option value="9">9/12</option>
                                        <option value="10">10/12</option>
                                        <option value="11">11/12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (data.defaults.gadget) { %>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="gadget_<%= data.id %>"><%= data.text.widgets.widgetType %>:</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">star_border</i>
                                    </span>
                                    <select placeholder="<%= data.text.widgets.selectType %>" class="gadget-type" id="gadget_<%= data.id %>">
                                        <option></option>
                                        <% _.each(data.defaults.gadget, function(val, key){ %>
                                        <option <% if (data.gadget == key) { %> selected="selected" <% } %> value="<%= key %>,<%= val.widget_type %>"><%= val.gadget_name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="help-inline pad-formhelp col-sm-5" style="display:none;"></div>
                        </div>
                        <% } %>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="widget_shared_<%= data.id %>"><%= data.text.dashboard.shared %></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="checkbox" class="js-switch" <% if (data.shared) { %> checked="checked" <% } %> />
                                           <strong class="widget-project"><%= data.text.dashboard.project %> </strong> <%= data.projectName %>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-settings"></div>
                        <% if(data.type == 'new'){ %>
                        <div class="form-group wizard-buttons">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="button" class="btn cancel btn-default" data-dismiss="modal"><%= data.text.ui.cancel %></button>
                                    <button type="submit" class="btn ok btn-primary"><%= data.text.ui.submit %></button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </form>
                </div>
            </div>
            <% if(data.type == 'edit'){ %>
            <div class="modal-footer wizard-buttons">
                <button type="button" class="btn cancel btn-default" data-dismiss="modal">
                    <%= data.text.ui.cancel %>
                </button>
                <button type="button" class="btn ok btn-primary">
                    <%= data.text.ui.submit %>
                </button>
            </div>
            <% } %>
        </div>
    </div>
