<div class="form-group">
    <label class="col-sm-3 control-label"
        for="widget_crit_<%= data.id %>">
        <%= data.title %>:
    </label>
    <div class="col-sm-4">
        <div class="input">
            <div class="btn-group">
                <button class="rp-btn rp-btn-with-dropdown rp-width-100 dropdown-toggle"
                    id="widget_crit_<%= data.id %>"
                    data-toggle="dropdown">
                    <i class="material-icons" style="margin:-1px 3px 0 -3px;">add</i>
                    <span class="select-value"><%= data.select_title %></span>
                    <span class="rp-caret"></span>
                </button>
                <ul class="dropdown-menu <%= data.cls %> rp-width-100"
                    id="criteria_select_<%= data.id %>">
                    <li>
                        <a href="" class="check-all">
                            <%= data.text.ui.selectAll %>
                        </a>
                    </li>
                    <% _.each(data.criteria, function(val, key){ %>
                        <li>
                            <a>
                                <label class="checkbox">
                                    <input type="checkbox"
                                        <% if (_.contains(data.criteria_fields, key)) {%>
                                            checked="checked" 
                                        <% } %>
                                        class="<%= val.replace(" ", ".") %>"
                                        value="<%= key %>" />
                                        <%= val %>
                                </label>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="help-inline pad-formhelp col-sm-5" style="display:none;"></div>
</div>
