<div class="form-group">
    <label class="col-sm-3 control-label" for="limit_<%= data.id %>">
        <%= data.text.widgets.limit %>:
    </label>
    <div class="col-sm-4">
        <div class="input">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">star_border</i>
                </span>
                <input class="form-control input-sm" style="width:62px;" id="limit_<%= data.id %>" placeholder="<%= data.min %>-<%= data.max %>" type="text" value='<%- data.limit %>' />
            </div>
        </div>
    </div>
    <div class="help-inline pad-formhelp col-sm-5" style="display:none;"></div>
</div>
