<div class="form-group">
    <label class="col-sm-3 control-label" for="widget_users_<%= data.id %>">
        <%= data.text.widgets.typeUserName %>:
    </label>
    <div class="col-sm-4">
        <div class="input">
            <div class="input-group b-users-typeahead">
                <span class="input-group-addon">
                    <i class="material-icons">star_border</i>
                </span>
                <select style="width:100%;"
                    placeholder="<%= data.text.widgets.allMembers %>"
                    size="1"
                    multiple="multiple"
                    class="users-typeahead"
                    id="widget_users_<%= data.id %>"
                    type="text">
                </select>
            </div>
        </div>
    </div>
    <div class="help-inline pad-formhelp col-sm-5" style="display:none;"></div>
</div>
