<div class="cases-uniq-launches">
    <% if (data.items && !_.isEmpty(data.items)) { %>
    <div class="container-fluid rp-margin-reset rp-odd-even rp-table-hover">
        <div class="row rp-table-thead hidden-xs">
            <div class="col-xs-11 col-sm-6 ubp-title">
                <div><%= data.text.launches.launchName %></div>
            </div>
            <div class="col-xs-11 col-sm-2 ubp-title">
                <div><%= data.text.ui.max %></div>
            </div>
            <div class="col-xs-11 col-sm-2 ubp-title">
                <div><%= data.text.ui.avg %></div>
            </div>
            <div class="col-xs-11 col-sm-2 ubp-title">
                <div><%= data.text.ui.min %></div>
            </div>
        </div>
        <% _.each(data.items, function(item){ %>
        <div class="row rp-table-row">
            <div class="col-xs-11 col-sm-6">
                <div class="cases-name"><%- item.name %></div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div><%= item.max %></div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div><%= item.avg %></div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div><%= item.min %></div>
            </div>
        </div>
        <% }) %>
        <div class="row rp-table-footer">
            <div class="col-xs-11 col-sm-8">
                <div><%- data.text.widgets.medianValueUniqLaunches %></div>
            </div>
            <div class="col-xs-11 col-sm-4">
                <div><%= (data.median).toFixed(1) %></div>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="no-data-error"><%= data.text.widgets.noData %></div>
    <% } %>
</div>
