<div class="most-failed-launches">
    <% if (data.items && !_.isEmpty(data.items)) { %>
    <div class="most-failed-launches-table">
        <div class="most-failed-launch">
            <%= data.text.widgets.typeLaunchName %>: <%- data.lastLaunch.name %>
        </div>
        <div class="most-failed-head">
            <div class="most-failed-name-col">
                <span class="most-failed-th-name"><%= data.text.widgets.testCase %></span>
            </div>
            <div class="most-failed-stats-col">
                <span class="most-failed-th-name"><%= data.text.widgets.failed %></span>
            </div>
            <div class="most-failed-date-col">
                <span class="most-failed-th-name"><%= data.text.widgets.lastFailure %></span>
            </div>
        </div>
        <% _.each(data.items, function(item){ %>
        <div class="most-failed-row">
            <div class="most-failed-name-col">
                <strong title="<%- item.name %>" class="over-name"><%- item.name %></strong>
                <a target="_blank" class="found-in-last rp-blue-link-undrl"
                   href="<%= data.lastLaunch.link %>&filter.eq.name=<%- encodeURIComponent(item.name) %>">
                    <%= data.text.widgets.findLastLaunch %>
                </a>
            </div>
            <div class="most-failed-stats-col">
                <strong><%= item.failed %></strong> <%= data.text.widgets.failsOf %> <strong><%= item.runs %></strong> <%=
                data.text.widgets.testCaseExe %> <strong><%=
                item.affected %>%</strong> <%= data.text.widgets.failure %>
            </div>
            <div class="most-failed-date-col">
                <% var date = (item.lastDate) ? new Date(parseFloat(item.lastDate)) : null; %>
                <% if(date){ %>
                <div class="hoverFullTime">
                    <span class="timeMoment timeHover"><%= data.moment(data.dateFormat(date)).fromNow() %></span>
                    <div class="time-full timeHover hidden"><span><%= data.dateFormat(date) %></span></div>
                    <span class="time-ms hidden"><%= date %></span>
                </div>
                <% } %>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="mobile-disabling-cover"></div>
</div>
<% } else { %>
<div class="no-data-error"><%= data.text.widgets.noData %></div>
<% } %>
</div>
