<div class="panel panel-default widget-content grid-stack-item-content">
    <div class="panel-body">
        <div class="no-data-error">
            <% if(data.notFound) { %>
                <%= data.text.widgets.widgetNotFound %>
            <% } else if (data.unShared) { %>
                <%= data.text.widgets.unsharedWidget %>
            <% } else { %>
                <%= data.text.widgets.unableLoadData %>
            <% } %>
        </div>
    </div>
    <div class="panel-heading clearfix drag-handle">
        <% if(data.name) { %>
            <strong class="multiple-spaces"><%- data.name %></strong>
        <% } %>
        <ul class="nav rp-top-links navbar-right">
            <li>
                <a href="#"
                    title="<%= data.text.widgets.refreshWidget %>"
                    class="refresh">
                    <i class="material-icons">autorenew</i>
                </a>
            </li>
            <% if (!(data.isSharedDashboard)) { %>
                <li>
                    <a href="#" class="remove">
                        <i class="material-icons">clear</i>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</div>