<div class="panel-heading clearfix <% if (data.dashOwner == data.user.name) { %>drag-handle<% } %>">
    <strong class="multiple-spaces"><%- data.name %></strong>
    <% if (data.shared) { %>
        <span class="badge badge-info">
            <% if(data.owner !== data.user.name) { %>
                <i class="material-icons"
                    title="<%= data.text.widgets.widgetSharedBy %> <%= data.owner.capitalizeName() %>">
                    public</i>
                <span class="shared-text">
                    <%= data.text.widgets.sharedBy %>
                    <%= data.owner.capitalizeName() %>
                </span>
            <% } else { %>
                <i class="material-icons"
                    title="<%= data.text.widgets.widgetSharedBy %> <%= data.text.ui.you %>">
                    share</i>
                <span class="shared-text">
                    <%= data.text.widgets.sharedBy %>
                    <span class="label label-success"><%= data.text.ui.you %></span>
                </span>
            <% } %>
        </span>
    <% } %>
    <ul class="nav rp-top-links navbar-right">
        <% if(null) { %>
            <li class="disabled">
                <a href="#"
                    title="<%= data.text.widgets.exportWidget %>"
                    class="save">
                    <i class="material-icons">file_download</i>
                </a>
            </li>
        <% } %>
        <% if (data.canEdit) { %>
            <li>
                <a href="#"
                    title="<%= data.text.widgets.editWidget %>"
                    class="settings">
                    <i class="material-icons">settings</i>
                </a>
            </li>
        <% } %>
        <li>
            <a href="#"
                title="<%= data.text.widgets.refreshWidget %>"
                class="refresh">
                <i class="material-icons">autorenew</i>
            </a>
        </li>
        <% if (data.dashOwner == data.user.name) { %>
            <li>
                <a href="#"
                    title="<%= data.text.widgets.deleteWidget %>"
                    class="remove">
                    <i class="material-icons">clear</i>
                </a>
            </li>
        <% } %>
    </ul>
    <div class="widget-type-name">
        <%= data.widgetType %>
        <%= data.isTimeline ? ('- ' + data.text.widgets.timelineModeTitle) : '' %>
    </div>
</div>