<div class="launches-table-panel">
    <% if (!data.noItems) { %>
    <div class="container-fluid">
        <div class="row rp-grid-thead hidden-xs">
            <div class="col-xs-12 col-sm-5 nopadding">
                <div class="col-xs-12 col-sm-6">
                    <div class="rp-grid-th">
                        <span class="rp-grid-th-name"><%= data.text.launchesHeaders.name %></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 ftp-cols">
                    <% if (data.criteria.status) { %>
                    <div class="rp-grid-th"><span class="rp-grid-th-name"><%= data.text.filterNameById.status %></span>
                    </div>
                    <% } %>
                </div>
                <div class="col-xs-6 col-sm-2 ftp-cols">
                    <% if (data.criteria.start_time) { %>
                    <div class="rp-grid-th"><span
                        class="rp-grid-th-name"><%= data.text.launchesHeaders.start_time %></span></div>
                    <% } %>
                </div>
                <div class="col-xs-6 col-sm-2 ftp-cols">
                    <% if (data.criteria.end_time) { %>
                    <div class="rp-grid-th"><span
                        class="rp-grid-th-name"><%= data.text.launchesHeaders.end_time %></span></div>
                    <% } %>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 nopadding">
                <div class="col-xs-12 col-sm-6 nopadding">
                    <% if (data.criteria.total) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span
                            class="rp-grid-th-name"><%= data.text.launchesHeaders.total %></span></div>
                    </div>
                    <% } %>
                    <% if (data.criteria.passed) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span
                            class="rp-grid-th-name"><%= data.text.launchesHeaders.passed %></span></div>
                    </div>
                    <% } %>
                    <% if (data.criteria.failed) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span
                            class="rp-grid-th-name"><%= data.text.launchesHeaders.failed %></span></div>
                    </div>
                    <% } %>
                    <% if (data.criteria.skipped) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span
                            class="rp-grid-th-name"><%= data.text.launchesHeaders.skipped %></span></div>
                    </div>
                    <% } %>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <% if (data.criteria.product_bug) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span class="rp-grid-th-name"><%= data.text.launchesHeaders.product_bug %></span>
                        </div>
                    </div>
                    <% } %>
                    <% if (data.criteria.automation_bug) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span class="rp-grid-th-name"><%= data.text.launchesHeaders.automation_bug %></span>
                        </div>
                    </div>
                    <% } %>
                    <% if (data.criteria.system_issue) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols">
                        <div class="rp-grid-th"><span class="rp-grid-th-name"><%= data.text.launchesHeaders.system_issue %></span>
                        </div>
                    </div>
                    <% } %>
                    <% if (data.criteria.to_investigate) { %>
                    <div class="col-xs-3 col-sm-3 ftp-cols" style="overflow: hidden;">
                        <div class="rp-grid-th"><span class="rp-grid-th-name"><%=  data.text.launchesHeaders.to_investigate %></span>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div data-js-items></div>
    </div>
    <% } else { %>
    <div class="no-data-error"><%= data.text.widgets.noData %></div>
    <% } %>
    <div class="mobile-disabling-cover"></div>
</div>
