<span><%= data.text.widgets.customColumn %> <span data-js-number></span></span>
<div class="form-group first-input">
    <input class="rp-input" data-js-name-input placeholder="<%= data.text.widgets.columnName %>">
    <div class="validate-hint"></div>
</div>
<div class="form-group">
    <input class="rp-input" data-js-value-input placeholder="<%= data.text.widgets.tagPattern %>">
    <div class="validate-hint"></div>
</div>
<span class="remove-item">
    <i class="material-icons" data-js-remove>clear</i>
</span>
