.input-search {
  position: relative;
  display: flex;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid $COLOR--gray-80;
  box-sizing: border-box;
  transition: border-color ease-in-out 0.15s;

  &:hover {
    border-color: $COLOR--gray-47;
  }
  &.active {
    background-color: inherit;
    border-color: $COLOR--topaz;
  }
  &.error {
    border-color: $COLOR--orange-red;
  }
  &.disabled {
    border-color: $COLOR--gray-80;

    .icon {
      svg {
        fill: $COLOR--gray-80;
      }
    }
  }
}
.icon {
  margin: auto;
  width: 16px;
  height: 16px;
  margin-left: 2px;

  &.at-right {
    position: absolute;
    right: 4px;
    bottom: 3px;
  }

  svg {
    fill: $COLOR--gray-60;
  }
}
.input {
  flex-grow: 1;
  padding: 6px 10px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  line-height: 13px;
  color: $COLOR--charcoal-grey;
  box-shadow: none;

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fdffeb inset; /* stylelint-disable-line color-no-hex */
  }
  &.type-number::-webkit-inner-spin-button,
  &.type-number::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.search-hint {
  position: absolute;
  bottom: -13px;
  display: inline-block;
  max-width: 101%;
  overflow: hidden;
  color: $COLOR--gray-60;
  font-size: 10px;
  text-transform: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
