.ghost-button {
  position: relative;
  display: inline-flex;
  height: 30px;
  padding: 0 10px;
  border: 1px solid;
  outline: none;
  box-sizing: border-box;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 28px;
  white-space: nowrap;
  text-shadow: none;
  vertical-align: top;
  background-color: $COLOR--white-two;
  cursor: pointer;

  &.disabled {
    color: $COLOR--gray-60;
    background-color: $COLOR--white;
    border-color: $COLOR--gray-91;
    cursor: default;

    path,
    polygon,
    rect {
      fill: $COLOR--gray-60;
    }
  }

  &.color-topaz:not(.disabled) {
    border-color: $COLOR--topaz;
    color: $COLOR--topaz;

    path,
    polygon {
      fill: $COLOR--topaz;
    }

    &.mobile-disabled {
      @media (max-width: $SCREEN_XS_MAX) {
        color: $COLOR--gray-60;
        background-color: $COLOR--white;
        border-color: $COLOR--gray-91;
      }
    }

    &:active,
    &:hover {
      path,
      polygon,
      rect {
        fill: $COLOR--white-two;
      }
    }

    &:hover {
      background-color: lighten($COLOR--topaz, 10%);
      border-color: lighten($COLOR--topaz, 10%);
      color: $COLOR--white-two;
    }

    &:active {
      background-color: $COLOR--topaz;
      border-color: $COLOR--topaz;
      color: $COLOR--white-two;
    }

    &.transparent-border {
      border-color: transparent;
      border-radius: 2px;
    }
  }
}
.icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto 0;

  &:not(.only-icon) {
    margin: auto 5px auto 0;

    &.icon-at-right {
      order: 1;
      margin: auto 0 auto 5px;
    }
  }
}
.mobile-minified {
  @media (max-width: $SCREEN_XS_MAX) {
    padding: 0 8px;

    .icon {
      margin-right: 0;
    }
    .text {
      display: none;
    }
  }
}
.tiny {
  height: 25px;
  padding: 0 8px;
  line-height: 23px;
}

.large {
  width: 100%;
  height: 36px;
  padding: 3px 10px;

  .icon {
    width: 18px;
    height: 18px;
  }
}
