.message-container {
  overflow: hidden;
  font-family: $FONT-REGULAR;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $COLOR--white;
  padding: 10px;
  background: $COLOR--windows-blue;
  text-shadow: 0 1px 1px darken($COLOR--windows-blue, 10%);
  &.success {
    background: $COLOR--dark-pastel-green;
    text-shadow: 0 1px 1px darken($COLOR--dark-pastel-green, 10%);
  }
  &.error {
    background: $COLOR--tomato;
    text-shadow: 0 1px 1px darken($COLOR--tomato, 10%);
  }
  &.opacity-enter-active {
    opacity: 1;
    transition: opacity 5500ms ease-in;
  }
  &.opacity-leave-active {
    transition: opacity 5300ms ease-in;
  }
}
