.tabs-container {
  .tabs {
    display: flex;
    background-color: $COLOR--white;
    border-top: 1px solid $COLOR--gray-91;

    @media (max-width: $SCREEN_XS_MAX) {
      flex-direction: column;
    }
  }
}

.tab {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  color: $COLOR--gray-47;
  fill: $COLOR--gray-47;
  transition: fill 0.2s, color 0.2s;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  outline: 0;

  &:hover,
  &:focus {
    color: $COLOR--charcoal-grey;
    fill: $COLOR--charcoal-grey;
  }

  &:after {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    right: 0;
    background: $COLOR--gray-80;
    top: 10px;

    @media (max-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }

  &.active,
  &.active:hover {
    color: $COLOR--topaz;
    fill: $COLOR--topaz;
  }

  @media (max-width: $SCREEN_XS_MAX) {
    border-bottom: 1px solid $COLOR--gray-80;
  }
}

.tab-icon {
  display: inline-block;
  margin-top: 4px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.tab-label {
  font-size: 13px;
  text-transform: uppercase;
  font-family: $FONT-SEMIBOLD;
  margin-left: 7px;
}

.tab-toggle-icon {
  width: 12px;
  height: 18px;
  position: absolute;
  right: 20px;
  fill: $COLOR--gray-47;
  transition: transform 0.2s;

  &.active {
    transform: rotate(180deg);
  }

  @media (min-width: $SCREEN_XS_MAX) {
    display: none;
  }
}

.tabs-content {
  border-top: 1px solid $COLOR--gray-91;
  background: $COLOR--white-two;

  &.mobile {
    border-bottom: 1px solid $COLOR--gray-80;
    border-top: 0;

    @media (min-width: $SCREEN_XS_MAX) {
      display: none;
    }
  }
}

.panel-content {
  display: flex;
  align-items: center;
}
