/*
 * Copyright 2016 EPAM Systems
 * 
 * 
 * This file is part of EPAM Report Portal.
 * https://github.com/reportportal/service-ui
 * 
 * Report Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Report Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Report Portal.  If not, see <http://www.gnu.org/licenses/>.
 */

.rp-settings-demo-data {
  margin: 24px auto;
  width: 80%;
  max-width: 660px;
  @media (max-width: $SCREEN_XS_MAX) {
    margin-top: 0;
  }
  .demo-data-mobile-title {
    display: none;
    font-size: 14px;
    margin-bottom: 5px;
    @media (max-width: $SCREEN_XS_MAX) {
      display: block;
    }
  }
  .demo-data-details {
    font-size: 13px;
    margin: 0 0 12px;
    h4 {
      font-size: 12px;
      font-weight: 600;
      color: $COLOR--gray-47;
      text-transform: uppercase;
    }
    ul {
      margin-left: 34px;
      & > li {
        margin: 6px 0;
        padding-left: 8px;
        list-style-type: disc;
        list-style-position: outside;
        lighting-color: $COLOR--black-four;
      }
    }
  }
  .rp-form {
    width: 100%;
    .demo-data-form {
      margin: 0 0 24px;
      position: relative;
      label.rp-field {
        display: block;
        padding: 0;
        & > span {
          &:first-child {
            display: block;
            width: 100%;
            float: none;
            text-align: left;
            margin: 8px 0;
            line-height: 13px;
          }
        }
        input.rp-input {
          width: 100%;
          max-width: 320px;
          float: none;
        }
        .validate-hint {
          width: 100%;
          max-width: 320px;
          left: 0;
        }
      }

    }
  }
  .demo-data-submit-mobile {
    display: none;
  }
  .demo-data-loader {
    margin: 0;
    .preloader {
      float: left;
      display: block;
      padding: 0;
      width: auto;
    }
    span {
      display: inline-block;
      vertical-align: top;
      margin: 10px 0 0;
    }
  }
  .demo-data-warning-block {
    margin-top: 10px;
    font-size: 12px;
    .demo-data-warning {
      display: inline-block;
      color: $COLOR--failed;
      font-size: 13px;
      padding-left: 20px;
      position: relative;
      span {
        display: inline-block;
        text-transform: capitalize;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      i {
        position: absolute;
        left: 0;
        top: 1px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $SCREEN_XS_MAX) {
  .rp-settings-demo-data {
    width: 100%;
    .demo-data-form {
      display: none;
      input {
        margin: 0 auto;
        display: block;
      }
    }
    .rp-wrap-button {
      text-align: center;
    }
    .demo-data-warning-block {
      display: none;
    }
    .rp-btn-submit {
      display: none;
    }
    .demo-data-submit-mobile {
      display: inline-block;
    }
  }
}

