<div>
    <div class="b-docs__nav js-docnav col-sm-3 col-lg-2" id="navigation"></div>
    <div class="b-docs__content b-content js-content col-sm-9 col-sm-offset-3 col-md-offset-3 col-md-9 col-lg-offset-2 col-lg-10">
        <div class="b-docs__wrapper">
            <h1 class="not-toc">Table of Contents</h1>
            <ul id="toc"></ul>
            {{> body }}
        </div>
    </div>
</div>



