.textarea {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid $COLOR--gray-80;
  outline: none;
  background-color: $COLOR--white-two;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  color: $COLOR--charcoal-grey;
  box-shadow: none;
  line-height: 1.5;
  max-width: 100%;
}
