<div class="uniq-bugs-row">
    <div class="uniq-bugs-id">
        <strong id="bugId-<%= data.item.bugId %>" class="bugs-id"><%= data.item.bugId %></strong>
    </div>
    <div class="uniq-bugs-item" data-js-bugs-item> </div>
    <div class="uniq-bugs-date">
        <% var date = data.item.time ? new Date(data.item.time) : null; %>
        <% if(date) { %>
            <div class="hoverFullTime">
                <span class="timeMoment timeHover">
                    <%= data.moment(data.dateFormat(date)).fromNow() %>
                </span>
                <div class="time-full timeHover hidden">
                    <span><%= data.dateFormat(date) %></span>
                </div>
                <span class="time-ms hidden"><%= date %></span>
            </div>
        <% } %>
    </div>
    <div class="uniq-bugs-user">
        <% if (data.item.name) { %>
            <div class="bugs-avatar">
                <img src="<%= data.methodUpdateImagePath(data.imageRoot() + data.item.name) %>"
                    class="avatar"
                    alt="<%= data.item.name %>"/>
            </div>
            <strong class="owner-name"><%- data.item.name.split('_').join(' ').capitalize() %></strong>
        <% } %>
    </div>
</div>
