.pagination-toolbar {
  line-height: 56px;
  color: $COLOR--gray-47;
  font-family: $FONT-REGULAR;
  font-size: 13px;
  min-height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
