.info {
  width: 100%;
  padding-left: 128px;
  box-sizing: border-box;
  display: inline-block;

  @media (max-width: $SCREEN_XS_MAX) {
    padding-left: 50px;
  }
}
.personal-info-block {
  position: relative;
}
.block-content {
  position: relative;
  width: 100%;
  min-height: 160px;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;

  @media (max-width: $SCREEN_XS_MAX) {
    min-height: 120px;
  }
}
.avatar-wrapper {
  position: absolute;
  width: 110px;
  height: 120px;
  overflow: hidden;
  background-color: $COLOR--white;

  @media (max-width: $SCREEN_XS_MAX) {
    width: 40px;
    height: 55px;
  }
}
.avatar {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  @media (max-width: $SCREEN_XS_MAX) {
    display: none;
  }
}
